<div>
    <div>
        <div class="row-title clearfix">
            <div class="pull-left">
                <div class="sort-icn-container">
                    <i ng-if="!index" class="sort-icn glyphicn glyphicn-lock"></i>
                    <i ng-if="index" class="sort-icn sort-number">{{index}}</i>
                </div>
                {{column.name | stagingAreaDisplayName}}
            </div>
            <div class="column-tools" ng-if="index">
                <i ng-click="stage.removeFromSortOrder(column); updateChart()" class="remove" title="Remove"></i>
            </div>
        </div>
        <div class="measure-properties" ng-if="column.properties.type === 'VARCHAR'">
            <div class="radio">
                <input type="radio" name="{{sortCounter}}" id="sort-asc-{{column.$$hashKey || $index }}" ng-model="column.properties.sortDirection" value="ASC">
                <label ng-click="updateChart()" for="sort-asc-{{column.$$hashKey || $index }}">Alphabetic (A-Z)</label>
            </div>
            <div class="radio">
                <input type="radio" name="{{sortCounter}}" id="sort-desc-{{column.$$hashKey || $index }}" ng-model="column.properties.sortDirection" value="DESC">
                <label ng-click="updateChart()" for="sort-desc-{{column.$$hashKey || $index }}">Reverse Alphabetic (Z-A)</label>
            </div>
        </div>
        <div class="measure-properties" ng-if="column.properties.type !== 'VARCHAR'">
            <div class="radio">
                <input type="radio" name="{{sortCounter}}" id="sort-asc-{{column.$$hashKey || $index }}" ng-model="column.properties.sortDirection" value="ASC">
                <label ng-click="updateChart()" for="sort-asc-{{column.$$hashKey || $index }}">Ascending (1, 2, 3)</label>
            </div>
            <div class="radio">
                <input type="radio" name="{{sortCounter}}" id="sort-desc-{{column.$$hashKey || $index }}" ng-model="column.properties.sortDirection" value="DESC">
                <label ng-click="updateChart()" for="sort-desc-{{column.$$hashKey || $index }}">Descending (3, 2, 1)</label>
            </div>
        </div>
    </div>
</div>