/* widgets */
.grouping-widget{padding: 30px 0 0 30px;}
.grouping-widget>div{float: left;border: 1px solid #777;padding: 5px 8px;}
.grouping-widget>div.selected{background:#999;}

.switch{border:1px solid;cursor:pointer;display:inline-block;text-align:left;overflow:hidden;line-height:8px;min-width:60px;position:absolute;right:5px;top:5px;border-radius:10px}
.switch span{cursor:pointer;display:inline-block;float:left;height:100%;line-height:20px;padding:4px;text-align:center;width:33%;white-space:nowrap;box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.switch>div{position:relative;width:150%}
.switch .knob{background:red;background-color:#f5f5f5;width:34%;z-index:100;height:28px;background-color:#999;background-repeat:repeat-x;background:-webkit-gradient(linear,0 0,0 100%,from(#bbb),to(#999));background:-webkit-linear-gradient(top,#999,#bbb);background:-moz-linear-gradient(top,#999,#bbb);background:-ms-linear-gradient(top,#999,#bbb);background:-o-linear-gradient(top,#999,#bbb)}
.switch .switch-on{left:0}
.switch .switch-off{left:-50%}
.switch .swtich-left,.switch .switch-right{z-index:1}
.switch .switch-left{color:#fff;background:#005fcc}
.switch .switch-right{color:#333;background:#f0f0f0}
.switch-animate{transition:left .5s;-o-transition:left .5s;-moz-transition:left .5s;-webkit-transition:left .5s}

.switch-container-visualized{position:relative;}
.switch-container-unvisualized{position:relative;padding-top:2px}
.switch-container-normal .switch-apple{position:absolute;right:8px;top:3px;height: 28px;width: 39px;z-index: 10;}
.switch-container-visualized .switch-apple{position:absolute;right: -46px;top: -6px;height: 28px;width: 39px;z-index: 10;}
.switch-container-unvisualized .switch-apple{position:absolute;right:-46px;top: -2px;height: 28px;width: 39px;z-index: 10;}
.switch-apple input{max-height:0;max-width:0;opacity:0;display:none}
.switch-apple input+label{cursor:pointer;display:block;position:relative;box-shadow:inset 0 0 0 1px #d5d5d5;text-indent:-5000px;height: 20px;width: 37px;margin:0;border-radius:15px;background:#777;left: 0;top: 6px;}
.switch-apple input+label:before{content:"";position:absolute;display:block;height:20px;width:20px;top:0;left:0;border-radius:15px;background:rgba(19,191,17,0);-moz-transition:.25s ease-in-out;-webkit-transition:.25s ease-in-out;transition:.25s ease-in-out}
.switch-apple input+label:after{content:"";position:absolute;display:block;height:20px;width:20px;top:0;left:0;border-radius:15px;background:white;box-shadow:inset 0 0 0 1px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2);-moz-transition:.25s ease-in-out;-webkit-transition:.25s ease-in-out;transition:.25s ease-in-out}
.switch-apple input:checked+label:before{width:32px;background:#267ba7}
.switch-apple input:checked+label:after{left:16px;box-shadow:inset 0 0 0 1px #267ba7,0 2px 4px rgba(0,0,0,.2)}

[button-dropdown-group] {position:relative;width: 230px;}
[button-dropdown-group] [bd-button] {float: left;width: 57px;border: 1px solid #ccc;border-right: none;background: #fefefe;padding: 4px;word-break: break-word;height: 60px;text-align: center;white-space: normal;font-size: 11px;}
[button-dropdown-group] [bd-button].selected {background: #428bca;color: white;box-shadow: inset 0 0 3px #999;}
[button-dropdown-group] [bd-button]:hover {background: #2972B1;color: #fff;}
[button-dropdown-group] [bd-button].first {border-radius: 6px 0 0 6px;}
[button-dropdown-group] [bd-button].last {border-radius: 0 6px 6px 0;}
[button-dropdown-group] [bd-dropdown] {position:absolute;top: 73px;border: 1px solid #ccc;background: #fefefe;z-index: 100;width: 230px;box-shadow: 1px 1px 4px 1px #999;}
[button-dropdown-group] [bd-dropdown]>div.selected {background: #428bca;color: white;}
[button-dropdown-group] [bd-dropdown]>div:hover {background: #2972B1;color:#fff;}
[button-dropdown-group] [bd-button] span {position: relative;width: 48px;height: 30px;line-height: 12px;bottom: 0px;display: flex;justify-content: center;align-content: center;flex-direction: column;}
[button-dropdown-group] [bd-dropdown] span {border-left: 1px solid #555;display: block;padding: 17px 16px 16px;float: left;word-break: break-all;overflow: hidden;text-overflow: ellipsis;width: 176px;}
[button-dropdown-group] [bd-dropdown] .arrow,[button-dropdown-group] [bd-dropdown] .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
[button-dropdown-group] [bd-dropdown] .arrow{border-width:11px}
[button-dropdown-group] [bd-dropdown] .arrow{top:-11px;left:87%;margin-left:-11px;border-bottom-color:#999;border-bottom-color:rgba(255,255,255,1);border-top-width:0}
[button-dropdown-group] [bd-dropdown] .arrow:after{top:1px;margin-left:-10px;border-top-width:0;content:" "}
[button-dropdown-group] [bd-dropdown] .arrow:hover{background:transparent;}

[button-dropdown-group] i.equal-to { background: url('img/Filters/Normal_state/bql-equal.svg');}
[button-dropdown-group] i.greater-than-or-equal-to { background: url('img/Filters/Normal_state/bql-greater-or-equal.svg');}
[button-dropdown-group] i.less-than-or-equal-to { background: url('img/Filters/Normal_state/bql-less-or-equal.svg');}
[button-dropdown-group] i.greater-than { background: url('img/Filters/Normal_state/bql-greater.svg');}
[button-dropdown-group] i.less-than { background: url('img/Filters/Normal_state/bql-less.svg');}
[button-dropdown-group] i.not-equal-to { background: url('img/Filters/Normal_state/bql-not-equal.svg');}
[button-dropdown-group] i.is-missing { background: url('img/Filters/Normal_state/bql-null.svg');height: 19px !important;}
[button-dropdown-group] i.is-not-missing { background: url('img/Filters/Normal_state/bql-not-null.svg');}
[button-dropdown-group] i.contains { background: url('img/Filters/Normal_state/contains.svg');}
[button-dropdown-group] i.does-not-contain { background: url('img/Filters/Normal_state/not_contains.svg');}
[button-dropdown-group] i.between { background: url('img/Filters/Normal_state/inside.svg');}
[button-dropdown-group] i.outside { background: url('img/Filters/Normal_state/outside.svg');}
[button-dropdown-group] i.more-options { background: url('img/Filters/Normal_state/more.svg');}

[button-dropdown-group] div:hover>i.equal-to,[button-dropdown-group] div.selected>i.equal-to { background: url('img/Filters/Activated_White/bql-equal_white.svg');}
[button-dropdown-group] div:hover>i.greater-than-or-equal-to, [button-dropdown-group] div.selected>i.greater-than-or-equal-to { background: url('img/Filters/Activated_White/bql-greater-or-equal_white.svg');}
[button-dropdown-group] div:hover>i.less-than-or-equal-to, [button-dropdown-group] div.selected>i.less-than-or-equal-to { background: url('img/Filters/Activated_White/bql-less-or-equal_white.svg');}
[button-dropdown-group] div:hover>i.greater-than, [button-dropdown-group] div.selected>i.greater-than { background: url('img/Filters/Activated_White/bql-greater_white.svg');}
[button-dropdown-group] div:hover>i.less-than, [button-dropdown-group] div.selected>i.less-than { background: url('img/Filters/Activated_White/bql-less_white.svg');}
[button-dropdown-group] div:hover>i.not-equal-to, [button-dropdown-group] div.selected>i.not-equal-to { background: url('img/Filters/Activated_White/bql-not-equal_white.svg');}
[button-dropdown-group] div:hover>i.is-missing, [button-dropdown-group] div.selected>i.is-missing { background: url('img/Filters/Activated_White/bql-null_white.svg');background-size: 24px !important;background-position: -2px -1px;}
[button-dropdown-group] div:hover>i.is-not-missing, [button-dropdown-group] div.selected>i.is-not-missing { background: url('img/Filters/Activated_White/bql-not-null_white.svg');background-size: 24px !important;background-position: -2px -1px;}
[button-dropdown-group] div:hover>i.contains, [button-dropdown-group] div.selected>i.contains { background: url('img/Filters/Activated_White/contains_white.svg');}
[button-dropdown-group] div:hover>i.does-not-contain, [button-dropdown-group] div.selected>i.does-not-contain { background: url('img/Filters/Activated_White/not_contains_white.svg');}
[button-dropdown-group] div:hover>i.between, [button-dropdown-group] div.selected>i.between { background: url('img/Filters/Activated_White/inside_white.svg');}
[button-dropdown-group] div:hover>i.outside, [button-dropdown-group] div.selected>i.outside { background: url('img/Filters/Activated_White/outside_white.svg');}
[button-dropdown-group] div:hover>i.more-options, [button-dropdown-group] div.selected>i.more-options { background: url('img/Filters/Activated_White/more_white.svg');}

[button-dropdown-group] [bd-button] i, [button-dropdown-group] [bd-button]:hover i,[button-dropdown-group] [bd-button].selected i {width: 20px;height: 20px;background-size: 20px!important;display: inline-block;position: relative;top: 3px;}
[button-dropdown-group] [bd-dropdown] i, [button-dropdown-group] [bd-dropdown]:hover i,[button-dropdown-group] [bd-dropdown].selected i {width: 20px;height: 20px;background-size: 20px!important;display: block;margin: 16px;float: left;}

.popover{position:absolute;top:0;left:0;z-index:1010;display:none;max-width:276px;padding:1px!important;text-align:left;white-space:normal;background-color:#fff!important;border:1px solid #ccc!important;border:1px solid rgba(0,0,0,0.2)!important;border-radius:0px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);background-clip:padding-box}
.popover.top{margin-top:-10px}
.popover.right{margin-left:10px}
.popover.bottom{margin-top:10px}
.popover.left{margin-left:-10px}
.popover-title{padding:8px 14px;margin:0;font-size:14px;font-weight:normal;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}
.popover-content{padding:7px 14px;color:#555;}
.popover .arrow,.popover .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.popover .arrow{border-width:11px}
.popover .arrow:after{border-width:10px;content:""}
.popover.top .arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,0.25);border-bottom-width:0}
.popover.top .arrow:after{bottom:1px;margin-left:-10px;border-top-color:#fff;border-bottom-width:0;content:" "}
.popover.right .arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#999;border-right-color:rgba(0,0,0,0.25);border-left-width:0}
.popover.right .arrow:after{bottom:-10px;left:1px;border-right-color:#fff;border-left-width:0;content:" "}
.popover.bottom .arrow{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,0.25);border-top-width:0}
.popover.bottom .arrow:after{top:1px;margin-left:-10px;border-bottom-color:#fff;border-top-width:0;content:" "}
.popover.left .arrow{top:50%;right:-11px;margin-top:-11px;border-left-color:#999;border-left-color:rgba(0,0,0,0.25);border-right-width:0}
.popover.left .arrow:after{right:1px;bottom:-10px;border-left-color:#fff;border-right-width:0;content:" "}

/* edit widget */
.popline{position:absolute;height:60px;line-height:35px;border-radius:6px;background: #eee ;display:none;margin: -20px 0 0 -5px;;padding: 5px;list-style:none;text-rendering:optimizeLegibility;white-space:nowrap;border: 1px solid #ccc;box-shadow: 1px 0px 2px 0px #ccc;}
.popline ul{height: 48px;padding: 0;margin: 0;}
.popline li{position:relative;color:#333;font-size:24px;font-weight:bold;cursor:pointer;min-width:24px;text-align:center;float:left;}
.popline li .text{font-size:26.4px}
.popline li:last-child { border-right:0px; }
.popline span.popline-button {width: 48px;height: 48px;display: block;}
.popline .lighter{font-weight:lighter}
.popline .subbar{display:none;list-style:none;padding:0px;font-weight: normal; font-size: 14px; color: black}
.popline .subbar span {padding-right: 11px;}
.popline .subbar i {padding-right: 4px;}
.popline .subbar span.popline-button span {position: absolute;left: 0px;top: 0px;width: 48px;height: 48px;padding: 5px 0px 11px;}
.popline .subbar .btn:hover{color: #A9A9A9;}
.popline .textfield{border:0;height:54px;font-size:24px;padding:0 10px;-webkit-box-shadow:inset 0 0 6px 0 rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 6px 0 rgba(0,0,0,0.3);box-shadow:inset 0 0 6px 0 rgba(0,0,0,0.3);background:rgba(74,74,74,0.15);color:#fff;line-height:31px;margin-left:10px;display:none;outline:0;width:300px}
.popline .textfield::-webkit-input-placeholder{color:#EEE}
.popline .textfield:-moz-placeholder{color:#EEE}
.popline .textfield::-moz-placeholder{color:#EEE}
.popline .textfield:-ms-input-placeholder{color:#EEE}
.popline .subbar .back {float: left;width: 76px;padding: 2px 0px;}
.popline .subbar .back i {padding: 0;float: left;position: relative;height: 17px;width: 12px;top: 13px;left: 10px;}
.popline .subbar .back div {padding: 5px 2px 4px;}
.popline .subbar li.popline-button:hover, .popline .subbar .back:hover {background-color: #ccc;}

.popline .arrow,.popover .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.popline .arrow{border-width:11px}
.popline .arrow:after{border-width:10px;content:""}
.popline .arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#eee;border-bottom-width:0}
.popline .arrow:after{bottom:1px;margin-left:-10px;border-top-color:transparent;border-bottom-width:0;content:" "}

.popline .popline-button i {position: absolute; left: 0px; top:0px; width: 48px; height: 48px;}
.popline .popline-font-button .glyphicn {padding: 0;background-position: 12px 12px;background-repeat: no-repeat;}
.popline .popline-button i:hover {background-color: #ccc;border-radius:3px;}

.popline-icn-bold{background-image:url('img/edit/icon_format-bold-16px.png')}
.popline-icn-italic{background-image:url('img/edit/icon_format-italic-16px.png')}
.popline-icn-color{background-image:url('img/edit/icon_format-color-16px.png')}
.popline-icn-sizeup{background-image:url('img/edit/icon_format-size-up-16px.png')}
.popline-icn-sizedown{background-image:url('img/edit/icon_format-size-down-16px.png')}
.popline-icn-close{background-image:url('img/edit/icon_edit-close-mode1.png')}

[chart-container] .chart-input{background-color: #eee; height: 48px; background-image:url('img/edit/icon_edit-pen1.png');background-repeat:no-repeat;z-index: 20;background-position:left; width: 300px; border: none; text-align: center;}
[chart-container] .chart-input:hover{background-image:url('img/edit/icon_edit-pen2.png');}
[chart-container] .chart-input:focus{outline: 0;}

@-webkit-keyframes yellowPulse {
  from { background-color: #FFCC66; -webkit-box-shadow: 0 0 9px #fc9200; }
  50% { background-color: #fc9200; -webkit-box-shadow: 0 0 18px #FFCC66; }
  to { background-color: #FFCC66; -webkit-box-shadow: 0 0 9px #fc9200; }
}
[error-dialog] {position: relative;width: 24px;height: 24px;background-color:#FFCC66 ;background-repeat:repeat;z-index: 99;padding:0;border-radius: 50%;margin: 13px 8px;-webkit-animation-name: yellowPulse;-webkit-animation-duration: 1s;-webkit-animation-iteration-count: 2;}
[error-dialog] [error]>div {color:#fefefe;padding:0 6px;border-left: 1px solid #bbb;height: 36px;}
[error-dialog] .glyphicn-warning-sign {width: 24px;height: 24px;}
[error-dialog] .message-container{color: #fff;background: rgba(0,0,0,.8);width: 200px;padding: 20px;position: relative;top: 26px;right: 77px;word-break: break-word;}
.no-header [error-dialog] .message-container{right: 130px;}
[error-dialog] .more { text-decoration:underline; cursor: pointer;}
[error-dialog] .hide-error{position: absolute; display:block;right: -1px;top:-1px;height: 35px;cursor: pointer;padding: 6px 12px;font-size: 16px;color: #555;}
[error-dialog] .hide-error:hover{background-color: #999}
[error-dialog] .arrow,[error-dialog] .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
[error-dialog] .arrow{border-width:11px}
[error-dialog] .arrow:after{border-width:10px;content:""}
[error-dialog] .arrow{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,0.25);border-top-width:0}
[error-dialog] .arrow:after{top:1px;margin-left:-10px;border-bottom-color:#fff;border-top-width:0;content:" "}
.no-data {position:relative;top:50%;left:50%;}

.highcharts-axis-labels > span { -webkit-transform-origin: left top; -ms-transform-origin: left top; -o-transform-origin: left top; -moz-transform-origin: left top; transform-origin: left top; }
.highcharts-axis-labels .x-axis.vertical-text {margin-top: -6px;position: absolute;}
.newYaxis {position: absolute;top:0;left:0;}
.newYaxis span.newYaxisSpan {transition:opacity 200ms ease-in;opacity:0;position:absolute;z-index: 2000;background: white;padding: 0;text-align: center;z-index: 10;}
.newYaxis span.newYaxisSpan.rotate {-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);}
.y-axis-input {position:absolute;z-index: 2000;}
.titleEnabled .hideUntilHover:hover span:empty {background: #eee;color: #aaa !important;min-height: 32px;width: 250px;display: block;margin: 0 auto;cursor: pointer;}
.titleEnabled .hideUntilHover:hover span:empty:before {content: "Click here to add a title";}


button.SA-bql-button { font-size: 14px; color: #555; width: 67px; height: 67px; background-color: #ccc; border: none; border-left: 1px solid #aaa; padding-top: 36px; background-position: 24px 18px; background-repeat: no-repeat; background-size: 20px; background-image: url(img/File-Svg-Icons/icon_6.svg); }
.SA-bql-button.SA-delete-bql { background-image: url(img/File-Svg-Icons/icon_5.svg); border-right: 1px solid #aaa; }
button.SA-bql-button:hover { color: #444; background-color: #aaa; }
.SA-bql-row { margin-top: 0px; margin-left: -20px; margin-right: -20px;margin-bottom: -30px;}
[search-results] .SA-bql-row {margin-right: 0;padding-right: 0;margin-bottom: 0;}
[search-results] .SA-bql-row .modal-dialog:empty {display: none;}
.SA-bql-expanded {margin-bottom: -40px;}
[search-results] .SA-bql-expanded {padding-bottom: 0 !important;}
.SA-bql-plus {font-size: 26px; padding-right: 10px; z-index: 20; position: relative; padding-top: 0;padding-bottom: 0; top: -10px;}
.SA-bql-row i { margin-left: 20px; }
.SA-show-controls {border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-top:10px; clear: both;}

.SA-bql-row ul.sa-controls {padding-left: 0px; background-color: #f6f6f6;}
[search-results] .SA-bql-row ul.sa-controls {margin-bottom: 0px;}
.SA-bql-row ul.sa-controls li {display: block; margin: 0px; padding-left: 26px; padding: 10px 20px !important;}
.SA-bql-row ul.sa-controls li:hover {background-color: #ebf8ff;}
.SA-bql-row i.pencil-icn {height: 24px; width: 24px; margin-right: 5px; background-image: url(img/File-Svg-Icons/icon_6.svg);}
.SA-bql-row i.trash-icn {height: 24px; width: 24px; margin-right: 5px; background-image: url(img/File-Svg-Icons/icon_5.svg);}
