@import '../../vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_buttons.scss';

button {
	@include appearance( normal );
	background-color: $btn-default-color;
	color: $gray-alternate;
	margin: 0;
}

button::-moz-focus-inner {
	padding: 0;
	margin: 0;
}

.btn {
	vertical-align: baseline;
	&:hover,
	&:active,
	&:focus {
		@include box-shadow( none );
		background-color: $gray-alternate;
		border-color: $gray-alternate;
		color: $btn-default-color;
	}
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
	margin-top: 0;
}

.btn [class^="icon-"],
.btn [class*=" icon-"] {
	margin-right: 5px;
	&:last-child {
		margin-right: 0;
	}
}

.btn-primary {
	padding-left: 50px;
	padding-right: 50px;

	&:hover, &:focus, &:active {
		background-color: $blue-dark;
		color: $white;
	}

	&:disabled {
		opacity: .25;
	}
}

// Square buttons
// --------------------------------------------------
.btn-square {
	background: $gray;
	border: none;
	@include border-radius(0);
	color: $white;
	height: 5rem;
	padding: 0;
	text-align: center;
	width: 5rem;

	&:hover, &:focus {
		background: $gray;
		border: none;
		color: $white;
	}

	[class^="icon-"],
	[class*=" icon-"] {
		font-size: 2.1rem;
		margin: 0;
	}
}

.btn-close {
	background: black;
	@include border-radius( 10px );
	color: white;
	font-size: 1.3rem;
	height: 20px;
	padding: 0;
	text-align: center;
	width: 20px;
}
