/* entire container, keeps perspective */
.flip-container {
	@include perspective( 1000 );
	/* flip the pane when hovered */
	&.flipped .flipper {
		@include rotateY( 180deg );
	}
}

.flip-container, .flipper, .flip-front, .flip-back {
	width: 450px;
	height: 49px;
}

/* flip speed goes here */
.flipper {
	@include transition( 0.6s ease-in-out );
	@include transform-style( preserve-3d );
	position: relative;
}

/* hide back of pane during swap */
.flip-front,
.flip-back {
	@include backface-visibility( hidden );
	position: absolute;
	top: 0;
	left: 0;
}

/* flip-front pane, placed above back */
.flip-front {
	z-index: 2;
}

.vertical {
	&.flip-container {
		position: relative;
		.flipper {
			@include transform-origin( 100% 24.5px ); /* half of height */
		}
		&.flipped .flipper {
			@include rotateX( -180deg );
		}
	}

	.flip-back {
		@include rotateX( 180deg );
	}
}
