[class*="shape-"] {
	display: inline-block;
}

.shape-triangle-up {
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1em solid $gray-dark;
	height: 0;
	width: 0;
}

.shape-triangle-down {
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-top: 1em solid $gray-dark;
	height: 0;
	width: 0;
}
