.flip-container {
	float: right;
}
.edit-actions {
	float: right;
	height: 100%;
	> li {
		float: right;
		height: 100%;
		margin-left: 0;
		margin-right: 4px;
		line-height: $navbar-height;
		&:last-child {
			margin-right: 0;
		}
		> .btn-primary {
			height: 3.2rem;
			padding: .5rem 0;
			text-align: center;
			width: 8.4rem;
		}
		.btn:not( .btn-primary ) {
			color: $text-color;
		}
		> .btn:not( .btn-primary ) {
			background: transparent;
			border-bottom: none;
			border-left: 1px solid transparent;
			border-radius: 0;
			border-right: 1px solid transparent;
			border-top: none;
			height: calc( 100% + 1px );
			padding: 6px 18px;

			[class^="icon-"] {
				font-size: 1.6rem;
			}

			&:active {
				@include box-shadow( none );
			}

			&:disabled {
				background: transparent;
				border-color: transparent;
			}

			&:hover,
			&:focus,
			&:hover [class^="icon-"],
			&:focus [class^="icon-"] {
				color: $blue;
			}
		}
		[class^="icon-"] {
			color: $gray-med-light;
		}

		.btn-link:hover {
			text-decoration: none;
		}
	}
	.open {
		> .btn:not( .btn-primary ) {
			background: #FFF;
			border-color: transparent $gray-lighter;
			height: calc( 100% + 1px );
		}
	}
}
