/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

$font-family-sans-serif: Helvetica, Arial, sans-serif;

$gray-alternate: #777;
$gray-alternate1: #7F7F7F;
$gray-alternate2: #5D5D5D;
$gray-dark-highlight: #444;
$gray-medium-light: #AAA;
$gray-medium-light-alternate: #898989;
$gray-light-alternate: #D9D9D9;
$gray-lighter-alternate: #E4E4E4;

$blue: #5BA8DF;
$blue-medium: #00A4D6;
$blue-medium-dark: #0D87AD;
$blue-dark: #267BA7;
$blue-light: #83CDFF;
$blue-lighter: #EBF8FF;

$green-light: #EEF9DE;

$orange: #F37021;

$white: #FFF;

$table-text-color: #505050;
$table-header-text-color: #898989;

$body-bg: #FFF;
$text-color: #555;

$header-height: 5rem;
$main-header-size: 24px;

$headings-font-weight: normal;
$headings-font-family: arial, helvetica, sans-serif;

$page-margin: 18px;

$btnBackground: #F8F8F8;
$btnBorder: #BEBEBE;
$btnTextHover: $blue;

$btn-primary-color: $white;
$btn-primary-bg: #4188CC;
$btn-primary-border: $blue;
$btn-primary-alternate-border: #005FB9;

$btn-default-color: #F8F8F8;
$btn-default-border: #BEBEBE;

$border-radius-base: 3px;

$moveResizeHoverBorderColor: #999;
$moveResizeBoxShadowDims: 0 0 0 1px;
$moveResizeOpacity: 0.65;

$font-size-base: 14px;
$line-height-base: 1.4;

$paddingLarge: 13px 30px;

$btnLinkHorizontalPadding: 10px;
$min-viewport: 980px;

