@import "compass";
/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */

@import "../../lib/birststrap/sass/birststrap-custom.scss";

@import "dashboard-variables.scss";

.full-screen {
	height: 100%;
	overflow: hidden;
}

body {
	&.disable-scroll {
		overflow-y: hidden;
		position: fixed;
		width: 100%;
	}
	> svg {
		position: absolute;
	}

}

.noselect,
.noselect * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**
 * Header
 */

.hdr-main {
	@include box-sizing(border-box);
	background: $white-dark;
	border-bottom: 1px solid $gray-lighter;
	height: $navbar-height;
	left: 0;
	padding: 0 $page-margin 0 0;
	position: fixed;
	right: 0;
	@include translateZ(0);
	z-index: 2;
	a {
		color: $gray-med-lighter;
		text-transform: uppercase;
	}
	.birst-logo-icon {
		background-size: 100% 100%;
		display: block;
		float: left;
		height: 1.8rem;
		margin: 1.4rem 0 0 0;
		overflow: hidden;
		text-indent: -9999px;
		width: 7.8rem;
	}
	.btn-meny {
		border: none;
		border-right: 1px solid $gray-lighter;
		@include border-radius( 0 );
		height: 100%;
		margin-right: 10px;
		padding: 0 13px;
		line-height: 42px;
		&:hover, &:focus, &:active {
			color: #777;
			background: $white;
		}
	}
}

/**
 * Main Content
 */
main {height: 100%;
	> h1 {
		display: inline-block;
		margin: 0 0 0 $page-margin;
	}
}


.hdr-main,
main {
	min-width: $min-viewport;
}

.dash-inner .loading,
[file-navigator] .loading,
[staged-file] .loading {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	color: rgba( $orange, 0.5 );
	display: block;
	-webkit-animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	-ms-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	height: 5rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -3rem 0 0 -3rem;
	width: 5rem;
	@include transform-origin( 50 );
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 */
@import '../common/directives/meny/meny.scss';
@import '../app/page/page.scss';
@import '../common/directives/bMoveable/bMoveable.scss';
@import '../common/directives/bResizable/bResizable.scss';
@import '../common/directives/fileBrowser/fileSystemUi.scss';
@import '../app/page/report/dataTable/datagrid.scss';
@import 'flippant.scss';
@import 'toolbar.scss';
@import 'topDrawer.scss';
@import 'shapes.scss';
@import '../app/page/fileStage/fileStage.scss';
@import '../common/directives/onOffSwitch/onOffSwitch.scss';
@import '../app/page/prompt/prompt.scss';
@import '../common/directives/sideDrawer/sideDrawer.scss';
@import '../common/directives/bcarousel/bcarousel.scss';

/* Visualizer Files */
@import '../app/visualizer/icons-svg.scss';
@import '../app/visualizer/icons.scss';
@import '../app/visualizer/header/navbar-alt.scss';
@import '../app/visualizer/misc/slider/slider.scss';
@import '../app/visualizer/scaffolding.scss';
@import '../app/visualizer/vizMenu/vizMenu.scss';
@import '../app/visualizer/drawers.scss';
@import '../app/visualizer/modalOverrides.scss';
@import '../app/visualizer/vizMenu/staging/filters/filter.scss';
@import '../app/visualizer/help/help.scss';
@import '../app/visualizer/toolbar/toolbar.scss';
@import '../app/visualizer/table/table.scss';
@import '../app/visualizer/misc/loader/loader.scss';
@import '../app/visualizer/misc/messageCenter/messageCenter.scss';
@import '../app/visualizer/formatting/formatting.scss';
@import '../app/visualizer/misc/widgets/widgets.scss';
@import '../app/visualizer/misc/widgets/spectrum.scss';
@import '../app/visualizer/misc/misc.scss';
@import '../app/visualizer/chartContainer/chart/charts/legends.scss';

@import '../../vendor/angular-strap/angular-motion.scss';
/* End Viz */
