<div>
	<div ng-repeat="item in column.filter.items">
		<div ng-if="column.filter.subType !== 'Between' && column.filter.subType !== 'Outside'">
			<i class="filter-bullet"></i>
			<div class="nav-padding allow-wrap">
			    <span>{{filterInfoReverse[column.filter.type + 'TypesMap'][ item.operator ] || item.operator}} </span>
			    <span>{{item.operand}}</span>
			</div>
		</div>
		<div ng-if="column.filter.subType === 'Between' || column.filter.subType === 'Outside'">
			<div ng-if="!$last">
				<i class="filter-bullet"></i>
				<div class="nav-padding allow-wrap">
				    <span>{{column.filter.subType}}</span>
				    <span>{{item.operand}}</span>
				</div>
			</div>
			<div ng-if="$last">
				<i class="filter-bullet"></i>
				<div class="nav-padding allow-wrap">
				    <span>{{column.filter.subType === 'Between' ? 'and' : 'or'}}</span>
				    <span>{{item.operand}}</span>
				</div>
			</div>
		</div>
	</div>
	<div ng-repeat="item in column.displayFilter.items">
		<i class="filter-bullet"></i>
		<div class="nav-padding allow-wrap">
		    <span>{{filterInfoReverse[column.displayFilter.type + 'TypesMap'][ item.operator ] || item.operator}} </span>
		    <span>{{item.operand}}</span>
		</div>
	</div>
</div>