<div>
    <div ng-click="alerts.messageCenter.toggle()" class="alert-center-messages" ng-bind="alerts.messageCenter.newNotificationCount" ng-show="flags.messageCenter"></div>
    <i ng-click="alerts.messageCenter.toggle()" class="icn-alert-center-flag"></i>
    <div ng-show="alerts.messageCenter.visible" class="alert-center">
        <div class="alert-center-header">
            <button type="button" class="close" ng-click="alerts.messageCenter.toggle()">&times;</button>
            <span>Notifications</span>
        </div>
        <div class="alert-center-toggles">
            <div ng-class="{'active': alerts.messageCenter.filterState.success}" ng-click="alerts.messageCenter.filterState.success = !alerts.messageCenter.filterState.success" class="alert-center-toggle-success">
                <i class="icn-alert-center-success"></i>
                Information
            </div>
            <div class="alert-center-toggle-spacer"></div>
            <div ng-class="{'active': alerts.messageCenter.filterState.warning}" ng-click="alerts.messageCenter.filterState.warning = !alerts.messageCenter.filterState.warning" class="alert-center-toggle-warning">
                <i class="icn-alert-center-warning"></i>
                Warning
            </div>
            <div class="alert-center-toggle-spacer"></div>
            <div ng-class="{'active': alerts.messageCenter.filterState.danger}" ng-click="alerts.messageCenter.filterState.danger = !alerts.messageCenter.filterState.danger" class="alert-center-toggle-danger">
                <i class="icn-alert-center-danger"></i>
                Error
            </div>
        </div>
        <div class="alert-center-body">
            <div class="alert-center-pane alert-center-empty" ng-show="!(alerts.alertQueue | filter:alerts.messageCenter.filters:true).length">(No Notifications)</div>
            <div class="alert-center-pane" ng-repeat="alert in alerts.alertQueue | filter:alerts.messageCenter.filters:true | orderBy:'timestamp':true">
                <div class="alert-center-pane-icn">
                    <i ng-class="'icn-alert-center-' + alerts.alertTypeMapping[alert.type] + '-active'"></i>
                </div>
                <div class="alert-center-pane-message">
                    <p>
                        <span class="alert-title" ng-show="alert.title">{{alert.title}}: </span>
                        {{alert.content}}
                    </p>
                    <div class="alert-timestamp">({{alert.timestamp | timeFromNow}})</div>
                </div>
            </div>
        </div>
        <div class="alert-center-footer"></div>
	</div>
</div>