[message-center] .alert-center {position: absolute; top: 42px; left: -360px; width: 400px; z-index: 99; border-radius: 6px; border: 1px solid #ccc; color: #777; background-color: #fff;}
[message-center] .alert-center .alert-center-header {text-align: center; font-size: 15px; font-weight: bold; padding: 10px 0px 10px 20px; border-bottom: 1px solid #ccc; background-color: #f0f0f0; border-radius: 6px 6px 0 0;}
[message-center] .alert-center .alert-center-header .close {padding-right: 10px;}
[message-center] .alert-center .alert-center-body {max-height: 640px; overflow-y: auto;}
[message-center] .alert-center .alert-center-pane {border-bottom: 1px solid #ccc;}
[message-center] .alert-center .alert-center-pane:after, [message-center] .alert-center .alert-center-toggles:after {content: ""; display: table; clear: both;}
[message-center] .alert-center-toggles {cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
[message-center] .alert-center-toggle-success {display: inline; float: left; width: 132px; height: 49px; padding: 15px 0 0 15px; border-bottom: 1px solid #ccc; color: #999; background-color: #f0f0f0;}
[message-center] .alert-center-toggle-warning {display: inline; float: left; width: 132px; height: 49px; padding: 15px 0 0 24px; border-bottom: 1px solid #ccc; color: #999; background-color: #f0f0f0;}
[message-center] .alert-center-toggle-danger {display: inline; float: left; width: 132px; height: 49px; padding: 15px 0 0 36px; border-bottom: 1px solid #ccc; color: #999; background-color: #f0f0f0;}
[message-center] .alert-center-toggle-success.active {border-bottom-width: 3px; border-bottom-color: #719844; background-color: #fff; color: #719844;}
[message-center] .alert-center-toggle-warning.active {border-bottom-width: 3px; border-bottom-color: #e58642; background-color: #fff; color: #e58642;}
[message-center] .alert-center-toggle-danger.active {border-bottom-width: 3px; border-bottom-color: #c4242d; background-color: #fff; color: #c4242d;}
[message-center] .alert-center-toggle-spacer {display: inline; float: left; height: 49px; width: 1px; border-left: 1px solid #ccc;}
i.icn-alert-center-success, i.icn-alert-center-success-active {background-repeat: no-repeat; background-size: 20px; height: 20px; width: 20px; background-image: url(img/notification/notification-success.svg);}
i.icn-alert-center-warning, i.icn-alert-center-warning-active {background-repeat: no-repeat; background-size: 20px; height: 20px; width: 20px; background-image: url(img/notification/notification-warning.svg);}
i.icn-alert-center-danger, i.icn-alert-center-danger-active {background-repeat: no-repeat; background-size: 20px; height: 20px; width: 20px; background-image: url(img/notification/notification-danger.svg);}
[message-center] .alert-center-toggle-success.active i.icn-alert-center-success {background-image: url(img/notification/notification-success-active.svg);}
[message-center] .alert-center-toggle-warning.active i.icn-alert-center-warning {background-image: url(img/notification/notification-warning-active.svg);}
[message-center] .alert-center-toggle-danger.active i.icn-alert-center-danger {background-image: url(img/notification/notification-danger-active.svg);}
[message-center] .alert-center .alert-center-pane:last-child {border-bottom-width: 0px;}
[message-center] .alert-center .alert-center-empty {font-style: italic; color: #aaa; padding: 20px;}
[message-center] .alert-center-pane-icn {display: inline; float: left; width: 20px; margin: 20px 15px;}
[message-center] .alert-center-pane-icn i {height: 20px; width: 20px;}
[message-center] i.icn-alert-center-success-active {background-image: url(img/notification/notification-success-active.svg);}
[message-center] i.icn-alert-center-warning-active {background-image: url(img/notification/notification-warning-active.svg);}
[message-center] i.icn-alert-center-danger-active {background-image: url(img/notification/notification-danger-active.svg);}
[message-center] .alert-center-pane-message {display: inline; float: left; width: 333px; padding: 10px 10px 10px 0;}
[message-center] .alert-center-pane-message p {margin-bottom: 0px;}
[message-center] .alert-center .alert-title {font-weight: bold;}
[message-center] .alert-center .alert-timestamp {font-size: 11px; font-style: italic; color: #999;}
[message-center] .alert-center .alert-center-footer {background-color: #f0f0f0; border-top: 1px solid #ccc; border-radius: 0 0 6px 6px; height: 21px;}
[message-center] .alert-center:after, [message-center] .alert-center:before {bottom: 100%; left: 93%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
[message-center] .alert-center:after {border-color: rgba(240,240,240,0); border-bottom-color: #f0f0f0; border-width: 10px; margin-left: -10px;}
[message-center] .alert-center:before {border-color: rgba(204,204,204,0); border-bottom-color: #ccc; border-width: 11px; margin-left: -11px;}