﻿<head>
	<title>Spaces</title>
	 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <script src="http://extjs.cachefly.net/ext-4.1.1a-commercial/ext-all-debug.js"></script>
    <link rel="stylesheet" href="http://extjs.cachefly.net/ext-4.1.1a-commercial/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="resources/style/header.css"/>
    <link rel="stylesheet" type="text/css" href="resources/style/homePage.css"/>
    
    <script type="text/javascript" src="webservice.js"></script>
    <script type="text/javascript" src="app.js"></script>     
</head>
<body>

   <div id="headerPanel">
        <div id="home-header">
            <table cellpading="0" cellspacing="0" width="100%" class="homeLogoTable">
                <tr>
                    <td class="cr-title-left"> &nbsp; </td>
                   
                    <td class="cr-title-center"> &nbsp; </td>
              
                    <td class="cr-title-right" </td>
                </tr>
            </table>
        </div>
    </div>
    <div> id="spacesPanel" </div>
    <div> id="statusPanel" </div>

   

</body>
</html>
