<div>
    <div class="clearfix">
        <div class="pull-left filter-title">FILTER: {{title}}</div>
        <div ng-click="toggleFilter()" class="hide pull-right btn btn-default">switch</div>
    </div>

    <div ng-switch="filterType" class="filter-switch">

        <div ng-switch-when="items" class="filter-type items">
            <div button-dropdown-group model="itemFilter.selectedType" options="filterTypes" type="items"></div>

            <div ng-switch="itemFilter.selectOrInput">
                <hr>
                <div ng-switch-when="select" class="filter-select">
                    <div ng-repeat="item in filterValues" class="checkbox">
                        <input type="checkbox" id="filter-item-{{item.$$hashKey || $index}}" ng-model="itemFilter.selectedItems[$index]">
                        <label for="filter-item-{{item.$$hashKey || $index}}">{{item}}</label>
                    </div>
                </div>
                <div ng-switch-when="input" class="filter-input">
                    <input type="text" ng-model="itemFilter.textInput">
                </div>
                <div ng-switch-when="missing" class="filter-null">
                    <div>{{filterInfoReverse.itemsTypesMap[ itemFilter.selectedType ]}}</div>
                </div>
            </div>
        </div>

        <div ng-switch-when="range" class="filter-type range">
            <div button-dropdown-group model="sliderObj.selectedType" options="filterTypes" type="range"></div>

            <div slider-range ng-if="sliderObj.showSlider"></div>
            <div class="inputs" ng-if="sliderObj.showSlider">
                <div ng-if="!(sliderObj.selectedType === '<' || sliderObj.selectedType === '<=' || sliderObj.selectedType === '=' || sliderObj.selectedType === '<>')" class="min clearfix">
                    <input class="pull-right" type="text" ng-model="sliderObj.ranges.min">
                </div>
                <div ng-if="!(sliderObj.selectedType === '>' || sliderObj.selectedType === '>=')" class="max clearfix">
                    <input class="pull-right" type="text" ng-model="sliderObj.ranges.max">
                </div>
            </div>
            <div ng-if="!sliderObj.showSlider" class="filter-null">
                <hr>
                <div>{{filterInfoReverse.rangeTypesMap[ sliderObj.selectedType ]}}</div>
            </div>
        </div>

        <div ng-switch-when="date" class="filter-type date">
            <div button-dropdown-group model="datePicker.selectedType" options="filterTypes" type="date"></div>

            <div date-picker ng-if="datePicker.showDatepicker">
                <hr>
                <div ng-if="!(datePicker.selectedType === '<' || datePicker.selectedType === '<=' || datePicker.selectedType === '=')" ng-model="datePicker.ranges.min" class="well">
                    <datepicker show-weeks="false"></datepicker>
                </div>
                <div ng-if="!(datePicker.selectedType === '>' || datePicker.selectedType === '>=')" ng-model="datePicker.ranges.max" class="well">
                    <datepicker show-weeks="false"></datepicker>
                </div>
            </div>
            <div ng-if="!datePicker.showDatepicker" class="filter-null">
                <hr>
                <div>{{filterInfoReverse.dateTypesMap[ datePicker.selectedType ]}}</div>
            </div>
        </div>

    </div>
    <div class="confirm-filters">
        <button ng-click="reset()" class="btn btn-default reset">Reset</button>
        <button ng-click="save(itemFilter, sliderObj.ranges, datePicker.ranges)" class="btn btn-primary apply pull-right">Apply</button>
    </div>
</div>
