.file-stage {
	background-color: $gray-alternate1;
	bottom: 0;
	color: $white;
	font-size: 1.4rem;
	height: 25%;
	left: 0;
	min-width: $min-viewport;
	position: absolute;
	right: 0;

	figure {
		float: left;
		margin: 15px 20px 0;
		height: calc( 100% - 40px );
		position: relative;
		width: calc( 20% - 40px );
	}

	figcaption {
		line-height: 2.5rem;
		text-align: center;
	}

	.btn-close {
		position: absolute;
		top: -10px;
		right: -10px;
	}

	.bc-panel {
		min-width: $min-viewport - 260px;
		width: calc( 100vw - 260px );
	}
}

.staged-file-inner {
	@extend .dash-inner;
	background: $white;
	position: relative;
	height: 100%;
	&:after {
		bottom: 0;
		content: '';
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	.plugin {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}
	[report] {
		padding: 5px;
	}
}
