<bcarousel>
	<button class="btn btn-link bc-left" ng-click="shiftLeft()" ng-disabled="currentPosition === 0"><i class="icon-bql-less"></i></button>
	<button class="btn btn-link bc-right" ng-click="shiftRight()" ng-disabled="lastPosition()"><i class="icon-bql-greater"></i></button>
	<div class="bc-viewport">
		<div class="bc-panel" ng-class="{ 'bc-shift-right' : $index > currentPosition, 'bc-shift-left' : $index < currentPosition }" ng-repeat="group in fileStageGroups">
			<figure staged-file ng-repeat="file in group" ng-click="proccessFile()">
				<div class="staged-file-inner" ng-include="'page/report/reports.tpl.html'"></div>
				<figcaption ng-bind="file.reportName"></figcaption>
				<button class="btn btn-xs btn-close" ng-click="deleteStagedFile( $parent.$index, $index )"><i class="icon-close-x"></i></button>
			</figure>
		</div>
	</div>
</bcarousel>
