<div id="chart" drop-target="dropZone">

    <div drop-Zone ng-show="!guidedMode && (show9squares === true || showXY === true)" ></div>

    <div drop-previews ng-show="showPreviews && launchMode !== 'reportView'">
        <div class="chart-Drop-Zone-table-background">
            <div class="chart-Drop-Zone-table">
                <div class="chart-Drop-Zone-table-cell pull-left {{preview.className}}" previewIndex="{{$index}}" ng-repeat="preview in previews">{{preview.caption}}</div>
                <!-- <div class="chart-Drop-Zone-table-cell pull-left" ng-show="true">Size</div> -->
            </div>
            <div class="overlay"></div>
        </div>
    </div>

    <div class="chart-switch" style="visibility: {{ guidedMode ? 'hidden' : 'visible' }}">
        <div table-view ng-show="chartType === 'table'"></div>
        <div chart ng-show="chartType !== 'table'"></div>
    </div>
    <div tooltip-container></div>
</div>
