@charset 'UTF-8';
@import url(reset.css);
@import url(resizeable.css);
html {
	color: #333;
	font-family: arial, helvetica, sans-serif;
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

main,
.db-module {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

main {
	position: fixed;
}

.bbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.db-canvas {
	background: #EEE;
	overflow: auto;
}

.db-reports,
.db-canvas,
.db-canvas > div {
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 0;
}

.db-reports {
	background: #000;
	color: #CCC;
	font-size: 1.2rem;
	left: 0;
	overflow: auto;
	width: 150px;
}

.db-reports ul {
	list-style: none;
}

.db-reports a {
	color: #CCC;
	display: block;
	padding: 5px;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.db-reports a:hover {
	background-color: #333;
}

.db-canvas {
	left: 150px;
	right: 0;
}

.db-canvas > div {
	left: 0;
	right: 0;
}

.graph-paper {
	background-color: #FFF;
	background-size: 20px 20px, 20px 20px;
	background-position: -1px -1px, -1px -1px;
	background-image: -webkit-linear-gradient(rgba(100,100,100,.2) 1px, transparent 1px),
	                  -webkit-linear-gradient(0, rgba(100,100,100,.2) 1px, transparent 1px);
	background-image: -moz-linear-gradient(rgba(100,100,100,.2) 1px, transparent 1px),
	                  -moz-linear-gradient(0, rgba(100,100,100,.2) 1px, transparent 1px);
	background-image: linear-gradient(rgba(100,100,100,.2) 1px, transparent 1px),
	                  linear-gradient(90deg, rgba(100,100,100,.2) 1px, transparent 1px);
}

.graph-paper > .dashlet-box {
	/*background-color: rgba( 255,255,255, .2 );*/
}

.dashlet-container {
	position: relative;
}
.editMode .dashlet-box {
	cursor: move;
}
.dashlet-box {
	background: #FFF;
	border-radius: 5px;
	box-shadow: 1px 1px #CCC;
	border: 1px solid #CCC;
	overflow: hidden;
	position: absolute;
}
.dashlet-box:hover,
.dashlet-box:focus {
	border: 1px solid rgb(87, 166, 225);
}

.dragging {
	border: 1px solid rgb(87, 166, 225);
	opacity: 0.65;
}

.dashlet figure {
	display: block;
	position: absolute;
	bottom: .5rem;
	top: 4.75rem;
	right: .5rem;
	left: .5rem;
}
/*TODO Eliminate once we support old reports with multiple charts*/
.dashlet figure svg + svg {
	display: none;
}

.dashlet .data-grid {
	display: none;/*TODO Eliminate once we support old reports with table data*/
	position: relative;
}

.horizontal > .dashlet-box {
	float: left;
	border-width: 0 5px 0 0;
}

.horizontal > .dashlet-box:last-child {
	border-width: 0;
}

.vertical > .dashlet-box {
	border-width: 0 0 5px;
}

.vertical > .dashlet-box:last-child{
	border-width: 0;
}

#dashletBox {
	z-index: -1;
}

.prompt,
.dashlet {
	height: 100%;
	width: 100%;
	background: #FFF;
}

.prompt header,
.dashlet header {
	font-size: 1.3rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	padding: 0 5px;
	position: relative;
}

.btn-remove-dashlet {
	cursor: pointer;
	display: block;
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
}

.chartSelector {
	height: 2rem;
}

.chartSelector select {
	margin: 1.15%;
	width: 31%;
}

.chartSelector fieldset:disabled {
	position: relative;
	z-index: 0;
}

.editMode .chartSelector:after {
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 2rem;
	z-index: 1;

}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.scroll-spacer {
	height: 200%;
}
