@charset 'utf-8';

.resize-handle {
	background: transparent url(data:image/gif;base64,R0lGODlhDAAMAIAAAGZmZv///yH5BAEAAAEALAAAAAAMAAwAAAIYjI8BmbBsHIwPSsXuPbrSj3QRKIrKYl4FADs=) no-repeat 0 0;
	bottom: -1px;
	cursor: nwse-resize;
	display: block;
	height: 15px;
	position: absolute;
	right: -1px;
	width: 15px;
	z-index: 100;
	border: none;
}

.resize-box {
	border: 2px solid rgba( 40, 100, 40, .75 );
	background: rgba( 100, 255, 100, .5 );
	display: none;
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: 99;
}

.resize-handle:active ~ .resize-box {
	display: block;
}

.noselect * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
