<div ng-switch="column.filter.type">
	<div class="options chart-types">
		<div class="select-chart" ng-repeat="chart in chartStateTypes" ng-class="{selected: getSelectedChartType() === chart}" ng-click="selectChartType(chart)" title="{{chart}}">
			<i class="charts-{{chart}}" ng-class="{selected: getSelectedChartType() === chart}"></i>
			<span>{{chart}}</span>
		</div>
	</div>
	<div class="current-state" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="left" popover="click to change chart type">
		<i class="magic-wand"></i>
	</div>
<div>