.prompt-container {
	border-top: 0;
	margin-bottom: 0;
	width: $prompt-drawer-percent-width * 100%;
	z-index: 1;
	&.side-drawer {
		top: $navbar-height;
	}
	.on-off-switch {
		float: right;
	}
	.panel-selected {
		background: $white;
	}
	.panel-title {
		height: 40px;
		padding-top: 2px;
		> span {
			display: block;
			margin-right: $on-off-switch-width + 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		> .on-off-switch {
			margin-right: 5px;
		}
	}
	> .btn-bar {
		border-top: 1px solid $btn-default-border;
		bottom: 0;
		position: fixed;
		width: 100%;
		> .btn {
			border-bottom:  none;
			border-left: none;
			border-radius: 0;
			border-top:  none;
			display: block;
			float: left;
			margin: 0;
			width: 33.33333333%;
		}
	}
	.btn-default {
		&:last-child {
			border-right:  0 none transparent;
		}
		&:hover,
		&:active,
		&:focus {
			background: $white;
			color: $blue;
		}
		z-index: 1;
	}
	> .panel-search {
		clear: right;
	}
	> ul {
		bottom: 33px;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		right: 0;
		top: 51px;
	}
}

[prompt-editor] {
	margin: $padding-base-vertical $padding-base-horizontal * 2;
	.radio label {
		padding-left: 0;
		line-height: 34px;
	}
	.radio label + select {
		margin-top: $padding-base-vertical;
	}
	textarea {
		height: 100px;
	}
	.control-label {
		border: none;
		float: left;
		font-size: inherit;
		font-weight: bold;
		margin:0;
		padding-right: $padding-base-horizontal;
		width: 22%;
	}
	.form-control {
		float: left;
		width: 78%;
	}
	.radio .form-control {
		float: right;
	}
}
