<div ng-click="toggleSelected()" class="panel-heading panel-title" ng-class="{ 'panel-switched-on' : prompt.active, 'panel-selected' : prompt.selected }">
	<on-off-switch ng-click="$event.stopPropagation()" name="promptactive" ng-model="prompt.active" ng-if="editMode"></on-off-switch>
	<span title="{{ prompt.VisibleName }}">{{ prompt.VisibleName }}</span>
</div>
