<div class="form-group">
	<label class="control-label" for="promptName">Name</label>
	<input type="text" class="form-control col-sm-10" id="promptName" placeholder="Enter name" ng-model="prompt.VisibleName" />
</div>

<div class="form-group">
	<label class="control-label" for="promptColumn">Column</label>
	<select class="form-control" id="promptColumn" ng-model="prompt.ColumnName">
		<option ng-repeat="column in prompt.columns" ng-value="column.value" ng-text="column.label"></option>
	</select>
</div>

<fieldset class="form-group">
	<div class="radio">
		<legend class="control-label">Default value</legend>
		<input type="radio" id="promptDefaultVal" value="value" name="promptDefault" ng-checked="!prompt.variableToUpdate" />
		<label for="promptDefaultVal">value</label>
		<input type="radio" id="promptDefaultVar" value="variable" name="promptDefault" ng-checked="prompt.variableToUpdate" />
		<label for="promptDefaultVar">variable</label>
		<select class="form-control" id="defaultVal" ng-model="prompt.DefaultOption">
			<option ng-repeat="defaultValue in prompt.defaultValues" ng-value="defaultValue.value" ng-text="defaultValue.label"></option>
		</select>
	</div>
</fieldset>

<fieldset class="form-group">
	<div class="radio">
		<legend class="control-label">Filter type</legend>
		<input type="radio" id="filterTypeData" value="DATA" name="filterType" ng-model="prompt.FilterType" />
		<label for="filterTypeData">data</label>
		<input type="radio" id="filterTypeDisplay" value="DISPLAY" name="filterType" ng-model="prompt.FilterType" />
		<label for="filterTypeDisplay">Display</label>
	</div>
</fieldset>

<div class="form-group">
	<label class="control-label" for="promptDescription">Description</label>
	<textarea id="promptDescription" name="promptDescription" ng-model="prompt.Description" class="form-control"></textarea>
</div>

<div class="form-group">
	<label class="control-label" for="bqlCode">BQL code</label>
	<textarea id="bqlCode" name="bqlCode" ng-model="prompt.Query" class="form-control"></textarea>
</div>

<!--
	var testPrompt = {
        '@isInDashlet' : true,
        '@ref' : 'PromptControl5924',
        addNoSelectionEntry : true,
        Class : 'Varchar',
        ColumnFormat : '',
        ColumnName : 'Time.Year/Month',
        DefaultOption : '2018/ 1',
        doNotFillIfParentNoSelection : false,
        ExpandIntoButtons : false,
        FilterType : 'DATA'
        hideIfOnlyOneRow : false,
        hideLabel : false,
        imagePath : '',
        Invisible : false,
        IsExpression : false,
        isInDashlet : true,
        Multiline : false,
        multiSelectType : 'OR',
        operationName : '',
        Operator : '=',
        OperatorParameterName : '',
        Options : '',
        ParameterName : 'Time.Year/Month',
        Parent : ['Time.Year', 'Time.Year', 'Time.Year', 'Time.Year'],
        Parents : ['', '', '', {
            Parent : 'Time.Year'
        }],
        PromptType : 'Query',
        Query : 'SELECT [Time.Year/Month] FROM [ALL] ORDER BY [Time.Year/Month] ASC',
        QueryColName : '',
        ReadOnly : false,
        row : 0,
        selectedDate : '',
        SliderDefaultEnd : '',
        SliderDefaultStart : '',
        SliderDispLabels : 'Ends',
        SliderEndPt : 10,
        SliderEndPts : 'Query-Based',
        SliderIncrement : 1,
        SliderStartPt : 0,
        SliderType : 'Point',
        SliderWidth : 100,
        targetDashboardName : '',
        text : 'All',
        ToolTip : '',
        TreeControl : false,
        UseDrillPath : false,
        validationMessage : '',
        variableToUpdate : false,
        Version : 2,
        VisibleName : 'Year/Month',
    };
-->
