	<div class="btn-bar" ng-if="editMode" >
		<button class="btn btn-default" data-toggle="modal" data-target="#promptEditorModal"><i class="icon-add"></i><lm>ADD_FILTER</lm></button>
		<button class="btn btn-default" ng-disabled="!promptSelected" ng-click="deletePrompt()"><i class="icon-trash"></i><lm>DELETE</lm></button>
		<button class="btn btn-default" data-toggle="modal" data-target="#promptEditorModal" ng-disabled="!promptSelected" ng-click="editPrompt()"><i class="icon-pencil"></i><lm>EDIT</lm></button>
	</div>
	<div class="panel-search">
		<form class="search-form">
			<label for="filter-search-input"><i class="icon-search"></i></label>
			<input id="filter-search-input" class="search-input" type="text" placeholder="{{ filterSearchPlaceholder }}" ng-model="filterSearchText">
			<i ng-if="searchIsActive" ng-click="searchSession.reset()" class="icon-close-x"></i>
		</form>
	</div>
	<ul>
		<li ng-if="editMode || ( !editMode && prompt.active )" class="panel panel-default" ng-repeat="prompt in prompts | filter:filterSearchText" prompt="prompt" prompts="prompts" edit-mode="editMode"></li>
	</ul>
