[table-formatting]{width:430px;height:calc(100% + 50px);border-right:1px solid #ddd;background:#d5d5d5;z-index:999;position:absolute;left:-430px;top:-50px;overflow-y:auto;overflow-x:hidden;transition:none 600ms cubic-bezier(.1,.7,.1,1);transition-property:width,left,top}
[table-formatting].active{left:0}
[table-formatting] .arrow{width:20px;height:20px;background:#000;display:inline-block}
[table-formatting] .format-title{padding:14px 20px;border-bottom:1px solid #ccc;position:relative;font-weight:700;font-size:16px;background:-webkit-gradient(linear,left top,right top,from(#c6c6c6),to(#f0f0f0));background:-webkit-linear-gradient(left,#c6c6c6,#f0f0f0);background:-moz-linear-gradient(left,#c6c6c6,#f0f0f0);background:-ms-linear-gradient(left,#c6c6c6,#f0f0f0);background:-o-linear-gradient(left,#c6c6c6,#f0f0f0)}
[table-formatting] .format-options{margin:10px 0}
[table-formatting] .form-group .control-label{height:36px;margin-left:20px;color:#555}
[table-formatting] .col-sm-7{padding:0}span.input-group-addon{border-radius:0;width:60px}
[table-formatting] input{border-radius:0;height:36px;margin:0;width:192px;padding-left:4px}
[table-formatting] select{width:252px;height:36px;margin:0;border-color:#ccc}
[table-formatting] [color-picker] .colors{position:absolute;background:#fff;z-index:20;top:50px;left:0;width:188px;border:1px solid #ccc;box-shadow:0 1px 1px 0 #999}
[table-formatting] .switch-container-normal .switch-apple{top:8px;right:18px}
[table-formatting] .colors>div{width:36px;height:36px;float:left;border:1px solid #eee;margin:8px 0 8px 8px;padding:8px}
[table-formatting] .colors>div.sp-replacer{padding:0;border:none}
[table-formatting] .colors>div.sp-replacer .sp-preview{width:100%;height:100%;border:none;margin:0}
div.sp-container.sp-light.sp-input-disabled.sp-palette-disabled{margin-left:110px;margin-top:110px;border:1px solid #ccc;box-shadow:0 1px 1px 0 #999}
[table-formatting] .colors:after,[table-formatting] .colors:before{bottom:100%;left:15%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
[table-formatting] .colors:after{border-color:rgba(240,240,240,0);border-bottom-color:#fff;border-width:10px;margin-left:-10px}
[table-formatting] .colors:before{border-color:rgba(204,204,204,0);border-bottom-color:#ccc;border-width:11px;margin-left:-11px}
[table-formatting] .transparent, [table-formatting] .transparent-icn {background-image: url('img/formatting/no-color.svg');background-size: 36px;}
[table-formatting] .transparent-icn {background-size: 78px;background-position: -12px -16px;}
[table-formatting] .sp-preview {background-image: url('img/formatting/color-picker.svg');background-size: 36px;background-position: 1px 2px;}
[table-formatting] .sp-preview-inner {opacity: 0.6}