﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="CustomUpload.master.cs" Inherits="Acorn.CustomUpload1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Custom Data Upload Page</title>
    <link href="global.css" type="text/css" rel="Stylesheet" />
    <link rel="stylesheet" type="text/css" href="common/css/styles.css" />
</head>
<body>
    <asp:ContentPlaceHolder ID="HeaderContentPlaceHolder" runat="server">
        
    </asp:ContentPlaceHolder>
         
    <form id="form1" runat="server">
    <asp:ScriptManager ID="AjaxScriptManager" ScriptMode="Release" runat="server" AsyncPostBackTimeout="600" />
    <div>
        <asp:ContentPlaceHolder ID="mainPlaceholder" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>