﻿
@font-face
{
    font-family: Asap;
    src: url('fonts/Asap-Bold.eot'); /* IE9 Compat Nodes */
    src: url('fonts/Asap-Bold.eot?iefix') format('eot') ; /* IE6-IE8 */
    src: url('fonts/Asap-Bold.woff') format('woff') ; /* Modern Browsers */
    src: url('fonts/Asap-Bold.ttf') format('truetype') ; /* Safari, Android, iOS */
    font-weight: bold;
    font-style:normal;
}

@font-face
{
    font-family: Asap;
    src: url('fonts/Asap-Italic.eot'); /* IE9 Compat Nodes */
    src: url('fonts/Asap-Italic.eot?iefix') format('eot') ; /* IE6-IE8 */
    src: url('fonts/Asap-Italic.woff') format('woff') ; /* Modern Browsers */
    src: url('fonts/Asap-Italic.ttf') format('truetype') ; /* Safari, Android, iOS */
    font-weight:normal;
    font-style:italic;
}

@font-face
{
    font-family: Asap;
    src: url('fonts/Asap-BoldItalic.eot'); /* IE9 Compat Nodes */
    src: url('fonts/Asap-BoldItalic.eot?iefix') format('eot') ; /* IE6-IE8 */
    src: url('fonts/Asap-BoldItalic.woff') format('woff') ; /* Modern Browsers */
    src: url('fonts/Asap-BoldItalic.ttf') format('truetype') ; /* Safari, Android, iOS */
    font-weight:bold;
    font-style:italic;
}

@font-face
{
    font-family: Asap;
    src: url('fonts/Asap-Regular.eot'); /* IE9 Compat Nodes */
    src: url('fonts/Asap-Regular.eot?iefix') format('eot') ; /* IE6-IE8 */
    src: url('fonts/Asap-Regular.woff') format('woff') ; /* Modern Browsers */
    src: url('fonts/Asap-Regular.ttf') format('truetype') ; /* Safari, Android, iOS */
    font-weight:normal;
    font-style:normal
}

#container			{ width: 860px; margin: auto; padding-top: 19px; }
#container .wrapper	{ clear: both; float: left; margin-left: 6px; _margin-left: 3px; }
#container .margins	{ padding: 0 28px 10px 28px; _padding: 0 28px 10px 32px; width: 896px; }

/*----------------- HEADER -----------------*/
#header				{ width: 860px; height: 51px; float: left; position: relative; }
#header .logo		{ width: 156px; height: 51px; }

#loginWrap				{ width: 460px; margin-left: 2px; }
#loginWrap .login		{ float: left; background-color: #4B4B4B; padding-bottom: 2px; }
#loginWrap .loginFill	{ width: 460px; float: left; }
#loginWrap .loginFill table	{ margin: 10px 0 10px 5px; }
#loginWrap .loginFill td	{ padding: 5px 10px; color:White}
#loginWrap .loginFill input	{ width: 280px; height: 20px; }
#loginWrap .loginFill .btn	{ width: auto; height: auto; border: 0; }
#loginWrap .loginFill a	{ text-decoration:none; color:White }

.nonjsAlert {margin:1em; border:1px solid #f00; padding:.5em; color:#f00; text-align:center; }

.cleaner    { clear: both; }

#container .headline h1 	{ font-size: 28px; font-family: Arial; font-style:normal; font-weight:bold; }
#container .headline h2	{ font-size: 20px; font-family: Arial; font-style:normal; font-weight:normal; }

html
{
	height: 100%;
}
body
{
	font-family: Arial;
	font-size: 10pt;
	height: 100%;
	margin: 0px;
}
.pageheader
{
	border-bottom: solid 1px #CCCCCC;
	font-size: 10pt;
	padding-left: 5px;
	color: #333333;
	padding-right: 5px;
	height: 27px;
	font-weight: bold;
}
.pagepadding
{
	padding-left: 10px;
	padding-right: 10px;
}
.home
{
	color: #006FAA;
	background-color: #F4F4F4;
}
.homespace
{
	color: #006FAA;
	background-color: #E6E6E6;
}
td.helpfullinks
{
	height: 30px;
	vertical-align: middle;
	border-bottom: 2px dotted #CCCCCC;
}
td.helpfullinkslast
{
	height: 30px;
	vertical-align: middle;
}
table.helpfullinks
{
	background-color: #E7F5C2;
	padding-left: 3px;
	font-size: 11pt;
	color: #006FAA;
}
.stepbar
{
	color: #555555;
	text-align: center;
	font-size: 14pt;
	background-repeat: no-repeat;
	height: 30px;
}
.stepbaractive
{
	color: #FFFFFF;
	text-align: center;
	font-size: 14pt;
	background-repeat: no-repeat;
	height: 30px;
}
.modalbackground
{
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.invisible
{
	display: none;
	overflow: hidden;
}
.stepPanelStyle
{
	background: #F5F5F5;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	color: #333333;
	vertical-align: top;
	height: 100%;
	text-align: center;
	width: 250px;
}
.spaceLabel
{
	font-size: 12pt;
	color: #333333;
}
.breadcrumb
{
	background-image: url(Images/nback.gif);
	padding-left: 5px;
	height: 25px;
}
.breadcrumb2
{
	background-image: url(Images/nback.gif);
	padding-left: 5px;
	height: 30px;
}
.footerstyle
{
	font-size: 8pt;
	text-align: center;
}
.gridcell
{
	border-right: solid 1px #CCCCCC;
	padding-right: 7px;
	padding-left: 7px;
}
.gridcelllast
{
	padding-right: 7px;
	padding-left: 7px;
}
.embeddedtable
{
	border: solid 1px #CCCCCC;
	padding-right: 2px;
	padding-left: 2px;
}
.gridrow
{
	height: 30px;
}
.selectedrowheader
{
	font-size: 12pt;
	font-weight: bold;
	color: #555555;
	padding-left: 5px;
	padding-top: 5px;
}
.dialogheader
{
	background-color: #333333;
	font-size: 12pt;
	font-weight: bold;
	color: White;
	height: 30px;
	vertical-align: middle;
	padding-left: 5px;
}
.hierarchytree
{
	font-size: 10pt;
}
.hnode
{
}
.hhover
{
	cursor: pointer;
}
.hselected
{
	text-decoration: underline;
	background-color: #E7F5C2;
}
.wizard
{
	background-color: #F4F4F4;
	width: 100%;
	text-align: left;
	color: #555555;
	font-size: 10pt;
	padding: 5px;
	border-bottom: solid 1px #CCCCCC;
}
.listviewheader
{
	height: 30px;
	font-weight: bold;
	color: #555555;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.listviewborderheader
{
	height: 28px;
	font-weight: bold;
	color: #555555;
	background-color: #E7F5C2;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.listviewcell
{
	height: 22px;
	padding-left: 5px;
	padding-right: 5px;
}
.defaultlinkstyle
{
	text-decoration: none;
	color: #006FAA;
}
.warningheader
{
	font-size: 13pt;
	font-weight: bold;
	color: White;
}
.headerLabel
{
	font-size: 10pt;
	color: #F5F9FA;
}

.AlertLabel
{
	font-size: 12pt;
	color: #333333;
}

.leftdiv {float:left;height:100%;width:50%;text-align:center;}
.rightdiv {float:left;height:100%;width:50%;text-align:center;}