﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Logout.aspx.cs" Inherits="Acorn.Logout" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Birst Logout</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h3>Being redirected to the login page...</h3>
    </div>
    </form>
</body>
</html>
