﻿<%@ Page Language="C#" MasterPageFile="~/WebAdmin.Master" AutoEventWireup="true"
    CodeBehind="SpaceAdmin.aspx.cs" Inherits="Acorn.SpaceAdmin" Title="Birst" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="ContentID" ContentPlaceHolderID="mainPlaceholder" runat="server">
   
</asp:Content>
