﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SSOWrapper.aspx.cs" Inherits="Acorn.SSOWrapper" %>
<html>
<body>
<asp:Label ID="OpenIDLabel" runat="server" Visible="false" ForeColor="Red" />
</body>
</html>