help>div{position: absolute;z-index: 999;color:#267ba7;font-size:14px;font-weight: bold;width:100%;height: 100%;}
help span {min-width: 200px}
help .emphasis {font-size: 26px;}
help i {display:block;}
help [background] {z-index: 99;}
help [background] .subject-area {position: absolute;background-image: url('img/Tutorial_Clips/cover-up3.png');width:430px;height:400px;top:101px;}
help [background] .subject-area-bottom {position: absolute;background-image: url('img/Tutorial_Clips/cover-up2.png');height: calc(100% - 500px);width: 430px;top: 500px;background-repeat: repeat-y;}
help [background] .chart {position: absolute;background: #fff;left: 430px;top: 101px;width: calc(100% - 430px);height: calc(100% - 101px);}
help [background] .reset {position: absolute;background-image: url('img/Tutorial_Clips/cover-up4.png');right: 12px;top: 58px;width: 80px;height: 38px;}
help [background] .guided {position: absolute;background-image: url('img/Tutorial_Clips/cover-up5.png');right: 0;bottom: 0;width: 70px;height: 70px;}
help [search-note] {position:absolute;top:200px;left:10px;}
help [search-note] span {position:absolute;top: 216px;left: 4px;width: 260px;}
help [search-note] span.emphasis {position:absolute;top: 180px;left: 4px;width: 260px;}
help [search-note] i {position:absolute;top:0px;left:200px;}
help [staging-note] {position:absolute;top:58px;left:438px;}
help [staging-note] span {position:absolute;top:208px;left:40px;width:500px;}
help [staging-note] span.emphasis {position:absolute;top:168px;left:38px;}
help [staging-note] i {position:absolute;top:42px;left:0px;}
help [guided-note] {position:absolute;bottom: 84px;right: 108px;}
help [guided-note] span {position:absolute;top: 36px;left: -66px;min-width: 98px;}
help [guided-note] i {position:absolute;top:0px;left:0px;}
help [tool-bar] {position: absolute;top: 100px;left: 750px; width: 320px;}
help [tool-bar] span {position: absolute; top: 54px; left: 35px;}
help [tool-bar] span.emphasis {position: absolute; top: 16px; left: 35px;}
help [tool-bar] i {position: absolute;top: 0px; left: 0px;}
help [tips-note] {position:absolute;top: 318px;left: 430px;width: calc(100% - 430px);}
help [tips-note] [tips] {margin: 0 auto;width: 820px;height: 232px;}
help [tips-note] [tips] span {display: block; text-align: center;}
help [tips-note] [tips] span.tips-title {margin-left: 10px; text-align: left;}
help [tips-note] [tips]>div {position:relative;float:left;top:40px;width:220px;height:164px;margin-right:0px;}
help [tips-note] [tips] [tip-basic], help [tips-note] [tips] [tip-intermediate] {margin-right:20px;}
help [tips-note] .thumbnail {width:220px;height:160px;padding: 0;border:none;margin-bottom: 4px;cursor: pointer;}
help [tips-note] span.emphasis {height: 0;display:block;}
help [tips-note] [tip-basic] {position:absolute;top:0px;left:0px;}
help [tips-note] [tip-basic] .basic {background:url(img/Tutorial_Clips/help-thumb-1.png);}
help [tips-note] [tip-basic] .basic:hover {background:url(img/Tutorial_Clips/help-thumb-1-hover.png);}
help [tips-note] [tip-intermediate] {position:absolute;top:0px;left:0px;}
help [tips-note] [tip-intermediate] .intermediate {background:url(img/Tutorial_Clips/help-thumb-2.png);}
help [tips-note] [tip-intermediate] .intermediate:hover {background:url(img/Tutorial_Clips/help-thumb-2-hover.png);}
help [tips-note] [tip-advanced] {position:absolute;top:0px;left:0px;}
help [tips-note] [tip-advanced] .advanced {background:url(img/Tutorial_Clips/help-thumb-3.png);}
help [tips-note] [tip-advanced] .advanced:hover {background:url(img/Tutorial_Clips/help-thumb-3-hover.png);}
help [finish-note] {position:absolute; top:566px; left:310px; width: calc(100% - 310px);}
help [finish-note] [finish] {width:260px;margin:0 auto;text-align:center;}
help [finish-note] button {width:260px;height: 50px;font-size: 22px;color:#fff;border-radius:3px;border:2px solid #408dcc;background: #489ee8;}
help [finish-note] div.checkbox {display: inline-block;}
help [finish-note] label {font-size: 14px;font-family: Helvetica, Arial, sans-serif;font-weight: normal;color:#333;text-transform: capitalize;}
help [class*="arrow-"]{background:url(img/Help_Icons.png) no-repeat top left}
help .arrow-guided{ background-position: 0 0; width: 45px; height: 32px; }
help .arrow-redo{ background-position: 0 -82px; width: 33px; height: 44px; }
help .arrow-reset{ background-position: 0 -176px; width: 20px; height: 41px; }
help .arrow-searchorbrowse{ background-position: 0 -267px; width: 48px; height: 186px; }
help .arrow-stagingbar{ background-position: 0 -503px; width: 33px; height: 400px; }
help .arrow-subjectarea{ background-position: 0 -953px; width: 26px; height: 39px; }
help .arrow-toolbar{ background-position: 0 -1042px; width: 33px; height: 45px; }
help .arrow-undo{ background-position: 0 -1137px; width: 21px; height: 41px; }
.modal.tutorial.fade.in{width: 702px;height: 411px;border: none;top: 50%;margin-top: -180px;margin-left: -352px;}
.tutorial .modal-body {height: 411px;padding: 14px;}