﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EndUserLicenseAgreement.aspx.cs" Inherits="Acorn.NetSuiteSSO.EndUserLicenseAgreement" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>End User License Agreement</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="Accept" runat="server" onclick="Accept_Click" Text="Accept" />
        <asp:Button ID="Delete" runat="server" onclick="Delete_Click" Text="Delete" />
    
    </div>
    </form>
</body>
</html>
