[toolbar] {position:absolute;width: 100%;height:51px;top: 50px;z-index: 20;border-bottom: 1px solid #ccc;background: #f0f0f0;}
.no-header [toolbar] {top:0;}
[toolbar]>div>div {float:left;cursor: pointer;}
[toolbar] .button {margin:7px;cursor: pointer; /*background: #f5f5f5;border:1px solid #ddd;border-radius:3px;*/}
[toolbar] .button:hover {background-repeat: repeat-x; /*background: #f1f1f1;*/}
[toolbar] .button:not(.dropdown-toggle) i {display:block;height:24px;width:24px;margin:6px;background-size: 25px;position: relative;}
[toolbar] [navigator] {height: 38px;border-radius: 0;border-left: none;min-width: 159px;height: 50px;padding: 6px;border-right: 1px solid #ccc;background: #f0f0f0;}
/*[toolbar] [navigator] i.open-icn {background-image: url(img/File-Svg-Icons/ICON-Open.svg);background-size: 26px;height: 18px;width: 26px;margin: 9px 6px;float: left;}*/
[toolbar] [navigator] i.icn-open {margin-left: 27px;}
[toolbar] [navigator] .open {margin-top: 8px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;max-width: 260px;display: inline-block;margin-bottom: -10px;}
[toolbar] [navigator] .report-name {margin-top: 8px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:146px;display: inline-block;margin-bottom: -15px; text-align: center; font-weight: 500;}
[toolbar] [navigator].normal-cursor {cursor: auto;} /* Revert to normal cursor if the user doesn't have save permission */

[toolbar] [save] {height: 38px;width: 36px;height: 38px;}
[toolbar] [save] i.save-icn {background-image: url(img/File-Svg-Icons/icon_27.svg);background-size: 32px;height: 32px;width: 32px;margin: 2px;}
[toolbar] [save] div{padding-top: 7px;}
[toolbar] [reset].button:not(.dropdown-toggle) i {background-image: url(img/File-Svg-Icons/ICON-Reset.svg);background-size: 24px;height: 24px;width: 24px;margin: 6px;}
[toolbar] [reset] div{padding-top: 9px; }
[toolbar] [publish] {width: 155px; margin-right: 0px;}
[toolbar] [publish] div{padding-top: 9px; }
[toolbar] [publish] i.dashboard-icn {background-size: 24px !important; margin: 6px;}
[toolbar] [bql] {height: 38px;width: 40px;}
[toolbar] [bql] i.edit-icn {background-image: url(img/File-Svg-Icons/ICON-BQL.svg);background-size: 26px;height: 23px;width: 26px;margin: 6px;}
[toolbar] [bql] div{padding-top: 7px; }
[toolbar] i { vertical-align: middle; display: inline-block; height: 38px; width: 38px;}
[toolbar] i.merge { background-image: url(img/File-Svg-Icons/Toolbar-merge.svg);background-size: 24px;height: 24px;width: 24px;margin: 6px; }
[toolbar] i.split { background-image: url(img/File-Svg-Icons/Toolbar-split.svg);background-size: 24px;height: 24px;width: 24px;margin: 6px; }
[toolbar] [show-help] {height: 38px;width: 38px;}
[toolbar] [show-help] i {background-image: url(img/File-Svg-Icons/Toolbar-Help.svg);background-size: 24px;height: 24px;width: 24px;margin: 6px;}
[toolbar] .dropdown>a>i {padding-top: 2px;color: #777;float:left;display:block;}
[toolbar] .dropdown>a.dropdown-toggle {color: #555;width: auto;height: 38px;padding: 7px 8px 0;display:block;}
[toolbar] .dropdown>a.dropdown-toggle>.down-arrow-icn {margin-top: 6px;}
[toolbar] .dropdown>a.dropdown-toggle>span {display: block;float: left;margin:2px 6px 0;}
[toolbar] .dropdown-menu {padding:0;margin-left: 4px;min-width: 132px;}
[toolbar] .dropdown-menu>li{color:#666;height:32px;padding:3px 7px;border:1px solid #ddd;border-bottom-color: #ddd;border-top-color: #fff;background-color: #f5f5f5;}
[toolbar] .dropdown-menu>li:hover{color:#555;background-color: #f1f1f1;}
[toolbar] .dropdown-menu>li>i{float:left;}
[toolbar] .dropdown-menu>li>i.toolbar-check{float:right;}
[toolbar] .dropdown-menu>li>a{float:left;clear:none;padding: 3px 7px;}
[toolbar] .dropdown-menu>li>a:hover,[toolbar] .dropdown-menu>li>a:focus{color:#666;background-color: #f5f5f5;}
[toolbar] .dropdown i {display:block;height:24px;width:24px;}
[toolbar] .toolbar-Stack {background-image: url('img/TopBar/toolbar_stack.png');}
[toolbar] .toolbar-Group {background-image: url('img/TopBar/toolbar_group.png');}
[toolbar] .toolbar-Percent {background-image: url('img/TopBar/toolbar_percent.png');}
[toolbar] .toolbar-check {background-image: url('img/TopBar/toolbar_check.png');}

/*[toolbar] .dropdown i {display:block;height:24px;width:24px;background-size: 24px;position: relative;}
[toolbar] .dropdown .toolbar-Stack {background-image: url('img/TopBar/toolbar_stack.png')}
[toolbar] .dropdown .toolbar-Group {background-image: url('img/TopBar/toolbar_group.png');}
[toolbar] .dropdown .toolbar-Percent {background-image: url('img/TopBar/toolbar_percent.png');}
[toolbar] .dropdown .toolbar-check {background-image: url('img/TopBar/toolbar_check.png');}*/

[toolbar] [search-input] {width: 221px;height: 50px;border-right: 1px solid #ccc;position:relative;}
[toolbar] [search-input] i.glyphicn-search {color:#999;width: 20px;height: 20px;background-size: 20px;left: 16px; position: absolute; top: 16px; z-index: 100;}
[toolbar] [search-input] input {color: #777;border-bottom: 1px solid #ddd;border-top: 1px solid #999;padding-left: 44px;background-color: #f0f0f0;border: none;height: 48px;width: 218px;margin: 1px;border-radius: 0; position: absolute;}
[toolbar] [search-input] input:focus {background-color:#fff;}
[toolbar] [search-input] input + .reset-search{display:none;}
[toolbar] [search-input] input:focus + .reset-search{cursor:pointer;display:block;font-size:18px;float:right;position:absolute;top:16px;right:12px}

[toolbar] [return-button] {width:50px;height:50px;background-color: #f0f0f0;border-right: 1px solid #ccc;cursor: pointer;}
[toolbar] [return-button] i {background-image: url('img/TopBar/VIZ - Menu_Btn_grey.svg');display:inline-block;height: 21px;width: 22px;margin: 14px 15px;background-size: 22px;position: relative;}
[toolbar] [return-button] i.active {background-image: url('img/TopBar/VIZ - Menu_Btn_light_blue.svg')}

[toolbar] [breadcrumb] {list-style: none; overflow: hidden; float: left; padding: 0;}
[toolbar] [breadcrumb] li {float: left;}
[toolbar] [breadcrumb] li a {text-decoration: none; padding: 16px 0 15px 45px; position: relative; display: block; float: left; background-color: #f0f0f0; color: #999; cursor: pointer;}
[toolbar] [breadcrumb] li a:hover {background-color: #d5d5d5; color: #444;}
[toolbar] [breadcrumb] li a:after {content: " "; display: block; width: 0; height: 0; border-top: 60px solid transparent; border-bottom: 60px solid transparent; border-left: 30px solid #f0f0f0; position: absolute; top: 50%; margin-top: -60px; left: 100%; z-index: 2; }
[toolbar] [breadcrumb] li a:hover:after {border-left-color: #d5d5d5 !important;}
[toolbar] [breadcrumb] li a:before {content: " "; display: block; width: 0; height: 0; border-top: 60px solid transparent; border-bottom: 60px solid transparent; border-left: 30px solid #ccc; position: absolute; top: 50%; margin-top: -60px; margin-left: 1px; left: 100%; z-index: 1;}
[toolbar] [breadcrumb] li:first-child a {padding-left: 18px;}
[toolbar] [breadcrumb] li:last-child a {padding-right: 18px;}

[toolbar] [message-center] {position: relative; width: 30px; height: 30px; z-index: 99; padding:0; margin: 11px 20px 9px 8px;}
[toolbar] [message-center] .icn-alert-center-flag {cursor:pointer; width: 30px; height: 30px; background-size: 30px; background-image: url('img/notification/notification-flag-grey.svg'); background-repeat: no-repeat; background-position: 50% 50%;}
[toolbar] [message-center] .icn-alert-center-flag-green {background-image: url('img/notification/notification-flag-green.svg');}
[toolbar] [message-center] .icn-alert-center-flag-orange {background-image: url('img/notification/notification-flag-orange.svg');}
[toolbar] [message-center] .icn-alert-center-flag-red {background-image: url('img/notification/notification-flag-red.svg');}
[toolbar] [message-center] .alert-center-messages {position: absolute; top: 10px; right: -3px; border-radius: 50%; width: 19px; height: 19px; background-color: #4188cc; /* #f1592a; */ color: #fff; text-align: center; font-size: 12px; padding-top: 2px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
