.bc-right,
.bc-left {
	height: 100%;
	width: 130px;
	> i {
		color: $white;
		font-size: 34px;
	}
}

.bc-right {
	float: right;
}

.bc-left {
	float: left;
}

.bc-viewport {
	height: 100%;
	margin: 0 130px;
	overflow: hidden;
	position: relative;
}

.bc-panel {
	height: 100%;
	position: absolute;
	left: 0;
	@include transition( all .5s );
}

.bc-shift-right {
	left: 100%;
}

.bc-shift-left {
	left: -100%;
}
