<div designer drop-configs ng-class="{'no-header': hideHeader}">
    <help></help>
    <div header class="navbar-alt" ng-show="!hideHeader"></div>

    <div toolbar></div>

    <div viz-menu class="pull-left" ng-class="{searchMode: activeSearch, trashMode: trashBucket.dragToTrashMode}">
        <div loader area="sa" class="loader-sa"><div class="spinner-sa"></div></div>
        <div alerts-sa></div>
        <div subject-areas></div>
        <div staging></div>
        <div table-formatting options="table.formatting"></div>
    </div>

    <div class="primary">
        <div loader area="chart" class="loader-chart"><div class="spinner-chart"></div></div>
        <div alerts-chart></div>
        <div chart-type-selector-menu></div>
        <div chart-container></div>
    </div>

    <div file-system class="drawer-container" ng-class="{'open': fileSystem.isNavigatorOpen}">
        <div file-system-ui class="drawer"></div>
        <div class="modal-dialog" modal-dialog="fileSystem.modal.showModal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="fileSystem.closeModal()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{fileSystem.modal.title}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{fileSystem.modal.text}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="fileSystem.modal.cancelCallback()" class="btn btn-default" data-dismiss="modal">{{fileSystem.modal.cancelButtonText || 'Cancel'}}</button>
                    <button type="button" ng-click="fileSystem.modal.successCallback()" class="btn btn-danger">{{fileSystem.modal.successButtonText}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        <div class="modal-backdrop"></div>
    </div>
</div>