.modal-backdrop.fade{opacity:0}
.modal-backdrop,.modal-backdrop.fade.in{opacity:.8;filter:alpha(opacity=80)}
body > .modal {

	&.fade{-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out}
	&.fade.in{display:block}
	.modal-header h3{margin:0;line-height:30px}
	.modal-body{position:relative;padding:30px;overflow-y:auto}
	.modal-form{margin-bottom:0}
	.modal-footer{padding:14px 15px 15px;position:relative;bottom:0;margin-bottom:0;margin-top:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;*zoom:1;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff}
	.modal-footer:before,.modal-footer:after{display:table;line-height:0;content:""}
	.modal-footer:after{clear:both}
	.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
	.modal-footer .btn-group .btn+.btn{margin-left:-1px}
	.modal-footer .btn-block+.btn-block{margin-left:0}
	.modal-body select[multiple]{min-height:200px;width:220px}
}
