<div report-view-container>
    <div table-view ng-show="chartType === 'table'"></div>
    <div chart ng-show="chartType !== 'table'"></div>
</div>
<div tooltip-container></div>
<div table-formatting options="table.formatting"></div>
<div file-system></div>