.data-grid {
	button {
		@include background( linear-gradient( top, #fff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7 ) );
		border-color: #D1D1D1;
		@include border-radius( 3px );
		border-style: solid;
		border-width: 1px;
	}
}
