
#openid_form {
	width: 590px;
}

#openid_form legend {
	font-weight: bold;
}

#openid_choice {
	display: none;
}

#openid_input_area {
	clear: both;
	padding: 10px;
}

#openid_btns, #openid_btns br {
	clear: both;
}

#openid_highlight {
	padding: 3px;
	background-color: #FFFCC9;
	float: left;
}

.openid_large_btn {
	width: 100px;
	height: 60px;
	_width: 104px;
	_height: 64px;

	border: 2px solid #DDD;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	margin: 3px;
	float: left;
	border-radius: 5px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 2px 2px 4px #ddd;
	-moz-box-shadow: 2px 2px 4px #ddd;
	-webkit-box-shadow: 2px 2px 4px #ddd;
}

.openid_large_btn:hover {
	margin: 4px 0 0 6px;
	border: 2px solid #999;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.openid_small_btn {
	width: 24px;
	height: 24px;
	_width: 28px;
	_height: 28px;

	border: 2px solid #DDD;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	margin: 3px;
	float: left;
	border-radius: 5px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 2px 2px 4px #ddd;
	-moz-box-shadow: 2px 2px 4px #ddd;
	-webkit-box-shadow: 2px 2px 4px #ddd;
}

.openid_small_btn:hover {
	margin: 4px 0 0 6px;
	border: 2px solid #999;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

a.openid_large_btn:focus {
	outline: none;
}

a.openid_large_btn:focus {
	-moz-outline-style: none;
}

.openid_selected {
	border: 4px solid #DDD;
}