$file-system-bg: $white-dark !default;
$file-system-border-color: $panel-border-color !default;
.saveButtonContainer {
	i {
		background-size: 25px;
		display:inline-block;
		height:24px;
		margin:6px;
		position: relative;
		width:24px;
	}
}

[file-system-ui-b] {
	@include box-shadow( 0px 3px 3px 0px #777 );
	height: 75%;
	min-width: $min-viewport;
	overflow:hidden;
	position: relative;
	width: 100%;
	z-index: 1030;

	[close] {
		bottom: 2px;
		cursor: pointer;
		height: 31px;
		left: 50%;
		margin-left: -80px;
		position: absolute;
		width: 159px;

		.close-icon {
			left: 157px;
			position: relative;
			top: 5px;
			z-index: 1060;
		}
	}
	.close-btn {
		background-size: 16px;
		height:16px;
		width:16px;
	}
	.visualizer-icon,
	.designer-icon {
		height: 32px;
		padding: 0px;
		width: 30px;
	}
	.folder-icon {
		height: 32px;
		padding: 0px;
		width: 30px;
	}
	.close-btn {
		background-size: auto;
		width: 159px;
		height: 31px;
		margin: 0;
	}

	.arrow-down-icon-active {
		background-size: 14px;
		width: 12px;
		height: 14px;
		margin: 18px 6px 18px 8px;
	}
	.arrow-right-icon-active {
		background-size: 14px;
		width: 12px;
		height: 14px;
		margin: 18px 6px 18px 8px;
	}
	.popover {
		min-width: initial;
		background-color: rgba(51,51,51,0.9) !important;
		border-radius: 6px;
	}
	.popover .arrow:after {
		border-bottom-color: rgba(51,51,51,0.9) !important;
	}
	.popover .popover-content {
		color:#fff;
	}
	.empty-directory {
		display: none;
	}
	.show-info {
		color: $gray-light;
		font-size: 1.6rem;
		display: block;
		margin-top: 10%;
		text-align: center;
	}
}
[folder-structure-b] {
	background: $file-system-bg;
	border-right:1px $file-system-border-color solid;
	color: $gray-alt;
	@include box-shadow( 1px -1px 2px #EEE );
	height: calc(100% - 63px);
	overflow-y: auto;
	position: relative;
	width: 271px;
	z-index: 1;

	> .search-filters {
		display: block;
		height: calc( 100% - 5.1rem);
		overflow: auto;

		h3 {
			background: $blue-dark;
			color: $white;
			font-size: 1.4rem;
			margin: 0;
			padding: 0.4rem 1.5rem;
		}

		.icon-close-x-alt {
			cursor: pointer;
		}
	}
	.action {
		cursor: pointer;
		font-size: 1.2rem;
		text-decoration: underline;
	}
	.selected-filter-heading {
		color: $gray-alt;
		font-size: 1.4rem;
		margin: 0;

		[class^="icon-chart"] {
			font-size: 2.2rem;
			vertical-align: middle;
		}
	}
	> ul {
		margin-bottom: 0;
		padding-left: 0px;
	}
	li {
		min-height: 5rem;
		line-height: 5rem;
		list-style-type: none;
	}
	.open-folder,
	.open-folder .folder {
		background: $white;
		@include box-shadow( inset 8px 0 0 -4px #428bca );
	}
	.icon-triangle-down:before,
	.icon-triangle-right:before {
		margin-left: 8px;
	}
}

.folder {
	background: $file-system-bg;
	border-bottom:1px solid $file-system-border-color;
	color:$gray;
	cursor: pointer;
	height: 5rem;
	line-height: 5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&.drag-hover-state {
		background: rgba( 51, 51, 51, 0.1 );
	}
	.icon-folder,
	&:before {
		color: $gray-med-light;
	}
	&.active {
		background: $white;
		color: $blue;
		font-weight: bold;
		.icon-folder,
		&:before {
			color: $blue;
		}
	}
	&:hover {
		background: $blue-lightest;
	}
	&.hide-contents + ul {
		display:none;
	}
	span {
		display: inline-block;
		padding: 14px 0;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		width:214px;
	}
	.icon-folder {
		font-size: 2rem;
		margin: 0 6px 0 0;
		vertical-align: middle;
	}
	.icon-folder:before {
		position: relative;
		top: 2px;
	}
}

[file-navigator-b] {
	background-color: $white;
	height: calc(100% - 63px);
	width: calc(100% - 271px);
	i {
		display:inline-block;
		position: relative;
	}
}

[file-navigator-b] [save-input],
.saveButtonContainer {
	border-radius: 5px;
	margin: 20px;
	position: relative;
}

[file-navigator-b] [save-input] input,
.saveButtonContainer input {
	border: 1px solid $file-system-border-color;
	border-radius: 0;
	display: inline-block;
	height: 38px;
	margin: 0;
	width: 412px;
}

[file-navigator-b] [save-input] input:focus,
.saveButtonContainer input:focus {
	border-color:#bbd697;
}

[file-navigator-b] [save-input] .saveValidation {
	color: red;
	padding: 0 10px;
}

[file-navigator-b] [save-input] button,
.saveButtonContainer button {
	background-color: #bbd697;
	border:1px solid #8ca865;
	border-radius:3px;
	position: absolute;
	right: 0;
	top: 0;
	width: 88px;
}

[file-navigator-b] [save-input] button i.save-icon,
.saveButtonContainer i.save-icon {
	margin: 0 6px 0 0;
}

[file-navigator-b] [save-input] button span,
.saveButtonContainer button span {
	color: #4d593b;
	display: inline-block;
	padding: 1px 0;
}

[folder-toolbar] {
	padding: 0 20px;
	.new-folder {
		background: #e9e9e9;
		color: $gray;
		padding: 0px 6px;
		width: auto;

		&:hover {
			background: $file-system-border-color;
		}
		i {
			float: left;
		}
		span {
			display: inline-block;
			padding: 8px 6px;
		}
	}

}

.save [current-directory] {
	height: calc(100% - 116px);
	overflow-y: auto;
	padding: 20px 20px 0;
}
.open [current-directory] {
	height: 100%;
	overflow-y: auto;
}

[file-navigator-b] {
	table {
		table-layout: fixed;
		width: 100%;
	}
	td {
		text-overflow: ellipsis;
		white-space: nowrap;

		&:nth-child(5) span {
			float:right;
		}
		&.report-columns {
			white-space: normal;
			text-overflow: clip;
		}
		> span,
		> time {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.report-columns {
			text-overflow: clip;
		}
	}
	td, th {
		&:nth-child(1) {
			padding: 0;
			width: 54px;
		}
		&:nth-child(2) {
			width: 50px;
		}
		&:nth-child(4) {
			width: 34%;
		}
		&:nth-child(5) {
			width: 100px;
		}
	}
	tr {
		border-color: #e9e9e9;
		cursor: pointer;
	}
	thead tr {
		background-color: $file-system-bg;
		height:30px;
	}
	tbody {
		tr {
			color: $gray;
			height:40px;

			&:hover td {
				background-color: $blue-lightest;
				border-color: $file-system-border-color;
			}
			.button {
				background: $file-system-bg;
				border: 1px solid $file-system-border-color;
				border-radius: 3px;
				@include box-shadow( inset 0px 0px 6px 1px $file-system-border-color );
				display: inline-block;
				margin: 1px;
				opacity: 0;
				padding: 3px;
				transition: opacity 200ms ease-in-out;
			}
			&:hover .button {
				opacity: 1;
			}
		}
		.filename > span {
			left:2px;
			position:relative;
			top:2px;
		}
		.editing {
			color: $gray;
			height:40px;
			padding:0;

			> div {
				left:0;
				position:relative;
				top:0;
				width: 100%;
			}
			input {
				height: 33px;
				margin: 2px 0 2px 6px;
				width: 50%;
			}
			.button {
				background: #428bca;
				box-shadow: none;
				color: #fff;
				cursor: pointer;
				opacity:1;
				padding: 6px 10px;
			}
		}
	}
	div.button {
		margin: 0 6px;
	}
	.checkbox-col label {
		margin-left: 17px;
		position: relative;
		top: 4px;
	}
	.report-name {
		font-size: 1.8rem;
	}
}

@include multiline-ellipsis( '.multiline-ellipsis', 3.2rem, 1.6rem, 3rem, '...', 'tr', $blue-lightest );

.fs-button-panel {
	background: $gray-lightest;
	border: none;
	height: 63px;
	margin: 0;
	padding: 10px 57px 0 0;
	text-align: right;
	.btn {
		margin-left: 15px;
	}
}
