<section>
	<aside folder-structure-b class="pull-left folder-structure">
		<section ng-if="fileSystem.searchOn" class="panel-search">
			<form class="search-form">
				<label for="file-search-input">
					<i class="icon-search"></i>
				</label>
				<input id="file-search-input" class="search-input" type="text" ng-model="searchSession.query" ng-focus="showPreviousSearchResults()" placeholder="{{ searchPlaceholderMsg }}">
				<i ng-if="searchIsActive" ng-click="searchSession.reset()" class="icon-close-x"></i>
			</form>
		</section>
		<div ng-if="!searchIsActive && enableMyReports" folder="{{fileSystem.folderStructure.$$hashKey}}" ng-click="fileSystem.setDirectory(fileSystem.folderStructure)" ng-class="{'hide-contents': !fileSystem.folderStructure.open, 'active': fileSystem.activeDirectory === fileSystem.folderStructure.path }">
			<i ng-class="{'arrow-down-icon-active': child.open, 'arrow-right-icon-active': !child.open}"></i>
			<span>{{fileSystem.folderStructure.name}}</span>
		</div>
		<ul ng-if="!searchIsActive">
			<li ng-class="{'open-folder': child.open }" ng-repeat="child in fileSystem.folderStructure.children" ng-include="'directives/fileBrowser/fileSystem.tpl.html'"></li>
		</ul>
		<section ng-if="searchIsActive" class="search-filters">
			<div ng-if="searchSession.hasSelectedFilters()">
				<h3>{{selectedFiltersHeading}}<span ng-click="searchSession.clearSelectedFilters()" class="action pull-right">{{removeAllCopy}}</span></h3>
				<ul class="list-group">
					<li ng-repeat="filter in searchSession.getSelectedFilters()" class="list-group-item">
						<i ng-if="filter.icon" class="icon-chart-{{filter.icon}}"></i> {{filter.copyName}}
						<i class="icon-close-x-alt pull-right" ng-click="searchSession.removeSelectedFilter( filter )"></i>
					</li>
				</ul>
			</div>
			<div ng-if="searchSession.hasFilters()">
				<h3>{{narrowResultsHeading}}</h3>
				<div class="panel-group">
					<div ng-repeat="filterGroup in searchSession.filterGroups" class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-target="#collapse{{$index}}">{{filterGroup.copyName}}</a>
							</h4>
						</div>
						<div id="collapse{{$index}}" class="panel-collapse collapse in">
							<div class="panel-body">
								<div ng-repeat="filter in filterGroup.filters | limitTo: filterGroup.limit" ng-class="{'checkbox': filterGroup.multiSelectable, 'radio': !filterGroup.multiSelectable}">
									<input ng-if="filterGroup.multiSelectable" type="checkbox" id="filter_{{filter.$$hashKey}}" ng-model="filter.selected" ng-change="searchSession.toggleFilter( filter )" name="{{filterGroup.queryName}}" ng-checked="filter.selected">
									<label ng-if="filterGroup.multiSelectable" for="filter_{{filter.$$hashKey}}">
										<i ng-if="filter.icon" class="icon-chart-{{filter.icon}}"></i> {{filter.copyName}} ({{filter.doc_count}})
									</label>

									<input ng-if="!filterGroup.multiSelectable" type="radio" id="filter_{{filter.$$hashKey}}" ng-model="filter.selected" ng-change="searchSession.toggleFilter( filter )" name="{{filterGroup.queryName}}" value="{{$index}}" ng-checked="filter.selected">
									<label ng-if="!filterGroup.multiSelectable" for="filter_{{filter.$$hashKey}}">
										<i ng-if="filter.icon" class="icon-chart-{{filter.icon}}"></i> {{filter.copyName}} ({{filter.doc_count}})
									</label>
								</div>
								<span ng-if="filterGroup.limit < filterGroup.filters.length" ng-click="filterGroup.removeLimit()" class="action">Show more</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</aside>

	<div file-navigator-b class="pull-left" ng-class="fileSystem.navigatorMode">
		<div save-input ng-if="fileSystem.navigatorMode === 'save'">
			<input type="text" class="form-control" ng-model="fileSystem.newFileName">
			<span class="saveValidation">{{fileSystem.saveValidationMessage}}</span>
			<button class="btn" ng-click="fileSystem.save(fileSystem.activeDirectory, fileSystem.newFileName)" ng-disabled="!fileSystem.newFileName.length">
				<i class="save-icon pull-left"></i>
				<span>save</span>
			</button>
		</div>
		<div folder-toolbar class="clearfix" ng-if="fileSystem.navigatorMode === 'save'">
			<div class="new-folder btn btn-default pull-left" ng-click="fileSystem.newFolder()" ng-if="fileSystem.navigatorMode === 'save'">
				<i class="new-folder-icon"></i>
				<span>New Folder</span>
			</div>
			<div class="hide dropdown pull-right" ng-if="fileSystem.navigatorMode === 'open'">
				<i class="arrow-down-icon"></i>
				<span>Sort by: {{ fileSystem.getSortType() }}</span>
			</div>
		</div>
		<div ng-if="searchIsActive" current-directory class="tscroll">
			<div class="tscroll-inner">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Type</th>
							<th>Name</th>
							<th>Columns</th>
							<th>Chart</th>
							<th ng-if="editOn"></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="tscroll-inner">
				<table class="table table-hover">
					<tbody>
						<tr file="{{file.$$hashKey}}" ng-repeat="file in searchSession.hits" ng-click="fileSystem.openFile(file, $event)" ng-class="{ 'row-selected' : fileSystem.isSelected(file) }">
							<td class="checkbox-col">
								<input id="file_{{file.$$hashKey}}" ng-if="fileSystem.multiSelectOn && file.type === 'file'" type="checkbox" ng-checked="fileSystem.isSelected(file)"/>
								<label for="file_{{file.$$hashKey}}" ng-if="fileSystem.multiSelectOn && file.type === 'file'"></label>
								<!-- <span draggable="file" ng-if="file.type === 'file'" class="button"  popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="bottom" popover="drag to move">
									<i class="move-icon"></i>
								</span> -->
							</td>
							<td>
								<i class="{{file.getIconType()}}"></i>
							</td>
							<td ng-class="{'editing': file.editing, 'filename': !file.editing}">
								<span class="report-name" ng-if="!file.editing" ng-bind-html="file.reportName | highlight:searchSession.query"></span>
								<div class="inline-edit" ng-if="file.editing">
									<input type="text" ng-model="file.newName">
									<span class="rename-button button" ng-click="fileSystem.confirmRename(file)">save</span>
								</div>
								<small ng-bind-html="file.directory | highlight:searchSession.query"></small>
							</td>
							<td class="report-columns">
								<div class="multiline-ellipsis">
									<span class="report-columns" ng-bind-html="file.getSortedColumnsAsString(searchSession.query) | highlight:searchSession.query"></span>
								</div>
							</td>
							<td>
								<i class="icon-chart-{{file.getChartType()}} icon-3x"></i>
							</td>
							<td ng-if="editOn">
								<!-- <div class="button" ng-click="fileSystem.copy(file)"><i class="new-file-icon"></i></div> -->
								<span class="button" ng-if="file.type === 'file' && fileSystem.deleteOn" ng-click="fileSystem.delete(file)" popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="bottom" popover="delete">
									<i class="trash-icon"></i>
								</span>
								<span class="button" ng-if="file.type === 'file' && fileSystem.renameOn" ng-click="fileSystem.startRename(file)" popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="bottom" popover="rename">
									<i class="pencil-icon"></i>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<p ng-if="!searchSession.waiting" ng-class="{ 'show-info' : searchSession.hits.length === 0 }" class="empty-directory">{{noSearchResultsMsg}} <b>{{searchSession.query}}</b>.</p>
			</div>
			<i ng-if="searchSession.waiting" class="loading loader-icon"></i>
		</div>
		<div ng-if="!searchIsActive" current-directory class="tscroll">
			<div class="tscroll-inner">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Type</th>
							<th>Name</th>
							<th>Owner</th>
							<th>Date</th>
							<th ng-if="editOn"></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="tscroll-inner">
				<table class="table table-hover">
					<tbody>
						<tr file="{{file.$$hashKey}}" ng-repeat="file in fileSystem.currentDirectoryList" ng-click="fileSystem.openFile(file, $event)" ng-class="{ 'row-selected' : fileSystem.isSelected(file) }">
							<td class="checkbox-col">
								<input id="file_{{file.$$hashKey}}" ng-if="fileSystem.multiSelectOn && file.type === 'file'" type="checkbox" ng-checked="fileSystem.isSelected(file)"/>
								<label for="file_{{file.$$hashKey}}" ng-if="fileSystem.multiSelectOn && file.type === 'file'"></label>
								<!-- <span draggable="file" ng-if="file.type === 'file'" class="button"  popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="bottom" popover="drag to move">
									<i class="move-icon"></i>
								</span> -->
							</td>
							<td>
								<i class="{{file.getIconType()}}"></i>
							</td>
							<td ng-class="{'editing': file.editing, 'filename': !file.editing}">
								<span ng-if="!file.editing">{{file.reportName}}</span>
								<div class="inline-edit" ng-if="file.editing">
									<input type="text" ng-model="file.newName">
									<span class="rename-button button" ng-click="fileSystem.confirmRename(file)">save</span>
								</div>
							</td>
							<td>
								<span>{{file.owner}}</span>
							</td>
							<td>
								<time datetime="{{file.modified | date:'yyyy-MM-ddTHH:mm:ssZ'}}">{{ file.modified | date:'MM/dd/yyyy' }}</time>
							</td>
							<td ng-if="editOn">
								<!-- <div class="button" ng-click="fileSystem.copy(file)"><i class="new-file-icon"></i></div> -->
								<span class="button" ng-if="file.type === 'file' && fileSystem.deleteOn" ng-click="fileSystem.delete(file)" popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="bottom" popover="delete">
									<i class="trash-icon"></i>
								</span>
								<span class="button" ng-if="file.type === 'file' && fileSystem.renameOn" ng-click="fileSystem.startRename(file)" popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="bottom" popover="rename">
									<i class="pencil-icon"></i>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<p ng-class="{ 'show-info' : fileSystem.currentDirectoryList.length === 0 }" class="empty-directory">{{ emptyMsg }}</p>
			</div>
			<i ng-if="opening" class="loading loader-icon"></i>
		</div>
	</div>

	<fieldset class="fs-button-panel" ng-if="fileSystem.buttonPanelOn">
		<button class="btn btn-large btn-default" ng-click="fileSystem.closeNavigator()" lm="CANCEL"></button>
		<button class="btn btn-large btn-primary" ng-click="fileSystem.closeNavigator(true)" lm="DONE"></button>
	</fieldset>

	<div ng-if="fileSystem.closeButtonOn" close ng-click="fileSystem.closeNavigator()">
		<i class="close-btn pull-left"></i>
	</div>

<!-- 	<div class="modal-dialog" modal-dialog="fileSystem.modal.showModal">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" ng-click="fileSystem.cancelCallback()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">{{fileSystem.modal.title}}</h4>
		  </div>
		  <div class="modal-body">
			<p>{{fileSystem.modal.text}}</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" ng-click="fileSystem.modal.cancelCallback()" class="btn btn-default" data-dismiss="modal">{{cancelButtonText || 'Cancel'}}</button>
			<button type="button" ng-click="fileSystem.modal.successCallback()" class="btn btn-danger">{{fileSystem.modal.successButtonText}}</button>
		  </div>
		</div>
	</div>
 -->
</section>
