<div ng-click="fileSystem.setDirectory(child)" ng-class="{'hide-contents': !child.open, 'active': fileSystem.activeDirectory === child.path, 'icon-triangle-down': child.open, 'icon-triangle-right': !child.open }" ng-style="{ paddingLeft : child.level * 15 }" class="folder">
	<i class="icon-folder"></i> {{child.name}}
</div>
<ul>
	<li ng-class="{'open-folder': child.open }" ng-repeat="child in child.children" ng-include="'directives/fileBrowser/fileSystem.tpl.html'"></li>
</ul>
