<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.birst.com/" targetNamespace="http://www.birst.com/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.birst.com/">
      <s:element name="GetSources">
        <s:complexType/>
      </s:element>
      <s:element name="GetSourcesResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetSourcesResult" type="tns:AdminRepository"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdminRepository">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="Automatic" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="0" name="TimeDimensionName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Hierarchies" type="tns:ArrayOfHierarchy"/>
          <s:element maxOccurs="1" minOccurs="0" name="Sources" type="tns:ArrayOfAdminDataSource"/>
          <s:element maxOccurs="1" minOccurs="0" name="RepositoryPath" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHierarchy">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Hierarchy" nillable="true" type="tns:Hierarchy"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hierarchy">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="DimensionName" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="DimensionKeyLevel" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="ExclusionFilter" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="NoMeasureFilter" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="Children" type="tns:ArrayOfLevel"/>
              <s:element maxOccurs="1" minOccurs="0" name="SharedChildren" type="tns:ArrayOfString"/>
              <s:element maxOccurs="1" minOccurs="1" name="AutoGenerated" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="1" name="GeneratedTime" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="1" name="Hidden" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="1" name="Locked" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="1" name="ProcessedDependencies" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="0" name="SourceGroups" type="s:string"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType abstract="true" name="BaseObject"/>
      <s:complexType name="StagingAggregation">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="Type" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="Default" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="ValueList" type="tns:ArrayOfString"/>
              <s:element maxOccurs="1" minOccurs="0" name="SetList" type="tns:ArrayOfArrayOfString"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="StagingColumnGrainInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="Dimension" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="Level" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="StagingFilterName" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="NewName" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="1" name="NewNameType" type="s:int"/>
              <s:element maxOccurs="1" minOccurs="0" name="Aggregation" type="tns:StagingAggregation"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Transformation">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="1" name="ExecuteAfter" type="s:int"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Expression">
        <s:complexContent mixed="false">
          <s:extension base="tns:Transformation">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="Formula" type="s:string"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TableLookup">
        <s:complexContent mixed="false">
          <s:extension base="tns:Transformation">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="Formula" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="LookupTable" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="JoinCondition" type="s:string"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DateID">
        <s:complexContent mixed="false">
          <s:extension base="tns:Transformation">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="DateExpression" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="1" name="DateType" type="s:int"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Rank">
        <s:complexContent mixed="false">
          <s:extension base="tns:Transformation">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="1" name="Type" type="s:int"/>
              <s:element maxOccurs="1" minOccurs="1" name="NTileNum" type="s:int"/>
              <s:element maxOccurs="1" minOccurs="0" name="PartitionByColumns" type="tns:ArrayOfString"/>
              <s:element maxOccurs="1" minOccurs="0" name="OrderByColumns" type="tns:ArrayOfString"/>
              <s:element maxOccurs="1" minOccurs="0" name="OrderByAscending" type="tns:ArrayOfBoolean"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfBoolean">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="boolean" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="StagingColumn">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="DataType" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="1" name="Width" type="s:int"/>
              <s:element maxOccurs="1" minOccurs="0" name="SourceFileColumn" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="Transformations" type="tns:ArrayOfChoice1"/>
              <s:element maxOccurs="1" minOccurs="0" name="TargetTypes" type="tns:ArrayOfString"/>
              <s:element default="false" maxOccurs="1" minOccurs="0" name="NaturalKey" type="s:boolean"/>
              <s:element default="false" maxOccurs="1" minOccurs="0" name="GenerateTimeDimension" type="s:boolean"/>
              <s:element default="false" maxOccurs="1" minOccurs="0" name="Index" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="0" name="GrainInfo" type="tns:ArrayOfStagingColumnGrainInfo"/>
              <s:element maxOccurs="1" minOccurs="0" name="UnknownValue" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="0" name="TargetAggregations" type="tns:ArrayOfString"/>
              <s:element default="false" maxOccurs="1" minOccurs="0" name="ExcludeFromChecksum" type="s:boolean"/>
              <s:element default="false" maxOccurs="1" minOccurs="0" name="TableKey" type="s:boolean"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfChoice1">
        <s:choice maxOccurs="unbounded" minOccurs="0">
          <s:element maxOccurs="1" minOccurs="1" name="TableLookup" nillable="true" type="tns:TableLookup"/>
          <s:element maxOccurs="1" minOccurs="1" name="DateID" nillable="true" type="tns:DateID"/>
          <s:element maxOccurs="1" minOccurs="1" name="Rank" nillable="true" type="tns:Rank"/>
          <s:element maxOccurs="1" minOccurs="1" name="Expression" nillable="true" type="tns:Expression"/>
        </s:choice>
      </s:complexType>
      <s:complexType name="ArrayOfStagingColumnGrainInfo">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="StagingColumnGrainInfo" nillable="true" type="tns:StagingColumnGrainInfo"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="LevelKey">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="1" name="SurrogateKey" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="0" name="ColumnNames" type="tns:ArrayOfString"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Level">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
              <s:element maxOccurs="1" minOccurs="1" name="Cardinality" type="s:int"/>
              <s:element maxOccurs="1" minOccurs="0" name="ColumnNames" type="tns:ArrayOfString"/>
              <s:element maxOccurs="1" minOccurs="0" name="HiddenColumns" type="tns:ArrayOfBoolean"/>
              <s:element maxOccurs="1" minOccurs="0" name="Children" type="tns:ArrayOfLevel"/>
              <s:element maxOccurs="1" minOccurs="0" name="Keys" type="tns:ArrayOfLevelKey"/>
              <s:element maxOccurs="1" minOccurs="0" name="SharedChildren" type="tns:ArrayOfString"/>
              <s:element maxOccurs="1" minOccurs="1" name="GenerateDimensionTable" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="1" name="Degenerate" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="1" name="SCDType" type="s:int"/>
              <s:element maxOccurs="1" minOccurs="1" name="GenerateInheritedCurrentDimTable" type="s:boolean"/>
              <s:element maxOccurs="1" minOccurs="1" name="Locked" type="s:boolean"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfLevel">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Level" nillable="true" type="tns:Level"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLevelKey">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="LevelKey" nillable="true" type="tns:LevelKey"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdminDataSource">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="AdminDataSource" nillable="true" type="tns:AdminDataSource"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdminDataSource">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="DisplayName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Status" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="StatusMessage" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Enabled" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="LastUploadDate" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="NumColumns" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="NumRows" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="FileSize" type="s:long"/>
          <s:element maxOccurs="1" minOccurs="1" name="FileExists" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="ReadOnly" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="Transactional" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="TruncateOnLoad" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="LockFormat" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="0" name="Levels" type="tns:ArrayOfArrayOfString"/>
          <s:element maxOccurs="1" minOccurs="0" name="StagingColumns" type="tns:ArrayOfStagingColumn"/>
          <s:element maxOccurs="1" minOccurs="0" name="Script" type="tns:ScriptDefinition"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStagingColumn">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="StagingColumn" nillable="true" type="tns:StagingColumn"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScriptDefinition">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="InputQuery" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Output" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Script" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="saveRepository">
        <s:complexType/>
      </s:element>
      <s:element name="saveRepositoryResponse">
        <s:complexType/>
      </s:element>
      <s:element name="saveStagingColumn">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="tableName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="sc" type="tns:StagingColumn"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveStagingColumnResponse">
        <s:complexType/>
      </s:element>
      <s:element name="saveHierarchy">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="h" type="tns:Hierarchy"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveHierarchyResponse">
        <s:complexType/>
      </s:element>
      <s:element name="removeHierarchy">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="hname" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeHierarchyResponse">
        <s:complexType/>
      </s:element>
      <s:element name="saveLevel">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="hierarchyName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="l" type="tns:Level"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveLevelResponse">
        <s:complexType/>
      </s:element>
      <s:element name="saveDataSource">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="name" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="levels" type="tns:ArrayOfArrayOfString"/>
            <s:element maxOccurs="1" minOccurs="1" name="enabled" type="s:boolean"/>
            <s:element maxOccurs="1" minOccurs="1" name="transactional" type="s:boolean"/>
            <s:element maxOccurs="1" minOccurs="1" name="truncateonload" type="s:boolean"/>
            <s:element maxOccurs="1" minOccurs="1" name="lockformat" type="s:boolean"/>
            <s:element maxOccurs="1" minOccurs="0" name="script" type="tns:ScriptDefinition"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveDataSourceResponse">
        <s:complexType/>
      </s:element>
      <s:element name="removeDataSource">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="name" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeDataSourceResponse">
        <s:complexType/>
      </s:element>
      <s:element name="getRawData">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="sourceName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="startRow" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="1" name="endRow" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRawDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="getRawDataResult" type="tns:ArrayOfArrayOfString"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="removeDataSourceSoapOut">
    <wsdl:part element="tns:removeDataSourceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveLevelSoapOut">
    <wsdl:part element="tns:saveLevelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveRepositorySoapIn">
    <wsdl:part element="tns:saveRepository" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveDataSourceSoapOut">
    <wsdl:part element="tns:saveDataSourceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveRepositorySoapOut">
    <wsdl:part element="tns:saveRepositoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeDataSourceSoapIn">
    <wsdl:part element="tns:removeDataSource" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawDataSoapOut">
    <wsdl:part element="tns:getRawDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeHierarchySoapOut">
    <wsdl:part element="tns:removeHierarchyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveLevelSoapIn">
    <wsdl:part element="tns:saveLevel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRawDataSoapIn">
    <wsdl:part element="tns:getRawData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveStagingColumnSoapIn">
    <wsdl:part element="tns:saveStagingColumn" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeHierarchySoapIn">
    <wsdl:part element="tns:removeHierarchy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSourcesSoapIn">
    <wsdl:part element="tns:GetSources" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveDataSourceSoapIn">
    <wsdl:part element="tns:saveDataSource" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveHierarchySoapOut">
    <wsdl:part element="tns:saveHierarchyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSourcesSoapOut">
    <wsdl:part element="tns:GetSourcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveHierarchySoapIn">
    <wsdl:part element="tns:saveHierarchy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveStagingColumnSoapOut">
    <wsdl:part element="tns:saveStagingColumnResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="GetSources">
      <wsdl:input message="tns:GetSourcesSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:GetSourcesSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRepository">
      <wsdl:input message="tns:saveRepositorySoapIn">
    </wsdl:input>
      <wsdl:output message="tns:saveRepositorySoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveStagingColumn">
      <wsdl:input message="tns:saveStagingColumnSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:saveStagingColumnSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveHierarchy">
      <wsdl:input message="tns:saveHierarchySoapIn">
    </wsdl:input>
      <wsdl:output message="tns:saveHierarchySoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeHierarchy">
      <wsdl:input message="tns:removeHierarchySoapIn">
    </wsdl:input>
      <wsdl:output message="tns:removeHierarchySoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveLevel">
      <wsdl:input message="tns:saveLevelSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:saveLevelSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDataSource">
      <wsdl:input message="tns:saveDataSourceSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:saveDataSourceSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDataSource">
      <wsdl:input message="tns:removeDataSourceSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:removeDataSourceSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRawData">
      <wsdl:input message="tns:getRawDataSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getRawDataSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSources">
      <soap12:operation soapAction="http://www.birst.com/GetSources" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRepository">
      <soap12:operation soapAction="http://www.birst.com/saveRepository" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveStagingColumn">
      <soap12:operation soapAction="http://www.birst.com/saveStagingColumn" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveHierarchy">
      <soap12:operation soapAction="http://www.birst.com/saveHierarchy" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeHierarchy">
      <soap12:operation soapAction="http://www.birst.com/removeHierarchy" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveLevel">
      <soap12:operation soapAction="http://www.birst.com/saveLevel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDataSource">
      <soap12:operation soapAction="http://www.birst.com/saveDataSource" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDataSource">
      <soap12:operation soapAction="http://www.birst.com/removeDataSource" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRawData">
      <soap12:operation soapAction="http://www.birst.com/getRawData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSources">
      <soap:operation soapAction="http://www.birst.com/GetSources" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRepository">
      <soap:operation soapAction="http://www.birst.com/saveRepository" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveStagingColumn">
      <soap:operation soapAction="http://www.birst.com/saveStagingColumn" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveHierarchy">
      <soap:operation soapAction="http://www.birst.com/saveHierarchy" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeHierarchy">
      <soap:operation soapAction="http://www.birst.com/removeHierarchy" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveLevel">
      <soap:operation soapAction="http://www.birst.com/saveLevel" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDataSource">
      <soap:operation soapAction="http://www.birst.com/saveDataSource" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDataSource">
      <soap:operation soapAction="http://www.birst.com/removeDataSource" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRawData">
      <soap:operation soapAction="http://www.birst.com/getRawData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port binding="tns:AdminServiceSoap12" name="AdminServiceSoap12">
      <soap12:address location="http://localhost:57747/AdminService.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:AdminServiceSoap" name="AdminServiceSoap">
      <soap:address location="http://localhost:57747/AdminService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>