.legend{
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 2px 1px 8px #bbb;
	.legend-container{
		text-align: left;
		border-top: 1px solid #ddd;
		padding: 6px 0px 3px;
		color: #777;
		margin: 0 10px;
		font-size: 12px;
		line-height: 18px;
		&:first-child{
			border-top: 0;
		}
		.legend-collapse-toggle{
			display: inline-block;
			text-align: center;
			color: white;
			background-color: gray;
			width: 16px;
			height: 16px;
			font-size: 14px;
			line-height: 14px;
			margin-left: 5px;
			cursor: pointer;
			vertical-align: top;
			margin-top: 2px;
			.plus{
				display: none;
			}
		}
		.legend-title{
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			height: 24px;
			line-height: 20px;
			color: #555;
			font-weight: bold;
		}
		.legend-item{
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			height: 24px;
			.legend-color-icon{
				display: inline-block;
				vertical-align: middle;
				width: 14px;
				height: 14px;
			}
			.legend-size-icon{
				display: inline-block;
				vertical-align: top;
			}
			.legend-gradient-start, .legend-gradient-end{
				display: inline-block;
				height: 22px;
				line-height: 22px;
				float: left;
			}
			.legend-color-gradient{
				display: inline-block;
				height: 22px;
				width: 150px;
				margin: 0 5px;
			}
			.legend-size-gradient{
            	display: inline-block;
				border-right: 150px solid #999;
				border-top: 20px solid transparent;
				margin: 0 5px;
				float: left;
			}
			.legend-item-title{
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
			}
		}
		.legend-dotdotdot{
			display: none !important;
			vertical-align: middle;
			margin-left: 5px;
			color: #777;
		}


		&.collapsed{
			.legend-collapse-toggle{
				.minus{
					display: none;
				}
				.plus{
					display: inherit;
				}
			}
			.legend-dotdotdot{
				display: inline-block !important;
			}
			.legend-hidden-item{
				display: none !important;
			}
		}

	}
}
