@charset "utf-8";
/*
Birst.com
Title: Default CSS
Date: March 2009
Website:  http://www.birst.com/
Author:  Pasquale Scerbo (pasquale@waveactive.com / pscerbo@leftlanecreative.com)
*/

/*----------------- CSS NORMALIZER -----------------*/
/*
- cancels default styles applied to page elements
- adjusts default elements between browsers to same baseline
*/
div, dl, dt, dd, ul, ol, li, pre, hr, form, fieldset, input, th, td {margin:0; padding:0;}
address, caption, cite, code, dfn, th, var {font-style:normal; font-weight:normal;}
table {border-collapse:collapse; border-spacing:0; font-size:inherit; font-size:100%;}
select, input, textarea {font:99% verdana,geneva,sans-serif;}
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-size:100%; font-wei/hr-gray.gifght:normal;}
fieldset, img {border:0;}
img {vertical-align:middle;}
select, .inputStyle {border:1px solid #7F9DB9; background:#FFF; padding:.1em; margin:.1em 0 .1em .2em;}
legend {display:none;}
.skipNavigation {position:absolute; left:0px; top:-500px; overflow:hidden;}
select {background:#FFF;}
.floatLeft    { float: left; }
.floatRight { float: right; }
.png    { _behavior: url(/common/css/iepngfix.htc); }
.cleaner    { clear: both; }
.clear1    { clear: both; height: 1px; font-size: 1%; _height: 0; }
.clear5    { clear: both; height: 5px; }
.clear10    { clear: both; height: 10px; }
.clear20    { clear: both; height: 20px; }
a    { outline: none; }
label { cursor: pointer; }

/*----------------- DEFAULT -----------------*/
body    { background: url(img/bg-main.jpg) repeat-x #FFF; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; _behavior: url("/common/css/csshover.htc"); }

a		{ text-decoration: underline; color: #cc6600; }
a:hover	{ text-decoration: none; }

a.arrow			{ background: url(img/blt-arrow.gif) no-repeat right 4px; padding-right: 10px; text-decoration: underline; color: #cc6600; }
a.arrow:hover	{ text-decoration: none; }

/*----------------- CONTAINERS -----------------*/
#container			{ width: 952px; margin: auto; padding-top: 19px; }
#container .top		{ height: 20px; width: 952px; background: url(img/canvas-top.gif) no-repeat; margin-left: 5px; }
#container .wrapper	{ clear: both; float: left; background: url(img/bg-canvas.jpg) no-repeat; margin-left: 6px; _margin-left: 3px; }
#container .margins	{ padding: 0 28px 10px 28px; _padding: 0 28px 10px 32px; width: 896px; }

/*----------------- HEADER -----------------*/
#header				{ width: 889px; height: 51px; float: left; position: relative; }
#header .logo		{ width: 156px; height: 51px; }
#header .navPromo 	{ position: absolute; top: 21px; right: 0; }
/*----------------- MAIN NAV -----------------*/
#navWrap	{ width: 889px; height: 33px; background: url(img/bg-nav.gif); background-repeat: repeat-x; float: left; }

#menunav 		{ padding: 0; margin: 0; list-style: none; height: 33px; position: relative; z-index: 500; }
#menunav li 	{ float: left; /*margin-right: 1px;*/ }
#menunav li a  { display: block; float: left; height: 33px; color: #ccc; text-decoration: none; font-size: 11px; font-weight: normal; }

#menunav li a#products		{ background: url(img/menu-products.gif) 0 0 no-repeat; width: 103px; height: 33px; text-indent: -9999px; }
#menunav li a#solutions	{ background: url(img/menu-solutions.gif) 0 0 no-repeat; width: 104px; height: 33px; text-indent: -9999px; }
#menunav li a#signup		{ background: url(img/menu-signup.gif) 0 0 no-repeat; width: 81px; height: 33px; text-indent: -9999px; }
#menunav li a#stories		{ background: url(img/menu-stories.gif) 0 0 no-repeat; width: 138px; height: 33px; text-indent: -9999px; }
#menunav li a#partners		{ background: url(img/menu-partners.gif) 0 0 no-repeat; width: 97px; height: 33px; text-indent: -9999px; }
#menunav li a#about		{ background: url(img/menu-about.gif) 0 0 no-repeat; width: 96px; height: 33px; text-indent: -9999px; }
#menunav li a#becomepartner{ background: url(img/menu-becomepartner.gif) 0 0 no-repeat; width: 156px; height: 33px; text-indent: -9999px; }
#menunav li a#support		{ background: url(img/menu-support.gif) 0 0 no-repeat; width: 83px; height: 33px; text-indent: -9999px; }

#menunav table { border-collapse: collapse; width: 0; height: 0; position: absolute; top: 0; left: 0; }

/* Style the list OR link hover. Depends on which browser is used */
#menunav li a:hover 				{ z-index: 200; position: relative; color: #fff; background-color: #c60; }
#menunav li a:hover#products 		{ background: url(img/menu-products.gif) 0 -33px no-repeat; width: 103px; height: 33px; text-indent: -9999px; }
#menunav li a:hover#solutions		{ background: url(img/menu-solutions.gif) 0 -33px no-repeat; width: 104px; height: 33px; text-indent: -9999px; }
#menunav li a:hover#signup			{ background: url(img/menu-signup.gif) 0 -33px no-repeat; width: 81px; height: 33px; text-indent: -9999px; }
#menunav li a:hover#stories		{ background: url(img/menu-stories.gif) 0 -33px no-repeat; width: 138px; height: 33px; text-indent: -9999px; }
#menunav li a:hover#partners		{ background: url(img/menu-partners.gif) 0 -33px no-repeat; width: 97px; height: 33px; text-indent: -9999px; }
#menunav li a:hover#about			{ background: url(img/menu-about.gif) 0 -33px no-repeat; width: 96px; height: 33px; text-indent: -9999px; }
#menunav li a:hover#becomepartner	{ background: url(img/menu-becomepartner.gif) 0 -33px no-repeat; width: 156px; height: 33px; text-indent: -9999px; }
#menunav li a:hover#support		{ background: url(img/menu-support.gif) 0 -33px no-repeat; width: 83px; height: 33px; text-indent: -9999px; }

#menunav li:hover 			{ position: relative; z-index: 200; }

#menunav li:hover > a 		{ color: #fff; background: #c60; }
#menunav li:hover > a.sub 	{ color: #fff; background-color: #c60; }

#menunav li.current a 				{ background-position: 0 -33px; }
#menunav li.current a#products 	{ background: url(img/menu-products.gif) 0 -33px no-repeat; width: 103px; height: 33px; text-indent: -9999px; }
#menunav li.current a#solutions	{ background: url(img/menu-solutions.gif) 0 -33px no-repeat; width: 104px; height: 33px; text-indent: -9999px; }
#menunav li.current a#signup		{ background: url(img/menu-signup.gif) 0 -33px no-repeat; width: 81px; height: 33px; text-indent: -9999px; }
#menunav li.current a#stories		{ background: url(img/menu-stories.gif) 0 -33px no-repeat; width: 138px; height: 33px; text-indent: -9999px; }
#menunav li.current a#partners		{ background: url(img/menu-partners.gif) 0 -33px no-repeat; width: 97px; height: 33px; text-indent: -9999px; }
#menunav li.current a#about		{ background: url(img/menu-about.gif) 0 -33px no-repeat; width: 96px; height: 33px; text-indent: -9999px; }
#menunav li.current a#becomepartner{ background: url(img/menu-becomepartner.gif) 0 -33px no-repeat; width: 156px; height: 33px; text-indent: -9999px; }
#menunav li.current a#support		{ background: url(img/menu-support.gif) 0 -33px no-repeat; width: 83px; height: 33px; text-indent: -9999px; }

#menunav li a.sub 			{ background: #333 url(down-arrow.gif) no-repeat right center; }
#menunav li.current a.sub 	{ color: #fff; background: #840 url(down-arrow.gif) no-repeat right center; }

#menunav :hover ul 		{ left: 0; top: 33px; width: 160px; background: #FFF; }

/* keep the 'next' level invisible by placing it off screen. */
#menunav ul, 
#menunav :hover ul ul 	{ position: absolute; left: -9999px; top: -9999px; width: 0; height: 0; margin: 0; padding: 0; list-style: none; }

#menunav ul.borders	{ border: 1px solid #ccc; border-width: 0 1px 1px 1px; padding: 5px 0; height: auto; }

#menunav ul		{ padding: 5px 0 10px 0; }

#menunav :hover ul :hover ul 	{ left: 160px; top: -1px; background: #FFF; white-space: nowrap; width: 160px; z-index: 200; height: auto; }

/*sub*/
#menunav :hover ul li 		{ margin: 0; background: #FFF; }
#menunav :hover ul li a 	{ background: url(img/arrow-green.gif) no-repeat 10px 10px #FFF; padding-left: 25px; width: 135px; color: #000; height: 24px; line-height: 25px; }
/*#menunav :hover ul li a.fly 	{ background: #FFF; color: #000; }*/

/*sub - hover*/
#menunav :hover ul :hover 			{ background: url(img/arrow-orange.gif) no-repeat 10px 10px #f5f5f5; color: #cc6600; }
/*#menunav :hover ul :hover a.fly 	{ background-color: #f5f5f5; color: #cc6600; }*/

#menunav :hover ul li.currentsub a 	{ background: #840; color: #fff;}
#menunav :hover ul li.currentsub a.fly { background: #840 url(right-arrow.gif) no-repeat right center; color: #fff; }

/*sub sub*/
#menunav :hover ul :hover ul li a 		{ width: 160px; padding: 0; text-indent: 10px; background: #FFF; color: #000; }
#menunav :hover ul :hover ul :hover 	{ background-color: #f5f5f5; color: #cc6600; }

#menunav :hover ul :hover ul li.currentfly a,
#menunav :hover ul :hover ul li.currentfly a:hover { background: #840; color: #fff; }

/*----------------- HERO -----------------*/
#hero	{ width: 889px; height: 280px; float: left; clear: both; margin: 9px 0 11px 0; }
#hero .taketour	{ background: url(img/btn-taketour-home.gif) no-repeat; position: absolute; top: 184px; _top: 186px; left: 298px; height: 21px; width: 100px; cursor:pointer; }
#hero .quickdemo	{ background: url(img/btn-livedemo-home.gif) no-repeat; position: absolute; top: 184px; _top: 186px; left: 406px; height: 21px; width: 100px; cursor:pointer; }
#hero .signup	{ background: url(img/btn-freesignup-home.gif) no-repeat; position: absolute; top: 184px; _top: 186px; left: 514px; height: 21px; width: 100px; cursor:pointer; }

/*----------------- MODULES -----------------*/
#moduleWrap 		{ clear: both; width: 889px; font-size: 11px; float: left; } /*home page only*/
#moduleWrap .spacer	{ float: left; width: 1px; border: 1px solid #FFF; } /*tricky spacing on home page*/

.moduleBox				{ float: left; height: 146px; margin-right: 3px; }
.last					{ margin-right: 0; }
.moduleBox.plain		{ width: 170px; background: url(img/moduleBox-plain.jpg) no-repeat; padding: 9px 25px 10px 25px; }
.moduleBox.simple		{ width: 192px; background: url(img/moduleBox-plain.jpg) no-repeat; padding: 12px 10px 10px 18px; float: left; }
.moduleBox.blueLogo		{ width: 170px; background: url(img/moduleBox-blueLogo.jpg) no-repeat; padding: 9px 25px 10px 25px; }
.moduleBox.orangeLogo	{ width: 170px; background: url(img/moduleBox-orangeLogo.jpg) no-repeat; padding: 9px 25px 10px 25px; }

.moduleBox .title		{ color: #666; font-weight: bold; clear: both; padding-bottom: 14px; }
.moduleBox strong		{ color: #666; }
.moduleBox p			{ margin: 0; padding: 4px 0 8px 0; line-height: 12px; font-size: 11px; color: #999; }
.moduleBox .link		{ margin-left: 18px; }

.moduleBox.plain ul	{ margin: 0; padding: 0; list-style: none; }
.moduleBox.plain li	{ background: url(img/blt-orange.gif) no-repeat 3px 8px; padding-left: 12px; font-size: 11px; color: #999; text-decoration: none; line-height: 17px; _line-height: 15px; display: block; _width: 146px; }
.moduleBox.plain li	a { font-size: 11px; color: #cc6600; text-decoration: underline; line-height: 17px; _line-height: 15px; display: block; }
.moduleBox.plain li	a:hover	{ text-decoration: underline; }

.quote		{ background: url(img/up-quotes.gif) no-repeat; padding-left: 18px; font-size: 12px; margin-bottom: 8px; }
.imgQuote	{ dispaly: block; text-align: center; margin: 6px 0; }

.moduleBox .tab			{ height: 19px; background: url(img/moduleTab-right.gif) no-repeat right; float: left; margin-bottom: 10px; }
.moduleBox .tabLeft		{ height: 16px; background: url(img/moduleTab-left.gif) no-repeat; float: left; padding: 3px 8px 0 8px; color: #fff; font-size: 10px; text-transform: uppercase; }

/*Bottom Promo on Home Page*/
.botPromo		{ clear: both; float: left; width: 890px; background: url(img/botPromo.gif) no-repeat; position: relative; color: #999; font-size: 11px; }
.botPromo .bot		{ background: url(img/botPromoBot.gif) no-repeat bottom left; min-height: 65px; _height: 65px; padding: 12px 16px; }
.botPromo h2		{ font-size: 11px; color: #cc6600; font-weight: bold; text-transform: uppercase; margin: 0 0 11px 0; padding: 0; }
.botPromo .left		{ float: left; width: 400px; border-right: 1px solid #FFF; padding-right: 28px; }
.botPromo .right 	{ float: left; width: 390px; border-left: 1px solid #CCC; padding-left: 28px; }
.botPromo .right p	{ line-height: 15px; }

.date	{ float: left; width: 56px; line-height: 15px; }
.news	{ float: left; width: 340px; line-height: 15px; }

/*----------------- CONTENT PAGE -----------------*/
#contentWrap	{ float: left; width: 938px; margin: 10px 0 50px 7px; _margin: 10px 0 50px 3px; }

/*Left Column*/
#leftCol			{ float: left; width: 161px; margin-right: 19px; padding-top: 28px; margin-left: -1px; }
#leftCol .navTop	{ background: url(img/bg-leftcol-top.gif) no-repeat; padding-top: 12px; }
#leftCol #nav		{ border-right: 1px solid #e8e8e8; background: #FFF; width: 159px; }

/*level one*/
#leftCol #nav ul			{ margin: 0; padding: 0; list-style: none; font-size: 11px; }
#leftCol #nav li a			{ background: url(img/arrow-green.gif) no-repeat 12px 9px; display: block; text-decoration: none; color: #333; padding: 5px 0 5px 28px; margin: 0; _height: 10px; }
#leftCol #nav li a:hover	{ background: url(img/arrow-orange.gif) no-repeat 12px 9px #f5f5f5; color: #cc6600; padding: 5px 0 5px 28px; }

/*level two*/
#leftCol #nav ul ul				{ padding-left: 0px; margin: 0; padding: 0; background: #FFF; }
#leftCol #nav ul ul li a		{ background: url(img/arrow-green.gif) no-repeat 26px 9px; padding-left: 42px; }
#leftCol #nav ul ul li a:hover	{ padding-left: 42px; background: url(img/arrow-orange.gif) no-repeat 26px 9px #f5f5f5; }

/*level three*/
#leftCol #nav ul ul ul				{ padding-left: 0px; margin: 0; padding: 0; background: #FFF; }
#leftCol #nav ul ul li li a			{ background: url(img/arrow-green.gif) no-repeat 42px 9px; padding-left: 58px; }
#leftCol #nav ul ul li li a:hover	{ padding-left: 58px; background: url(img/arrow-orange.gif) no-repeat 42px 9px #f5f5f5; }



#leftCol .navBot	{ background: url(img/bg-leftcol-bottom.gif) no-repeat bottom; padding-bottom: 11px; } 

/*Center Column*/
#centerCol			{ float: left; width: 495px; margin-right: 21px; color: #000; }
#centerCol p		{ line-height: 18px; margin: 0 0 18px 0; }
#centerCol .hline	{ font-size: 14px; color: #000; padding-top: 15px; }
#centerCol .hline span	{ font-size: 18px; color: #d36c07; }
#centerCol .small	{ font-size: 11px; margin-top: 5px; }


#centerCol .headline		{ padding-bottom: 0px; }
#centerCol .headline h1 	{ margin: 0 0 12px 0; padding: 0; color: #2f902f; font-size: 28px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
#centerCol .headline h2		{ margin: 0 0 0px 0; padding: 0; color: #d36c07; font-size: 20px; font-family: Arial, Helvetica, sans-serif; }
#centerCol .headline h3		{ margin: 0; padding: 0; color: #282828; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; }

#centerCol h1.press	{ margin: 0 0 12px 0; padding: 0; color: #2f902f; font-size: 23px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

#centerCol .content			{ padding-top: 20px; }
#centerCol .content h2		{ margin: 30px 0 0 0; padding: 0; color: #d36c07; font-size: 20px; font-family: Arial, Helvetica, sans-serif; }
#centerCol .content h2.nmtop	{ margin-top: 0; }

#centerCol h2 .press	{ text-align: right; }
#centerCol h3	{ margin: 0 0 5px 0; padding: 0; color: #282828; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

/*#centerCol h1		{ margin: 0 0 15px 0; padding: 0; color: #2f902f; font-size: 28px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
#centerCol h3		{ margin: 5px 0 10px 0; padding: 0; color: #282828; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; }*/


#centerCol .content ul	{ margin: 10px 0 0 0; padding: 0; list-style: none; }
#centerCol .content li	{ background: url(img/square-bullet.gif) no-repeat 3px 8px; padding-left: 15px; line-height: 18px; }

#centerCol .content ul.special	{ margin: 0; padding: 0; list-style: none; }
#centerCol .content ul.special li	{ padding-bottom: 20px; }

#centerCol .content ol	{ margin: 0; padding: 0; margin-left: 20px; }
#centerCol .content ol li	{ padding-left: 0px; background: none; padding-bottom: 15px; }

#centerCol .box		{ width: 471px; background: url(img/bg-box-top.gif) no-repeat; float: left; padding: 10px 0; font-size: 11px; clear: both; }
#centerCol .box .bb	{ float: left; width: 446px; background: url(img/bg-box-bottom.gif) no-repeat bottom; padding: 0 10px 10px 15px; }
#centerCol .box .bb .left		{ float: left; width: 230px; margin-right: 15px; text-align: center; }
#centerCol .box .bb .right		{ float: left; width: 190px; padding-top: 5px; color: #333; }
#centerCol .box .bb .right p	{ margin-top: 0; line-height: 16px; }

#centerCol .lgbox			{ background: url(img/bg-lgbox-bottom.jpg) no-repeat bottom; float: left; margin-bottom: 30px; }
#centerCol .lgbox .boxtop	{ width: 471px; background: url(img/bg-lgbox-top.jpg) no-repeat; float: left; min-height: 500px; _height: 500px; }

table.compare				{ margin: 0; padding: 0; width: 470px; font-size: 11px; }
table.compare tr td			{ padding: 4px 0; }
table.compare td.bg			{ background: url(img/bg-orange.gif) repeat-x bottom #fffbf7; line-height: 20px; padding: 5px 0; }
table.compare td.last		{ padding-right: 1px; } /*can be removed from table and style deleted*/

table.compare td.tdleft 	{ width: 128px; padding: 0 10px; border-right: 1px solid #CCC; vertical-align: top; }
table.compare td.tdright 	{ vertical-align: top; line-height: 20px; width: 128px; padding: 0px 10px; text-align: right; font-weight: bold; color: #d26b06; border-right: 1px solid #CCC; }

table.compare td.tdleft1	{ font-size: 9px; padding-right: 10px; }
table.compare td.tdleft2	{ font-size: 9px; }
table.compare td.tdleft3	{ font-size: 9px; }
table.compare td.tdleft4	{ font-size: 9px; }

table.compare td.tdleft1 .thtitle, table.compare td.tdleft3 .thtitle { font-size: 18px; margin-top: 0; color: #d36c07; }
table.compare td.tdleft1 strong	, table.compare td.tdleft3 strong	{ font-size: 11px; }


table.compare td.btn		{ text-align: center; vertical-align: middle; }
table.compare td.title		{ height: 69px; text-align: center; vertical-align: middle; border-bottom: 1px solid #CCC; color: #d36c07; font-size: 16px; line-height: 16px; }
table.compare td.center		{ text-align: center; padding: 0 5px; }
table.compare td.border		{ border-bottom: 1px solid #CCC; font-size: 10px; line-height: 18px; color: #666; }
table.compare td.vtop		{ text-align: center; vertical-align: top; padding: 5px 5px; }
table.compare .bullet		{ background: url(img/square-bullet.gif) no-repeat 3px 9px; font-size: 10px; padding: 0px 0 3px 15px; line-height: 18px; color: #666; }
table.compare .img			{ margin-top: 3px; }
table.compare td.size		{ width: 78px; }
table.compare td.lgsize		{ width: 89px; }

#centerCol .mdbox				{ float: left; background: url(img/bg-table-boxBottom.jpg) no-repeat bottom; padding-bottom: 3px; }
#centerCol .mdbox .mdboxfill	{ color: #4c4c4c; width: 471px; float: left; background: url(img/bg-table-boxTop.jpg) no-repeat;}

#centerCol .comparison	{ float: left; background: url(img/bg-comparison-bottom.jpg) no-repeat bottom; width: 471px; padding-bottom: 3px; }
#centerCol .compFill	{ color: #4c4c4c; width: 439px; float: left; background: url(img/bg-comparison.jpg) no-repeat; padding: 0 16px; }

#centerCol .compFill .title	{ color: #d36c07; font-size: 16px; line-height: 16px; }


#centerCol .comparison table	{ border-collapse: collapse; }
#centerCol .comparison table h2 { font-size: 15px; margin-top: 0; }
#centerCol .comparison table td	{ vertical-align: top; padding: 10px; }
#centerCol .comparison table td.tdleft	{ width: 210px; padding: 10px 10px 10px 0; }
#centerCol .comparison table td.tdright	{ padding: 10px 10px 10px 18px; }


#centerCol .grayBox				{ float: left; clear: both; background: url(img/bg-promoBox.jpg) no-repeat; }
#centerCol .grayBoxFill			{ float: left; width: 471px; background: url(img/bg-promoBoxBot.jpg) no-repeat bottom; padding-bottom: 4px; }
#centerCol .grayBox td			{ padding: 14px 18px; }
#centerCol .grayBox td.logo		{ text-align: center; vertical-align: top; }
#centerCol .grayBox td.div		{ border-bottom: 1px solid #CCC; vertical-align: top;  border-left: 1px solid #CCC; width: 268px; }
#centerCol .grayBox td.div.last	{ border-bottom: 0; }
#centerCol .grayBox tr.bb td	{ border-bottom: 1px solid #CCC; }

table.price				{ margin: 0; padding: 0; width: 471px; }
table.price td.prLeft	{ width: 246px; }
table.price td			{ padding: 10px; }
table.price td.title	{ color: #d36c07; font-size: 16px; line-height: 16px; text-align: center; padding-bottom: 0; }
table.price td.bold		{ text-align: center; font-weight: bold; border-bottom: 1px solid #e5ded7; }
table.price td.feature	{ text-align: right; }
table.price td.center	{ text-align: center; }

/*Right Column*/
#rightCol				{ float: left; width: 218px; }
#rightCol .img			{ margin-bottom: 11px; }

/*----------------- GENERIC GRAY BOX -----------------*/
.genGray		{ float: left; background: url(img/bg-promoBox.jpg) no-repeat; margin-bottom: 20px; }
.genGrayFill	{ float: left; width: 441px; background: url(img/bg-promoBoxBot.jpg) no-repeat bottom; padding: 10px 15px 6px 15px; }

.genGrayFill table			{ width: 441px; margin-bottom: 5px; }
.genGrayFill table td		{ padding: 5px 10px; vertical-align: top; color: #4c4c4c; font-size: 11px; }
.genGrayFill table td.half	{ width: 50%; }
.genGrayFill .hdtitle	{ color: #d36c07; font-size: 16px; line-height: 16px; }

/*----------------- PROMO BOX -----------------*/
.promoBox		{ float: left; background: url(img/bg-promoBox.jpg) no-repeat; margin-bottom: 20px; }
.promoBoxFill	{ float: left; width: 441px; background: url(img/bg-promoBoxBot.jpg) no-repeat bottom; padding: 10px 15px 3px 15px; }

.promoBoxFill table				{ width: 441px; margin-top: 5px; }
.promoBoxFill table td			{ padding: 5px 10px; vertical-align: top; color: #000; font-size: 12px; }
.promoBoxFill table td.half		{ width: 50%; }
.promoBoxFill table td.promo	{ width: 50%; padding: 5px 20px; }

/*----------------- SIMPLE TABLE DESIGN -----------------*/
table.simple	{ width: 495px; border: 0; }
table.simple td			{ padding: 10px 10px; }
table.simple td.middle	{ vertical-align: middle; }
table.simple td.center	{ text-align: center; }

/*----------------- 3 COLUMN TABLE DESIGN -----------------*/
.threeCol		{ float: left; background: url(img/bg-3col-tablebot.jpg) no-repeat bottom left; padding-bottom: 3px; margin-bottom: 10px; }
.threeColFill	{ float: left; width: 471px; background: url(img/bg-3col-table.jpg) no-repeat; padding: 10px 0; }

.threeColFill table	{ border-collapse: collapse; }
.threeColFill table td	{ padding: 5px 8px 5px 5px; vertical-align: top; font-size: 11px; }
.threeColFill .title	{ color: #d36c07; font-size: 16px; line-height: 16px; padding-left: 6px; }
.threeColFill li	{ width: 120px; }

/*----------------- BREADCRUMB -----------------*/
.breadcrumb  			{ width: 495px; margin-top: 7px; padding-bottom: 15px; margin-bottom: 12px; color: #999; font-size: 10px; clear: both; }
.breadcrumb ul			{ background: none; margin: 0; padding: 0; list-style: none; margin-left: -5px; }
.breadcrumb li			{ background: none; float: left; }
.breadcrumb li a		{ background: none; float: left; color: #999; text-decoration: underline; padding: 0 5px; }
.breadcrumb li a:hover	{ background: none; text-decoration: none; }
.breadcrumb li a.on		{ background: none; text-decoration: none; }

/*----------------- MISC -----------------*/
.line	{ width: 925px; height: 5px; background: url(img/line.gif) repeat-x; clear: both; margin: 10px 0 10px 13px; }
.note	{ font-size: 10px; color: #999; padding-top: 5px; }
.jsclass body .randomcontent{ /*Do NOT remove! CSS to hide random contents in JS enabled browsers*/ display: none; }
.fieldborder	{ width: 250px; }

/*----------------- TOOLTIP (SMART HOVER) -----------------*/
.spacing 			{ float: left; clear: both; }
.samplebox 			{ width: 200px; display: none; height: auto; }
.samplebox .text	{ position: absolute; width: 210px; bottom: 23px; left: 12px; }

#sales 			{ background: url(img/link-sales.gif) no-repeat 0 0; height: 30px; width: 183px; }
#sales:hover	{ background: url(img/link-sales.gif) no-repeat 0 -30px; height: 30px; width: 183px; }

#marketing 			{ background: url(img/link-marketing.gif) no-repeat 0 0; height: 30px; width: 183px; }
#marketing:hover	{ background: url(img/link-marketing.gif) no-repeat 0 -30px; height: 30px; width: 183px; }

#financial 			{ background: url(img/link-financial.gif) no-repeat 0 0; height: 30px; width: 183px; }
#financial:hover	{ background: url(img/link-financial.gif) no-repeat 0 -30px; height: 30px; width: 183px; }

/*----------------- LOGIN PAGE -----------------*/
#loginWrap				{ width: 385px; margin-left: 30px; }
#loginWrap .login		{ float: left; background: url(img/loginBoxBot.jpg) no-repeat bottom; padding-bottom: 2px; }
#loginWrap .loginFill	{ width: 385px; float: left; background: url(img/loginBox.jpg) no-repeat; }
#loginWrap .loginFill table	{ margin: 10px 0 10px 5px; }
#loginWrap .loginFill td	{ padding: 5px 10px; }
#loginWrap .loginFill input	{ width: 265px; height: 20px; }
#loginWrap .loginFill .btn	{ width: auto; height: auto; border: 0; }

#loginWrap .signUp	{ float: left; background: url(img/bg-signupBoxBot.jpg) no-repeat bottom; padding-bottom: 2px; }
#loginWrap .signupFill	{ float: left; width: 345px; background: url(img/bg-signupBox.jpg) no-repeat; padding: 15px 0 15px 40px; }


/*----------------- FOOTER -----------------*/
#footer			{ clear: both; margin: auto; padding-top: 21px; width: 800px; color: #999; font-size: 11px; }
#footer a		{ color: #999; text-decoration: none; }
#footer a:hover	{ text-decoration: underline; }

#footer .copyright	{ text-align: center; }

#footerColumn		{ float: left; margin-left: 75px; }
#footerColumn ul	{ margin: 0 10px 0 0; width: 129px; padding: 0; list-style: none; float: left; }
#footerColumn li a			{ color: #999; text-decoration: none; line-height: 18px; padding-left: 6px; }
#footerColumn li a:hover	{ text-decoration: underline; }
#footerColumn li a.first	{ color: #666; font-weight: bold; line-height: 22px; padding-left: 0; }

/*----------------- SAFARI ONLY STYLES -----------------*/
/*\*/
.moduleBox .tabLeft{ [ padding-bottom: 0; padding-top: 4px; _padding-top: 3px; ] }
/*end*/
