#hero .taketour	{ top: 185px; left: 298px; }
#hero .quickdemo	{ top: 185px; left: 406px; }
#hero .signup	{ top: 185px; left: 514px; }
#menu :hover ul li a 	{ padding-left: 28px; }
#menu :hover ul :hover	{ width: 132px; }