@font-face
{
    font-family: Asap;
    src: url('fonts/Asap-Bold.eot'); /* IE9 Compat Nodes */
    src: url('fonts/Asap-Bold.eot?iefix') format('eot') ; /* IE6-IE8 */
    src: url('fonts/Asap-Bold.woff') format('woff') ; /* Modern Browsers */
    src: url('fonts/Asap-Bold.ttf') format('truetype') ; /* Safari, Android, iOS */
    font-weight: bold;
    font-style:normal;
}

@font-face
{
    font-family: Asap;
    src: url('fonts/Asap-Italic.eot'); /* IE9 Compat Nodes */
    src: url('fonts/Asap-Italic.eot?iefix') format('eot') ; /* IE6-IE8 */
    src: url('fonts/Asap-Italic.woff') format('woff') ; /* Modern Browsers */
    src: url('fonts/Asap-Italic.ttf') format('truetype') ; /* Safari, Android, iOS */
    font-weight:normal;
    font-style:italic;
}

@font-face
{
    font-family: Asap;
    src: url('fonts/Asap-BoldItalic.eot'); /* IE9 Compat Nodes */
    src: url('fonts/Asap-BoldItalic.eot?iefix') format('eot') ; /* IE6-IE8 */
    src: url('fonts/Asap-BoldItalic.woff') format('woff') ; /* Modern Browsers */
    src: url('fonts/Asap-BoldItalic.ttf') format('truetype') ; /* Safari, Android, iOS */
    font-weight:bold;
    font-style:italic;
}

@font-face
{
    font-family: Asap;
    src: url('fonts/Asap-Regular.eot'); /* IE9 Compat Nodes */
    src: url('fonts/Asap-Regular.eot?iefix') format('eot') ; /* IE6-IE8 */
    src: url('fonts/Asap-Regular.woff') format('woff') ; /* Modern Browsers */
    src: url('fonts/Asap-Regular.ttf') format('truetype') ; /* Safari, Android, iOS */
    font-weight:normal;
    font-style:normal
}

div, dl, dt, dd, ul, ol, li, pre, hr, form, fieldset, input, th, td {margin:0; padding:0;}
address, caption, cite, code, dfn, th, var {font-style:normal; font-weight:normal;}
table {border-collapse:collapse; border-spacing:0; font-size:inherit; font-size:100%;}
select, input, textarea {font:99% verdana,geneva,sans-serif;}
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-size:100%; font-wei/hr-gray.gifght:normal;}
fieldset, img {border:0;}
img {vertical-align:middle;}
select, .inputStyle {border:1px solid #7F9DB9; background:#FFF; padding:.1em; margin:.1em 0 .1em .2em;}
legend {display:none;}
.skipNavigation {position:absolute; left:0px; top:-500px; overflow:hidden;}
select {background:#FFF;}
.floatLeft    { float: left; }
.floatRight { float: right; }
.png    { _behavior: url(/common/css/iepngfix.htc); }
.cleaner    { clear: both; }
a    { outline: none; }
label { cursor: pointer; }

body    { background: url(img/bg-main.jpg) repeat-x #FFF; margin: 0; padding: 0; font-family: Arial; font-size: 12px; color: #666666; _behavior: url("/common/css/csshover.htc"); }

a		{ text-decoration: underline; color: #cc6600; }
a:hover	{ text-decoration: none; }

a.arrow			{ background: url(img/blt-arrow.gif) no-repeat right 4px; padding-right: 10px; text-decoration: underline; color: #cc6600; }
a.arrow:hover	{ text-decoration: none; }

#container			{ width: 855px; margin: auto; padding-top: 19px; }
#container .top		{ height: 20px; width: 952px; margin-left: 5px; }
#container .wrapper	{ clear: both; float: left; margin-left: 6px; _margin-left: 3px; }
#container .margins	{ padding: 0 28px 10px 28px; _padding: 0 28px 10px 32px; width: 896px; }

#header				{ width: 855px; height: 51px; float: left; position: relative; }
#header .logo		{ width: 156px; height: 51px; }

#contentWrap	{ float: left; width: 855px; margin: 10px 0 50px 7px; _margin: 10px 0 50px 3px; }

#leftCol			{ float: left; width: 161px; margin-right: 19px; padding-top: 28px; margin-left: -1px; }

#centerCol			{ float: left; width: 495px; margin-right: 21px; color: #000; }
#centerCol p		{ line-height: 18px; margin: 0 0 18px 0; }
#centerCol .hline	{ font-size: 14px; color: #000; padding-top: 15px; }
#centerCol .hline span	{ font-size: 18px; color: #d36c07; }
#centerCol .small	{ font-size: 11px; margin-top: 5px; }

#centerCol .headline		{ padding-bottom: 0px; }
#centerCol .headline h1 	{ margin: 0 0 12px 0; padding: 0; color: #2f902f; font-size: 28px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
#centerCol .headline h2		{ margin: 0 0 0px 0; padding: 0; color: #d36c07; font-size: 20px; font-family: Arial, Helvetica, sans-serif; }
#centerCol .headline h3		{ margin: 0; padding: 0; color: #282828; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; }

#centerCol h1.press	{ margin: 0 0 12px 0; padding: 0; color: #2f902f; font-size: 23px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

#centerCol .content			{ padding-top: 20px; }
#centerCol .content h2		{ margin: 30px 0 0 0; padding: 0; color: #d36c07; font-size: 20px; font-family: Arial, Helvetica, sans-serif; }
#centerCol .content h2.nmtop	{ margin-top: 0; }

#centerCol h2 .press	{ text-align: right; }
#centerCol h3	{ margin: 0 0 5px 0; padding: 0; color: #282828; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

#centerCol .content ul	{ margin: 10px 0 0 0; padding: 0; list-style: none; }
#centerCol .content li	{ background: url(img/square-bullet.gif) no-repeat 3px 8px; padding-left: 15px; line-height: 18px; }

#centerCol .content ul.special	{ margin: 0; padding: 0; list-style: none; }
#centerCol .content ul.special li	{ padding-bottom: 20px; }

#centerCol .content ol	{ margin: 0; padding: 0; margin-left: 20px; }
#centerCol .content ol li	{ padding-left: 0px; background: none; padding-bottom: 15px; }

#centerCol .box		{ width: 471px; background: url(img/bg-box-top.gif) no-repeat; float: left; padding: 10px 0; font-size: 11px; clear: both; }
#centerCol .box .bb	{ float: left; width: 446px; background: url(img/bg-box-bottom.gif) no-repeat bottom; padding: 0 10px 10px 15px; }
#centerCol .box .bb .left		{ float: left; width: 230px; margin-right: 15px; text-align: center; }
#centerCol .box .bb .right		{ float: left; width: 190px; padding-top: 5px; color: #333; }
#centerCol .box .bb .right p	{ margin-top: 0; line-height: 16px; }

#centerCol .lgbox			{ background: url(img/bg-lgbox-bottom.jpg) no-repeat bottom; float: left; margin-bottom: 30px; }
#centerCol .lgbox .boxtop	{ width: 471px; background: url(img/bg-lgbox-top.jpg) no-repeat; float: left; min-height: 500px; _height: 500px; }

table.compare				{ margin: 0; padding: 0; width: 470px; font-size: 11px; }
table.compare tr td			{ padding: 4px 0; }
table.compare td.bg			{ background: url(img/bg-orange.gif) repeat-x bottom #fffbf7; line-height: 20px; padding: 5px 0; }
table.compare td.last		{ padding-right: 1px; } /*can be removed from table and style deleted*/

table.compare td.tdleft 	{ width: 128px; padding: 0 10px; border-right: 1px solid #CCC; vertical-align: top; }
table.compare td.tdright 	{ vertical-align: top; line-height: 20px; width: 128px; padding: 0px 10px; text-align: right; font-weight: bold; color: #d26b06; border-right: 1px solid #CCC; }

table.compare td.tdleft1	{ font-size: 9px; padding-right: 10px; }
table.compare td.tdleft2	{ font-size: 9px; }
table.compare td.tdleft3	{ font-size: 9px; }
table.compare td.tdleft4	{ font-size: 9px; }

table.compare td.tdleft1 .thtitle, table.compare td.tdleft3 .thtitle { font-size: 18px; margin-top: 0; color: #d36c07; }
table.compare td.tdleft1 strong	, table.compare td.tdleft3 strong	{ font-size: 11px; }

table.compare td.btn		{ text-align: center; vertical-align: middle; }
table.compare td.title		{ height: 69px; text-align: center; vertical-align: middle; border-bottom: 1px solid #CCC; color: #d36c07; font-size: 16px; line-height: 16px; }
table.compare td.center		{ text-align: center; padding: 0 5px; }
table.compare td.border		{ border-bottom: 1px solid #CCC; font-size: 10px; line-height: 18px; color: #666; }
table.compare td.vtop		{ text-align: center; vertical-align: top; padding: 5px 5px; }
table.compare .bullet		{ background: url(img/square-bullet.gif) no-repeat 3px 9px; font-size: 10px; padding: 0px 0 3px 15px; line-height: 18px; color: #666; }
table.compare .img			{ margin-top: 3px; }
table.compare td.size		{ width: 78px; }
table.compare td.lgsize		{ width: 89px; }

#centerCol .mdbox				{ float: left; background: url(img/bg-table-boxBottom.jpg) no-repeat bottom; padding-bottom: 3px; }
#centerCol .mdbox .mdboxfill	{ color: #4c4c4c; width: 471px; float: left; background: url(img/bg-table-boxTop.jpg) no-repeat;}

#centerCol .comparison	{ float: left; background: url(img/bg-comparison-bottom.jpg) no-repeat bottom; width: 471px; padding-bottom: 3px; }
#centerCol .compFill	{ color: #4c4c4c; width: 439px; float: left; background: url(img/bg-comparison.jpg) no-repeat; padding: 0 16px; }
#centerCol .compFill .title	{ color: #d36c07; font-size: 16px; line-height: 16px; }

#centerCol .comparison table	{ border-collapse: collapse; }
#centerCol .comparison table h2 { font-size: 15px; margin-top: 0; }
#centerCol .comparison table td	{ vertical-align: top; padding: 10px; }
#centerCol .comparison table td.tdleft	{ width: 210px; padding: 10px 10px 10px 0; }
#centerCol .comparison table td.tdright	{ padding: 10px 10px 10px 18px; }


#centerCol .grayBox				{ float: left; clear: both; background: url(img/bg-promoBox.jpg) no-repeat; }
#centerCol .grayBoxFill			{ float: left; width: 471px; background: url(img/bg-promoBoxBot.jpg) no-repeat bottom; padding-bottom: 4px; }
#centerCol .grayBox td			{ padding: 14px 18px; }
#centerCol .grayBox td.logo		{ text-align: center; vertical-align: top; }
#centerCol .grayBox td.div		{ border-bottom: 1px solid #CCC; vertical-align: top;  border-left: 1px solid #CCC; width: 268px; }
#centerCol .grayBox td.div.last	{ border-bottom: 0; }
#centerCol .grayBox tr.bb td	{ border-bottom: 1px solid #CCC; }

table.price				{ margin: 0; padding: 0; width: 471px; }
table.price td.prLeft	{ width: 246px; }
table.price td			{ padding: 10px; }
table.price td.title	{ color: #d36c07; font-size: 16px; line-height: 16px; text-align: center; padding-bottom: 0; }
table.price td.bold		{ text-align: center; font-weight: bold; border-bottom: 1px solid #e5ded7; }
table.price td.feature	{ text-align: right; }
table.price td.center	{ text-align: center; }

#rightCol				{ float: left; width: 161px; }

table.simple	{ width: 495px; border: 0; }
table.simple td			{ padding: 10px 10px; }
table.simple td.middle	{ vertical-align: middle; }
table.simple td.center	{ text-align: center; }

.line	{ width: 925px; height: 5px; background: url(img/line.gif) repeat-x; clear: both; margin: 10px 0 10px 13px; }
.note	{ font-size: 10px; color: #999; padding-top: 5px; }
.jsclass body .randomcontent{ /*Do NOT remove! CSS to hide random contents in JS enabled browsers*/ display: none; }
.fieldborder	{ width: 250px; }

#loginWrap				{ width: 385px; margin-left: 0px; }
#loginWrap .login		{ float: left; background-color: #BBBBBB; padding-bottom: 2px; }
#loginWrap .loginFill	{ width: 385px; float: left; }
#loginWrap .loginFill table	{ margin: 10px 0 10px 5px; }
#loginWrap .loginFill td	{ padding: 5px 10px; }
#loginWrap .loginFill input	{ width: 230px; height: 20px; }
#loginWrap .loginFill .btn	{ width: auto; height: auto; border: 0; }

#loginWrap .signUp	{ float: left; background: url(img/bg-signupBoxBot.jpg) no-repeat bottom; padding-bottom: 2px; }
#loginWrap .signupFill	{ float: left; width: 345px; background: url(img/bg-signupBox.jpg) no-repeat; padding: 15px 0 15px 40px; }
.nonjsAlert {margin:1em; border:1px solid #f00; padding:.5em; color:#f00; text-align:center;}

#footer			{ clear: both; margin: auto; padding-top: 21px; width: 800px; color: #999; font-size: 11px; }
#footer a		{ color: #999; text-decoration: none; }
#footer a:hover	{ text-decoration: underline; }

#footer .copyright	{ text-align: center; }

#footerColumn		{ float: left; margin-left: 75px; }
#footerColumn ul	{ margin: 0 10px 0 0; width: 129px; padding: 0; list-style: none; float: left; }
#footerColumn li a			{ color: #999; text-decoration: none; line-height: 18px; padding-left: 6px; }
#footerColumn li a:hover	{ text-decoration: underline; }
#footerColumn li a.first	{ color: #666; font-weight: bold; line-height: 22px; padding-left: 0; }
