<div>
    <div>
        <div class="row-title clearfix">
            <div class="pull-left" draggable="column" ng-click="columnPropertiesOpen = !columnPropertiesOpen">
                <i class="glyphicn" ng-class="{'glyphicn-plus': !columnPropertiesOpen, 'glyphicn-minus': columnPropertiesOpen}"></i>
                </i>
                {{column.name | stagingAreaDisplayName}}
            </div>
            <div class="column-tools">
                <i ng-click="removeColumn(column, chartType); updateChart()" ng-if="stagingType !== 'filter' || (stagingType === 'filter' && !column.properties.visualized)" class="remove" title="Remove"></i>
            </div>
        </div>
        <div class="measure-properties" ng-show="columnPropertiesOpen">
            <div ng-if="column.expression.isMeasure() || column.category === 'measure'" class="clearfix">
                <div ng-if="column.expression.head.type === 'measure'" menu-parent="Aggregations" ng-show="column.expression.getAggregations(subjectArea).length > 1">
                    <div class="measure-property">
                        <i class="glyphicn glyphicn-chevron-right"></i>
                        <span class="title">aggregation</span>
                        <span class="value">
                            {{column.expression.getAggregation()}}
                        </span>
                    </div>
                    <div menu-child="nested">
                        <ul class="list-unstyled">
                            <li measure-item ng-repeat="aggregation in column.expression.getAggregations(subjectArea)" ng-click="column.expression.setAggregation(subjectArea, aggregation); updateChart()">{{aggregation}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-if="column.expression.head.type === 'measure'" menu-parent="DateTypes" ng-show="column.expression.getDateTypes(subjectArea).length > 1">
                    <div class="measure-property">
                        <i class="glyphicn glyphicn-chevron-right"></i>
                        <span class="title">date type</span>
                        <span class="value">
                            {{column.expression.getDateType()}}
                        </span>
                    </div>
                    <div menu-child="nested">
                        <ul class="list-unstyled">
                            <li measure-item ng-repeat="dateType in column.expression.getDateTypesWithoutLoadDate(subjectArea)" ng-click="column.expression.setDateType(subjectArea, dateType); setMeasureDateType(column, dateType); updateChart()">{{dateType}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-if="column.expression.head.type === 'measure'" menu-parent="TimeSeries" ng-show="subjectArea.timeSeries.length > 0">
                    <div class="measure-property">
                        <i class="glyphicn glyphicn-chevron-right"></i>
                        <span class="title">time series type</span>
                        <span class="value">
                            {{column.expression.getTimeSeriesType() || "Current"}}
                        </span>
                    </div>
                    <div menu-child="nested">
                        <ul class="list-unstyled">
                            <li measure-item ng-repeat="timeSeriesType in [null].concat(subjectArea.timeSeries)" ng-click="column.expression.setTimeSeriesType(subjectArea, timeSeriesType); updateChart()">{{timeSeriesType || "Current"}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div menu-parent="Chart-Types" ng-if="stagingType === 'measure'" class="charts">
                    <div class="measure-property">
                        <i class="glyphicn glyphicn-chevron-right"></i>
                        <span class="title">chart type</span>
                        <i class="chart-small-{{serie.type}} darkgrey"></i>
                        <span class="value">{{serie.type}}</span>
                    </div>
                    <div menu-child="nested">
                        <ul class="list-unstyled clearfix">
                            <li measure-item ng-repeat="chart in seriesChartTypes" ng-click="setSeriesType(serie, chart); updateChart()">
                                <i class="chart-large-{{chart}} grey"></i>
                                <span>{{chart}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div menu-parent="Group-By" ng-if="stagingType === 'measure'">
                    <div ng-repeat="dim in dims">
                        <div ng-if="stage[dim]">
                            <div ng-if="dim === 'Color' || dim === 'Shape'" class="measure-property">
                                <div>
                                    <span class="switch-container-normal">
                                        <span class="title-no-value">
                                            <i class="filter-bullet"></i>
                                            <span class="switch-right">Group by {{stage[dim].name | stagingAreaDisplayName}}</span>
                                        </span>
                                        <toggle-switch-apple on-change="updateChart()" model="serie.seriesDimensions[dim]"></toggle-switch-apple>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div menu-parent="Data-Formatting">
                    <div class="measure-property">
                        <i class="glyphicn glyphicn-chevron-right"></i>
                        <span class="title-no-value">data formatting</span>
                    </div>
                    <div menu-child="nested">
                        <ul class="list-unstyled multiple-lists">
                            <h4>Decimal Precision</h4>
                            <li measure-item class="radio tight" ng-repeat="precision in dataFormatting.decimalPrecision" ng-click="column.properties.decimalPrecision = precision.value; updateChart()">
                                <input type="radio" name="decimalPrecision-{{column.uniqueId}}" id="precision-{{precision.$$hashKey || $index }}" ng-model="column.properties.decimalPrecision" value="{{precision.value}}">
                                <label for="precision-{{precision.$$hashKey || $index }}">{{precision.key}}</label>
                            </li>
                        </ul>
                        <ul class="list-unstyled multiple-lists">
                            <h4>Currency</h4>
                            <li measure-item class="radio tight" ng-repeat="currency in dataFormatting.currency" ng-click="column.properties.currency = currency; updateChart()">
                                <input type="radio" name="currency-{{column.uniqueId}}" id="currency-{{currency.$$hashKey || $index }}" ng-model="column.properties.currency" value="{{currency}}">
                                <label for="currency-{{currency.$$hashKey || $index }}">{{currency}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div menu-parent="Display Aggregation" ng-show="!column.expression.clientAggregation()">
                    <div class="measure-property">
                        <i class="glyphicn glyphicn-chevron-right"></i>
                        <span class="title">display aggregation</span>
                        <span class="value">
                            {{column.displayAggregation || "None"}}
                        </span>
                    </div>
                    <div menu-child="nested">
                        <ul class="list-unstyled">
                            <li measure-item ng-repeat="aggregation in ['Sum', 'Max', 'Min']" ng-click="column.displayAggregation = aggregation; updateChart()">{{aggregation}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="column.reportExpressionId !== undefined">
                <div class="measure-property" ng-click="editReportExpression(column)">
                    <i class="pencil-icn"></i>
                    <span class="title-no-value">
                        Edit
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
