/*navbar styles*/
.navbar-alt {min-width: 1024px;position: relative;z-index: 1041;height: 50px;padding: 0 11px;background: #fff;border-bottom: 1px solid #ccc;-moz-box-sizing: border-box;box-sizing: border-box;font-family: 'Open Sans',sans-serif;}
.navbar-alt-nav {float: right;}
.navbar-alt > .logo {float: left;margin-top: 9px;background: url(img/TopBar/logo.png) no-repeat;height: 30px;width: 107px;text-indent: -9999px;direction: ltr;}
.navbar-alt-nav > ul, .dropdown-menu {list-style: none;}
.navbar-alt-nav > ul > li {float: left;display: block; margin-left: 40px;}
.navbar-alt-nav > ul > li:nth-child(1) {margin-left: 0; max-width: 140px; white-space: nowrap;}
.navbar-alt-nav > ul > li:nth-child(1) > a {overflow: hidden; text-overflow: ellipsis;}
.nav-link, .nav-link:hover, .nav-link:focus, .nav-link:visited {height: 49px;-moz-box-sizing: border-box;box-sizing: border-box;padding-top: 17px;display: block;font-size: 14px;font-weight: 600;color: #2e2e2e;text-decoration: none;outline: none;cursor: pointer}

/*dropdown menu styles. some need a parent selector to avoid overwriting bootstrap dropdown styles*/
.navbar-alt-nav .dropdown {position: relative;margin: 0 17px 0 60px;}
.navbar-alt-nav .dropdown-toggle > .icn-caret-down {margin-left: 7px;}
.navbar-alt-nav .dropdown-menu {position: absolute;right: -16px;min-width: 200px;border-top: 2px solid #2a303a;border-right: 1px solid #9aa0ab;border-bottom: 1px solid #9aa0ab;border-left: 1px solid #9aa0ab;box-shadow: 0 3px 0 0 rgba(224,227,233,0.7);/*overwrite these to wipe bootstrap's styles*/left: auto;margin: 0;padding: 0;border-radius: 0;-moz-box-sizing: content-box;box-sizing: content-box;}
.navbar-alt-nav .dropdown-menu > li {height: 50px;-moz-box-sizing: border-box;box-sizing: border-box;}
.navbar-alt-nav .dropdown-menu > li:not(:first-child) {border-top: 1px solid #e0e3e9;}
.dropdown-nav-link.nav-link {height: 100%;font-weight: 400;color: #2a303a;padding: 14px 22px;}
.dropdown-nav-link.nav-link:hover, .dropdown-nav-link.nav-link:focus {background-color: #f5f5f5;color: #2a303a;}
.dropdown-nav-link > i {margin-right: 18px;}

/*navbar icns*/
.navbar-alt-nav [class*="icn-"] {display: inline-block;background: url(img/TopBar/icon-sprite.png) no-repeat top left;width: 16px;height: 16px;vertical-align: middle;}
.navbar-alt-nav .icn-avatar {height: 20px;width: 23px;background-position: 0 -240px;position: relative;top: -2px;left: -1px;}
.navbar-alt-nav .icn-caret-down {height: 5px;width: 7px;background-position: -30px -210px;}
.navbar-alt-nav .icn-settings {background-position: 0 -600px;}
.navbar-alt-nav .icn-help {background-position: 0 -630px;}
.navbar-alt-nav .icn-support {background-position: 0 -660px;}
.navbar-alt-nav .icn-logout {background-position: 0 -690px;}
/*------------------------------------------------------------------*/