<div class="bs-docs-section">
  <h1 id="colors" class="page-header">Colors</h1>
  {% for colorGroup in site.data.colors %}
  <h2 id="colors-app-gray">{{colorGroup.name}}</h2>
  <div class="bs-example">
    <div class="color-swatches">
      {% for color in colorGroup.colors %}
        <div class="color-swatch" style="background-color: {{ color.value }}"></div>
      {% endfor %}
    </div>
  </div>
{% highlight scss %}
{% for color in colorGroup.colors %}{{color.name}}: {{color.value}};
{% endfor %}
{% endhighlight %}
  {% endfor %}

  <p>Use any of these color variables as they are or reassign them to more meaningful variables for your project.</p>
{% highlight scss %}
// Use as-is
.masthead {
    background-color: $orange;
}
{% endhighlight %}
</div>
