/*Overrides*/
#tabsContainer-body, #pagesTabContainer-body, #pagePromptContainer-body, #optionsContainer-body,
#pagePromptContainer-body .prompts > div,
#pagePromptContainer-body .prompts .x-panel-header,
{
	border: none !important;
}

.x-panel-body-default{
	border: none !important;
}

.x-panel, .x-plain{
	overflow: visible !important;
}

/*
.x-viewport, .x-viewport body{
	min-width: 1240px !important;
	min-height: 740px !important;
}
*/



/*Top row*/
#tabOuterContainer{ 
	height: 31px !important;
	border-top: 1px solid #fcfcfc;
}


.x-tab-bar-body, #optionsContainer, #tabsContainer, #tabsContainer-body, #tabsContainer-body > div, #tabOuterContainer > div, #tabOuterContainer > div > div{
	height: 29px !important;
	background: #f7f7f7 !important;
	padding: 0;
	background: none;
	z-index: 2;
	overflow: visible;
}

.x-tab-bar-strip{
	display: none;
}

/*Bottom row*/
#pagesTabContainer{
	z-index: 1;
	border-top: 1px solid #d4d4d4;
	height: 31px !important;
	overflow: visible;
}

#pagesTabContainer-body{
	border-top: 1px solid #f6f6f6 !important;
}

#pagesBttnGroup, #pagesTabContainer-body, #pagesBttnGroup-body{
	height: 29px !important;
	padding: 0;
	background-color: #ededed;
	overflow:visible;
	border-bottom: 1px solid #cacaca;
}

/*Tab link styles*/
#tabsContainer{
	padding-left: 0	px;
}


.x-tab, .x-tab *{
	top: 0 !important;
	/*left: 1 !important; */  /* fixed BPD-19251 !!! */
	/*position: relative !important;*/
	border: none !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 12px !important;
	font-weight: 600 !important;	
	padding: 0 !important;
}


.x-tab{
	margin-right: 20px !important;
	top: 0 !important;
	height: 30px !important;
	padding: 0 3px !important;
}

.x-tab:first-child{
	height: 28px !important;
}

.x-tab-center{
	line-height: 12px !important;
}

.x-tab-active{
	border-bottom: 2px solid #238ff9 !important;
}

.x-tab button {
	color: #858585;
}

.x-tab-active button, .x-tab-over button{
    color: #000000;
}

.x-btn-add-dash button span {
	font-size: 18px !important;
}

.x-border-box .x-tab-bar-top .x-tab-bar-body-default-plain {
	height: 30px;
}

#pagesBttnGroup-body {
	margin-left: 8px;
}

.pagesBttnGroup .x-btn-inner {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding: 0;
	overflow: visible;
}

.pagesBttnGroup .x-btn{
	padding: 0 3px;
	margin-right: 16px;
	top: -1px;
	height: 30px;
	border: none;
}

.pagesBttnGroup .x-btn-pressed{
	border-bottom: 2px solid #238ff9;
	border-radius: 0;
}

.pagesBttnGroup .x-btn button{
	color: #858585;
}

.pagesBttnGroup .x-btn-pressed .x-btn-inner,
.pagesBttnGroup .x-btn-over .x-btn-inner {
	color: #000000;
}

.prompts *{ 
	/*
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	*/
}

/*Options Container*/
#optionsContainer{
	border-left: 1px solid #d4d4d4;
	height: 30px !important;
	top: -1px !important;
	/*margin-left: 23px !important;*/
}

#optionsContainer-body{
	border-left: 1px solid #FCFCFC !important;
	background: #f7f7f7;
}

#optionsContainer-body *{
	background: #f7f7f7;

}

#optionsContainer-targetEl *{
	text-indent: -9999px;
	height: auto !important;
	width: auto !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	max-height: 29px !important;
}

#optionsContainer-targetEl .x-btn button span{
	background-image: url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");
	height: 30px !important;
	width: 30px !important;
}

#optionsContainer-targetEl #undo span{
	background-position: 9px -322px;
}

#optionsContainer-targetEl #undo.x-btn-over span{
	background-position: -21px -322px;
}

#optionsContainer-targetEl #refresh span{
	background-position: 9px -350px;
}

#optionsContainer-targetEl #refresh.x-btn-over span{
	background-position: -21px -350px;
}

/*
#optionsContainer-targetEl .x-btn.mngSchedules{
	background-position: 0 -720px !important;
}
*/

#optionsContainer-targetEl #id-manage-reps-schedules span{
	background-position: 9px -380px;
}

#optionsContainer-targetEl #id-manage-reps-schedules.x-btn-over span{
	background-position: -21px -380px;
}


/*Prompts*/
#pagePromptContainer{
}

div.prompts{
	margin: 0 4px 3px !important;
	left: 0 !important;
	border: 1px solid #cacaca;
	border-top: none;
	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0 2px 1px 1px rgba(100, 100, 100, .07);
	box-shadow: 0 2px 1px 1px rgba(100, 100, 100, .07); 
}

#pagePromptContainer .prompts.x-collapsed{
	border: none !important;
	border-radius: 0;
	box-shadow: none;
}

#pagePromptContainer .prompts > div{
	left: 0 !important;
	padding-left: 6px !important;
	padding-top: 3px !important;
}

#pagePromptContainer .prompts > div:first-child{
	top: 0 !important;
}

#pagePromptContainer .prompts.x-collapsed > div{
	padding-left: 7px !important;
}

.prompts .x-panel .x-grid-body  {
    border-color: #B0B0B0 !important;
    border-width: 1px !important;
}

.prompts .x-panel-header-text, .promptSummary .x-btn-default-toolbar-small .x-btn-inner{
	font-size: 10px;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400;
	color: #888888;
}

.promptSummary .x-btn-default-toolbar-small .x-btn-inner{
	color: #000000;
	padding-left: 0;
	padding-right: 8px;
	/* text wrap to ... */
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.promptSummary {
	background-color: #FFFFFF;
	background-image: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   
}

.promptSummary.x-toolbar{
	border: none;
}

#pagePromptContainer div.promptExpand img{
	display: none;
}

/* Move the expand div for prompts next to the prompt summary string */
#pagePromptContainer div.promptExpand{
	width: 7px !important;
	height: 4px !important;
	background: url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");
	background-position: -60px -210px;
	left: 46px !important;
	top: 7px !important;
	cursor: pointer;
}

/* Overwrite the right collapse tool icon */
/*
.promptCollection img.x-tool-collapse-right{
	background: url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");
	background-position: -60px -210px;
	background-image: url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");
	content: url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");
}

.promptCollection img.x-tool-expand-left {
	background: url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");
	background-position: 0 -210px;
}
*/

.promptCollection .x-panel-header-default, .leftPromptListItem .x-panel-header-default{
    background-color: rgba(240, 240, 240, 1) !important;
    background-image: none;
    border-color: #2A303A;
    border-style: none;
}

/* Color all the background of panels in the prompt collection */
/* Comment out to disable prompt collection colors */
.promptCollection .x-panel-body-default,
.promptCollection .x-column-header-over, 
.promptCollection .x-grid-header-ct, 
.promptCollection .x-column-header, 
.promptCollection .x-form-item,
.promptCollection .x-panel-header-default {
    background-color: #F0F0F0 !important;
    background-image: none !important;
    box-shadow: 0 1px 0 0 #F0F0F0 inset !important;
}

.promptCollection .x-panel-header-text, .sliderTitle {
	color: #7F7F7F !important;
	font: 600 12px 'Open Sans',sans-serif !important;	
}

.promptCollection .x-panel-header-text{
	padding: 0 0 0 5px;	
}

/* Vertical text */
.promptCollection svg text{
	fill: #7F7F7F;
}

.sliderTitle {
	padding: 10px 0 0 15px;
}


#pagePromptContainer .prompts.x-collapsed .x-tool{
	background-position: 0 -210px;
}

#pagePromptContainer .promptCollection .x-tool-expand-left{
	background-position: 0 -210px;
}

/*
.promptApplyButton button {
	height: 24px;
	width: 43px;
}

#pagePromptContainer .prompts .x-btn, #pagePromptContainer .prompts .x-btn *{
	font-size: 10px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif !important;
	color: #ffffff;
	line-height: 1.85;
}*/

#pagePromptContainer .prompts .x-btn, #pagePromptContainer .prompts .x-btn *{
	top: 0 !important;
}

#pagePromptContainer .prompts .promptSummary {
       left: 66px !important;
}

/*
#pagePromptContainer .prompts .x-btn button{
	background: #F16125 !important;
	background-image: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-color: transparent;
	border-style: solid;
	font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
}

#pagePromptContainer .prompts .x-btn.over button{
	background: #F16125 !important;
	box-shadow: 0 1px 0 0 #a6a6a6; 
}
*/

/*#panel-1046{
	top: 170px !important;
}*/

#pagePromptContainer .Dashboard{
}

.promptSummaryBox{
	border: 1px solid #e2e2e2 !important;
}
 	
#pagePromptContainer .Dashboard .x-panel-header-default, .floatingPrompt{
	background: #f7f7f7 !important;
	border: 1px solid #e2e2e2 !important;
	font-family: 'Open sans',verdana,arial,helvetica,sans-serif !important;
	/*box-shadow: 0 1px 0 1px rgba(100, 100, 100, .05);*/
}

#pagePromptContainer .Dashboard .x-panel-header-default{
	padding: 2px 5px !important;
}

#pagePromptContainer .Dashboard .x-panel-header-default *{
	font-size: 11px;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 600;
	color: #444;
}

#pagePromptContainer .Dashboard .x-panel-header .x-tool img{
	display: none;
}

.Dashboard .x-panel-header .x-btn-default-small,
.maximized-dashlet .x-window-header .x-btn-default-small {
	background: none;
	height: 17px !important;
	width: 17px !important;
	border: none !important;
}

.Dashboard .x-panel-header .x-btn-default-small.maximize,
.maximized-dashlet .x-window-header .x-btn-default-small.maximize {
	background: url('../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#') !important;
}

.Dashboard .x-panel-header .x-btn.maximize{
	background-position: 0 -568px !important;
}

.Dashboard .x-panel-header .x-btn,
.maximized-dashlet .x-window-header .x-btn {
	width: 17px;
	padding: 1px 0 0;
}

.Dashboard .x-panel-header .x-btn.vzExport,
.maximized-dashlet .x-window-header .x-btn.vzExport {
	width: 21px!important;
	padding: 1px 0 0;
}

.Dashboard .x-panel-header :not(.maximize) .x-btn-inner,
.maximized-dashlet .x-window-header :not(.maximize) .x-btn-inner {
	padding: 0;
	width: 16px;
	height: 16px;
}

.Dashboard .x-panel-header .vzExport .x-btn-inner,
.maximized-dashlet .x-window-header .vzExport .x-btn-inner{
	width: 21px;
}

.Dashboard .x-panel-header svg,
.maximized-dashlet .x-window-header svg {
	height: 17px;
}

.pivot-ico {
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.vzExport .pivot-ico {
	width: 21px;
}

.dashboardDescription button, .dashboardDescription span {
	font-size: 150%;
	line-height: 100%;
	background: white;
}

.x-toolbar-spacer{
	width: 5px !important;
}

/* set icons for toolbar buttons on maxdshlet    */
/*.maximized-dashlet .x-btn-default-small{
	background: url('../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#') !important;
	height: 17px !important;
	width: 17px !important;
	border: none !important;
}*/


/* unset the background above for the close button - it uses an image from a different icon sprite */
.maximized-dashlet .xb-modwin-close-btn {
	background: none !important;
}


.maximized-dashlet .x-btn.closeButton.x-btn-default-small {
	background: url('../images/icon-sprite-x.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#') !important;
	height: 17px !important;
	width: 17px !important;
	border: none !important;
}

.maximized-dashlet .x-btn.closeButton.x-btn-default-small {
	background-position: 1px -134px !important;
}
 
/* Al's CSS file */

.x-tool-csvExport {
	background-image: url(../images/csv.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#) !important; 
}

.x-tool-pdfExport {
	background-image: url(../images/pdf.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#) !important; 
}

.x-tool-xlsExport {
	background-image: url(../images/xls.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#) !important; 
}

.x-tool-pptExport {
	background-image: url(../images/ppt.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#) !important; 
}

/* Visualizer dashlet tool icon, using csv for now */
.x-tool-vzExport {
	background-image: url(../images/csv.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#) !important; 
}

.x-icon-viewMode {
	background-image: url(../images/viewFull.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#) !important; 
}

.x-icon-undo {
	background-image: url(../images/undo.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#) !important;
}

.clickable tspan, label.clickable, img.clickable {
	cursor: pointer;
}

.x-tab-bar-body {
	border-color: #9aa0ab;
	background-color: #fafafa;
}

.x-panel-body-default {
    color: #2a303a;
	border-color: #2a303a;    
}

.x-tab-top-active, .x-tab-default {
    background-color: transparent;
    background-image: none;
}

.x-tab {
    border-color: transparent;
}

/*
.x-nlg .x-btn-default-small, .x-btn-default-small, .x-nlg .x-btn-default-toolbar-small-menu-active, .x-nlg .x-btn-default-toolbar-small-pressed {
	background-image: none !important;
}
*/
.x-btn-group-default-framed {
	border: none;
    box-shadow: none;
    background-color: #eaeaea;
}

.x-btn-default-toolbar-small-menu-active, .x-btn-default-toolbar-small-pressed {
    background-color: transparent;
    background-image: none;
    border: none;
}

.x-btn-over, .x-nlg .x-btn-default-toolbar-small-over {
	background-color: transparent;
    background-image: none;
	border: none;
	border-top-width: 1px;
}
.dashlet .x-btn-over{
	border: 1px solid #D1D1D1;
}

.x-btn-pressed {
	border-bottom-width: 2px;
	border-bottom-color: blue;
}

.x-btn-default-toolbar-small .x-btn-inner {
	color: #aeaeae;
}
.selected .x-btn-inner {
	color: #2a303a;
}
.x-btn-pressed .x-btn-inner {
	color: #2A303A;
}

.prompts .x-panel-header-default {
    border-color: #2a303a;
    background-image: none;
    background-color: white;
}

.promptCollection .x-panel-header-default{
	background-color: #F0F0F0;
}

.x-boundlist-floating {
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.x-boundlist-item {
	border: 1px solid #f5f5f5;
	border-top-width: 0;
}
.x-boundlist-item-over {
    background: none repeat scroll 0 0 #F7F7F7 !important;
    border-color: #e5e5e5 !important;
}
.x-boundlist-selected {
    background: none repeat scroll 0 0 #E5E5E5 !important;
    border-color: #E5E5E5 !important;
}
.x-boundlist-item {
	color: #4a4a4a !important;
    font: 400 12px 'Open Sans',sans-serif !important;
}
.x-boundlist {
	border-color: #B0B0B0;
}
.x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div {
    background-color: #F7F7F7 !important;
}
.x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div {
    background-color: #E5E5E5  !important;
    /*border-color: #E5E5E5 !important;*/ /*fixes top border of a selected row not showing up*/
    border-right: 0 none !important;        
}
.prompts .x-form-text, .prompts textarea.x-form-field {
    background-image: none !important;
    border: 1px solid #eeeeee !important;
}
.x-form-field.x-form-radio {
    background-image: url("../../resources/themes/images/default/form/radio.gif");
}
.x-form-field.x-form-checkbox {
    background: url("../../resources/themes/images/default/form/checkbox.gif") no-repeat scroll 0 0 transparent;
}
.x-form-cb-checked .x-form-checkbox, .x-form-cb-checked .x-form-radio {
    background-position: 0 -13px;
}
.x-form-field {
    font: 12px 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    color: #4a4a4a !important;
    background-image: none;
    border-color: #B0B0B0;
    
}
.x-grid-row .x-grid-cell {
    font: 12px 'Open Sans', sans-serif !important;
    color: #4a4a4a !important;
	border-color: #F5F5F5;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
}
.x-grid-row-selected .x-grid-cell {
    color: #333333; 
}
.promptParent .x-column-header-inner {
	padding-left: 0;
}
.Dashboard .promptParent .x-form-item-body {
	padding: 0 10px 0 0;
}

.x-column-header, .x-form-item, .x-form-item-label {
    background-image: none !important;
    font: 12px 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    color: #7F7F7F !important;
}

.prompt-embedded .x-column-header{
	background-color: transparent;	
}

.x-grid-row-alt .x-grid-cell, .x-grid-row-alt .x-grid-rowwrap-div {
    background-color: #FFFFFF;
}
.x-grid-row-alt.x-grid-row-over .x-grid-cell, .x-grid-row-alt.x-grid-row-over .x-grid-rowwrap-div,
.x-grid-row-over .x-grid-cell, .x-grid-row-over .x-grid-nowrap-div {
    background-color: #F7F7F7;
    border: 1px solid #e5e5e5;
    border-top-width: 0;
}
.prompts .x-form-item {
    font: 12px 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
}
.prompts .x-form-item-label {
	font-size: 12px !important;
}
.Dashboard .x-grid-view, .promptParent .x-grid-view {
    border: 1px solid #B0B0B0 !important;
}
.x-grid-with-row-lines .x-grid-cell-inner {
    line-height: 15px;
}
.x-grid-header-ct {
    background-color: #FFFFFF !important;
    background-image: none !important;
}
.x-column-header-sort-ASC .x-column-header-text, .x-column-header-sort-DESC .x-column-header-text  {
    background-image: none !important
}
.x-column-header-over{
    background-color: #FFFFFF !important;
    background-image: none !important;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
}

.x-form-date-trigger {
    background-image: url("../../resources/images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") !important;
    background-position: 0 -750px !important;
    border: 0;
    margin-left: 3px;
}
.x-datepicker-header {
    background-color: #7F7F7F !important;
    background-image: none !important;
    font: 12px 'Open Sans', sans-serif !important;
    color: #ffffff !important;
}

.x-datepicker {
    font: 10px 'Open Sans', sans-serif !important;
	
}
table.x-datepicker-inner a:hover, table.x-datepicker-inner .x-datepicker-disabled a:hover {
    background-color: #FFFFFF !important;
}
table.x-datepicker-inner .x-datepicker-disabled a {
    background-color: #FFFFFF !important;
}
.x-datepicker-footer, .x-monthpicker-buttons {
    background-color: #FFFFFF !important;
    background-image: none !important;
    border-top: 1px solid #F7F7F7;
}
table.x-datepicker-inner th {
    background-color: #FFFFFF !important;
    background-image: none !important;
    font: 10px 'Open Sans', sans-serif !important;
}

table.x-datepicker-inner .x-datepicker-selected a {
    background-color: #7f7f7f !important;
    color: #FFFFFF !important;
    border-width: 0 !important;
}

.x-datepicker .x-btn-default-small {
    background-image: none !important;
    border-width: 0 !important;
}

.x-monthpicker-item {
    font: 11px 'Open Sans', sans-serif !important;
}
.x-monthpicker-item a {
    border: 1px solid white !important;
    color: #7f7f7f !important;
}
.x-monthpicker-item a:hover {
    background-color: #F7F7F7 !important;
}
.x-monthpicker-item a.x-monthpicker-selected {
    background-color: #b3b3b3 !important;
    border: none !important;
    color: #ffffff !important;
}
.x-monthpicker-months {
    border-right: 1px solid #F7F7F7 !important;
}
table.x-datepicker-inner .x-datepicker-active {
    color: #f7f7f7 !important;
}
table.x-datepicker-inner th {
    border-bottom: 1px solid #F7F7F7 !important;
}
.dashlet-pager, .dashlet-pager .x-form-item {
	background-color: #FFFFFF;
	background-image: none;
	border: 0;
    white-space: nowrap;
}

.dashlet-pager .x-toolbar-text, .dashlet-pager .x-form-field, .dashlet-pager .x-form-item {
    font: 600 11px 'Open Sans',sans-serif !important;
    color: #4C4C4C;
}
.x-tbar-page-first {
    background-image: url("../../resources/images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") !important;
    background-position: -60px -780px;
}
.x-tbar-page-last {
    background-image: url("../../resources/images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") !important;
    background-position: 0 -780px;
}
.x-tbar-page-next, .x-datepicker-next a, .x-monthpicker-yearnav-next  {
    background-image: url("../../resources/images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") !important;
    background-position: -30px -780px;
}
.x-tbar-page-prev, .x-datepicker-prev a, .x-monthpicker-yearnav-prev {
    background-image: url("../../resources/images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") !important;
    background-position: -90px -780px;
}
.x-item-disabled .x-tbar-page-first {
    background-image: url("../../resources/images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") !important;
	opacity: .4;
}
.x-item-disabled .x-tbar-page-last {
    background-image: url("../../resources/images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") !important;
	opacity: .4;
}
.x-item-disabled .x-tbar-page-next {
    background-image: url("../../resources/images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") !important;
	opacity: .4;
}
.x-item-disabled .x-tbar-page-prev {
    background-image: url("../../resources/images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") !important;
	opacity: .4;
}
.x-nlg .x-tab-top, .x-nlg .x-tab-top-active, .x-nlg .x-btn-default-toolbar-small-menu-active, 
.x-nlg .x-btn-default-toolbar-small-pressed, .x-nlg .x-btn-default-toolbar-small-menu-active {
	background-image:none;
}

.maximized-dashlet {
	background-color: #F7F7F7;
	background-image: none;
    font: 600 11px 'Open Sans',sans-serif !important;
    color: #2a303a;
	border-color: #e2e2e2;
}

.maximized-dashlet .x-window-body-default {
	background-color: #FFFFFF;
	background-image: none;
	border-color: #e2e2e2;
}

.maximized-dashlet .x-window-header-default-top {
	box-shadow: none;
	background-color: #F7F7F7;
    color: #2a303a;
	border-color: #e2e2e2;
}

.maximized-dashlet .x-window-header-text-default {
    color: #2a303a;
    font: 600 11px 'Open Sans',sans-serif !important;

}

.prompt-list {
	border-color: #eeeeee;
}

.chartError {
    font: 600 12px 'Open Sans',sans-serif !important;
    color: #2a303a;
    text-align: center;
}

.columnSelector {
	top: 0 !important;
	margin: 5px 3px 0 0 !important;
}

#idTimeOfDayPanel .columnSelector {
    margin: 5px 27px 0 0 !important;
}

.floatingPrompt, .floatingPrompt .x-panel-body-default, .floatingPrompt .x-column-header-inner, .floatingPrompt .x-grid-header-ct{	
	background-color: #F7F7F7 !important;
}

.floatingPrompt {
	border: 1px solid #BCBCBC !important;
	box-shadow: 0 1px 1px #888888;
}

.npPromptContainer{
	border-top: 1px solid #E2E2E2;
	border-bottom: 	1px solid #E2E2E2;
	border-right: 	1px solid #E2E2E2;
	border-left: 0;
}

.npPromptContainer, .npPromptContainer .x-panel-header-text-default{
	font-family: 'Open sans', sans-serif;	
}

.leftPromptListItem .x-panel-header-default:hover{
	border: 1px solid #bcbcbc;	
}

.leftPromptListItem {
	padding: 5px 5px 5px 15px;
	border: 1px solid #E2E2E2;
}

.leftPromptListItem .x-panel-header-text-default{
	font-size: 11px;
	color: #2A303A;
}

.applyContainer {
	border-bottom: 1px solid #E2E2E2;
}

/* entypo fonts */
@font-face {
    font-family: 'entypo';
    src: url('../../resources/fonts/entypo.eot');
    src: url('../../resources/fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../../resources/fonts/entypo.woff') format('woff'),
         url('../../resources/fonts/entypo.ttf') format('truetype'),
         url('../../resources/fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="entypo"]{
	font-family: 'entypo';
	font-size: 13px;
  	line-height: 22px;
  	
  	display: inline-block;
  	width: 1.1em;
  	margin-right: .1em;
  	text-align: center;
}

.entypoBttn .x-btn-inner, .entypo, .entypoSearch {
	font-family: entypo;
	font-size: 13px;
  	line-height: 22px;
}

.entypoSearchCt{
	background-color: white;	
}

.entypoSearch {
	top: -5px;
}

.entypoPencil:before { content: "\270e"; } /* '\270e' */

.entypoBttn .x-btn-inner {
	height: 26px;
}

.entypoBttn.x-btn-default-small{
	background-image: none;
}

.icon-edit {
	background: url("../../resources/images/edit.png") no-repeat !important;
	background-position: 0 0 !important;
	height: 30px !important;
	width: 30px !important;
	top: 17px;
	left: 22px;
}


/* Spinner on xhr request */
.x-mask-msg.dashMask {
	border: none;
	background-color: transparent;
	box-shadow: none;
}

div.dashMaskMsg {
	background-image: url("../../resources/images/ajax-loader.gif") !important;
	background-repeat: no-repeat !important;
    border: none !important;
}

/* Bing colored markers */
.colorMarker:hover{
	opacity: 0.5;
}

.colorMarker{
	opacity: 1;
}

table.promptChkBox, table.selectedChkBox, .promptChkBox .x-form-item, .selectedChkBox .x-form-item, .promptParent .x-container{
	background-color: #F5F5F5 !important;
}

table.selectedChkBox {
	border-bottom: 1px solid #cacaca;
}

.selectedChkBox .x-form-cb-label-after, .promptChkBox .x-form-cb-label-after { 
	padding-left: 5px;
}

.chkbox:hover{
	background-color: #DEE7F2 !important;
}

.chkRemoveBttn {
	background: transparent;
	border: none;
}

.chkRemoveBttn .x-btn-inner {
	color: #4274B0;
	font-weight:bold;
}

.chkRemoveBttnOver .x-btn-inner{
	text-decoration: underline;
}

.promptSearch: {
    font-family: 'entypo';
}

.promptSearchBox {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-bottom: px !important;
	border-style: solid !important;
	border-color: #B0B0B0 !important;
}

.promptSearchBox .x-form-field {
	border-style: none;
}

.x-form-cb-checked{
	color: #000000 !important;
}

.promptSummary.x-toolbar .x-btn-disabled .x-btn-split-right {
	background-image: none !important;
	padding-right: 0 !important;
}

.disabledPromptCard.x-btn-default-small, .promptCard.x-btn-default-small{
	background-image: none !important;
	border-radius: 0;
	border-left: none;
	border-bottom: none;
	border-top: none;
}

.disabledPromptCard, .disabledPromptCard .x-btn-split-right, .disabledPromptCard.x-btn-over .x-btn-split-right, .promptCard.x-btn-over .x-btn-split-right{
	background-image: none !important;
}
.promptCard .x-btn-split-right:hover{
	background: url("../images/close-red.png") no-repeat scroll right center transparent !important;
	background-image: none;
}

div.promptCard, div.disabledPromptCard, .promptSummary.x-toolbar .x-btn-disabled{
	height: 30px;
	border-right: 1px solid #D4D4D4;
}

div.promptCard {
	padding-right: 5px;
}

.promptCard .x-btn-split-right{
	background: url("../images/close-grey.png") no-repeat scroll right center transparent !important;
}

.x-box-scroller-left .x-toolbar-scroll-left, .x-box-scroller-left .x-tabbar-scroll-left {
 	background-image: url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");           
    cursor: pointer;
    height: 28px;
    position: relative;
    width: 28px;
    border-right: 1px solid #d4d4d4;
 }

.x-box-scroller-right .x-toolbar-scroll-right, .x-box-scroller-right .x-tabbar-scroll-right {
 	background-image: url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");           
    cursor: pointer;
    height: 28px;
    position: relative;   
    width: 28px;
    border-left: 1px solid #d4d4d4;
}

.x-box-scroller-left .x-toolbar-scroll-left, .x-box-scroller-left .x-tabbar-scroll-left {
	background-position: -80px -770px;
}

.x-box-scroller-right .x-toolbar-scroll-right, .x-box-scroller-right .x-tabbar-scroll-right {
	background-position: -19px -770px;
}


#tabsContainer .x-tabbar-scroll-right-hover,
#pagesTabContainer .x-tabbar-scroll-right-hover {
	
	 background-color: #e5e5e5;
}

#tabsContainer .x-tabbar-scroll-left-hover,
#pagesTabContainer .x-tabbar-scroll-left-hover {
	
	 background-color: #e5e5e5;
}

#tabsContainer .x-box-scroller-right, #tabsContainer .x-box-scroller-left{
    box-shadow: 0 0 2px 3px rgba(100, 100, 100, 0.07);	 
    -webkit-box-shadow: 0 0 2px 3px rgba(100, 100, 100, .07);   
}

 
#pagesTabContainer .x-box-scroller-right, #pagesTabContainer .x-box-scroller-left {
    box-shadow: 0 0 2px 3px rgba(100, 100, 100, 0.07);	 
    -webkit-box-shadow: 0 0 2px 3px rgba(100, 100, 100, .07);   
}

#pagesTabContainer .x-tab-bar-body {
    background-color: #EDEDED !important;
    border-bottom: 1px solid #CACACA;
    
}
 
#pagePromptContainer-body .x-splitter-vertical:hover {
	background-color: #FFFFBE;
}

#id-menu-mngschedules .x-menu-item-icon{
	background: none !important;
	height: 30px !important;
	width: 30px !important;	 
}

/*  grid */
.x-birst-grid .x-grid-body{
	border: none;
}
.x-birst-grid .x-grid-body *{
	cursor: pointer !important;
}
#idSpacesListPanel{
	border-right: 1px solid #9aa0ab;
}
/* table borders and backgrounds*/
/*Defaults*/
.x-birst-grid .x-grid-body > div .x-grid-row td{
	border: none;
	border-top: 1px solid #dfdfdf;
	height: 30px !important;
}
.x-birst-grid .x-grid-body > div .x-grid-row:nth-child(2) td{
	border-top: none;
}
.x-birst-grid .x-grid-body > div .x-grid-row:last-child td{
	border-bottom: 1px solid #dfdfdf;
}

/*Hover*/
.x-birst-grid .x-grid-body > div .x-grid-row-over td{
	background-color: #f5f5f5;
}
.x-birst-grid .x-grid-body > div .x-grid-row.invite.x-grid-row-over td{
	background-color: #f1f1d6;
}
.x-birst-grid .x-grid-body > div .x-grid-row-over td, .x-birst-grid .x-grid-body > div .x-grid-row-over + .x-grid-row td{
	border-top: 1px solid #9aa0ab;
}
.x-birst-grid .x-grid-body > div .x-grid-row-over td:last-child{
	border-right: 1px solid #9aa0ab;
}
.x-birst-grid .x-grid-body > div .x-grid-row-over:last-child td{
	border-bottom: 1px solid #9aa0ab;
}
/*Selected*/
.x-birst-grid .x-grid-body > div .x-grid-row-selected td, .x-birst-grid .x-grid-body > div .x-grid-row-selected + .x-grid-row td{
	border-top: 1px solid #9aa0ab;
}
.x-birst-grid .x-grid-body > div .x-grid-row-selected td:last-child{
	border-right: 1px solid #9aa0ab;
}
.x-birst-grid .x-grid-body > div .x-grid-row-selected:last-child td{
	border-bottom: 1px solid #9aa0ab;
}
/*Table fonts and positioning*/
.x-birst-grid .x-grid-body > div{
	font-size: 14px;
}
.x-birst-grid .x-grid-body > div .x-grid-cell:first-child{
	width: 40px !important;
}
.x-birst-grid .x-grid-body > div .x-grid-cell:first-child > div{
	position: relative;
	top: 12px;
	left: 12px;
}


.x-birst-grid .x-grid-cell {
 	padding-right: 14px;
}

.x-birst-grid .x-grid-body > div .x-grid-cell:nth-child(2) > div{
	font-size: 14px;
	font-family: 'Open sans', sans-serif;
	font-weight: 600;
	padding: 18px 0 18px;
}
.x-birst-grid .x-grid-body > div .x-grid-cell:last-child > div{
	font-family: 'Open sans', sans-serif;
	font-weight: 400;
	padding-top: 4px;
	font-size: 12px;
	font-style: italic;
}

/* x-birst-grid report schedule table adjustments*/
#id-schedules-grid .x-birst-grid .x-grid-body > div .x-grid-row td{
	height: 30px !important;
}

#bid-win-mngschedules .x-birst-grid .x-grid-body > div .x-grid-row-over td:last-child{
	border-right:  0 none;
}

#id-schedules-grid .x-box-inner {
	border-bottom: 1px solid #dfdfdf;
}

/*rsx*/
#id-schedules-grid .x-toolbar-footer-docked-top .x-box-inner {
	border-bottom: 0 none;
}

#bid-win-mngschedules .x-birst-grid .x-grid-body > div .x-grid-cell:last-child > div {
    font-family: 'Open sans',sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    padding-top: 18px;
}

#bid-win-mngschedules .x-birst-grid .x-grid-body > div .x-grid-cell:nth-child(2) > div {
    font-family: 'Open sans',sans-serif;
    font-size: 12px;
    font-weight: normal; 
    padding: 18px 0;
}

#bid-win-mngschedules .x-birst-grid .x-grid-body > div .x-grid-cell:nth-child(3) > div {
    font-family: 'Open sans',sans-serif;
    font-size: 12px;
    font-weight: normal; 
    padding: 18px 0;
}
#bid-win-mngschedules .x-birst-grid .x-grid-body > div .x-grid-cell:nth-child(4) > div {
    font-family: 'Open sans',sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 18px 0;
}

#bid-win-mngschedules .x-birst-grid .x-grid-body > div .x-grid-cell:first-child > div {
    left: 0;
    font-family: 'Open sans',sans-serif;
    font-size: 12px;
    position: relative;
    top: 14px;
}

#bid-win-mngschedules .disabled .x-grid-cell {
	/*background:#FEF7B4;*/
	font-style: italic; 
} 

#bid-win-mngschedules .x-birst-grid .x-grid-body {
    border: thin solid #C5C5C5;
}

#bid-win-mngschedules .x-column-header-over,.x-column-header-sort-ASC,.x-column-header-sort-DESC{
	border-left-color:#C0C0C0;
	border-right-color:#C0C0C0;
	background-image:none !important;
	background-color:#C0C0C0;
}

#bid-win-mngschedules .x-grid-header-ct {
   border-color: #C5C5C5 !important;
   /*background-color: #C5C5C5 !important;*/
   border-width: 0 !important; /**/
}

#id-schedules-grid .x-column-header {
    background-color: #FFFFFF !important;
    background-image: none !important;
    font: 12px 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    color: #7F7F7F !important;
    border-right: 0 none !important;
}

#bid-win-mngschedules .x-docked-top.x-toolbar-footer {
    background-color: #FFFFFF !important;
}

#bid-win-mngschedules .x-docked-bottom.x-toolbar-footer {
    background-color: #F7F7F7 !important;
    border-top: 1px solid #EFEFEF !important;
}

#bid-win-mngschedules .x-btn-default-small-disabled {
    background-color: #FFFFFF;     
    /*border-color: #FFFFFF;*/
}


.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}
.x-grid-checkheader {
    height: 14px;
    background-image: url('../images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('../images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

.x-tool img {
    background-image: url("../../resources/themes/images/gray/tools/tool-sprites.gif") !important;
 }

.bx-htmleditor .x-toolbar-default {
    background-image: -moz-linear-gradient(center top , #E4E4E4, #E8E8E8);
    border-color: #B2B2B2;
}
 
 .x-toolbar .x-toolbar-separator-horizontal {
    border-left: 1px solid #95989D !important;
 }

 .x-fieldset {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important; 
    border-top: 1px solid #B5B8C8 !imprtant!;
 }
 
 .x-fieldset-header {
    color: #232323 !important;
    font: 14px bold black,sans-serif !important;
    overflow: hidden;
    padding: 0 3px 1px 2px;
}

.cvsdelimiter-field {
    width: 40px !important;	
}

#togglePromptView button span {
    background-image: none !important;
    height: 30px !important;
	width: 30px !important;
}

#togglePromptView button span.icon-toggle-np{
	background: url("../images/filter_side_view.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") no-repeat scroll center transparent !important;
}

#togglePromptView button:hover span.icon-toggle-np{
	background: url("../images/filter_side_view_on.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") no-repeat scroll center transparent !important;
}

#togglePromptView button span.icon-toggle-classic{
	background: url("../images/filter_top_view.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") no-repeat scroll center transparent !important;
}

#togglePromptView button:hover span.icon-toggle-classic{
	background: url("../images/filter_top_view_on.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#") no-repeat scroll center transparent !important;
}

.bx-baseBody.bx-fieldBody {
   	padding-left: 24px;
}

.bx-baseBodyChr.bx-fieldBodyChr {
   	padding-left: 16px;
}

.x-fieldset-body {
  
    padding-left: 18px;
}
 
.x-checkboxgroup-form-item:nth-child(2) {
	margin-top: 12px;	 
} 

.x-form-invalid-field, textarea.x-form-invalid-field {
     border-color: #CC3300 !important; /*field's invalid marker*/
}

.x-menu.x-menu-plain {
	border-top: 1px solid #9AA0AB !important;
}


.filterBttnIcon {
 	background-image: url(../images/filter.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#);
 	background-repeat: no-repeat;
 	margin: auto;
 	top: 2px !important;
 	background-size: 14px 14px;
}

.maximized-dashlet ~ .visWinWrap {
	top: 0;
}

.visWinWrap {
	bottom: 0;
	left: 0;
	position: absolute;
	top: 48px;
	right: 0;
	z-index: 999998;
}

.visWinHeader {
	background: #333;
	height: 36px;
	width: 100%;
}

.visWinInner {
	position: absolute;
	top: 36px;
	bottom: 0;
	left: 0;
	right: 0;
}

.visWinFrame {
	height: 100%;
	width: 100%;
}

.visWinClose {
	background-color: #A5442A;
	color: #DDD;
	float: right;
	font-size: 18px;
	font-weight: bold;
	height: 36px;
	line-height: 33px;
	width: 35px;
	text-align: center;
	text-decoration: none;
}

.xb-modal-window .btn-close {
	background: none;
	border: none;
}

.xb-modal-window .btn-close .x-btn-inner {
	color: #FFF;
	font-size: 19px;
	font-weight: bold;
}

/* SVG */
.dashlet .x-panel-header span.x-btn-icon {
	display: none;
}
.pivot-bg, .st1, .st2, .st3, .st4, .st5, .pivot-svg {
    pointer-events: all;
}

.pivot-bg {
	fill: #939393;
}
.pivot-border {
	fill: #666666;
}

.pivot-svg:hover .pivot-border {
	fill: #A51324;
}

.pivot-svg:hover .pivot-bg{
	fill: #CC2136;
}

.pivot-text{
	fill:#FFFFFF;
}

.pivot-svg {
	enable-background: new 0 0 16 16;
}

.vz-svg {
	enable-background:	new 0 0 21 16;
}

.pivot-svg:hover .ss0,
.pivot-svg:hover .vz0 {
	fill: #CC2136;
}

.pivot-svg:hover .ss2 {
	stroke: #CC2136;
}

.ss0{
	fill:#787878;
}

.ss1{
	fill:#FFFFFF;
	stroke:#555555;
	stroke-miterlimit:10;
}
.ss2{
	fill:#FFFFFF;
	stroke:#787878;
	stroke-width:2;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}
.vz0 {
	fill:#777777;
}
.vz1{
	enable-background:new;
}
.vz2{
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#F3B400;
}
.vz3{
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#E37E8F;
}
.vz4{
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#A7C877;
}
.vz5{
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#91C4E5;
}

.filterBttn {
	background: transparent;
}

.extIframe {
	border: none;
}
