.headerToolbar .x-btn-over {
	color: #444 !important;
	background-image: none;
}


#idHeaderContainer .selected *{
	color: #000 !important;
}

#idHeaderContainer .x-btn-inner{
	font-size: 14px;
	font-weight: 600;
	color: #2e2e2e;
	font-family: 'Open Sans', sans-serif;
	background: none;
}

.pagesBttnGroup .x-btn-add-page .x-btn-inner {
	font-size: 18px;
}

#headerToolbar{
	padding-top: 7px;
}

.x-btn-arrow{
	background: none !important;
}

#headerMenuLabel{
	overflow: visible;
}

.headerPerson,
.x-btn-default-toolbar-small-over.headerPerson,
.x-nlg .x-btn-default-toolbar-small-menu-active.headerPerson,
.x-nlg .x-btn-default-toolbar-small-pressed.headerPerson {
	height: 30px;
	background-image:url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");
	background-clip: padding-box;
	padding-left: 24px;
	background-position: 0px -236px;
	background-repeat: no-repeat;
}

.headerMenu, .x-btn-over .headerMenu {
    background-image: url("../images/downArrow.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");
}

.x-btn-default-toolbar-small-menu-active, .x-btn-default-toolbar-small-pressed {
	background-color: transparent;
}

.birstHomeHeader
{
background: transparent;
height: 45px;
min-width:350px;
}
.x-nlg .x-btn-default-toolbar-small-menu-active,.x-nlg .x-btn-default-toolbar-small-pressed
{
	background-repeat:no-repeat;
	background-image:url('../../resources/themes/images/default/btn/btn-default-toolbar-small-pressed-bg.gif')
}

.x-ie6 .x-btn-default-toolbar-small-icon-text-right .x-btn-icon, .x-quirks .x-btn-default-toolbar-small-icon-text-right .x-btn-icon {
    height: 24px !important;
}

.x-nlg .x-btn-default-toolbar-small-icon-text-right .x-btn-icon {
	height: 21px !important;
}

.cr-birst-logo
{
height: 40px;
text-align: left;
margin-left: 20;
margin-top: 0px !important;
left: 11px !important;
}

/* Give some space on top for the logo */
.cr-birst-logo img {
	max-height: 40px;
	vertical-align: middle;
	padding: 9px 0 0 0 !important;
}

#idHeaderContainer #headerToolbar .headerPerson {

  background-position: 0 -236px !important;
}

#idHeaderContainer{
	height: 50px !important;
	border-bottom: 1px solid #cacaca;
	background: #ffffff;
}

.x-border-layout-ct {
	background: #FFFFFF;
}

.headerToolbar {
	background: transparent;
}

#toolbar-1016-targetEl > div{
	margin-left: 20px;
}

#toolbar-1016-innerCt{
	top: 5px;
}


/*Loading screen*/

.x-mask-msg {
	z-index: 20001;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0px !important;
	border: 1px solid #bbbbbb;
	background-color: #f5f5f5;
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, .09);
	border-radius: 2px;
}

.x-mask-msg div {
	padding: 30px !important;
	background-image: url('../../resources/themes/images/default/grid/loading.gif?v=#BIRST_REPLACE_WITH_BUILD_VERSION#');
	background-repeat: no-repeat;
	background-position: 5px center;
	cursor: wait;
	border: none !important;
	background: none !important;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
	font-family: 'Open Sans', sans-serif !important;
}


/*Ext Menu*/

.x-menu *{
	/*background: none !important; -- to eliminate the global side effect of this decl. and yet still persist the same styling effect
	  for menu items use the two subsequent rules below*/
	border: none !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #2a303a;
	font-family: 'Open Sans', sans-serif !important;
	padding: 0px;
	margin: 0px;
}
.x-menu-item-active .x-menu-item-link {
   background: none !important;
}
.x-menu-body {
    background: none repeat scroll 0 0 #FFFFFF !important;
}

/*TEMP MIN WIDTHS*/
#id-header-menu.x-menu{
	top: 49px !important;
}
.x-menu{
/*	top: 49px !important;
/*	left: none !important;
	right: 10px !important;*/
	background: #fff;
	border-top: 2px solid #2a303a !important;
	min-width: 200px !important;
	box-shadow: 0 3px 0 0 rgba(224, 227, 233, 0.7);
}

.x-menu .x-menu-body{
	border-left: 1px solid #9aa0ab !important;
	border-right: 1px solid #9aa0ab !important;
	border-bottom: 1px solid #9aa0ab !important;
	min-width: 200px !important;
}

.x-menu .x-menu-item{
	height: 50px !important;
}

.x-css-shadow{
	display: none !important;
}

.x-menu .x-menu-item{
	min-width: 200px;
	border-top: 1px solid #e0e3e9 !important;
}

.x-menu .x-menu-item-link{
	border: 0 !important;
}

.x-menu .x-menu-item-active{
	background-color: #f5f5f5 !important;
}

.x-menu .x-menu-item-active, .x-menu .x-menu-item-active + .x-menu-item{
	border-top: 1px solid #9aa0ab !important;
}

.x-menu .x-menu-item:first-child{
	border-top: none !important;
}


.x-menu-item-icon {
	background: url("../images/icon-sprite.png?v=#BIRST_REPLACE_WITH_BUILD_VERSION#");
	height: 18px;
	left: 22px;
	top: 17px;
	width: 30px;
}

.x-menu-item .icon-settings {
	background-position: 0 -600px;
}

.x-menu-item .icon-support {
	background-position: 0 -660px;
}

.x-menu-item .icon-help {
	background-position: 0 -630px;
}

.x-menu-item .icon-logout {
	background-position: 0 -690px;
}

.x-menu-item .icon-delete  {
	background-position: 0 -120px;
}

.x-menu-item .icon-copy  {
	background-position: 0 -90px;
}

.x-db-page-menu   {
	height: 18px;
}

.x-menu-item-text{
	position: relative;
	left: 60px;
	top: 16px;
}

.x-nlg .x-toolbar-default {
	background-image: none !important;
}
.headerToolbar {
	border: 0;
}

.headerSpaceName {
	font-size: 14px;
	font-weight: 600;
	color: #2a303a;
	font-family: 'Open Sans', sans-serif;
	vertical-align: middle;
	/*handle text truncation*/
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.x-tip-body {
	color: #2a303a;
	font-family: 'Open Sans', sans-serif;
}
.x-tip {
    background-color: #F7F7F7;
    border-color: #9aa0ab;
}

.x-btn-default-toolbar-small-over {
	background-color: transparent;
	background-image: none;
	border: none;
}

.lastLogin {
	display: block;
	position: absolute;
	right: 31px;
	top: 50px;
}
