$moveResizeHoverBorderColorMoving: #333;

.edit-mode {

	[b-moveable] {

		&.selected {
			border-color: $moveResizeHoverBorderColor;
			box-shadow: $moveResizeBoxShadowDims $moveResizeHoverBorderColor, inset $moveResizeBoxShadowDims $moveResizeHoverBorderColor;

			// needed this specifity to ensure .moving's border-color and box-shadow colors aren't
			// trumped by bResizable's hover styles
			&.moving {
				border-color: $moveResizeHoverBorderColorMoving;
				box-shadow: $moveResizeBoxShadowDims $moveResizeHoverBorderColorMoving, inset $moveResizeBoxShadowDims $moveResizeHoverBorderColorMoving;
			}
		}

		&.moving {
			border-color: $moveResizeHoverBorderColorMoving;
			box-shadow: $moveResizeBoxShadowDims $moveResizeHoverBorderColorMoving, inset $moveResizeBoxShadowDims $moveResizeHoverBorderColorMoving;
			opacity: $moveResizeOpacity;
		}
	}
}
