[ng-switch="itemFilter.selectOrInput"]{width:220px}
[ng-switch="itemFilter.selectOrInput"]>*{position:relative;top:0;left:0}
[ng-switch="itemFilter.selectOrInput"]>div>span{white-space: normal;position: absolute;bottom: 0;top: 208px;left: 4px;}
[filter-column] {height:100%;}
[filter-column] [ng-switch="filterType"],[filter-column] [ng-switch="filterType"]>div {height:100%;}
[filter-column] .confirm-filters {height:55px;}
[filter-column] .confirm-filters .apply {width: 100px;}
[filter-column] .confirm-filters .reset {float: left;}
[filter-column] .filter-switch [ng-switch="itemFilter.selectOrInput"]{position: relative;}
[filter-column] .filter-switch select, [filter-column] .filter-switch .items input[type="text"] {width:230px;}
[filter-column] .filter-switch [ng-switch="itemFilter.selectOrInput"] select, [filter-column] .filter-switch .items [ng-switch="itemFilter.selectOrInput"] input[type="text"] {position:absolute;top:0;left:0;}
[filter-column] .filter-switch .filter-type {padding: 10px 0;height: calc(100% - 148px);overflow-y:auto;overflow-x: hidden;}
[filter-column] .filter-switch .filter-type>*{margin: 2px 20px;}
[filter-column] .filter-switch .range input{width: 170px;height: 46px;border-radius: 0px;margin: 2px;padding: 8px;text-align: right;border: none;background: transparent;outline: 0;}
[filter-column] .filter-switch .range .inputs {position:relative;height: calc(100% - 136px);margin: 50px 20px 0 0;z-index: 10;left: 70px;}
[filter-column] .filter-switch .range .min, [filter-column] .filter-switch .range .max{position: absolute;bottom: 2%;left: -1px;}
[filter-column] .filter-switch .range .max{bottom: 98%;}
[filter-column] .filter-switch .range .min span, [filter-column] .filter-switch .range .max span{margin-top: 8px;}
[filter-column] .filter-switch .range [slider-range]{height: calc(100% - 144px);margin:50px 20px 30px 40px;float:left;}
[filter-column] .filter-switch .range .arrow-left{position:absolute;width: 0; height: 0; border-top: 10px solid transparent;border-bottom: 10px solid transparent; border-right:10px solid #eee;left:-10px;}
[filter-column] .filter-switch .range .arrow-left-bg{position:absolute;width: 0; height: 0; border-top: 11px solid transparent;border-bottom: 11px solid transparent; border-right:11px solid #777;left:-11px;top:3px;}
[filter-column] .filter-switch hr {border-top: 1px solid #ccc;border-bottom: 1px solid #eee;}
[filter-column] .filter-switch .items .checkbox {margin-top: 12px;margin-bottom: 12px;}
[filter-column] .filter-switch [date-picker]>div {margin-bottom:10px;margin-top: 20px;padding:0;width: 100%;}
[filter-column] .filter-switch [date-picker]>div>table {width: 100%;}
[filter-column] .filter-switch [date-picker] .btn {padding: 2px 1px 1px;margin: 1px;}
[filter-column] .filter-switch [date-picker] .btn i {top: 0;left: 0;margin: 0;padding:0;float: none;}
.filter-null {font-style: italic;}
[staging] [menu-parent="Filter-Column"]>.filter-hotspot-container{position: relative;}
[staging] [menu-parent="Filter-Column"]>.filter-hotspot-container>.filter-hotspot{position: absolute;top: -48px;left: 0px;width: 225px;height: 0px;padding: 0;background: none;cursor:pointer;z-index: 100;background-color: rgba(255,255,255,0.01);}
[staging] [menu-parent="Filter-Column"]>.filter-hotspot-container>.show-hotspot{height: 48px;}
[staging] .filter-summary{padding: 0 50px 6px 54px;font-size: 16px;height: auto;color: #666;border-bottom: 1px solid #bbb;}
[staging] .filter-summary .nav-padding{padding: 0;cursor: default;}
[staging] .switch .glyphicn {top:0;}
[menu-parent="Filters"] .glyphicn-filter {color: #bbb;}
[menu-parent="Filters"] .glyphicn-filter.selected {color: #555;}
[filter-summary]{position:relative;}
.filter-visualized{background:url('img/Subject_Area_Icons/Filter_Visualized_24px.png') no-repeat center center;width: 24px;height: 24px;display: inline-block;position: relative;top: 5px;}
.filter-unvisualized{background:url('img/Subject_Area_Icons/Filter_Unvisualized_24px.png') no-repeat center center;width: 24px;height: 24px;display: inline-block;position: relative;top: 5px;}
.filter-bullet{width: 10px;height:10px;background-color: #777;border-radius: 10px;margin:4px;position: absolute;left: -32px;top: 3px;}

