<header class="hdr-main">
	<button class="pull-left btn btn-mini btn-meny"><i class="icon-bars"></i></button>
	<i class="birst-logo-icon">birst</i>
	<div class="flip-container vertical" ng-class="{ flipped : !editMode }">
		<div class="flipper">
			<ul class="edit-actions flip-front">
				<li>
					<button ng-click="savePage()" ng-disabled="!pageTitle.$valid" class="btn btn-primary" lm="PUBLISH"></button>
					<!-- <button ng-click="savePage()" ng-disabled="( pageTitle.pagename.$pristine && !layoutUpdated ) || !pageTitle.$valid" class="btn btn-primary" lm="PUBLISH"></button> -->
				</li>
				<li class="dropdown">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<i class="icon-grid-two-col"></i><lm>LAYOUT</lm> <i class="icon-triangle-down"></i>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<button class="btn btn-link" ng-click="page.arrangeLayout( 1 )">
								<i class="icon-grid-1x2"></i>
								<lm>ONE_COLUMN</lm>
							</button>
						</li>
						<li>
							<button class="btn btn-link" ng-click="page.arrangeLayout( 2 )">
								<i class="icon-grid-2x2"></i>
								<lm>TWO_COLUMNS</lm>
							</button>
						</li>
						<li>
							<button class="btn btn-link" ng-click="page.arrangeLayout( 3 )">
								<i class="icon-grid-3x2"></i>
								<lm>THREE_COLUMNS</lm>
							</button>
						</li>
						<li>
							<button class="btn btn-link" ng-click="page.arrangeLayout( 4 )">
								<i class="icon-grid-4x2"></i>
								<lm>FOUR_COLUMNS</lm>
							</button>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<i class="icon-add"></i><lm>INSERT</lm> <i class="icon-triangle-down"></i>
					</button>
					<ul class="dropdown-menu dd-noicon" role="menu">
						<li>
							<button class="btn btn-link" ng-click="fileSystem.openNavigator('open')" lm="EXISTING_REPORT"></button>
						</li>
						<li>
							<button class="btn btn-link" ng-click="createReport()" lm="NEW_REPORT"></button>
						</li>
					</ul>
				</li>
				<li>
					<button ng-click="toggleDrawer()" class="btn"><i class="icon-filter"></i><lm>FILTERS</lm></button>
				</li>
			</ul>
			<ul class="edit-actions flip-back">
				<li>
					<button ng-click="editPage()" class="btn btn-primary" lm="EDIT"></button>
				</li>
			</ul>
		</div>
	</div>
</header>

<div class="sub-head" ng-class="{ 'edit-mode' : editMode }">
	<div ng-form="pageTitle" class="input-group">
		<h1 name="pagename" class="form-control" contenteditable="{{editMode && !disableInline}}" limit-to="100" not-empty="true" no-line-breaks="true" ng-model="page['@name']"></h1>
		<span ng-class="{ 'icon-pencil' : pageTitle.pagename.$pristine || !pageTitle.$valid, 'icon-checkmark' : !pageTitle.pagename.$pristine && pageTitle.$valid }" class="input-group-addon"></span>
	</div>
</div>

<aside class="side-drawer side-drawer-right prompt-container panel-group panel-default panel" prompts-container></aside>

<div class="db-canvas" b-drop-target="onDrop( $droppedObject, $dropCoordinates )" ng-class="{ 'edit-mode' : editMode }">
	<dashlet ng-repeat="layout in page.LayoutV2" b-edit-mode="editMode" b-selectable="layout" b-on-select="reLayer($index)" b-on-delete="removeLayout(layout)" b-moveable b-resizable></dashlet>
	<button class="add-report pg-placeholder" ng-if="!page.LayoutV2.length && editMode" ng-click="fileSystem.openNavigator('open')">
		<p class="handwriting" lm="START_ADDING_REPORTS"></p>
		<i class="icon-folder-open-alt"></i>
	</button>
	<div ng-if="page.LayoutV2.length" class="scroll-spacer"></div>
	<div ng-if="page.LayoutV2.length" class="scroll-spacer"></div>
</div>

<div file-system-b fs-multi fs-buttons fs-search fs-whitelist="visualizer,designer,folder" class="top-drawer" ng-class="{ 'top-drawer-open' : fileSystem.isNavigatorOpen }">
	<div file-system-ui-b></div>
	<div file-stage class="file-stage"></div>
</div>

<aside modal class="modal fade" aria-hidden="true" role="dialog" id="promptEditorModal" aria-labelledby="promptEditorLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="promtEditorLabel">Filter Details</h2>
			</div>
			<div prompt-editor class="modal-body form-horizontal"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="prompt = null">Close</button>
				<button type="button" class="btn btn-primary" ng-click="savePrompt()">Save changes</button>
			</div>
		</div>
	</div>
</aside>

