<div class="clearfix">
    <div ng-repeat="filter in options.text[type]">
		<div bd-button ng-if="$index < 3" ng-click="setModel($index)" ng-class="{'selected': options.lookup[type][$index] === model, 'first': $first}">
			<i class="{{filter | cssClass}}"></i>
			<span>{{filter}}</span>
		</div>
		<div bd-button ng-if="$last && optionsLength <= 4" ng-click="setModel($index)" ng-class="{'selected': options.lookup[type][$index] === model, 'last': $last}">
	    	<i class="{{filter | cssClass}}"></i>
			<span>{{filter}}</span>
	    </div>
	    <div bd-button ng-if="$last && optionsLength > 4" class="last" ng-click="toggleMoreOptions()">
	    	<i class="more-options"></i>
			<span>More</span>
	    </div>
    </div>

    <div bd-dropdown ng-if="optionsLength > 4 && showMoreOptions">
    	<div class="arrow"></div>
        <div ng-repeat="filter in options.text[type]" ng-click="setModel($index)" ng-if="$index > 2" ng-class="{'selected': options.lookup[type][$index] === model}" class="clearfix">
        	<i class="{{filter | cssClass}}"></i>
			<span>{{filter}}</span>
        </div>
    </div>
</div>