<div>
    <div modal-dialog="show">
        <div class="modal-header">
            <form class="form-inline">
		        <input type="text" class="input-xlarge pull-left" id="focusedInput" ng-model="customExpression.name" style="font-size: 24px;font-weight: bold; cursor: pointer;"  title="Type over to change Custom Expression name"/>
            </form>
        </div>
        <div class="modal-body">
            <form class="form-search">
                <div bql-edit="customExpression.expression" subject-area="subjectArea" style="width: 300px; font-size: 14px; font-weight: bold; cursor: pointer;"  title="Click to edit the BQL of this Expression"></div>
            </form>
        </div>
        <div class="modal-footer">
	        <button ng-click="save(); close()" class="btn btn-primary">Okay</button>
	        <button ng-click="delete(); close()" class="btn btn-danger pull-left" >Delete</button>
        </div>
    </div>
</div>
