<div class="db-settings">
    <span ng-click="showDbSettings=true" >
        <!--a href="" onclick='window.open(globalProtocol+"://"+globalURL+":"+globalPort+"/CommandWebService.asmx"); return (0);'>broken?</a-->
    </span>

    <div modal-dialog="showDbSettings">
        <div class="modal-header">
	        <h1>Database Settings</h1>
        </div>
        <div class="modal-body">
            <form novalidate class="simple-form">
                Protocol: <input type="text" size="4" ng-model="dbsettings.globalProtocol" /><br />
                Server URL: <input type="text" ng-model="dbsettings.globalURL" /><br />
                Space ID: <input type="text" ng-model="dbsettings.globalSpaceId" /><br />
                UserName: <input type="text" ng-model="dbsettings.globalUsername" /><br />
                Password: <input type="password" ng-model="dbsettings.globalPassword" /><br />
                Port: <input type="text" ng-model="dbsettings.globalPort" /><br />
            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="defaultMango(data)" class="btn btn-success pull-left" >Mango</button>
            <button ng-click="defaultQA(data)" class="btn btn-warning pull-left" >QA03</button>
            <button ng-click="defaultQASuperStores(data)" class="btn btn-info pull-left" >SprStr</button>
            <button ng-click="defaultBonB(data)" class="btn btn-default pull-left" >Dreamforce</button>

            <!-- <button ng-click="northwind(data)" class="btn btn-default pull-left" >Northwind</button> -->
            <!-- <button ng-click="birstOnBirst(data)" class="btn btn-default pull-left" >Trez</button> -->
            <!-- <button ng-click="bigSubjectArea(data)" class="btn btn-default pull-left" >Big</button> -->
            <!-- <button ng-click="defaultGartner(data)" class="btn btn-default pull-left" >Gartner</button> -->

            <button ng-click="cancel()" class="btn btn-primary">Cancel</button>
	        <button ng-click="save()" class="btn btn-danger">Apply!</button>
        </div>       
    </div>
</div>
