<div class="home-screen-container" ng-if="chartType !== 'table'">
    <div class="home-screen chart-Drop-Zone" ng-show="showXY">
    	<i class="hand-drop-column"></i>
        <span class="handwriting" ng-if="!showHelp">Drag & Drop Measure or Attribute here</span>
    </div>
    <div ng-show="showXY" class="ok-note">
    	<span class="handwriting" ng-if="!showHelp">OR</span>
    </div>
    <div class="home-screen home-open-navigator" ng-click="fileSystem.openNavigator('open')" ng-show="showXY">
    	<i class="folder"></i>
        <span class="handwriting" ng-if="!showHelp">Open an existing report</span>
    </div>
</div>