<div>
    <i ng-click="toggleError()" class="glyphicon glyphicon-warning-sign"></i>
    <div ng-if="showErrorMessage" class="message-container">
	    <div class="basicText">{{errorMessage}}
	    	<span class="more" ng-if="error.moreInfoText" ng-click="toggleMoreOrLess()">({{moreOrLess}})</span>
	    </div>
	</div>
</div>