<div>
	<div folder-structure class="pull-left">
		<div folder="{{fileSystem.folderStructure.$$hashKey}}" ng-click="fileSystem.setDirectory(fileSystem.folderStructure)" ng-class="{'hide-contents': !fileSystem.folderStructure.open, 'active': fileSystem.activeDirectory === fileSystem.folderStructure.path }">
			<i ng-class="{'arrow-down-icon-active': child.open, 'arrow-right-icon-active': !child.open}"></i>
			<span>{{fileSystem.folderStructure.name}}</span>
		</div>
		<ul>
		    <li ng-repeat="child in fileSystem.folderStructure.children" ng-include="'file-system.html'" ng-click="toggleFolder()"></li>
		</ul>
		<script type="text/ng-template" id="file-system.html">
			<div folder="{{child.$$hashKey}}" drop-target="fileSystem.dropInFolder(child)" ng-click="fileSystem.setDirectory(child)" ng-class="{'hide-contents': !child.open, 'active': fileSystem.activeDirectory === child.path }">
				<i ng-class="{'arrow-down-icon': child.open, 'arrow-right-icon': !child.open}" ng-click="child.open = !child.open"></i>
				<i class="folder-icon"></i>
			    <span>{{child.name}}</span>
			</div>
		    <ul>
		        <li ng-repeat="child in child.children" ng-include="'file-system.html'" ng-click="toggleFolder()"></li>
		    </ul>
		</script>
	</div>

	<div file-navigator class="pull-left" ng-class="fileSystem.navigatorMode">
		<div save-input ng-if="fileSystem.navigatorMode === 'save'">
			<input type="text" class="form-control" ng-model="fileSystem.newFileName">
			<span class="saveValidation">{{fileSystem.saveValidationMessage}}</span>
			<button class="btn" ng-click="fileSystem.save(fileSystem.activeDirectory, fileSystem.newFileName)" ng-disabled="!fileSystem.newFileName.length">
				<i class="save-icon pull-left"></i>
				<span>save</span>
			</button>
		</div>
		<div folder-toolbar class="hide clearfix" ng-if="fileSystem.navigatorMode === 'save'">
			<div class="hide new-folder btn btn-default pull-left" ng-click="fileSystem.newFolder()" ng-if="fileSystem.navigatorMode === 'save'">
				<i class="new-folder-icon"></i>
				<span>New Folder</span>
			</div>
			<div class="hide dropdown pull-right" ng-if="fileSystem.navigatorMode === 'open'">
				<i class="arrow-down-icon"></i>
				<span>Sort by: {{ fileSystem.getSortType() }}</span>
			</div>
		</div>
		<div current-directory>
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th><!-- Owner --></th>
						<th><!-- Date --></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr file="{{file.$$hashKey}}" ng-repeat="file in fileSystem.currentDirectoryList" ng-click="fileSystem.openFile(file, $event)">
						<td>
							<i class="{{file.type}}-large-icon"></i>
							<!-- <span draggable="file" ng-if="file.type === 'file'" class="button"  popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="bottom" popover="drag to move">
								<i class="move-icon"></i>
							</span> -->
						</td>
						<td ng-class="{'editing': file.editing, 'filename': !file.editing}">
							<span ng-if="!file.editing">{{file.reportName}}</span>
							<div class="inline-edit" ng-if="file.editing">
								<input type="text" ng-model="file.newName">
								<span class="rename-button button" ng-click="fileSystem.confirmRename(file)">save</span>
							</div>
						</td>
						<td>
							<span><!-- {{file.owner || 'me' }} --></span>
						</td>
						<td>
							<span><!-- {{file.modified}} --></span>
						</td>
						<td>
							<!-- <div class="button" ng-click="fileSystem.copy(file)"><i class="new-file-icon"></i></div> -->
							<span class="button" ng-if="file.type === 'file'" ng-click="fileSystem.delete(file)" popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="bottom" popover="delete">
								<i class="trash-icon"></i>
							</span>
							<span class="button" ng-if="file.type === 'file'" ng-click="fileSystem.startRename(file)" popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="bottom" popover="rename">
								<i class="pencil-icon"></i>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div close ng-click="fileSystem.closeNavigator()">
		<i class="close-btn pull-left"></i>
	</div>

</div>