<div>
    <div ng-class="{'no-filter': !( column.filter || column.displayFilter ) && stagingType === 'filter'}">
        <div class="row-title clearfix">
            <div class="pull-left" draggable="column">
                <i ng-class="{'filter-unvisualized': !column.properties.visualized, 'filter-visualized': column.properties.visualized}" popover-trigger="mouseenter" popover="Visualized Filter" popover-placement="bottom"></i>
                <span>{{column.name | stagingAreaDisplayName}}</span>
            </div>
            <div class="column-tools">
                <i ng-click="stage.removeFilter(column);updateChart()" class="remove" title="Remove"></i>
            </div>
        </div>
        <div class="measure-properties">
            <div menu-parent="Filter-Column">
                <div class="filter-hotspot-container">
                    <div class="filter-hotspot row-title" ng-click="filterDialog(column)" ng-class="{'show-hotspot': column.filter || column.displayFilter}"></div>
                </div>
                <div menu-child="nested">
                    <div filter-column="column" filter-data="filterData"></div>
                </div>
            </div>
            <div class="row-title filter-summary">
                <div ng-if="column.properties.visualized && (column.filter || column.displayFilter)" class="switch-container-visualized">
                    <toggle-switch-apple on-change="updateChart()" model="column.properties.isFilterOn"></toggle-switch-apple>
                </div>
                <div filter-summary="column"></div>
                <div ng-if="!column.properties.visualized">
                    <div ng-repeat="measure in stage.allSeries()" class="switch-container-unvisualized">
                        <div>
                            <i class="filter-bullet"></i>
                            <span class="switch-right">Filter on {{measure.column.name}}</span>
                        </div>
                        <toggle-switch-apple on-change="updateChart()" model="column.measuresToFilter[measure.column.name]"></toggle-switch-apple>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
