<div class="logo">Birst</div>
<nav class="navbar-alt-nav">
    <div db-settings></div>
    <ul>
        <li>
            <a href="" class="nav-link">{{spaceName}}</a>
        </li>
        <li>
            <a href="/html/home.aspx" class="nav-link">HOME</a>
        </li>
        <li>
            <a href="/html/dashboards.aspx" class="nav-link" ng-show="isDashboardButtonVisible">DASHBOARDS</a>
        </li>
        <li>
            <a href="/FlexModule.aspx?birst.module=designer#" class="nav-link" ng-show="isDesignerButtonVisible">DESIGNER</a>
        </li>
        <li>
            <a href="/FlexModule.aspx?birst.module=admin" class="nav-link" ng-show="isAdminButtonVisible">ADMIN</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link">
                <i class="icon-avatar"></i>
                <span id="myName"></span>
                <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/Account.aspx" class="nav-link dropdown-nav-link">
                        <i class="icon-settings"></i>
                        settings
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.birst.com/company/about-birst/support" class="nav-link dropdown-nav-link">
                        <i class="icon-support"></i>
                        support
                    </a>
                </li>
                <!--li>
          <a ng-click="showHelpButton = 'Back to my Chart';showHelp = true" class="nav-link dropdown-nav-link">
            <i class="icon-help"></i>
            help
          </a>
        </li-->
                <li>
                    <a target="_blank" href="/Help/Full/index.htm" class="nav-link dropdown-nav-link">
                        <i class="icon-help"></i>
                        Help
                    </a>
                </li>
                <li>
                    <a href="/Logout.aspx" class="nav-link dropdown-nav-link">
                        <i class="icon-logout"></i>
                        logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
