<div class="handwriting" ng-if="showHelp" ng-click="hideHelp($event)">
	<div background>
		<div class="subject-area"></div>
		<div class="subject-area-bottom"></div>
		<div class="chart"></div>
		<div class="guided"></div>
	</div>
	<div search-note>
		<span class="emphasis">search or browse</span>
		<span>for measures and attributes</span>
		<i class="arrow-searchorbrowse"></i>
	</div>
	<div staging-note>
		<span class="emphasis">chart builder</span>
		<span>drag and drop measures and attributes here to visualize</span>
		<i class="arrow-stagingbar"></i>
	</div>
	<div guided-note>
		<span>guided mode</span>
		<i class="arrow-guided"></i>
	</div>
	<div tool-bar>
        <i class="arrow-undo"></i>
		<span class="emphasis">tool bar</span>
		<span>gives you control over chart options</span>
	</div>
	<div tips-note>
		<div tips>
			<span class="emphasis tips-title">quick tips</span>
			<div tip-basic>
				<div class="thumbnail basic" ng-click="tutorialVideo = 'basic'"></div>
				<span>1. Getting Started</span>
			</div>
			<div tip-intermediate>
				<div class="thumbnail intermediate" ng-click="tutorialVideo = 'intermediate'"></div>
				<span>2. Getting Creative</span>
			</div>
			<div tip-advanced>
                <a href="/Help/Full/index.htm?#getting_started_with_visualizer.htm" target="_blank">
				    <div class="thumbnail advanced"></div>
                </a>
				<span>3. Online Help</span>
			</div>
		</div>
		<div modal-dialog="tutorialVideo" class-name="tutorial">
			<div class="modal-body">
				<div ng-if="tutorialVideo === 'basic'">
					<iframe width="672" height="378" src="//www.youtube.com/embed/KWG_1yROXfk?autoplay=1&vq=hd720&rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div ng-if="tutorialVideo === 'intermediate'">
					<iframe width="672" height="378" src="//www.youtube.com/embed/DVotzkHN_os?autoplay=1&vq=hd720&rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div finish-note>
		<div finish>
			<button>{{showHelpButton}}</button>
			<div class="checkbox">
				<label class="checkbox-target">
					<input type="checkbox" class="checkbox-target" ng-model="showHelpOnStartupCheckbox">
					Don't show me this again
				</label>
			</div>
		</div>
	</div>
</div>