<div>
    <div>
        <div class="row-title clearfix">
            <div class="pull-left">
                <div class="sort-icon-container">
                    <i ng-if="!index" class="sort-icon glyphicon glyphicon-lock"></i>
                    <i ng-if="index" class="sort-icon sort-number">{{index}}</i>
                </div>
                {{column.name | stagingAreaDisplayName}}
            </div>
            <div class="column-tools" ng-if="index">
                <i ng-click="stage.removeFromSortOrder(column); updateChart()" class="remove" title="Remove"></i>
            </div>
        </div>
        <div class="measure-properties" ng-if="column.properties.type === 'VARCHAR'">
            <div class="radio">
              <label ng-click="updateChart()">
                <input type="radio" name="{{sortCounter}}" ng-model="column.properties.sortDirection" value="ASC">
                Alphabetic (A-Z)
              </label>
            </div>
            <div class="radio">
              <label ng-click="updateChart()">
                <input type="radio" name="{{sortCounter}}" ng-model="column.properties.sortDirection" value="DESC">
                Reverse Alphabetic (Z-A)
              </label>
            </div>
        </div>
        <div class="measure-properties" ng-if="column.properties.type !== 'VARCHAR'">
            <div class="radio">
              <label ng-click="updateChart()">
                <input type="radio" name="{{sortCounter}}" ng-model="column.properties.sortDirection" value="ASC">
                Ascending (1, 2, 3)
              </label>
            </div>
            <div class="radio">
              <label ng-click="updateChart()">
                <input type="radio" name="{{sortCounter}}" ng-model="column.properties.sortDirection" value="DESC">
                Descending (3, 2, 1)
              </label>
            </div>
        </div>
    </div>
</div>