<div ng-click="menuHandler($event)">
    <div subjects menu-parent="Subjects">
        <div ng-click="$event.stopPropagation()" class="sa-title-soft">
            <span ng-hide="selectedSubjectArea">Default Subject Area</span>
            <span ng-bind="selectedSubjectArea"></span>
            <i ng-click="menuHandler($event)" class="pull-right glyphicon glyphicon-shuffle"></i>
        </div>
        <div menu-child>
            <ul class="list-unstyled">
                <li column ng-repeat="area in subjectAreas" ng-click="switchSubjectArea(area)">
                    <i class="birst-icon icon-subject-area"></i>
                    {{area}}
                </li>
            </ul>
        </div>
    </div>
    <div search-container>
        <div search-results>
            <div ng-repeat="protoColumn in searchList" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{protoColumn.displayName | subjectAreaDisplayName | popoverThreshold}}">
                <div column ng-if="protoColumn.type === 'attribute' && !protoColumn.disabled" ng-dblclick="stageColumn(protoColumn)" draggable="createColumn(protoColumn)">
                    <i class="subject-area-Attributes"></i>
                    <span ng-bind-html="protoColumn.displayName | subjectAreaDisplayName | highlightPartial : searchVariable.string"></span>
                    <div class="column-type-path">Attribute /
                        <span ng-repeat="pathPartial in protoColumn.path" ng-show="!$last">{{pathPartial | subjectAreaSearchName}}</span>
                    </div>
                </div>
                <div column ng-if="protoColumn.type === 'attribute' && protoColumn.disabled" class="disabled">
                    <i class="subject-area-Attributes"></i>
                    <span ng-bind-html="protoColumn.displayName | subjectAreaDisplayName | highlightPartial : searchVariable.string"></span>
                    <div class="column-type-path">Attribute /
                        <span ng-repeat="pathPartial in protoColumn.path" ng-show="!$last">{{pathPartial | subjectAreaSearchName}}</span>
                    </div>
                </div>

                <div column ng-if="protoColumn.type === 'measure' && !protoColumn.disabled" ng-dblclick="stageColumn(protoColumn)" draggable="createColumn(protoColumn)">
                    <i class="subject-area-Measures"></i>
                    <span ng-bind-html="protoColumn.displayName | subjectAreaDisplayName | highlightPartial : searchVariable.string"></span>
                    <div class="column-type-path">Measure</div>
                </div>
                <div column ng-if="protoColumn.type === 'measure' && protoColumn.disabled">
                    <i class="subject-area-Measures"></i>
                    <span ng-bind-html="protoColumn.displayName | subjectAreaDisplayName | highlightPartial : searchVariable.string"></span>
                    <div class="column-type-path">Measure</div>
                </div>

                <div column ng-if="protoColumn.type === 'saved expression' && !protoColumn.disabled" ng-dblclick="stageColumn(protoColumn)" draggable="createColumn(protoColumn)">
                    <i class="subject-area-SavedExpressions"></i>
                    <span ng-bind-html="protoColumn.displayName | subjectAreaDisplayName | highlightPartial : searchVariable.string"></span>
                    <div class="column-type-path">Saved Expression</div>
                </div>
                <div column ng-if="protoColumn.type === 'saved expression' && protoColumn.disabled">
                    <i class="subject-area-SavedExpressions"></i>
                    <span ng-bind-html="protoColumn.displayName | subjectAreaDisplayName | highlightPartial : searchVariable.string"></span>
                    <div class="column-type-path">Saved Expression</div>
                </div>

                <div column ng-if="protoColumn.type === 'folder' && protoColumn.label !== 'false' && !protoColumn.disabled" ng-click="openFolder(protoColumn)">
                    <i class="glyphicon glyphicon-folder-open"></i>
                    <span ng-bind-html="protoColumn.label | subjectAreaDisplayName | highlightPartial : searchVariable.string"></span>
                    <div class="column-type-path">Folder: click to browse</div>
                </div>
                <div column ng-if="protoColumn.type === 'folder' && protoColumn.label !== 'false' && protoColumn.disabled">
                    <i class="glyphicon glyphicon-folder-open"></i>
                    <span ng-bind-html="protoColumn.label | subjectAreaDisplayName | highlightPartial : searchVariable.string"></span>
                    <div class="column-type-path">Folder: click to browse</div>
                </div>
                <div column ng-if="protoColumn.type === 'report expression'" report-expression="protoColumn"></div>
            </div>
        </div>
    </div>
    <div trash-bucket drop-target="dropIntoTrash()">
        <div class="trash-drop">
            <div class="glyphicon glyphicon-trash"></div>
            <span>Recently Used</span>
        </div>
        <div>
            <ul class="list-unstyled">

                <li column ng-repeat="column in trashBucket.columns" class="nav-padding" ng-dblclick="addColumnFromTrash(column)" draggable="column" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{column.name | subjectAreaDisplayName | popoverThreshold}}">
                    <i class="subject-area-{{column.expression.getType() | capitalizeFirstLetter}}s"></i>
                    {{column.name}}
                    <div class="column-type-path">{{column.expression.getType() | capitalizeFirstLetter }}
                        <span ng-if="column.expression.head.value.path.length > 1">/
                            <span ng-repeat="pathPartial in column.expression.head.value.path" ng-show="!$last">{{pathPartial | subjectAreaSearchName}}</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div measures menu-parent="SA-Measures">
        <div class="sa-title">
            <i class="subject-area-Measures"></i>
            Measures
        </div>
        <div menu-child>
            <div class="sa-title">Measures</div>
            <ul class="list-unstyled">
                <li column ng-repeat="protoColumn in measuresAndReportMeasures" ng-class="{disabled: protoColumn.disabled}" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{protoColumn.displayName | subjectAreaDisplayName | popoverThreshold:protoColumn.type}}">
                    <div ng-if="protoColumn.type === 'report expression'" report-expression="protoColumn"></div>
                    <div ng-if="protoColumn.type !== 'report expression'" ng-dblclick="!protoColumn.disabled && stageColumn(protoColumn)" draggable="!protoColumn.disabled && createColumn(protoColumn)">
                        <i class="subject-area-Measures"></i>
                        {{protoColumn.displayName}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div dimensions menu-parent="Dimensions">
        <div class="sa-title">
            <i class="subject-area-Attributes"></i>
            Attributes
        </div>
        <div menu-child>
            <div class="sa-title">Attributes</div>
            <ul class="list-unstyled">
                <div folder class="{{group[0].path[0].replace(' ','')}}" ng-repeat="group in subjectArea.attributesByFolder" menu-parent>
                    <i class="birst-icon icon-folder"></i>
                    <span popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{group[0].path[0] | subjectAreaDisplayName | popoverThreshold}}">
                        {{group[0].path[0]}}
                    </span>
                    <div menu-child="nested">
                        <div class="sa-title" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{group[0].path[0] | subjectAreaDisplayName | popoverThreshold}}">
                            {{group[0].path[0]}}
                        </div>
                        <ul class="list-unstyled">
                            <li column ng-repeat="protoColumn in group" ng-class="{disabled: protoColumn.disabled}" ng-dblclick="!protoColumn.disabled && stageColumn(protoColumn)" draggable="!protoColumn.disabled && createColumn(protoColumn)">
                                <div>
                                    <i class="subject-area-Attributes"></i>
                                    <span popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{protoColumn.displayName | subjectAreaDisplayName | popoverThreshold}}">
                                        {{protoColumn.displayName}}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <li column ng-repeat="reportAttribute in reportAttributes" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{reportAttribute.displayName | subjectAreaDisplayName | popoverThreshold:'report expression'}}">
                    <div report-expression="reportAttribute"></div>
                </li>
            </ul>
        </div>
    </div>
    <div uncategorized menu-parent="SA-Uncategorized" ng-if="subjectArea.uncategorized.length > 0">
        <div class="sa-title">
            <i class="subject-area-Custom"></i>
            Other Expressions
        </div>
        <div menu-child>
            <div class="sa-title">Other Expressions</div>
            <ul class="list-unstyled">
                <li column ng-repeat="expression in subjectArea.uncategorized" ng-class="{disabled: expression.disabled}" ng-dblclick="!expression.disabled && stageColumn(expression)" draggable="!expression.disabled && createColumn(expression)" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{expression.displayName | subjectAreaDisplayName | popoverThreshold}}">
                    <i class="subject-area-SavedExpressions"></i>
                    {{expression.displayName}}
                </li>
            </ul>
        </div>
    </div>
</div>
