<div ng-class="{'active': table.editMode }" class="form-horizontal">
    <div ng-repeat="block in table.formatting | orderObjectBy: 'order'">
        <div class="format-title">
            <span class="switch-container-normal">
                <i class="glyphicon" ng-class="{'glyphicon-plus': !block.open, 'glyphicon-minus': block.open}" ng-click="block.open = !block.open"></i>
                <span>{{block.title}}</span>
                <toggle-switch-apple ng-if="block.hasSwitch" on-change="updateChart()" model="block.switchState"></toggle-switch-apple>
            </span>
        </div>
        <div class="format-options" ng-if="block.open">
            <div ng-repeat="item in block.properties">
                <div ng-if="item.widget === 'fontPicker'" class="form-group">
                    <label class="col-sm-4 control-label">{{item.text}}</label>
                    <div class="col-sm-7">
                        <select ng-options="value for value in table.getFormattingOptions(item.widget)" ng-model="item.value"></select>
                    </div>
                </div>
                <div ng-if="item.widget === 'fontStyles' || item.widget === 'fontSizes' || item.widget === 'borderSizes'" class="form-group">
                    <label class="col-sm-4 control-label">{{item.text}}</label>
                    <div class="col-sm-7">
                        <select ng-options="value for value in table.getFormattingOptions(item.widget)" ng-model="item.value"></select>
                    </div>
                </div>
                <div ng-if="item.widget === 'colorPicker'" class="form-group">
                    <label class="col-sm-4 control-label">{{item.text}}</label>
                    <div class="col-sm-7 input-group">
                        <span class="input-group-addon" color-picker="item" palette="table.getFormattingOptions('defaultColors')"></span>
                        <input type="text" ng-model="item.value"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
