<div ng-mouseleave="showFilePath = false">
    <div class="pull-left">

        <div return-button popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="right" popover="Home Menu">
            <i ng-click="returnToMenu()"></i>
        </div>

        <div search-input ng-mouseenter="showFilePath = false">
            <i class="glyphicon glyphicon-search" title="Clear Search" ng-click="searchVariable.string=''"></i>
            <input search type="text" placeholder="Search" ng-keyup="keyboardSearch($event)" ng-model="searchVariable.string">
            <span class="reset-search glyphicon glyphicon-remove" ng-click="resetSearch()"></span>
        </div>

        <div navigator ng-show="hasSavePermissions" ng-click="fileSystem.openNavigator('open')" ng-mouseenter="showFilePath = true">
            <div ng-hide="showFilePath">
                <span class="report-name">{{reportName || 'untitled'}}</span>
            </div>
            <div ng-show="showFilePath">
                <i class="birst-icon icon-open"></i>
                <span class="open">Open</span>
            </div>
        </div>

        <div navigator ng-hide="hasSavePermissions" class="normal-cursor"></div>

        <ul breadcrumb ng-show="showFilePath">
            <li ng-repeat="folder in fileSystem.activeDirectory.split('/').slice(1) track by $index"><a popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{folder | popoverThreshold:20}}">{{folder | characters:20}}</a></li>
            <li><a popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{reportName | popoverThreshold:20}}">{{reportName || 'untitled' | characters:20}}</a></li>
        </ul>

        <div reset class="button" ng-click="clearStage()" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="Reset" ng-hide="showFilePath">
            <i class="recycle-icon"></i>
        </div>

        <div ng-if="stage.hasMultipleAxes() && chartType !== 'table'" ng-hide="showFilePath" class="button">
            <i class="merge" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="right" popover="click to merge axes" ng-click="stage.toggleMergeAxes(this)"></i>
        </div>

        <div ng-if="!stage.hasMultipleAxes() && stage.hasSharedAxes() && chartType !== 'table'" ng-hide="showFilePath" class="button">
            <i class="split" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="right" popover="click to split axes" ng-click="stage.toggleMergeAxes(this)"></i>
        </div>

        <div class="dropdown" ng-if="stage.Color && stage.Color.expression.isAttribute() && stage.colorDistributionControl" ng-hide="showFilePath">
            <a class="dropdown-toggle button">
                <i class="toolbar-{{stage.getColorGrouping()}}"></i>
                <span>{{stage.getColorGrouping()}}</span>
                <i class="down-arrow-icon"></i>
            </a>
            <ul class="dropdown-menu">
                <li ng-click="stage.setColorGrouping(grouping);updateChart();" ng-repeat="grouping in stage.serieColorGroupings()">
                    <i class="toolbar-{{grouping}}"></i>
                    <a>{{grouping}}</a>
                    <i ng-class="{'toolbar-check': grouping === stage.getColorGrouping()}"></i>
                </li>
            </ul>
        </div>

        <div bql class="button" ng-if="hasEditorPermissions" ng-click="openBqlEditor()" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="Expression Editor" ng-hide="showFilePath">
            <i class="edit-icon pull-left"></i>
        </div>

    </div>

    <div class="pull-right">

        <div error-dialog ng-show="isErrorVisible"></div>

        <div publish class="button" ng-if="dashboardPage && dashboardName && reportName && !fileSystem.hasFileChanged()" ng-click="publishToDashboards(fileSystem.activeDirectory, reportName)">
            <i class="icons-svg dashboard-icon pull-left"></i>
            <div>Add to Dashboard</div>
        </div>

        <div table-format class="button" ng-if="chartType === 'table' && flags.table" ng-click="table.toggleEditMode()" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{table.editMode ? 'Save Formatting' : 'Table Formatting'}}">
            <i class="pencil-icon pull-left"></i>
        </div>

        <div save class="button" ng-if="hasSavePermissions" ng-click="fileSystem.save()" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="Save">
            <i class="save-icon pull-left"></i>
        </div>

        <div show-help ng-click="reopenHelpScreen()" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="Help" class="button">
            <i class="show-help-icon"></i>
        </div>

        <div message-center></div>

    </div>

</div>
