/* CSS file */
.saveCancelDialogBoxStyle {
	highlightAlphas: 0.3, 0;
	backgroundAlpha: 1;
   	backgroundColor: #fafafa;
	borderStyle: solid;
   	borderColor: #fafafa;
   	borderThickness: 1;
	roundedBottomCorners: true;		  
  	/*headerColors: #006600, #d9d9d9;*/
  	/*headerColors: #38BB34, #003333;*/
  	headerColors: #fafafa, #ededed;
   	footerColors: #e7e7e7, #000000;
   	titleStyleName: "titleWindowTitle";
   	shadowDirection: right;
}

.SaveCancelDialogBox {
	highlightAlphas: 0.3, 0;
	backgroundAlpha: 1;
   	backgroundColor: #fafafa;
	borderStyle: solid;
   	borderColor: #B8B4AC;
   	borderThickness: 1;
	roundedBottomCorners: true;		  
  	/*headerColors: #006600, #d9d9d9;*/
  	/*headerColors: #38BB34, #003333;*/
  	headerColors: #fafafa, #ededed;
   	footerColors: #e7e7e7, #000000;
   	titleStyleName: "titleWindowTitle";
   	shadowDirection: right;
}

.connectionErrorDialogBoxStyle {
	backgroundAlpha: 0.8;
   	backgroundColor: #fafafa;
	borderStyle: solid;
   	borderColor: #000066;
   	borderThickness: 1;
	roundedBottomCorners: true;		  
  	/*headerColors: #006600, #d9d9d9;*/
  	/*headerColors: #38BB34, #003333;*/
  	headerColors: #90a4d1, #5970a0;
   	footerColors: #e7e7e7, #000000;
   	titleStyleName: "titleWindowTitle";
   	shadowDirection: right;
}

.titleWindowTitle {
   	color: #000000;
   	font-weight: bold;
}

TabNavigator{
	backgroundColor: #FAFAFA;
}

Menu{
	backgroundColor: #E2E6EB;
}

Menu, ComboBox, List, DataGrid{
	rollOverColor: #FFC56C;
   	selectionColor: #D9D9D9;
   	shadowDirection: right;
}

Alert{
	title-style-name : "alertTitle";
	border-style :solid;
	corner-radius :6;
	backgroundAlpha: 0.8;
   	backgroundColor: #ffffff;
	borderColor: #000066;
	border-thickness: 1;
	header-colors : #90a4d1, #5970a0;	
	shadowDirection: right;
	color: #000000;
}

.alertTitle{
	font-weight :bold;
	color :#ffffff;
}

/* Used by DraggableMenubar (Standard Column) */
.draggableMenuBar {
	fillAlphas: 1, 0.4;
   	fillColors: #ededed, #ededed;
}

/* Used by DraggableMenubar (Trellis Column) */
.trellisMenuBar{
	fillAlphas: 1, 0.4;
   	fillColors: #5A4D38, #5A4D38;
   	color: #FFFFFF;
}

.measureLabelsMenuBar{
	fillAlphas: 1, 0.4;
	fillColors: #FFFFFF, #FFFFFF;
}	

.pivotPanel {
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #000000;
	headerColors:  #fafafa, #fafafa;
	headerHeight: 15;
	backgroundAlpha: 0.5;
	roundedBottomCorners: false;		
	cornerRadius: 0;
	titleStyleName: "panelTitle";
}
		
.pivotPanel {
   	color: #000000;
   	font-weight: bold;
}

.columnExpr
{
	borderStyle: none;
	headerHeight: 16;
	headerColors: #ffffff, #ffffff;
	borderThicknessLeft: 0;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 0;
   	borderThicknessRight: 0;
   	cornerRadius: 0;
   	dropShadowEnabled: false;
}