/* CSS file */

Application{
	/* white background */
	backgroundColor: #fafafa;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	
   	rollOverColor: #FFC56C;
   	selectionColor: #FFC56C;
   	themeColor: #FFC56C; 
}

.maximizeRestoreButton
{
    up-skin:            Embed("/images/maximize_up.png");
    over-skin:          Embed("/images/maximize_over.png");
    down-skin:          Embed("/images/maximize_up.png");
    selected-up-skin:   Embed("/images/restore_up.png");
    selected-over-skin: Embed("/images/restore_over.png");
    selected-down-skin: Embed("/images/restore_up.png");
}

.minimizeButton
{
    up-skin:        Embed("/images/minimize_up.png");
    over-skin:      Embed("/images/minimize_over.png");
    down-skin:      Embed("/images/minimize_up.png");
}

.pivotButton
{
	up-skin:        Embed("/images/icon_pivotControl.png");
    over-skin:      Embed("/images/icon_pivotControl.png");
    down-skin:      Embed("/images/icon_pivotControl.png");	
}

.pdfButton
{
    up-skin:        Embed("/images/export-pdf.png");
    over-skin:      Embed("/images/export-pdf.png");
    down-skin:      Embed("/images/export-pdf.png");
}
.pptButton
{
    up-skin:        Embed("/images/export-powerpoint.png");
    over-skin:      Embed("/images/export-powerpoint.png");
    down-skin:      Embed("/images/export-powerpoint.png");
}

.xlsButton
{
    up-skin:        Embed("/images/export-excel.png");
    over-skin:      Embed("/images/export-excel.png");
    down-skin:      Embed("/images/export-excel.png");
}

.csvButton
{
    up-skin:        Embed("/images/icon_exportCSV.png");
    over-skin:      Embed("/images/icon_exportCSV.png");
    down-skin:      Embed("/images/icon_exportCSV.png");
}

.editButton
{
	up-skin:        Embed("/images/edit_dashlet.png");
    over-skin:      Embed("/images/edit_dashlet.png");
    down-skin:      Embed("/images/edit_dashlet.png");	
}

.editReportButton
{
	up-skin:        Embed("/images/icon_openDesigner.png");
    over-skin:      Embed("/images/icon_openDesigner.png");
    down-skin:      Embed("/images/icon_openDesigner.png");	
}
	
.scheduleButton
{
    up-skin:        Embed("/images/icon_scheduleReport.png");
    over-skin:      Embed("/images/icon_scheduleReport.png");
    down-skin:      Embed("/images/icon_scheduleReport.png");
}	

.manageScheduleButton
{
    up-skin:        Embed("/images/manage_schedule_icon.png");
    over-skin:      Embed("/images/manage_schedule_icon.png");
    down-skin:      Embed("/images/manage_schedule_icon.png");
}
	
.promptVertical
{
	up-skin:        Embed("/images/down_alt.png");
    over-skin:      Embed("/images/down_alt.png");
    down-skin:      Embed("/images/down_alt.png");		
}	

.optButton
{
	up-skin:        Embed("/images/gears.png");
    over-skin:      Embed("/images/gears.png");
    down-skin:      Embed("/images/gears.png");	
}

.dashBackground{
	backgroundColor: #fafafa;
}

.tabBackground{
	backgroundColor: #ededed;
}

/*
PromptGroup
{
	closeButtonSkin: Embed("/images/back_alt.png");
}*/

DashletContentBase{
	backgroundAlpha: 1;
	backgroundColor: #ffffff;
}

Dashlet
{
	borderThicknessLeft: 1;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 1;
   	borderThicknessRight: 1;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    rounded-bottom-corners: false;
    border-thickness: 1px;
    border-style: solid;
    border-color: #999999;
    headerColors: #fafafa, #ededed;
    highlight-alphas: 0.7, 0;
    background-color: #ffffff; 
    corner-radius: 3px;
    header-height: 16;
    shadow-direction: right;
    shadowDistance: 1;
    drop-shadow-color: #999999;
  
    borderAlpha: 0.9;
    backgroundAlpha: 0.1;
    titleStyleName: "dashletTitle";
}

.dashletTitle{
	color: '#000000';
	fontWeight: bold;	
}

.promptCollStyle {
  	headerClass:ClassReference('mx.controls.LinkButton');
  	header-style-name: linkButtonStyle;
 
 	drop-shadow-enabled:true;
 	
  	border-style:solid;
	
	background-color:#efefef;
	background-alpha:0.7;
}         
	    
.linkButtonStyle {
	fill-alphas:1,1;
	padding-left:10;
}
	    
PromptCollection
{
	borderThicknessLeft: 0;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 0;
   	borderThicknessRight: 0;
   	border-style: solid;
   	border-color: #999999;
   	borderAlpha: 0.8;
  	cornerRadius: 0;
	headerHeight: 0;
	headerColors: #333333, #999999;
  	dropShadowEnabled: true;
  	shadowDistance: 1;
  	verticalGap: 0;
  	horizontalGap: 0;
  	paddingTop: 0;
  	paddingBottom: 4;
  	paddingLeft: 4;
  	paddingRight: 4;
  
  	titleStyleName: promptCollectionTitle;
  	
  	/* 
  	 close button style
  	 Set values from defaults.css to null. We set the style in the PromptCollection class
  	 dynamically.
  	*/
  	closeButtonSkin: ClassReference(null);
    closeButtonDisabledSkin: ClassReference(null);
    closeButtonDownSkin: ClassReference(null);
    closeButtonOverSkin: ClassReference(null);
    closeButtonUpSkin: ClassReference(null);

}

.promptCollectionTitle
{
	color: #ffffff;	
	/*fontWeight: bold;*/
}

.promptCollectionEditButton 
{
	fillColors: #ffffff, #333333, #ffffff, #999999;
   	borderColor: #000000;
}

List.promptList{
	backgroundColor: #FFFFFF;
}

StickyNote
{
	borderThickness: 1;
   	borderThicknessLeft: 0;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 0;
   	borderThicknessRight: 0;
   
   	padding-left: 1px;
    padding-right: 1px;
    
    borderAlpha: 0.7;
   	headerHeight: 18;
   	headerColors: #032d7f, #0066ff;
   	
   	roundedBottomCorners: true;
   	cornerRadius: 0;
	backgroundColor: yellow;
	backgroundAlpha: 0.95;
	shadowDirection: right;
	
	titleStyleName: "stickyTitle";
}

.stickyTitle
{
	color: #FFFFFF;
	fontSize: 9;
   	fontWeight: bold;
}

.deleteSticky
{
	up-skin: 		Embed("/images/deleteSticky.png");
	over-skin:      Embed("/images/deleteSticky.png");
	down-skin:      Embed("/images/deleteSticky.png");
}

.shareSticky
{
	up-skin: 		Embed("/images/shareSticky.png");
	over-skin:      Embed("/images/shareSticky.png");
	down-skin:      Embed("/images/shareSticky.png");
}

.question
{
	up-skin: 		Embed("/images/question.png");
	over-skin:      Embed("/images/question.png");
	down-skin:      Embed("/images/question.png");
}

.promptLandingBx
{
	fontSize: 10;
}

/* The label which summarizes the prompt settings between page buttons and dashlets */
.promptSummary{
	color: #000000;
}

/*Dashboard & pages tab section*/
DashboardTab{
	backgroundColor: #fafafa;
}

.tabBarStyle{
	tabHeight: 24;
	tabStyleName: "tabStyle";
	selectedTabTextStyleName: "selectedTab";
	horizontalGap: 0;
	backgroundColor: #fafafa;
}
		
.tabStyle{
	highlightAlphas: 0.7, 0;
   	fillAlphas: 1, 1;
	backgroundColor: #fafafa;
	highlightAlphas: 1, 0;
    fillColors: #ffffff, #ffffff;
	cornerRadius: 14;
	backgroundAlpha: 1;
	fontWeight: "normal";
}
			
.selectedTab{
	backgroundColor: #FFFFFF;
	color: #000000;
}

/* Style for linkbar tab under the dashboard tab */
.pageLinkBar {
	backgroundColor: #fafafa;
/*	backgroundAlpha: 0.5; */
   	borderStyle: none;
   	separatorWidth: 0;
}

.pageLinkBarButton{
	fontWeight: "normal";
	color: #000000;
	disabledColor: #6AA589;
}
/*end dashboards & pages tab section*/

/* Style for prompt sliders */
.rangeSlider{
	showTrackHighlight: true;
  	themeColor: #cc6600;
}

/* Style for each box container enclosing a dashlet / prompt */
LayoutFixed {
	verticalGap: 4;
	horizontalGap: 4;
}