/* CSS file */
.dhApplication{
	 backgroundColor: #fafafa;
   	 backgroundGradientColors	: #fafafa, #fafafa;  
   	 rollOverColor: #FFC56C;
   	 selectionColor: #FFC56C;
   	 themeColor: #FFC56C; 
   	 paddingLeft	:	0;
   	 paddingTop		:	0; 
   	 paddingRight 	:	0;
 	 paddingBottom 	:	0;
   	 			
}

.mySpacesBar{
	borderStyle : none; 
	backgroundColor : #2a303a;
	paddingLeft : 10;
	verticalAlign : middle;
	fontWeight	: bold;
	fontSize	: 13;
	color		: #FFFFFF;
}



.hdividerWrapper{
	backgroundColor : #FFFFFF;
	dropShadowEnabled : false;
	borderStyle : solid;
	borderColor : #ededed;
}

.hdivider{
	horizontalGap: 0px;	
}
.hdividerLeft{
	borderStyle  : none;
	padding-left : 10px; 
	padding-top  : 10px;
	borderStyle : solid;
	borderColor : #ededed;
	/*
	backgroundColor : "#E8F1E8" ;
	borderStyle : "solid";
	borderColor : "#CCCCCC";
	dropShadowColor :"#999999";
	dropShadowEnabled : "true";
	*/
}

.hdividerRight{
	borderStyle : none;
	paddin-left : 20px;
	padding-top : 20px;
	borderStyle : solid;
	borderColor : #ededed
	
	/*
	backgroundColor : "#FFF3E1";
	borderColor : "#CCCCCC" ;
	borderStyle : "solid" ;
	dropShadowColor : "#999999" ;
	dropShadowEnabled : "true";
	*/
}

.tileList{
	backgroundAlpha: 0;
	borderStyle : none;
	selectionColor: #EBEBEB;
	rollOverColor: #EBEBEB;
}
	
.formItemLabel{
	fontWeight: bold;
	textAlign: left;
	fontSize: 12;
}

DataGrid{
	headerColors: #ededed, #ededed;
	backgroundAlpha: 1;
	rollOverColor: #ffffff;
	headerStyleName: "mydataGridHeaderStyle";
	selectionColor: #ffffff;
	alternatingItemColors: #ffffff, #ffffff;
}

.mydataGridHeaderStyle {   
   fontWeight: bold;
}

.buttonBar {
	buttonHeight: 29;
	horizontalGap: 20;
	buttonStyleName: "mybuttonBarButtonStyle";
	firstButtonStyleName: "mybuttonBarFirstButtonStyle";
   	lastButtonStyleName: "mybuttonBarLastButtonStyle";
}

.mybuttonBarButtonStyle {
   cornerRadius: 20;	   
}


.mybuttonBarFirstButtonStyle {
	cornerRadius: 20;
}

.mybuttonBarLastButtonStyle {
	cornerRadius: 20;
}

.newCopySpaceStyle{
	backgroundColor : #FFFFFF;	
	borderColor : #ededed;
	borderStyle : solid;
}