/* CSS file */
.navApplication{
	 backgroundColor: #ededed;
   	 backgroundGradientColors	: #ededed, #ededed;  
   	 rollOverColor: #FFC56C;
   	 selectionColor: #FFC56C;
   	 themeColor: #FFC56C; 
   	 paddingLeft	:	0;
   	 paddingTop		:	0; 
   	 paddingRight 	:	0;
 	 paddingBottom 	:	0;
   	 			
}

.tabNavigator {
   tabHeight: 34;
   horizontalGap: 0;
   backgroundColor: #fafafa;
   tabStyleName: "myTabs";
   firstTabStyleName: "myTabs";
   lastTabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
}

.myTabs {	
   	fillAlphas: 1, 1;	
	highlightAlphas: 1, 0;
    fillColors: #fafafa, #fafafa;
	backgroundAlpha: 1;	
	color: #666666;
    cornerRadius: 10;   	
   	backgroundColor: #fafafa;
   	borderColor: #b9bcbe;
   	color: #666666;
   	textRollOverColor: #666666;
   	fontFamily: Arial;
   	fontSize: 12;
   	fontWeight: bold;
}

.mySelectedTabs {
   color: #000000;   
   fontFamily: Arial;
   fontSize: 12;
   fontWeight: bold;
}

.linkBarStyle {
	disabledColor: #D3D3D3;	
	textSelectedColor: #000000;
	color: #666666;
   	backgroundColor : #fafafa;
   	backgroundAlpha: 1.0;
   	separatorWidth: 0;
   	textRollOverColor: #000000;
   	fontFamily: Arial;
   	fontSize: 12;
   	fontWeight: bold;
   	borderStyle: solid;
	borderSides: bottom;
	borderColor: #E6E6E6;
	borderThickness: 1;
}

.labelStyleName
{
	font-weight: bold;			
	font-size: 11;	
}

.formItemLeftLabel{
	textAlign: left;
}

.navMainViewStack{
	paddingTop	: 0;
	backgroundAlpha: 1.0;
	backgroundColor : #FFFFFF;
}

DataGrid{
	headerColors: #ededed, #ededed;
	rollOverColor: #FFC56C;
   	selectionColor: #FFC56C;
	backgroundAlpha: 1;
	headerStyleName: "mydataGridHeaderStyle";	
}

.mydataGridHeaderStyle {   
   fontWeight: bold;
}

.centerDataGridHeaderStyle {
   		textAlign: center;
   	}

.dialogControlBar{			
	backgroundColor: #fafafa;
	borderStyle: none;			
	borderThickness: 0;
	roundedBottomCorners: true;			
}

.shadowedPanel{
	padding-bottom: 5;
	padding-left: 5;
	padding-right: 5;
	padding-top: 5;
	background-color: #ededed;
	border-style: solid;
	header-height: 0;
}

.popupPanel {
	header-height: 20;
	border-thickness: 1;
	background-alpha: 1;
	border-alpha: 1;
	background-color: #ededed;
}

.flowUpperPanel{
	backgroundColor : #F7F7F7;
	paddingLeft : 2;
	paddingTop : 2;
	paddingRight : 2;
	paddingBottom : 2;
	borderThicknessBottom : 1;
	borderThicknessLeft : 0;
	borderThicknessRight : 0;
	borderThicknessTop : 0;
	headerHeight : 0;
	borderColor: #AAAAAA;
	dropShadowEnabled: false;
}

.flowItemBoxDependencies{
	/*backgroundColor : #EFEAE4;*/
	paddingLeft : 5;
	borderStyle : solid;
	borderColor : #AAAAAA;
	cornerRadius : 3;
	paddingTop : 5;
	paddingBottom : 5;
}

.flowItemBoxShow{
	/*backgroundColor : #EFEAE4;*/
	borderStyle : solid;
	borderColor : #AAAAAA;
	cornerRadius : 3;
	paddingBottom : 5;
	paddingTop : 5;
}

.flowItemBoxFilter{
	backgroundColor : #EFEAE4;
	borderStyle : solid;
	borderColor : #AAAAAA;
	paddingLeft : 5;
	cornerRadius : 3;
	paddingBottom : 5;
	paddingTop : 5;
}

.flowItemBoxFilterDefbck{
 	borderStyle : solid;
	borderColor : #AAAAAA;
	paddingLeft : 5;
	cornerRadius : 3;
	paddingBottom : 5;
	paddingTop : 5;
}
.flowStatsPanel{
	paddingTop : 0;
	paddingBottom : 0;
	headerHeight : 0;
	paddingRight : 0;
	paddingLeft : 0;
	borderThicknessBottom : 1;
	borderThicknessLeft : 1;
	borderThicknessRight : 1;
	borderThicknessTop : 1;
	alpha : .9;
	dropShadowEnabled : false;
    fontFamily : "Verdana";
	fontSize : 10;
}

.pgSelectionStyleName{
	backgroundColor : #FFFFFF;
   	backgroundAlpha: 1.0;
}

.propsPanel{
	headerHeight :	20;
	borderThicknessBottom :	4;
	borderThicknessLeft :	4;
	borderThicknessRight :	4;
	borderThicknessTop :	4;
	alpha :	1;	
	borderColor: #ededed;
   	borderAlpha: 1;
   	headerColors: #fafafa, #ededed;
   	footerColors: #ededed, #ededed;
   	backgroundColor: #fafafa;   	
}

.templatePanelStyle{
	borderThicknessBottom : 0; 
	borderThicknessRight : 0; 
	borderThicknessLeft : 0;
	alpha :	1;	
	borderColor: #ededed;
   	borderAlpha: 1;
   	headerColors: #fafafa, #ededed;
   	footerColors: #ededed, #ededed;
   	backgroundColor: #fafafa
}

.templateAttachmentList{
	backgroundColor: #fafafa;
}

.realTimeAdminMenuBar{
	fillAlphas: 1, 1;
	fillColors: #fafafa, #ededed;
}

.dialogNavSelectedTab {
	font-size : 11
}

.dependencyLinkButtonStyle{
	fontWeight: normal;
   	fontStyle: italic;
   	textDecoration: underline;
}

.baStyle{	
    title-style-name: baDialogTitle;
    headerColors: #fafafa, #ededed;
    borderAlpha: 1.0;
    backgroundColor: #fafafa;
    borderThicknessBottom: 0; 
    borderThicknessLeft: 0; 
    borderThicknessRight: 0; 
}

.baDialogTitle {
	color: #000000;
	font-weight: bold;
}

.sfdcProgressStyle{
	color: #00cc00
}

.sfdcStatusFailedStyle{
	color: #EA2C2C
}

.headingLabel{
	fontSize: 11;
}