/* CSS file */
.umApplication{
	 backgroundColor: #ededed;
   	 backgroundGradientColors	: #ededed, #ededed;  
   	 rollOverColor: #FFC56C;
   	 selectionColor: #FFC56C;
   	 themeColor: #FFC56C; 
   	 paddingLeft	:	0;
   	 paddingTop		:	0; 
   	 paddingRight 	:	0;
 	 paddingBottom 	:	0;
   	 			
}

.tabNavigator {
   tabHeight: 34;
   horizontalGap: 0;
   backgroundColor: #fafafa;
   tabStyleName: "myTabs";
   firstTabStyleName: "myTabs";
   lastTabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
}

.myTabs {	
   	fillAlphas: 1, 1;	
	highlightAlphas: 1, 0;
    fillColors: #fafafa, #fafafa;
	backgroundAlpha: 1;	
	color: #666666;
    cornerRadius: 10;   	
   	backgroundColor: #fafafa;
   	borderColor: #b9bcbe;
   	color: #666666;
   	textRollOverColor: #666666;
   	fontFamily: Arial;
   	fontSize: 12;
   	fontWeight: bold;
}

.mySelectedTabs {
   color: #000000;   
   fontFamily: Arial;
   fontSize: 12;
   fontWeight: bold;
}

.linkBarStyle {
	disabledColor: #000000;	
	textSelectedColor: #000000;
	color: #666666;
   	backgroundColor : #fafafa;
   	backgroundAlpha: 1.0;
   	separatorWidth: 0;
   	textRollOverColor: #000000;
   	fontFamily: Arial;
   	fontSize: 12;
   	fontWeight: bold;
   	borderStyle: solid;
	borderSides: bottom;
	borderColor: #E6E6E6;
	borderThickness: 1;
}


.labelStyleName
{
	font-weight: bold;			
	font-size: 11;	
}

.formItemLeftLabel{
	textAlign: left;
}

.umViewStack{
	paddingTop	: 0;
	backgroundAlpha: 1.0;
	backgroundColor : #FFFFFF;
}

DataGrid{
	headerColors: #ededed, #ededed;
	rollOverColor: #FFC56C;
   	selectionColor: #FFC56C;
	backgroundAlpha: 1;
	headerStyleName: "mydataGridHeaderStyle";	
}

.mydataGridHeaderStyle {   
   fontWeight: bold;
}

.dialogControlBar{			
	backgroundColor: #fafafa;
	borderStyle: none;			
	borderThickness: 0;
	roundedBottomCorners: true;			
}