
/* Main Page Elements */

body { padding: 0; margin: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.header { width: 100%; height: 49px; background-image: url('../image/header_slice.png'); background-image-repeat: repeat; text-align: center; }
.footer { height: 300px; }
.upper { width: 100%; min-width: 960px; height: 420px; background-color: #2E2E2E; text-align: center; }
.lower { width: 100%; min-width: 960px; margin-top: 125px; text-align: center; }
.intro { width: 980px; margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 10px; color: #BCBCBC; font-size: 14px; line-height: 1.4em; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; }
.float-image { display: inline-block; margin-left: -104px; position: relative; top: -50px; }
.mac-image { display: inline-block; padding-top: 28px; margin-left: -25px; cursor: pointer; }

.ui-progressbar-value { background-color: #ff5800; }
#progress-bar { margin-bottom: 10px; }

#general-info-btn {margin-top: -10px;}
#gi-button {background-color: rgb(70,70,70); color: white; font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", Helvetica, Arial, "Lucida Grande", sans-serif; }
#gi-button:hover, #gi-button:active {background-color: rgb(55,55,55); color: rgb(200,200,200);}
#birst-lower { margin-top: -270px; width: 800px; height: 480px; margin-left: auto; margin-right: auto; border-bottom: 1px rgb(225,225,225) solid}
.lower-double {float: left; width: 46%; text-align: center; margin-bottom: 30px;}
.lower-product-preview {cursor: pointer; }
.lower-product-text {color: rgb(100,100,100); font-size: 14px; line-height: 1.4em; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; }
#lower-viz {float: right;}
.lower-product-btn { width: 142px; height: 110px; margin: 20px auto; border-radius: 5px; border: 1px rgb(210,210,210) solid;}
.lower-product-btn:hover {box-shadow: 0px 2px 3px rgb(190,190,190); border: 1px rgb(170,170,170) solid; cursor: pointer;}
.lower-product-name {font-size: 19px; font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", Helvetica, Arial, "Lucida Grande", sans-serif; color: rgb(100,100,100);}
.lower-product-btn img {padding-top:17px; padding-bottom: 8px;}

#birst-admin {width: 100%; height: 100px; float: left;}
#birst-bottom {width: 100%; height: 100px; float: left; color: rgb(200,200,200);}

/* Reusable Classes */

.title { color: #fff; font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 30px; padding-top: 40px; }
.subtitle { font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 25px; }
.infomation { width: 780px; margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 15px; color: rgb(50,50,50); font-size: 14px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;; }


/* Forms */

#admin-pass { width: 250px; }
.btn-go { width: 60px; margin-left: 6px; }


/* Modals */

.modal-dialog { margin-top: 8%; }
.modal-header { background-color: #f3f3f3; }

.video-modal { text-align: center; }
.video-modal .modal-dialog { padding-top: 2%; }
.video-modal .modal-content { padding-top: 23px; padding-bottom: 18px; }

#confirm-box .modal-dialog { width: 510px; } 

/* State Changes */

  #birst-admin, #lower-user-enabled  { display: none; }
  

#Visualizer, #Dashboards {border-width: 0px; background-color: #fff;}