<div ng-dblclick="stageColumn(column)" draggable="createColumn(column)" class="SA-bql-row" ng-class="{'SA-bql-expanded': showControls}">
    <span class="SA-bql-plus pull-right" ng-click="showControls = !showControls">{{showControls ? "&#8211;" : "&#43;"}}</span>
    <i class="subject-area-SavedExpressions"></i>
    <span class="ellipsis" ng-bind-html="column.displayName | subjectAreaSearchName | highlightPartial : searchVariable.string"></span>
    <div ng-if="showControls" class="SA-show-controls">
        <ul class="sa-controls">
            <li ng-click="editReportExpression(column)"><i class="pencil-icn"></i>Edit</li>
            <li ng-click="showDeleteDialog()"><i class="trash-icn"></i>Delete</li>
        </ul>
    </div>
    <div class="modal-dialog" modal-dialog="showModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="pull-right" ng-click="hideDeleteDialog()">&times;</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>This action will remove the expression "{{column.displayName}}" from the system</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="hideDeleteDialog()" class="btn btn-default">Cancel</button>
                <button type="button" ng-click="deleteReportExpression(column); hideDeleteDialog()" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
