.loader-sa {position: absolute; z-index: 400; width: 270px;}
.loader-sa .spinner-sa {display: none; background-image: url(img/misc_img/loader-ring.png); height: 72px; width: 72px; -webkit-animation:spin 2s linear infinite; -moz-animation:spin 2s linear infinite; animation:spin 2s linear infinite;}
/* Other potential colors for loaders - Blue: rgba(242,248,255,0.9);, Grey: rgba(230,230,230,0.9);, bluegrey: rgba(220,227,232,0.8); */
.loader-sa.loading {height: calc(100%); background-color: rgba(230,230,230,0.9);}
.loader-sa.loading .spinner-sa {display: block; opacity: 0.4; position: absolute; top: calc(50% - 46px); left: calc(50% - 36px);}
.loader-sa button {display: none;}
.loader-sa.loading button {display: block; position: absolute; top: 15px; right: 15px;}

.loader-chart {z-index: 400;}
.loader-chart .spinner-chart {display: none; background-image: url(img/misc_img/loader-ring.png); height: 72px; width: 72px; -webkit-animation:spin 2s linear infinite; -moz-animation:spin 2s linear infinite; animation:spin 2s linear infinite;}
.loader-chart.loading {height: calc(100%); background-color: rgba(230,230,230,0.9);}
.loader-chart.loading .spinner-chart {display: block; opacity: 0.4; position: absolute; top: calc(50% - 56px); left: calc(50% - 16px);}
