<span ng-mouseleave="reset()">
	<i ng-repeat="number in range" ng-mouseenter="enter(number)" ng-click="rate(number)" ng-class="{'glyphicon glyphicon-star': number <= val, 'glyphicon glyphicon-star-empty': number > val}"></i>
</span>
