<div class="bs-docs-section">
  <h1 id="mono-icons" class="page-header">Monochromatic icons</h1>
  <div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
      {% for iconClassName in site.data.birstglyphs %}
        <li>
          <i class="{{ iconClassName }}"></i>
          <span class="glyphicon-class">{{ iconClassName }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>


  <h2 id="mono-icons-how-to-use">How to use</h2>
{% highlight html %}
<i class="icon-add"></i>
{% endhighlight %}
  <p>Be sure to leave a space between the icon and text for proper padding.</p>
  <div class="bs-callout bs-callout-danger">
    <h4>Don't mix with other components</h4>
    <p>Icon classes cannot be directly combined with other components. They should not be used along with other classes on the same element. Instead, add a nested <code>&lt;i&gt;</code> and apply the icon classes to the <code>&lt;i&gt;</code>.</p>
  </div>
  <div class="bs-callout bs-callout-danger">
    <h4>Only for use on empty elements</h4>
    <p>Icon classes should only be used on elements that contain no text content and have no child elements.</p>
  </div>

  <h2 id="mono-icons-examples">Examples</h2>
  <p>Use them in buttons, button groups for a toolbar, navigation, or prepended form inputs.</p>
  <div class="bs-example">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default"><i class="icon-add"></i></button>
        <button type="button" class="btn btn-default"><i class="icon-save"></i></button>
        <button type="button" class="btn btn-default"><i class="icon-share"></i></button>
        <button type="button" class="btn btn-default"><i class="icon-trash"></i></button>
      </div>
    </div>
    <div class="btn-toolbar" role="toolbar">
      <button type="button" class="btn btn-default btn-lg"><i class="icon-add"></i> Add</button>
      <button type="button" class="btn btn-default"><i class="icon-add"></i> Add</button>
      <button type="button" class="btn btn-default btn-sm"><i class="icon-add"></i> Add</button>
      <button type="button" class="btn btn-default btn-xs"><i class="icon-add"></i> Add</button>
    </div>
  </div>
{% highlight html %}
<button type="button" class="btn btn-default btn-lg">
  <i class="icon-add"></i> Add
</button>
{% endhighlight %}
</div>
