<div class="bs-docs-section">
  <h1 id="poly-icons" class="page-header">Polychromatic icons</h1>
  <div class="bs-glyphicons polychromatic">
    <ul class="bs-glyphicons-list">
      {% for iconClassName in site.data.polychromatic_icons %}
        <li>
          <i class="{{ iconClassName }}"></i>
          <span class="glyphicon-class">{{ iconClassName }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>


  <h2 id="poly-icons-how-to-use">How to use</h2>
{% highlight html %}
<i class="visualizer-icon"></i>
{% endhighlight %}
</div>
