//
// Icon Font: birstglyphs
//

@font-face {
  font-family: "birstglyphs";
  src: font-url("birstglyphs_4a1454c38f541c4ed35a2900e63f8189.eot");
  src: font-url("birstglyphs_4a1454c38f541c4ed35a2900e63f8189.eot?#iefix") format("embedded-opentype"),
       font-url("birstglyphs_4a1454c38f541c4ed35a2900e63f8189.woff") format("woff"),
       font-url("birstglyphs_4a1454c38f541c4ed35a2900e63f8189.ttf") format("truetype"),
       font-url("birstglyphs_4a1454c38f541c4ed35a2900e63f8189.svg#birstglyphs") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "birstglyphs";
    src: font-url("birstglyphs_4a1454c38f541c4ed35a2900e63f8189.svg#birstglyphs") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-add-o:before,
.icon-admin:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-bar-chart:before,
.icon-bars:before,
.icon-bql-and:before,
.icon-bql-curly:before,
.icon-bql-divide:before,
.icon-bql-equal:before,
.icon-bql-function:before,
.icon-bql-greater:before,
.icon-bql-greater-or-equal:before,
.icon-bql-less:before,
.icon-bql-less-or-equal:before,
.icon-bql-minus:before,
.icon-bql-multiply:before,
.icon-bql-not-equal:before,
.icon-bql-not-null:before,
.icon-bql-null:before,
.icon-bql-or:before,
.icon-bql-plus:before,
.icon-chart-area:before,
.icon-chart-area-spline:before,
.icon-chart-bar:before,
.icon-chart-bubble:before,
.icon-chart-column:before,
.icon-chart-doughnut:before,
.icon-chart-funnel:before,
.icon-chart-gauge:before,
.icon-chart-generic:before,
.icon-chart-geo-map:before,
.icon-chart-heat-map:before,
.icon-chart-line:before,
.icon-chart-meter:before,
.icon-chart-pie:before,
.icon-chart-points:before,
.icon-chart-points-distinct:before,
.icon-chart-pyramid:before,
.icon-chart-radar:before,
.icon-chart-range-bar:before,
.icon-chart-range-column:before,
.icon-chart-scatter-plot:before,
.icon-chart-spline:before,
.icon-chart-stacked-area:before,
.icon-chart-stacked-bar:before,
.icon-chart-stacked-bar-100-perc:before,
.icon-chart-stacked-column:before,
.icon-chart-stacked-column-100-perc:before,
.icon-chart-treemap:before,
.icon-chart-waterfall:before,
.icon-checkmark:before,
.icon-checkmark-o:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-close-x:before,
.icon-close-x-alt:before,
.icon-close-x-circle:before,
.icon-dashboards:before,
.icon-designer:before,
.icon-dot-dot-dot:before,
.icon-down-arrow-tail:before,
.icon-download:before,
.icon-drop-arrow:before,
.icon-filter:before,
.icon-folder:before,
.icon-folder-open:before,
.icon-folder-open-alt:before,
.icon-folder-sa:before,
.icon-grid-1x2:before,
.icon-grid-2x2:before,
.icon-grid-3x2:before,
.icon-grid-4x2:before,
.icon-grid-four-col:before,
.icon-grid-three-col:before,
.icon-grid-two-col:before,
.icon-house:before,
.icon-list:before,
.icon-move:before,
.icon-new-file:before,
.icon-new-folder:before,
.icon-open:before,
.icon-open-alt:before,
.icon-other-expr:before,
.icon-pencil:before,
.icon-person:before,
.icon-reset:before,
.icon-save:before,
.icon-search:before,
.icon-share:before,
.icon-staging-attribute:before,
.icon-staging-measure:before,
.icon-star:before,
.icon-star-filled:before,
.icon-suffix:before,
.icon-syntax:before,
.icon-trash:before,
.icon-triangle-down:before,
.icon-triangle-right:before,
.icon-view-selector:before,
.icon-visualizer:before {
  display: inline-block;
  font-family: "birstglyphs";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f100"; }
.icon-add-o:before { content: "\f101"; }
.icon-admin:before { content: "\f15d"; }
.icon-arrow-left:before { content: "\f102"; }
.icon-arrow-right:before { content: "\f103"; }
.icon-bar-chart:before { content: "\f104"; }
.icon-bars:before { content: "\f105"; }
.icon-bql-and:before { content: "\f107"; }
.icon-bql-curly:before { content: "\f108"; }
.icon-bql-divide:before { content: "\f109"; }
.icon-bql-equal:before { content: "\f10a"; }
.icon-bql-function:before { content: "\f10b"; }
.icon-bql-greater:before { content: "\f10c"; }
.icon-bql-greater-or-equal:before { content: "\f10d"; }
.icon-bql-less:before { content: "\f10e"; }
.icon-bql-less-or-equal:before { content: "\f10f"; }
.icon-bql-minus:before { content: "\f110"; }
.icon-bql-multiply:before { content: "\f111"; }
.icon-bql-not-equal:before { content: "\f112"; }
.icon-bql-not-null:before { content: "\f113"; }
.icon-bql-null:before { content: "\f114"; }
.icon-bql-or:before { content: "\f115"; }
.icon-bql-plus:before { content: "\f116"; }
.icon-chart-area:before { content: "\f117"; }
.icon-chart-area-spline:before { content: "\f165"; }
.icon-chart-bar:before { content: "\f118"; }
.icon-chart-bubble:before { content: "\f119"; }
.icon-chart-column:before { content: "\f11a"; }
.icon-chart-doughnut:before { content: "\f11b"; }
.icon-chart-funnel:before { content: "\f11c"; }
.icon-chart-gauge:before { content: "\f11d"; }
.icon-chart-generic:before { content: "\f15c"; }
.icon-chart-geo-map:before { content: "\f11e"; }
.icon-chart-heat-map:before { content: "\f11f"; }
.icon-chart-line:before { content: "\f120"; }
.icon-chart-meter:before { content: "\f121"; }
.icon-chart-pie:before { content: "\f122"; }
.icon-chart-points:before { content: "\f161"; }
.icon-chart-points-distinct:before { content: "\f162"; }
.icon-chart-pyramid:before { content: "\f123"; }
.icon-chart-radar:before { content: "\f124"; }
.icon-chart-range-bar:before { content: "\f125"; }
.icon-chart-range-column:before { content: "\f126"; }
.icon-chart-scatter-plot:before { content: "\f127"; }
.icon-chart-spline:before { content: "\f163"; }
.icon-chart-stacked-area:before { content: "\f128"; }
.icon-chart-stacked-bar:before { content: "\f129"; }
.icon-chart-stacked-bar-100-perc:before { content: "\f12a"; }
.icon-chart-stacked-column:before { content: "\f12b"; }
.icon-chart-stacked-column-100-perc:before { content: "\f12c"; }
.icon-chart-treemap:before { content: "\f12d"; }
.icon-chart-waterfall:before { content: "\f12e"; }
.icon-checkmark:before { content: "\f12f"; }
.icon-checkmark-o:before { content: "\f130"; }
.icon-chevron-left:before { content: "\f131"; }
.icon-chevron-right:before { content: "\f132"; }
.icon-close-x:before { content: "\f133"; }
.icon-close-x-alt:before { content: "\f167"; }
.icon-close-x-circle:before { content: "\f134"; }
.icon-dashboards:before { content: "\f15e"; }
.icon-designer:before { content: "\f135"; }
.icon-dot-dot-dot:before { content: "\f136"; }
.icon-down-arrow-tail:before { content: "\f137"; }
.icon-download:before { content: "\f138"; }
.icon-drop-arrow:before { content: "\f139"; }
.icon-filter:before { content: "\f168"; }
.icon-folder:before { content: "\f13a"; }
.icon-folder-open:before { content: "\f13b"; }
.icon-folder-open-alt:before { content: "\f13c"; }
.icon-folder-sa:before { content: "\f13d"; }
.icon-grid-1x2:before { content: "\f13e"; }
.icon-grid-2x2:before { content: "\f13f"; }
.icon-grid-3x2:before { content: "\f140"; }
.icon-grid-4x2:before { content: "\f141"; }
.icon-grid-four-col:before { content: "\f142"; }
.icon-grid-three-col:before { content: "\f143"; }
.icon-grid-two-col:before { content: "\f144"; }
.icon-house:before { content: "\f15f"; }
.icon-list:before { content: "\f145"; }
.icon-move:before { content: "\f146"; }
.icon-new-file:before { content: "\f147"; }
.icon-new-folder:before { content: "\f148"; }
.icon-open:before { content: "\f149"; }
.icon-open-alt:before { content: "\f14a"; }
.icon-other-expr:before { content: "\f14b"; }
.icon-pencil:before { content: "\f14c"; }
.icon-person:before { content: "\f160"; }
.icon-reset:before { content: "\f14d"; }
.icon-save:before { content: "\f14e"; }
.icon-search:before { content: "\f14f"; }
.icon-share:before { content: "\f150"; }
.icon-staging-attribute:before { content: "\f151"; }
.icon-staging-measure:before { content: "\f152"; }
.icon-star:before { content: "\f153"; }
.icon-star-filled:before { content: "\f154"; }
.icon-suffix:before { content: "\f155"; }
.icon-syntax:before { content: "\f156"; }
.icon-trash:before { content: "\f157"; }
.icon-triangle-down:before { content: "\f158"; }
.icon-triangle-right:before { content: "\f159"; }
.icon-view-selector:before { content: "\f15a"; }
.icon-visualizer:before { content: "\f15b"; }
