@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_buttons.scss';

button {
	@include appearance( normal );
	background-color: transparent;
	color: $gray-med-light;
	margin: 0;
}

button::-moz-focus-inner {
	padding: 0;
	margin: 0;
}

.btn {
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		@include opacity(.25);
	}
}

.btn {
	[class^="icon-"],
	[class*=" icon-"] {
		margin-right: 5px;
		&:last-child {
			margin-right: 0;
		}
	}
}

// Square buttons
// --------------------------------------------------
.btn-square {
	background: $gray;
	border: none;
	@include border-radius(0);
	color: $white;
	height: 5rem;
	padding: 0;
	text-align: center;
	width: 5rem;

	&:hover, &:focus {
		background: $gray;
		border: none;
		color: $white;
	}

	[class^="icon-"],
	[class*=" icon-"] {
		font-size: 2.1rem;
		margin: 0;
	}
}

.btn-close {
	background: black;
	@include border-radius( 10px );
	color: white;
	font-size: 1.3rem;
	height: 20px;
	padding: 0;
	width: 20px;
}
