@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_code.scss';

// Blocks of code
pre {
	padding: (($line-height-computed - 0.1) / 2);
	margin: 0 0 ($line-height-computed / 2);
	font-size: ($font-size-base - 0.1); // 14px to 13px
}