@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_dropdowns.scss';
// TODO switch hdr-main to navbar and have these dropdown styles only on navbars
.hdr-main .dropdown-menu {
	border-color: $gray-lighter;
	border-top: none;
	@include border-radius( 0 0 3px 3px );
	@include box-shadow( 2px 2px 2px rgba(160, 160, 160, 0.5) );
	left: 50%;
	margin: 1px 0 0 -90px;
	padding: 0;
	width: 180px;

	> li {
		> button {
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			color: $gray-med-light;
			cursor: pointer;
			height: 6rem;
			line-height: 6rem;
			padding: 0 0 0 32px;
			text-align: left;
			width: 100%;

			&:hover,
			&:focus {
				background-color: $blue-lightest;
				background-image: none;
				border-color: #BBD6EB;
				color: $gray-med-light;
			}

			> i {
				font-size: 3.2rem;
				margin-right: 15px;
				vertical-align: middle;
			}
		}
	}
}

.dd-noicon {
	// margin: 1px 0 0 -100px;
	// width: 200px;
	.btn-link {
		padding-left: 45px;
	}
}
