@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_forms.scss';

.checkbox-col, .checkbox {
	[type=checkbox] {
		display: none;
		&:checked + label:before {
			@include background( $blue-dark linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%));
			border-color: $blue-darker;
			color: #FFF;
			content: "\f12f";
			font-family: birstglyphs;
		}
	}
	label {
		display: inline-block;
		&:before {
			background: $white-dark;
			border: 1px solid #D4D4D4;
			@include border-radius( 3px );
			content: '';
			display: inline-block;
			height: 20px;
			margin-right: 5px;
			text-align: center;
			vertical-align: middle;
			width: 20px;
		}
	}
}

.radio {
	[type=radio] {
		display: none;
		&:checked + label:before {
			@include background( $blue-dark linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%));
			border-color: $blue-darker;
			color: #FFF;
			content: "\2022";
			font-size: 30px;
			line-height: 20px;
		}
	}
	label {
		display: inline-block;
		&:before {
			background: $white-dark;
			border: 1px solid #D4D4D4;
			@include border-radius( 10px );
			content: '';
			display: inline-block;
			height: 20px;
			margin-right: 5px;
			text-align: center;
			vertical-align: middle;
			width: 20px;
		}
	}
}

.form-control.ng-invalid {
	border-color: #FF2222!important;
	@include box-shadow( 0 0 4px #FF2222 !important );
}

.form-control.ng-invalid + .input-group-addon {
	border-color: #FF2222!important;
	@include box-shadow( 0 0 4px #FF2222 );
	opacity: 1!important;
}

.checkbox, .radio {
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	padding-left: 0;
	text-overflow: ellipsis;

	label {
		white-space: nowrap;
	}

	i {
		font-size: 2.2rem;
		vertical-align: middle;
	}
}

.radio + .radio {
	margin-top: 10px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	margin-left: -19px;
}

.has-feedback {
	// Feedback icon (requires .icon-* classes)
	.form-control-feedback {
		top: ($line-height-computed + 0.5rem); // Height of the `label` and its margin
	}
}

.form-horizontal {
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline {
		padding-top: ($padding-base-vertical + 0.1rem);
	}
	// Account for padding we're adding to ensure the alignment and of help text
	// and other content below items
	.radio,
	.checkbox {
		min-height: ($line-height-computed + ($padding-base-vertical + 0.1rem));
	}

	.form-control-static {
		padding-top: ($padding-base-vertical + 0.1rem);
	}
}

legend.panel-heading {
	position: relative;
	span {
		bottom: 100%;
		display: block;
		position: absolute;
	}
}


.panel-search {
	border-bottom: 1px solid $panel-border-color;
	height: 5.1rem;
	position: relative;
	.search-form {
		bottom: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;

		label, .icon-close-x{
			font-size: 2rem;
			position: absolute;
			top: 1.2rem;
		}
		label {
			left: 1.6rem;
		}
		.icon-close-x {
			cursor: pointer;
			font-size: 1.6rem;
			top: 1.5rem;
			right: 1rem;
		}
	}
	.search-input {
		background-color: $white-dark;
		border: none;
		height: 100%;
		padding-left: 4.4rem;
		padding-right: 3.6rem;
		width: 100%;

		&:focus {
			background-color: #ffffff;
		}
	}
}
