[class*="-icon"] {
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
}

[class^="icon-"] {
	font-family: "birstglyphs";
}

.icon-2x {
	font-size: 2.8rem;
}
.icon-3x {
	font-size: 4.2rem;
}

.birst-logo-icon {
	background-image: inline-image("multi-color-icons/birst-logo.svg");
}
.loader-icon {
	background: inline-image("multi-color-icons/loader.svg");
}
.dashboard-icon {
	background-image: inline-image("multi-color-icons/dashboard-icon.svg");
}
.dashboard-icon-lt {
	background-image: inline-image("multi-color-icons/dashboard-icon-light.svg");
}
.designer-icon {
	background-image: inline-image("multi-color-icons/designer.svg");
}
.designer-icon-lt {
	background-image: inline-image("multi-color-icons/designer-light.svg");
}
.visualizer-icon {
	background-image: inline-image("multi-color-icons/visualizer.svg");
}
.visualizer-icon-lt {
	background-image: inline-image("multi-color-icons/visualizer-light.svg");
}
// TODO remove usage of this icon in favor of the icon-font version
.folder-icon {
	background-image: inline-image("multi-color-icons/folder.svg");
}
