@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss';

@mixin nav-divider($color: $gray-lightest) {
  height: 1px;
  margin: (($line-height-computed / 2) - 0.1rem) 0;
  overflow: hidden;
  background-color: $color;
}

// Fakes an ellipsis on a multi-line content box
// Apply on a parent of the element you want the multi-line ellipsis inside of
// @include multiline-ellipsis(STRING CSS-SELECTOR, PX-OR-EM-VALUE, LINEHEIGHT, WIDTH OF GRADIENT BG, 'CONTENT-OF-ELLIPSIS');
// @include multiline-ellipsis('.content', 6em, 1.2em, 3em, '...');
@mixin multiline-ellipsis($element, $height, $lineheightinmixin, $ellipsiswidth, $content, $hoverElement, $hoverBgColor) {
	#{$element} {
		height: $height;
		line-height: $lineheightinmixin;
		overflow: hidden;

		&:before {
			content:"";
			float: left;
			height: $height;
			width: 5px;
		}

		> *:first-child {
			float: right;
			margin-left: -5px;
			width: 100%;
		}

		&:after {
			@include background( linear-gradient( left, rgba(242, 247, 250, 0), $white 50%, $white ) );
			@include box-sizing(content-box);
			content: $content;
			float: right;
			padding-right: 5px;
			position: relative;
			text-align: right;
			top: -$lineheightinmixin; left: 100%;
			width: $ellipsiswidth; margin-left: -$ellipsiswidth;
			// background: -webkit-gradient(linear, left top, right top,
			// 	from(rgba(242, 247, 250, 0)), to($white), color-stop(50%, $white));
			// background: -moz-linear-gradient(to right, rgba(242, 247, 250, 0), $white 50%, $white);
			// background: -o-linear-gradient(to right, rgba(242, 247, 250, 0), $white 50%, $white);
			// background: -ms-linear-gradient(to right, rgba(242, 247, 250, 0), $white 50%, $white);
			// background: linear-gradient(to right, rgba(242, 247, 250, 0), $white 50%, $white);
		}
	}

	#{$hoverElement} {
		&:hover {
			#{$element} {
				&:after {
					@include background( linear-gradient( left, rgba(242, 247, 250, 0), $hoverBgColor 50%, $hoverBgColor ) );
				}
			}
		}
	}
}
