@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_panels.scss';

.panel {
  @include box-shadow(none);
}

.panel-heading {

  .accordion-toggle {
    &:after {
      font-family: birstglyphs;
      content: "\f158";
      float: right;
    }
    &.collapsed:after {
      content: "\f159";
    }
  }
}

.panel-title {
  font-size: ($font-size-base + 0.2);

  > a,
  > span {
    color: $gray-light-alt;
    cursor: pointer;
    display: block;
    padding: 1rem 1.5rem;
    &:hover {
      text-decoration: none;
    }
  }
}

.panel-group {
  .panel {
    border-left: none;
    border-right: none;
    border-bottom-style: none;
    + .panel {
      margin-top: 0;
    }
    &:last-child {
      border-bottom-style: solid;
    }
  }
}

.panel-group {
  .panel-heading {
    padding: 0;
  }
}
