@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_tables.scss';

.table {
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: 4px 8px;
				vertical-align: middle;
				i {
					vertical-align: middle;
				}
			}
		}
	}
	th,
	td {
		padding: 4px 8px;
		vertical-align: middle;

		i {
			vertical-align: middle;
		}
	}
	td {
		background: $white;
	}
	thead {
		th {
			color: $gray-light-alt;
			font-size: 1.6rem;
			font-weight: normal;
			padding-top: 0;
			padding-bottom: 0;
			vertical-align: middle;
		}
	}
}

.tscroll {
	background: $white;
	position: relative;
	> table td {
		height: 30px;
	}
}

.tscroll-inner:first-child {
	position: static;
}

.tscroll-inner {
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
}

.tscroll table {
	table-layout: fixed;
}
