@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_type.scss';

@font-face {
    font-family: "Gloria Hallelujah";
    font-style: normal;
    font-weight: normal;
    src: font-url('gloriahallelujah.eot');
    src: font-url('gloriahallelujah.eot?#iefix') format("embedded-opentype"),
         font-url('gloriahallelujah.woff') format("woff"),
         font-url('gloriahallelujah.ttf') format("truetype"),
         font-url('gloriahallelujah.svg#gloria_hallelujahregular') format("svg");
}

// NOOOOOOOOO!!!!!!!
// em {
// 	font-style: italic;
// }

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.handwriting {
	font-family: 'Gloria Hallelujah', cursive;
}

// TODO: remove usage of this class in favor of mark tag. Used in angular-ui highlight filter
.ui-match {
	background: $blue-lighter;
}

mark {
  @extend .ui-match;
  color: inherit;
}
