/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import "vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_variables.scss";

//== Colors
//
//====Application grays and whites
$gray-darkest: #201E20;
$gray-darker: #313031;
$gray-dark: #383738;
$gray-dark-alt: #3E3D3E;
$gray: #555;
$gray-alt: #5D5D5D;
$gray-med-light: #777;
$gray-alternate1: #7F7F7F;
$gray-light: #999;
$gray-light-alt: #898989;
$gray-med-lighter: #AAA;
$gray-lighter: #D9D9D9;
$gray-lighter-alt: #CDCDCD;
$gray-lightest: #E4E4E4;
$white-darker: #F5F5F5;
$white-dark: #F8F8F8;
$white: #FFF;

//====Application accent colors
$red: #A5442A;
$orange: #F37021;
$yellow: #FC6;
$green: #5cb85c;
$blue-darkest: #267BA7;
$blue-darker: #0D87AD;
$blue-dark: #00A4D6;
$blue: #5BA8DF;
$blue-alt: #4188CC;
$blue-light: #66CCFF;
$blue-lighter: #83CDFF;
$blue-lightest: #EBF8FF;

// brand color variables
$brand-primary: $blue-alt;
$brand-success: $green;
$brand-info: $blue-light;
$brand-warning: $yellow;
$brand-danger: $red;


//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: $white;
//** Global text color on `<body>`.
$text-color: $gray;

//** Global textual link color.
$link-color: $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%);

//** Min width of web page
$min-viewport: 980px;
//** Whitespace on left & right sides of web page
$page-margin: 18px;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1.4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.2rem;

$font-size-h1: 3.6rem;
$font-size-h2: 3rem;
$font-size-h3: 2.4rem;
$font-size-h4: $font-size-large;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-small;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~2rem

//** By default, this inherits from the `<body>`.
$headings-font-family: Arial, Helvetica, sans-serif;
$headings-font-weight: normal;
$headings-line-height: 1.1;
$headings-color: inherit;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical: 0.6rem;
$padding-base-horizontal: 1.2rem;

$padding-large-vertical: 1rem;
$padding-large-horizontal: 1.6rem;

$padding-small-vertical: 0.5rem;
$padding-small-horizontal: 1rem;

$padding-xs-vertical: 0.1rem;
$padding-xs-horizontal: 0.5rem;

$line-height-large: 1.33;
$line-height-small: 1.5;

$border-radius-base: 3px;
$border-radius-large: 6px;
$border-radius-small: 3px;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color: $white;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg: $brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base: 4px;
//** Carets increase slightly in size for larger components.
$caret-width-large: 5px;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding: 0.8rem;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: 0.5rem;

//** Default background color used for all tables.
$table-bg: transparent;
//** Background color used for `.table-striped`.
$table-bg-accent: $white-dark;
//** Background color used for `.table-hover`.
$table-bg-hover: $blue-lightest;
$table-bg-active: $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color: $gray-lighter;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight: normal;

$btn-default-color: $gray;
$btn-default-bg: $white;
$btn-default-border: $gray-lighter-alt;

$btn-primary-color: $white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

$btn-success-color: $white;
$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 5%);

$btn-info-color: $white;
$btn-info-bg: $brand-info;
$btn-info-border: darken($btn-info-bg, 5%);

$btn-warning-color: $white;
$btn-warning-bg: $brand-warning;
$btn-warning-border: darken($btn-warning-bg, 5%);

$btn-danger-color: $white;
$btn-danger-bg: $brand-danger;
$btn-danger-border: darken($btn-danger-bg, 5%);

$btn-link-disabled-color: $gray-light;


//== Forms
//
//##

//** `<input>` background color
$input-bg: $white;
//** `<input disabled>` background color
$input-bg-disabled: $white-darker;

//** Text color for `<input>`s
$input-color: $gray;
//** `<input>` border color
$input-border: $gray-lighter-alt;
//** `<input>` border radius
$input-border-radius: $border-radius-base;
//** Border color for inputs on focus
$input-border-focus: $blue-light;

//** Placeholder text color
$input-color-placeholder: $gray-light;

//** Default `.form-control` height
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 0.2);
//** Large `.form-control` height
$input-height-large: (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 0.2);
//** Small `.form-control` height
$input-height-small: $font-size-small * $line-height-small + $padding-small-vertical * 2 + 0.2;

$legend-color: $gray-dark;
$legend-border-color: $gray-lightest;

//** Background color for textual input addons
$input-group-addon-bg: $gray-lightest;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border;


//== Form states and alerts
//====Application form states and alerts colors
//## Define colors for form feedback states and, by default, alerts.

$state-success-text: #3c763d;
$state-success-bg: #dff0d8;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text: #31708f;
$state-info-bg: #d9edf7;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text: #8a6d3b;
$state-warning-bg: #fcf8e3;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text: #a94442;
$state-danger-bg: #f2dede;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 5%);


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg: $white;
//** Dropdown menu `border-color`.
$dropdown-border: $gray-lighter;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border: $gray-lighter;
//** Divider color for between dropdown items.
$dropdown-divider-bg: $gray-lightest;

//** Dropdown link text color.
$dropdown-link-color: $gray-dark;
//** Hover color for dropdown links.
$dropdown-link-hover-color: darken($gray-dark, 5%);
//** Hover background for dropdown links.
$dropdown-link-hover-bg: $blue-lightest;

//** Active dropdown menu item text color.
$dropdown-link-active-color: $component-active-color;
//** Active dropdown menu item background color.
$dropdown-link-active-bg: $component-active-bg;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color: $gray-light;

//** Text color for headers within dropdown menus.
$dropdown-header-color: $gray-light;


//== Navbar
//
//##
$navbar-height: 5rem;


//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width: 200px;
//** Tooltip text color
$tooltip-color: $white;
//** Tooltip background color
$tooltip-bg: $gray-dark;
$tooltip-opacity: .9;

//** Tooltip arrow width
$tooltip-arrow-width: 5px;
//** Tooltip arrow color
$tooltip-arrow-color: $tooltip-bg;


//== List group
//
//##

//** Background color on `.list-group-item`
$list-group-bg: $white-darker;
//** `.list-group-item` border color
$list-group-border: $gray-lighter;
//** List group border radius
$list-group-border-radius: 0;

//** Background color of single list elements on hover
$list-group-hover-bg: $blue-lightest;
//** Text color of active list elements
$list-group-active-color: $component-active-color;
//** Background color of active list elements
$list-group-active-bg: $component-active-bg;
//** Border color of active list elements
$list-group-active-border: $list-group-active-bg;
$list-group-active-text-color: lighten($list-group-active-bg, 40%);

$list-group-link-color: $text-color;
$list-group-link-heading-color: $gray-light-alt;


//== Panels
//
//##

$panel-bg: $gray-lightest;
$panel-body-padding: 1.5rem;
$panel-border-radius: 0;

//** Border color for elements within panels
$panel-inner-border: $gray-lighter;
$panel-footer-bg: $white-darker;

$panel-default-text: $gray-dark;
$panel-default-border: $gray-lighter;
$panel-default-heading-bg: $white-darker;

$panel-primary-text: $white;
$panel-primary-border: $brand-primary;
$panel-primary-heading-bg: $brand-primary;

$panel-success-text: $state-success-text;
$panel-success-border: $state-success-border;
$panel-success-heading-bg: $state-success-bg;

$panel-info-text: $state-info-text;
$panel-info-border: $state-info-border;
$panel-info-heading-bg: $state-info-bg;

$panel-warning-text: $state-warning-text;
$panel-warning-border: $state-warning-border;
$panel-warning-heading-bg: $state-warning-bg;

$panel-danger-text: $state-danger-text;
$panel-danger-border: $state-danger-border;
$panel-danger-heading-bg: $state-danger-bg;

$panel-border-color: #D2D2D2 !default;
