<script src="../../goog/base.js" type="text/javascript"></script>
<script type="text/javascript">
    goog.require('goog.array');
    goog.require('goog.debug.Console');
    goog.require('goog.debug.LogManager');
    goog.require('goog.debug.Logger');
    goog.require('goog.events');
    goog.require('goog.events.EventType');
    goog.require('goog.object');
    goog.require('goog.ui.Control');
    goog.require('goog.ui.ControlRenderer');
    goog.require('goog.ui.decorate');
    goog.require('goog.ui.registry');
</script>

<script type="text/javascript">
    goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
    var logger = goog.debug.Logger.getLogger('demo');
    var logconsole = new goog.debug.Console();
    
    logconsole.setCapturing(true);

    function writeLog(msg) {
        logger.log(goog.debug.Logger.Level.INFO, msg)
    }

    function pushBut () {
        writeLog('everything is fine!')
    }
</script>

<input type="button" value="make everything good!" onclick="pushBut();" />