<!DOCTYPE html>
<html ng-app="dashboards" ng-controller="AppCtrl" lang="en_US" class="full-screen">
	<head>
		<meta charset="UTF-8" />
		<title ng-bind="pageTitle"></title>
        <link rel="icon" href="assets/img/favicon.ico">
        <link href='//fonts.googleapis.com/css?family=Gloria+Hallelujah|Source+Sans+Pro:400,700,400italic|Lato:400,700,400italic|Arvo:400,700,400italic|PT+Sans:400,700,400italic|PT+Serif:400,700,400italic|Open+Sans:400italic,400,600,700|Vollkorn:400italic,400,700|Old+Standard+TT:400,400italic,700|Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
		<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" id="could_it_be" href="<%= file %>" /><% }); %>
		<script charset="UTF-8" type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&amp;s=1"></script>

		<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
		<script type="text/javascript" src="<%= file %>"></script><% }); %>
	</head>
	<body meny moverlap="0" class="full-screen">
		<div class="mnav">
			<nav>
				<a href="/html/home.aspx" class="list-group-item" ng-class="{ active : current === 'home' }"><i class="icon-house"></i><lm>HOME</lm></a>
				<a href="#dashboards" class="list-group-item" ng-class="{ active : current === 'dashboards' }"><i class="dashboard-icon-lt"></i><lm>DASHBOARDS</lm></a>
				<a href="#visualizer" class="list-group-item" ng-class="{ active : current === 'visualizer' }"><i class="visualizer-icon-lt"></i><lm>VISUALIZER</lm></a>
				<a href="#designer" class="list-group-item" ng-class="{ active : current === 'designer' }"><i class="designer-icon-lt"></i><lm>DESIGNER</lm></a>
				<a href="#admin" class="list-group-item" ng-class="{ active : current === 'admin' }"><i class="icon-admin"></i><lm>ADMIN</lm></a>
				<a href="#user" class="list-group-item" ng-class="{ active : current === 'user' }"><i class="icon-person"></i><lm>USER</lm></a>
			</nav>
		</div>
		<main class="mcont">
			 <ui-view autoscroll="false"></ui-view>
		</main>
	</body>
</html>
