<div class="table-container">
	<table class="table table-striped table-hover" ng-style="table.getStyles('borders')">
		<thead>
			<tr ng-style="table.getStyles('headerBackground')">
				<th table-auto-width index="{{$index}}" 
					ng-class="{'highlight-column': table.findColumn($index).properties.sortDirection || table.findColumn($index).properties.hoverColumn}"
					ng-style="table.getStyles('borders')" drop-target="table.drop($index)" ng-repeat="name in table.results.columnNames track by $index"
					ng-mouseenter="table.findColumn($index).properties.hoverColumn = true" ng-mouseleave="table.findColumn($index).properties.hoverColumn = false">
					<div>
						<span class="table-column-title" ng-style="table.getStyles('headerText')" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{name | tableDisplayName | popoverThreshold:9}}">{{name | tableDisplayName}}</span>
						<div>
							<i draggable="name" ng-if="launchMode !== 'reportView'" class="table-move"></i>
							<i class="table-filter" ng-if="table.findColumn($index).filter || table.findColumn($index).displayFilter" ng-click="table.filter($index)"></i>
							<i class="table-sorting" ng-class="table.findColumn($index).properties.sortDirection" ng-click="table.sort($index)"></i>
							<!-- <i class="table-sorting" ng-if="stage.internalSortOrder.length" ng-click="table.lockSorting($index)"></i> -->
							<div class="table-dropdown-container" ng-if="launchMode !== 'reportView'" ng-click="table.toggleTableDropdown($index)">
								<i class="table-more" ng-class="{'active': table.results.showDropdown[$index]}"></i>
								<div class="table-column-dropdown" ng-if="table.results.showDropdown[$index]">
									<div class="table-dropdown-item" ng-click="table.filter($index)">
										<i class="table-filter"></i>
										<span>Filter</span>
									</div>
									<!-- <div class="table-dropdown-item" ng-click="table.lock($index)">
										<i class="table-lock"></i>
										<span>Lock Column</span>
									</div> -->
									<div class="table-dropdown-item" ng-click="table.removeColumn($index)">
										<i class="table-sort-remove"></i>
										<span>Remove Column</span>
									</div>
								</div>
							</div>
						</div>
						<i table-resize></i>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in table.results.rows track by $index" ng-style="table.getStyles('background', $index)">
				<td ng-repeat="data in row track by $index" ng-style="table.getStyles('borders')"
					ng-class="{'highlight-column': table.findColumn($index).properties.sortDirection || table.findColumn($index).properties.hoverColumn,
					'right-align': table.results.alignment[$index] === 'right'}">
                    <span ng-style="table.getStyles('bodyText')" ng-class="'index' + $index">{{table.results.columns[$index].expression.isMeasure() ? (data | dataFormat:table.results.columns[$index].properties.currency:table.results.columns[$index].properties.decimalPrecision) : data}}</span>
                </td>
			</tr>
		</tbody>
		<!-- <tfoot>
			<tr ng-style="table.getStyles('headerBackground')">
				<th index="{{$index}}"
					ng-class="{'highlight-column': table.findColumn($index).properties.sortDirection || table.findColumn($index).properties.hoverColumn}"
					ng-style="table.getStyles('borders')" ng-repeat="name in table.results.columnNames track by $index">
					<span ng-style="table.getStyles('headerText')">{{name | tableDisplayName}}</span>
				</th>
			</tr>
		</tfoot> -->
	</table>
</div>