/* 
 * CSS for CatalogManagement
 * $Id: CatalogManagement.css,v 1.5 2012-05-02 22:24:38 gsingh Exp $ 
 */

.headerText {
    color: #000000;
    font-weight: bold;
}

.headerBackground {
	headerColors: #ededed, #ededed;
}

.selectedEntry {
	backgroundColor: #FFCD82;
}

.dialogTitleBar {
	backgroundGradientColors: #fafafa, #ededed;
}

.dialogFill {
	backgroundColor: #fafafa;
}

.catManDialog {
    title-style-name: catManDialogTitle;
    headerColors: #fafafa, #ededed;
    borderAlpha: 1.0;
    backgroundColor: #fafafa;
    borderThicknessBottom: 0; 
    borderThicknessLeft: 0; 
    borderThicknessRight: 0; 
}

.catManDialogTitle {
	color: #000000;
	font-weight: bold;
}

.catManAlert {
    headerColors: #fafafa, #ededed;
    backgroundColor: #fafafa;
    color: #000000;
}
