/* CSS file */
		@font-face {
			src: url("/fonts/Asap/Asap-Regular.ttf");
			fontFamily: Asap;
			fontStyle: normal;
			fontWeight: normal;
		}
		@font-face {
			src: url("/fonts/Asap/Asap-Bold.ttf");
			fontFamily: Asap;
			fontStyle: normal;
			fontWeight: bold;
		}
		@font-face {
			src: url("/fonts/Asap/Asap-BoldItalic.ttf");
			fontFamily: Asap;
			fontStyle: italic;
			fontWeight: bold;
		}
		@font-face {
			src: url("/fonts/Asap/Asap-Italic.ttf");
			fontFamily: Asap;
			fontStyle: italic;
			fontWeight: normal;
		}
		@font-face {
			src: url("/fonts/Droid_Sans/DroidSans.ttf");
			fontFamily: "Droid Sans";
			fontWeight: normal;
		}
		@font-face {
			src: url("/fonts/Droid_Sans/DroidSans-Bold.ttf");
			fontFamily: "Droid Sans";
			fontWeight: bold;
		}
		@font-face {
			src: url("/fonts/Droid_Serif/DroidSerif.ttf");
			fontFamily: "Droid Serif";
			fontStyle: normal;
			fontWeight: normal;
		}
		@font-face {
			src: url("/fonts/Droid_Serif/DroidSerif-Bold.ttf");
			fontFamily: "Droid Serif";
			fontStyle: normal;
			fontWeight: bold;
		}
		@font-face {
			src: url("/fonts/Droid_Serif/DroidSerif-Italic.ttf");
			fontFamily: "Droid Serif";
			fontStyle: italic;
			fontWeight: normal;
		}
		@font-face {
			src: url("/fonts/Droid_Serif/DroidSerif-BoldItalic.ttf");
			fontFamily: "Droid Serif";
			fontStyle: italic;
			fontWeight: bold;
		}
		@font-face {
			src: url("/fonts/Quicksand/Quicksand-Regular.ttf");
			fontFamily: Quicksand;
			fontWeight: normal;
		}
		@font-face {
			src: url("/fonts/Quicksand/Quicksand-Bold.ttf");
			fontFamily: Quicksand;
			fontWeight: bold;
		}
		@font-face {
			src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf");
			fontFamily: Ubuntu;
			fontStyle: normal;
			fontWeight: normal;
		}
		@font-face {
			src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf");
			fontFamily: Ubuntu;
			fontStyle: normal;
			fontWeight: bold;
		}
		@font-face {
			src: url("/fonts/Ubuntu/Ubuntu-BoldItalic.ttf");
			fontFamily: Ubuntu;
			fontStyle: italic;
			fontWeight: bold;
		}
		@font-face {
			src: url("/fonts/Ubuntu/Ubuntu-Italic.ttf");
			fontFamily: Ubuntu;
			fontStyle: italic;
			fontWeight: normal;
		}
		@font-face {
			src: url("/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf");
			fontFamily: "Ubuntu Condensed";
		}
