/* 
 * CSS for CustomSubjectArea
 * $Id: SubjectArea.css,v 1.7 2012-06-29 00:33:23 ricks Exp $ 
 */

.saTree {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    rollOverColor: #FFC56C;
    selectionColor: #FFC56C;
    backgroundColor: #FFFFFF;
    backgroundAlpha: 0.4;
}       

.saToolbar {
	fillAlphas: 1.0, 1.0; 
	fillColors: #ededed, #ededed; 
	paddingBottom: 3; 
	paddingTop: 3;
	paddingLeft: 3; 
	paddingRight: 3;
}

.headerText {
    color: #000000;
    font-weight: bold;
}

.headerBackground {
	headerColors: #fafafa, #ededed;
}

.selectedEntry {
	backgroundColor: #FFCD82;
}

.dialogTitleBar {
	backgroundGradientColors: #fafafa, #ededed;
}

.dialogFill {
	backgroundColor: #fafafa;
}

.saDialog {
    title-style-name: saDialogTitle;
    headerColors: #fafafa, #ededed;
    borderAlpha: 1.0;
    backgroundColor: #fafafa;
    borderThicknessBottom: 0; 
    borderThicknessLeft: 0; 
    borderThicknessRight: 0; 
}

.saDialogTitle {
	color: #000000;
	font-weight: bold;
}

.helpHeader {
    color: #000000; 
    backgroundColor: #DDDDDD; 
    textAlign: center;
    paddingLeft: 10;
    paddingRight: 10; 
    paddingTop: 5;
    fontWeight: bold; 
    fontFamily: Arial;
}

.helpBody {
    paddingLeft: 10;
    paddingRight: 10;
    paddingTop: 10; 
    color: #000000;
    backgroundColor: #DDDDDD;
}

.saButton {
    fillColors: #CCCCCC, #CCCCCC; 
    alpha: 1.0;
    fillAlphas: 1.0, 1.0;
}

.saHeaderLabel {
	fontWeight : bold; 
	fontStyle : normal; 
	color : #000000;
}
