<i ng-if="file.loading" class="loading loader-icon"></i>
<div ng-if="!map.bingMap && file.fileType === 'designer'  && !file.error.hasError" report></div>
<div ng-if="map.bingMap" bing-map></div>
<div ng-if="file.fileType === 'visualizer'" plugin class="plugin"></div>
<div ng-if="file.error.errorCode && file.error.errorCode !== '0'" class="errorWrap">
	<div class="error">
		<h3>Error: {{file.error.errorCode}}</h3>
		<p>{{file.error.errorMessage}}</p>
		<p ng-if="file.errorMessageReason"><strong>Reason:</strong> {{file.error.errorMessageReason}}</p>
	</div>
</div>
