body:not( .meny-open ) {
	@include perspective( none!important );
}

.meny-open {
	background: $gray-darker;
}

.mcont {
	background: $white;
	display: block;
	> ui-view {
		display: block;
		overflow-y: auto;
		overflow-x: hidden;
		min-width: $min-viewport;
		min-height: 55rem;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

.meny-open .mcont {
	overflow: hidden;
}

/**
 * Nav
 */

.mnav {
	background: $gray-darker;
	@include translateX( -100% );
	[class*="-icon"] {
		background-size: auto 100%;
		background-position: center bottom;
		height: 20px;
		top: 4px;
		width: 20px;
	}
	[class^="icon-"] {
		font-size: 20px;
		top: 3px;
	}
	[class^="icon-"],
	[class*="-icon"] {
		position: relative;
		margin-right: 10px;
	}
	.list-group-item {
		background: transparent;
		border: none;
		border-bottom: 1px solid $gray-darkest;
		border-top: 1px solid $gray-dark;
		color: $gray-lighter-alt;
		margin-bottom: 0;
		&.active,
		&.active:hover,
		&.active:focus {
			background: transparent;
			border-bottom-color: $gray-darkest;
			border-top-color: $gray-dark;
			color: $gray-lighter-alt;
			&:after {
				content: '';
				display: block;
				float: right;
				height: 8px;
				width: 8px;
				border-radius: 4px;
				background: $blue-light;
				position: absolute;
				right: 20px;
				top: 50%;
				margin-top: -4px;
			}
		}
		&.active:hover {
			background: $gray-dark-alt;
		}
	}
	a.list-group-item {
		&:hover,
		&:focus {
			background: $gray-dark-alt;
		}
	}

}

.meny-open .mnav {
	@include translateX( 0 );
}
