<html>

<head>
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>Closure Unit Tests - anychart.plots.axesPlot.axes.elements.labels</title>
    <script src="../../../../../goog/base.js"></script>
    <script>
        goog.require('anychart.visual.text');
        goog.require('anychart.plots.axesPlot.axes');
        goog.require('goog.testing.asserts');
        goog.require('goog.testing.jsunit');
    </script>
    <script type="text/javascript">
        anychart.plots.axesPlot.axes.elements.labels.AxisLabelsMock = function() {};
        goog.inherits(anychart.plots.axesPlot.axes.elements.labels.AxisLabelsMock, anychart.plots.axesPlot.axes.elements.labels.AxisLabels);

        anychart.plots.axesPlot.axes.AxisMock = function() {};
        goog.inherits(anychart.plots.axesPlot.axes.AxisMock, anychart.plots.axesPlot.axes.Axis);

        anychart.plots.axesPlot.axes.AxisMock.prototype.getTokenType = function(token) {
            switch (token) {
                case '%AxisName' :
                default :
                    return anychart.formatting.TextFormatTokenType.TEXT;

                case '%Value' :
                case '%AxisValue' :
                case '%AxisSum' :
                case '%AxisMax' :
                case '%AxisMin' :
                case '%AxisRange' :
                case '%AxisScaleMax' :
                case '%AxisScaleMin' :
                case '%AxisAverage' :
                case '%AxisBubbleSizeSum' :
                case '%AxisBubbleSizeMin' :
                case '%AxisBubbleSizeMax' :
                case '%AxisMode' :
                case '%AxisMedian' :
                    return anychart.formatting.TextFormatTokenType.NUMBER;
            }
        };

        anychart.plots.axesPlot.axes.AxisMock.prototype.getTokenValue = function(token) {
            return 1;
        };

    </script>


    <script type="text/javascript">

        var format = [
                '',
                '{%Value}',
                '{numDecimals:123}',
                '{%AxisName}',
                '{%Value}{numDecimals:13}',
                '{%Value}{numDecimals:13',
                '{%Value}{numDecimals:1, percentQwer:50}',
                '{%Value}{numDecimals:qwer}',
                '{%Value}{numDecimals:4}{numDecimals:2}'
        ];

        var nd = [
                2,
                2,
                2,
                2,
                13,
                2,
                1,
                2,
                4
        ];

        function testNumDecimalsParsing() {
            var tf, numDecimals;
            var label = new anychart.plots.axesPlot.axes.elements.labels.AxisLabelsMock();
            label.axis_ = new anychart.plots.axesPlot.axes.AxisMock();
            for (var i = 0; i < format.length; i++) {
                tf = new anychart.formatting.TextFormatter(format[i]);
                label.textFormatter_ = tf;
                label.parseNumDecimals_();
                assertEquals('--- TEST #'+ i + ' ---\n' + 'WAS PASSED: ' + format[i], nd[i], label.getNumDecimals());
            }
        }

    </script>

</head>
<body>

</body>
</html>