<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Birst style guide</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li{% if page.slug == "css" %} class="active"{% endif %}>
          <a href="../">CSS</a>
        </li>
        <li{% if page.slug == "components" %} class="active"{% endif %}>
          <a href="../components">Components</a>
        </li>
        <li{% if page.slug == "js" %} class="active"{% endif %}>
          <a href="../javascript">JavaScript</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
