$handleBgColor: #FFF;
$handleBorderColor: $gray;
$handleBgColorActive: $handleBorderColor;
$handleDimension: 16px;
$handleBorderThickness: 3px;
$halfHandleDimension: $handleDimension / 2;
$sideThickness: 20px;
$halfSideThickness: $sideThickness / 2;

.edit-mode {

	[b-resizable] {
		&.selected, &.resizing {
			border-color: $moveResizeHoverBorderColor;
			box-shadow:  $moveResizeBoxShadowDims $moveResizeHoverBorderColor, inset $moveResizeBoxShadowDims $moveResizeHoverBorderColor;

			> .resize-side,
			> .resize-handle {
				display: block;
			}
		}

		&.resizing {
			opacity: $moveResizeOpacity;
		}

		// when a bMoveable element is moving, hide resize handles
		&.moving {

			> .resize-handle {
				display: none;
			}
		}
	}
}

.resize-side,
.resize-handle {
	display: none;
	position: absolute;
	z-index: 10000;
}

.resize-handle {
	background: $handleBgColor;
	border: $handleBorderThickness solid $handleBorderColor;
	@include border-radius( $halfHandleDimension );
	height: $handleDimension;
	width: $handleDimension;

	&:hover, &.active {
		background: $handleBgColorActive;
	}
}

.side-n, .side-s {
	height: $sideThickness;
	width: 100%;
	left: 0;
}

.side-n {
	top: -$halfSideThickness;
}

.side-s {
	bottom: -$halfSideThickness;
}

.side-e, .side-w {
	cursor: ew-resize;
	width: $sideThickness;
	top: 0;
	height: 100%;
}

.side-e {
	right: -$halfSideThickness;
}

.side-w {
	left: -$halfSideThickness;
}

.handle-n, .handle-s {
	left: 50%;
	margin-left: -$halfHandleDimension;
}

.handle-n {
	top: -$halfHandleDimension;
}

.handle-s {
	bottom: -$halfHandleDimension;
}

.handle-e, .handle-w {
	margin-top: -$halfHandleDimension;
	top: 50%;
}

.handle-e {
	right: -$halfHandleDimension;
}

.handle-w {
	left: -$halfHandleDimension;
}

.handle-ne {
	right: -$halfHandleDimension;
	top: -$halfHandleDimension;
}

.handle-sw {
	left: -$halfHandleDimension;
	bottom: -$halfHandleDimension;
}

.handle-nw {
	left: -$halfHandleDimension;
	top: -$halfHandleDimension;
}

.handle-se {
	bottom: -$halfHandleDimension;
	right: -$halfHandleDimension;
}

.handle-n,
.handle-s,
.side-n,
.side-s,
.resizing-n *,
.resizing-s *,
.resizing-n .edit-mode *,
.resizing-s .edit-mode * {
	cursor: ns-resize;
}

.handle-e,
.handle-w,
.side-e,
.side-w,
.resizing-e *,
.resizing-w *,
.resizing-e .edit-mode *,
.resizing-w .edit-mode * {
	cursor: ew-resize;
}

.handle-ne,
.handle-sw,
.resizing-ne *,
.resizing-sw *,
.resizing-ne .edit-mode *,
.resizing-sw .edit-mode * {
	cursor: nesw-resize;
}

.handle-nw,
.handle-se,
.resizing-nw *,
.resizing-se *,
.resizing-nw .edit-mode *,
.resizing-se .edit-mode * {
	cursor: nwse-resize;
}
