<div class="resize-side side-n"></div>
<div class="resize-side side-e"></div>
<div class="resize-side side-s"></div>
<div class="resize-side side-w"></div>
<div class="resize-handle handle-n"></div>
<div class="resize-handle handle-ne"></div>
<div class="resize-handle handle-e"></div>
<div class="resize-handle handle-se"></div>
<div class="resize-handle handle-s"></div>
<div class="resize-handle handle-sw"></div>
<div class="resize-handle handle-w"></div>
<div class="resize-handle handle-nw"></div>