.drawer-container {position: absolute; top: 50px; width:100%; height: calc(100% - 50px);}
.drawer-container .modal-backdrop {opacity: 0;z-index:0;}
.drawer-container .drawer {transition: all 600ms ease-in; width: 100%;height: 0;overflow:hidden;position: relative;z-index: 1030;}
.drawer-container.open .drawer {height: 85%;}
.drawer-container.open .modal-backdrop {z-index:1020;opacity: .5;transition-property: opacity;transition: 600ms ease-in;}
.drawer-container .drawer [close] {position: absolute;bottom: 2px;left: 50%;margin-left: -80px;width: 159px;height: 31px;cursor: pointer;}
.drawer-container .drawer [close] i.close-icon {position: relative;left: 157px;top: 5px;z-index: 1060;}

.editor-container .editor {background-color: #fff;height: 100%;overflow: hidden;}
.editor-container .editor > div {width:960px;margin:0 auto;padding:20px 0;position: relative;}
.editor-container .editor h3 {margin: 0 0 -20px 100px;color:#428bca;}
.editor-container .editor .editor-main {padding: 0;height: calc(100% - 307px);}
.editor-container .editor .editor-main .pp {margin-left: 100px;padding: 0 2px 0 8px;border: 1px solid #ccc;height: 100%;}
.editor-container .editor .expression-type {margin-left: 100px;}
.editor-container .editor .editor-main .pp > span {display: inline-block;margin-top: 8px;}
.editor-container .editor .editor-main .pp > div {position: relative;height: 100%;display: inline-block;}
.editor-container .editor .editor-main input[type="text"] {border:none;outline: none;background: #FFFFEE;width: 100%;height: 36px;margin: 0;padding: 0 10px;}
.editor-container .editor .editor-main button span {display: inline-block;padding: 1px 0;color:#4d593b;}
.editor-container .editor .title {padding: 9px 6px; display: inline-block; float:left; width: 100px;}
.editor-container .editor .name-container input {margin: 0; margin-right: 30px; height: 38px;width: 430px;border: 1px solid #d2d2d2;border-radius: 0;display: inline-block;float: right;}
.editor-container .editor .name-container input:focus {border-color:#bbd697;}
.editor-container .editor .name-container .name-message {display: inline-block; float: right; width: 400px; padding-top: 9px; color: #ddaa49;}
.editor-container .editor .button-bar-container {bottom: 0;height: 80px;margin: 0;background: #e4e4e4;width: 100%;left: 0;}
.editor-container .editor .button-bar {width: 960px;margin: 0 auto;position: relative;}
.editor-container .editor .button-bar .btn {height: 40px;}
.editor-container .editor .btn-primary {margin-left:4px;width: 134px;}
.editor-container .editor .btn-primary i {background-size: 20px;width: 20px;height: 20px;margin: 0;top: 1px;left: 15px;}
.editor-container .editor .btn-primary span {display: inline-block;padding-top: 3px;}
.editor-container .editor .editor-main .completionsContainer {background: #fff;z-index: 20;position: absolute;max-height: calc(100% + 140px);width: 273px;overflow-y: auto;overflow-x: hidden;left: 10px;border: 1px solid #ccc;padding: 2px;box-shadow: 0px 2px 7px rgba(0,0,0,0.25);}
.editor-container .editor .down-array-icon{cursor: pointer;margin: 4px 0 0 0;background-size: 10px;}
.editor-container .editor .completionsContainer .completion {width: 267px; padding: 10px 20px; background: #fff; cursor: pointer;}
.editor-container .editor .completionsContainer .completion i {margin: 0 5px -6px 0;width: 25px;}
.editor-container .editor .completionsContainer .completion span {font-size: 16px;margin-bottom: -5px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;max-width: 186px;display: inline-block;}
.editor-container .editor .completionsContainer .completion span b {background-color: #99ccff;}
.editor-container .editor .completionsContainer .completion div {font-size: 12px;margin-top: 2px;padding-left: 30px;}
.editor-container .editor .grammar-popup {position: absolute;top: 20px;background-color: #fff;border: 1px solid #ccc;z-index: 22;left: 4px;box-shadow: 0px 2px 7px rgba(0,0,0,0.25);}
.editor-container .editor .grammar-popup .custom-renderer {width:200px;float:left;}
.editor-container .editor .grammar-popup .finish-container {float: left;width: 88px;}
.editor-container .editor .grammar-popup .title {width: 100%;background: #999;color: #fff;padding: 5px 14px;height: 29px;}
.editor-container .editor .grammar-popup .custom-renderer > div > label {width: 100%;padding: 1px 14px;}
.editor-container .editor .grammar-popup .custom-renderer > div > label > span {padding: 0px 8px;font-weight: normal;}
.editor-container .editor .grammar-popup button {width: 80px;position: absolute;right: 4px;bottom: 4px;}
.editor-container .editor .bql-error-message {width: 650px; margin-right: 20px; color: #822;}

[file-system-ui] [folder-structure] {width: 271px;border-right:1px #d2d2d2 solid;overflow-y: auto;height: calc(100% - 31px);background: #f8f8f8;box-shadow: 0px 3px 3px 0px #777;}
[file-system-ui] [folder-structure] [folder] {height: 50px;border-bottom:1px solid #d2d2d2;border-left: 4px solid #428bca;color:#555;background: #f8f8f8; cursor: pointer;}
[file-system-ui] [folder-structure] [folder].drag-hover-state {background: rgba(51,51,51,0.1)}
[file-system-ui] [folder-structure] [folder].active {background: white;font-weight: bold;color:#428bca;}
[file-system-ui] [folder-structure] [folder]:hover {background: #ebf8ff}
[file-system-ui] [folder-structure] [folder].hide-contents + ul {display:none;}
[file-system-ui] [folder-structure] [folder] span {display: inline-block;padding: 14px 0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:214px;}
/* bad - need better system for this! */
[file-system-ui] [folder-structure] [folder] + ul [folder] span {width:185px;}
[file-system-ui] [folder-structure] [folder] + ul [folder] + ul [folder] span {width:165px;}
[file-system-ui] [folder-structure] [folder] + ul [folder] + ul [folder] + ul [folder] span {width:145px;}
[file-system-ui] [folder-structure] [folder] + ul [folder] + ul [folder] + ul [folder] + ul [folder] span {width:125px;}
[file-system-ui] [folder-structure] [folder] + ul [folder] + ul [folder] {padding-left:20px;}
[file-system-ui] [folder-structure] [folder] + ul [folder] + ul [folder] + ul [folder] {padding-left:40px;}
[file-system-ui] [folder-structure] [folder] + ul [folder] + ul [folder] + ul [folder] + ul [folder] {padding-left:60px;}
[file-system-ui] [folder-structure] [folder] + ul [folder] + ul [folder] + ul [folder] + ul [folder] + ul [folder] {padding-left:80px;}
/* end bad */
[file-system-ui] [folder-structure] ul {padding-left: 0px;margin-bottom: 0}
[file-system-ui] [folder-structure] li {list-style-type: none;}
[file-system-ui] [folder-structure] i {float:left;}
[file-system-ui] [folder-structure] i.folder-icon {margin: 13px 6px 13px -2px;}
[file-system-ui] [folder-structure] i.glyphicon {margin: 12px 6px;padding: 5px 4px;}
[file-system-ui] [file-navigator] {width: calc(100% - 271px);height: calc(100% - 31px);background-color: white;box-shadow: 0px 3px 3px 0px #777;}
[file-system-ui] [file-navigator] [save-input],.name-container {margin: 20px;border-radius: 5px;position: relative;}
[file-system-ui] [file-navigator] [save-input] input {margin: 0;height: 38px;width: 412px;border: 1px solid #d2d2d2;border-radius: 0;display: inline-block;}
[file-system-ui] [file-navigator] [save-input] input:focus,.name-container input:focus {border-color:#bbd697;}
[file-system-ui] [file-navigator] [save-input] .saveValidation {color: red;padding: 0 10px;}
[file-system-ui] [file-navigator] [save-input] button{width: 88px;position: absolute;top: 0;right: 0;border:1px solid #8ca865;border-radius:3px;background-color: #bbd697}
[file-system-ui] [file-navigator] [save-input] button i.save-icon,.button-bar i.save-icon {margin: 0 6px 0 0;}
.button-bar i.save-icon {background-image: url(../img/File-Svg-Icons/Save_white.svg)}
[file-system-ui] [file-navigator] [save-input] button span {display: inline-block;padding: 1px 0;color:#4d593b;}
[file-system-ui] [folder-toolbar] {padding: 0 20px;}
[file-system-ui] [folder-toolbar] .new-folder {width: auto;background: #e9e9e9;color: #555;padding: 0px 6px;}
[file-system-ui] [folder-toolbar] .new-folder:hover {background: #d2d2d2;}
[file-system-ui] [folder-toolbar] .new-folder i {float: left;}
[file-system-ui] [folder-toolbar] .new-folder span {display: inline-block;padding: 8px 6px;}
[file-system-ui] [file-navigator].save [current-directory] {/*padding: 20px 20px 0;height: calc(100% - 116px);*/overflow-y: auto;padding: 0 20px 0;height: calc(100% - 78px);}
[file-system-ui] [file-navigator].open [current-directory] {padding: 20px 20px 0;height: 100%;overflow-y: auto;}
[file-system-ui] [file-navigator] table {display: block;width: 100%;height: 100%;overflow-y: auto;margin-bottom: 0;}
[file-system-ui] [file-navigator] table td, [file-system-ui] [file-navigator] table td {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
[file-system-ui] [file-navigator] table td:nth-child(1), [file-system-ui] [file-navigator] table th:nth-child(1) {min-width: 90px;padding: 0;}
[file-system-ui] [file-navigator] table td:nth-child(2), [file-system-ui] [file-navigator] table th:nth-child(2) {width: 64%;}
[file-system-ui] [file-navigator] table td:nth-child(3), [file-system-ui] [file-navigator] table th:nth-child(3) {width: 20%;}
[file-system-ui] [file-navigator] table td:nth-child(4), [file-system-ui] [file-navigator] table th:nth-child(4) {width: 16%;}
[file-system-ui] [file-navigator] table td:nth-child(5), [file-system-ui] [file-navigator] table th:nth-child(5) {min-width: 94px;padding: 0;}
[file-system-ui] [file-navigator] table td:nth-child(1) span {float:left;}
[file-system-ui] [file-navigator] table td:nth-child(5) span {float:right;}
[file-system-ui] [file-navigator] table tr {border-color: #e9e9e9;}
/*[file-system-ui] [file-navigator] table thead tr {height:30px;background-color: #f8f8f8;}*/
[file-system-ui] [file-navigator] table tbody tr {height:40px;color: #555; cursor: pointer;}
[file-system-ui] [file-navigator] table tbody tr:hover td {border-color: #d2d2d2;background-color: #ebf8ff;}
[file-system-ui] [file-navigator] table tbody i, [file-system-ui] [file-navigator] table div.button {margin: 0 6px;}
[file-system-ui] [file-navigator] table tbody tr .button {opacity: 0;padding: 3px;margin: 1px;display: inline-block;border: 1px solid #d2d2d2;border-radius: 3px;background: #f8f8f8;box-shadow: inset 0px 0px 6px 1px #d2d2d2;transition: opacity 200ms ease-in-out;}
[file-system-ui] [file-navigator] table tbody tr:hover .button {opacity: 1;}
[file-system-ui] [file-navigator] table tbody td.editing, [file-system-ui] [file-navigator] table tbody td.filename {position:relative;}
[file-system-ui] [file-navigator] table tbody td.editing>div {position:relative;top:0;left:0;width: 100%;}
[file-system-ui] [file-navigator] table tbody td.filename>span {position:relative;top:2px;left:2px;}
[file-system-ui] [file-navigator] table tbody td.editing {height:40px;color: #555;padding:0;}
[file-system-ui] [file-navigator] table tbody td.editing input {height: 33px;margin: 2px 0 2px 6px;width: 50%;}
[file-system-ui] [file-navigator] table tbody td.editing .button {opacity:1;padding: 6px 10px;background: #428bca;box-shadow: none;color: #fff;cursor: pointer;}

[file-system-ui] .popover {min-width: initial;background-color: rgba(51,51,51,0.9) !important;border-radius: 6px;}
[file-system-ui] .popover .arrow:after {border-bottom-color: rgba(51,51,51,0.9) !important;}
[file-system-ui] .popover .popover-content {color:#fff;}
