
.allow-wrap {white-space: normal;}
.large-icon {height: 32px;font-size: 24px;margin: 5px 10px;}
.legend-container {border: 1px solid #ddd;border-radius: 3px;display: inline-block;margin: 5px;padding: 6px 8px 6px 14px;box-shadow: 2px 1px 8px #bbb;color:#777;vertical-align: bottom;}
.row-spacer {padding:0 0 0 33px;}

.alert:focus {outline: 0;}

.home-screen-container{position:absolute;top: 50%;margin-top: -265px;left: 50%;margin-left: -235px;z-index: 100;}
.home-screen {border: 2px dashed #9a9a9a;z-index:99;text-align: center;color: #9a9a9a;padding: 40px 100px;}
.home-open-navigator:hover, .chart-Drop-Zone.drag-hover-state {border: 4px dashed #428bca;cursor: pointer;padding: 38px 98px;}
.chart-Drop-Zone i {display: inline-block;width: 80px;height: 80px;background: url('../img/File-Svg-Icons/VIZ - Splash-screen-hand.svg');background-size:80px;}
.chart-Drop-Zone>span {font-size: 32px;position: relative;width: 326px;display: block;}
.ok-note {border: none;font-size: 51px;padding: 10px;z-index: 99;text-align: center;color: #9a9a9a;}
.home-open-navigator i {display: inline-block;width: 33px;height: 24px;background: url('../img/File-Svg-Icons/VIZ - Folder_open.svg');background-size:33px;}
.home-open-navigator>span {font-size: 24px;position: relative;display: inline-block;top: -3px;left: 10px;}

.chart-Drop-Zone-table-background{position:absolute;left:0;top:0;width:100%;height:100%;z-index:99;display:block}
.chart-Drop-Zone-table{width: 593px;height: 593px;margin-left: -296px;margin-top: -296px;top:50%;left:50%;display:block;position: absolute;z-index:99;opacity: 0.8;}
.chart-Drop-Zone-table-cell{background-color:#fff;border:1px solid #777;border-radius:16px;color:#555;font-size:20px;text-align:center;width: 176px;height: 176px;padding: 12px;margin: 10px;}
.chart-Drop-Zone-table-cell.drag-hover-state{border-radius: 0;border:3px dashed #3885ab;padding:11px;}
.chart-Drop-Zone-table-background .overlay {width: 100%;height:100%;background-color: rgba(255,255,255,0.7);position: relative;z-index: 1;}
.chart-Drop-Zone-table-background .overlay.help {background-color: #fff;}
.chart-Drop-Zone-Y-tip{position:relative;left:20%;top:10%; width: 200px; height: 200px; background-image:url('../img/axis/AxisHelp03y.png');}
.chart-Drop-Zone-X-tip{position:absolute;right:20%;top:60%; width: 200px; height: 200px; background-image:url('../img/axis/AxisHelp03x.png');}

[chart-type-selector-menu]{margin-left: 1px;margin-top: 0;width: 70px;position: absolute;z-index: 200;cursor: pointer;right: 0;bottom: 0;}
[chart-type-selector-menu] .chart-types{position:absolute;z-index:1;background-color:#777;opacity:0.85;height:0;width:0;border-radius: 200px 0 0 0;visibility:hidden;border-top:1px solid #999;cursor: pointer;padding-left: 50px;padding-top: 40px;overflow:hidden;}
[chart-type-selector-menu] .chart-types>div.select-chart{position: relative;display: block;float: left;padding: 15px;margin: 5px;width: 89px;height: 89px;border-radius: 55px;}
[chart-type-selector-menu] .chart-types>div.select-chart>i{position: absolute;left: 19px;top: 15px;}
[chart-type-selector-menu] .chart-types>div.select-chart:hover>i{left: 19px;top: 15px;}
[chart-type-selector-menu] .chart-types>div.select-chart:hover{background-color:#555;}
[chart-type-selector-menu] .chart-types>div.select-chart.selected:hover{background-color:#777;position: relative;}
[chart-type-selector-menu] .chart-types>div.select-chart span{color:white;text-align: center;position:relative;left: -14px;top: 43px;width: 89px;display: inline-block;text-align: center;}
[chart-type-selector-menu] .chart-types>div.select-chart:hover span{left: -14px;top: 43px;}
[chart-type-selector-menu] .spacer{float:left;width:100px;height:70px;position:relative;z-index:2;}
[chart-type-selector-menu] .current-state{background-repeat:no-repeat;background-color:#555;background-position:12px center;display:block;padding-top:10px;padding-left: 10px;height:70px;width:70px;border-radius:66px 0 0 0;position:relative;z-index: 100;}
[chart-type-selector-menu] .current-state i{margin:10px 13px;float:none;position:relative;height:38px;font-size: 32px;color: #bbb;}

.empty-bucket {padding:4px 20px 20px;position: relative;white-space: normal;font-size: 20px;color: #777;top:126px;}
.empty-bucket .no-column-message {position: absolute;top:4px;left:40px;width: 150px;}
.empty-bucket .add-column-message {position:absolute;top: 96px;left: 40px;width: 150px;}
.empty-bucket .glyphicon-share-alt {position:relative;top:4px;left:170px;font-size: 50px;width: 60px;display:block;}

[alerts-chart] div.top-right > .alert, [alerts-sa] div.top-right > .alert {display: inline-block; float: right;}
[alerts-chart] div.top-right > .alert .close, [alerts-sa] div.top-right > .alert .close {padding-left: 10px;}
[alerts-sa] .alert {max-width: 230px; margin-right: 20px;}

.popover-inner {word-wrap: break-word;}
