html,body,[viz-menu],[staging],[subject-areas],[ng-view],.primary,[chart-container],[report-view-container],[chart],[ng-view],[ng-transclude],[designer],[report-view],[viz-menu].searchMode [search-container],[trash-bucket]>div{height:100%;border:none;}

[report-view] [file-system] {
	display: none; /* this feature is not used in report view */
}

h4, h5, h6 {margin-top: 4px;}

input[type="text"], select, textarea {width: 200px;height: 32px;border-radius: 4px;margin: 2px;}
input[type=text]::-ms-clear { display: none; } /* removes IE 10+ clear button from input elements*/
select[multiple] {min-height: 200px !important}
.progressbar {-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.handwriting{font-family: 'Gloria Hallelujah', cursive;}
.loadAnim {background:#000;left:0;width:100%;cursor: wait; top: 50px;}
.loadAnim.query-running{background:none;left:430px;width:calc(100% - 430px);}
.loadAnim>div {width: 60px;height: 60px;left: 50%;top: 50%;position: absolute;margin: -30px 0 0 -30px;}

.no-header help>div {height: calc(100% + 50px);top: -51px;}
.no-header .primary{height:calc(100% - 50px)}

.birst-spinner {
	background-image: url(../img/misc_img/birst-spinner.gif);
	height: 60px;
	width: 60px;
	-webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body>[draggable]{z-index:99999;width:200px;height:50px !important;padding:12px 24px;list-style-type:none;border-radius:2px;background-color:#fff;opacity:.5;color:#555;font-size:16px;border:1px solid #fff;box-shadow:1px 1px 6px #ddd;cursor: pointer;background-image: none;}
body>[draggable] i{display:none}
body>[draggable] [staging-row]>div>div{display:none;cursor:hand}
body>[draggable] [staging-row]>div>div.row-title{display:block}
body>[draggable] .column-type-path{font-size:12px;margin-top:-4px;}
body>[draggable="file"] {width: 500px;background: #ebf8ff;opacity: 0.8;}

.highcharts-tooltip {display: none;}
[tooltip-container] {position:absolute;z-index: 300;}
[tooltip] {background: #fdfdfd;padding: 8px 4px;border: 1px solid #bbb;border-radius: 5px;}
[tooltip] td {white-space: nowrap;padding: 0 8px;}

[chart-type]{width:50px;height:50px;position:relative;left:377px;top:0;z-index:100}
.primary{width:calc(100% - 430px);height:calc(100% - 100px);position:relative;left:430px;top:50px; z-index: 9;padding: 20px;}
.chart-switch {height: 100%;background: white;}
.message {display:none;}
[chart]{position:relative;width: 100%;height: 100%;}
.highcharts-container{top:0;left:0;position:absolute !important}
[alerts-chart] {position: absolute; z-index: 500; width: calc(100% - 40px);}
[alerts-sa] {position: absolute; z-index: 500; width: 270px; margin-top: 20px;}
[alerts-chart] > div, [alerts-sa] > div { width: 100%; clear: both;}

.loader-sa {position: absolute; z-index: 400; width: 270px;}
.loader-sa .spinner-sa {display: none; background-image: url(../img/misc_img/loader-ring.png); height: 72px; width: 72px; -webkit-animation:spin 2s linear infinite; -moz-animation:spin 2s linear infinite; animation:spin 2s linear infinite;}
/* Other potential colors for loaders - Blue: rgba(242,248,255,0.9);, Grey: rgba(230,230,230,0.9);, bluegrey: rgba(220,227,232,0.8); */
.loader-sa.loading {height: calc(100%); background-color: rgba(230,230,230,0.9);}
.loader-sa.loading .spinner-sa {display: block; opacity: 0.4; position: absolute; top: calc(50% - 46px); left: calc(50% - 36px);}
.loader-sa button {display: none;}
.loader-sa.loading button {display: block; position: absolute; top: 15px; right: 15px;}

.loader-chart {position: absolute; z-index: 400; width: calc(100%); margin-left: -20px;}
.loader-chart .spinner-chart {display: none; background-image: url(../img/misc_img/loader-ring.png); height: 72px; width: 72px; -webkit-animation:spin 2s linear infinite; -moz-animation:spin 2s linear infinite; animation:spin 2s linear infinite;}
.loader-chart.loading {height: calc(100%); margin-top: -20px; background-color: rgba(230,230,230,0.9);}
.loader-chart.loading .spinner-chart {display: block; opacity: 0.4; position: absolute; top: calc(50% - 56px); left: calc(50% - 16px);}
