[table-view] { height: 100%;position: relative; }
[table-view] > h2 { margin: 0; }
[table-view] > div { position: absolute; width: 100%; height: calc(100% - 52px); overflow-y: auto; }
[table-view] table {width: auto;}
[table-view] table, [table-view] table th,[table-view] table td {border-style: solid;font-weight: normal;}
[table-view] table th > div {position: relative;}
[table-view] table {text-align: left;}
[table-view] table .right-align {text-align: right;}
[table-view] table .move {border: 2px dashed #428bca !important;}
[table-view] table .highlight-column {background-color: #f5f5f5 !important;}

[table-view] table th > div > div > i.table-filter {position: relative;left: -8px;top: 2px;}
[table-view] table .table-column-title {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; position: relative; padding: 0 2px;min-width: 100%;}
[table-view] table .table-column-dropdown {position: absolute;border: 1px solid #ccc;border-bottom: none;background: #fff;width: 200px;box-shadow: 0 2px 7px rgba(0,0,0,.5);}
[table-view] table .table-dropdown-item {border-bottom: 1px solid #ccc;padding: 10px;}
[table-view] table .table-dropdown-item:hover {background-color:#f0f0f0;}
[table-view] table .table-dropdown-item span {position: relative;top: -3px;left: 6px;}
[table-view] table .table-dropdown-container {display: inline-block;position: relative;top: 2px;left:-8px;}

[table-view] table [table-resize] {width: 10px !important;height: calc(100% + 18px);display:inline-block;cursor: col-resize;position: absolute;right: -9px;top:-9px;}

[table-view] table td span {display: inline-block;}