[subject-areas]{background-color:#f0f0f0;color:#333;float:left;width:270px;height:100%;position:relative;font-size:16px;z-index: 10}
[subject-areas] .sa-title i{margin-bottom:-6px;display:inline-block; cursor: pointer;}
[subject-areas] .sa-title-soft{background-color:#d5d5d5;padding:7px 12px 6px;font-size:14px;height:33px;color: #666;}
[subjects] .sa-title-soft{border-top:1px solid #bbb;}
[subject-areas] .sa-title-soft i{margin-top:-3px; cursor:pointer;}
[subject-areas] .sa-title-soft i:hover{fill: red;}
[subject-areas]>div:not(.sa-title-soft){border-bottom:1px solid #bbb;padding:15px 20px}
[subject-areas]>div[subjects]{border-bottom:none;padding:0;}
[subject-areas]>div[subjects] [subject-title-container]{width:270px;border-top:1px solid #bbb;padding:15px 20px;position: absolute;bottom: 0;}
[subject-areas]>div[subjects] [subject-title-container]:hover{background-color: #ebf8ff;}
[subject-areas]>div>.sa-title{cursor: pointer;}
[subject-areas]>div[search-container]{border-bottom:1px solid #bbb;padding:0;background: #fff!important;}
[subject-areas]>div[search-container] [search-results], [subject-areas]>div[trash-bucket]{display:none}
[subject-areas] .column-type-path{font-size:12px;margin-top:2px;padding-left:30px;}
[staging] .column-type-path{font-size:12px;margin-top:2px;padding-left:30px;}

[subject-areas] [column].disabled { opacity: 0.5; }

[viz-menu].trashMode [subject-areas] [trash-bucket] {display:block;padding:0;border:none;}
[viz-menu].trashMode [subject-areas] [trash-bucket]:hover {background:none;}
[viz-menu].trashMode [subject-areas] [trash-bucket]>div>.glyphicon-trash {font-size: 100px;color:#999;margin: 60px 85px 0;text-align: center;display:block;}
[viz-menu].trashMode [subject-areas] [trash-bucket]>div>span {text-align: center;color: #777;display: block;padding: 20px 0 50px;}
[viz-menu].trashMode [subject-areas] [trash-bucket]>div.trash-active {border: 8px dashed #3885ab;margin: 20px;}
[viz-menu].trashMode [subject-areas] [trash-bucket]>div.trash-active>.glyphicon-trash {padding-top:32px;margin: 32px 57px 0;}
[viz-menu].trashMode [subject-areas] [trash-bucket]>div.trash-active>span {padding-bottom: 22px;}
[viz-menu].trashMode [subject-areas] [trash-bucket]>div>ul {border-top: 1px solid #bbb;}
[viz-menu].trashMode [subject-areas] [menu-parent],[viz-menu].trashMode [staging] [menu-child]{display:none}

[viz-menu] {height:calc(100% - 100px);top:50px;z-index: 20;position: relative;}
.no-header [viz-menu] {height:calc(100% - 50px);}
[viz-menu] [search-container] i.glyphicon-search {color:#777;top:10px;}
[viz-menu].searchMode [subject-areas]{background-color:#fff}
[viz-menu].searchMode [subject-areas]>div .sa-title,[viz-menu].searchMode [subject-areas] [menu-parent],[viz-menu].searchMode [staging] [menu-child]{display:none}
[viz-menu].searchMode [subject-areas]>div[search-container] input{background-color:#fff;border:none;}
[viz-menu].searchMode [subject-areas]>div[search-container] [search-results]{display:block;}
[subjects] [menu-child] [ng-transclude]>select{margin:10px 20px}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #333;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #333;}

[menu-parent]{background-color:#f0f0f0;}
[menu-parent] .stage-button{height: auto;position: relative;cursor:pointer}
[menu-child]{position:absolute;width:0;height:calc(100% - 1px);background-color:#f0f0f0;top:1px;transition:none 600ms cubic-bezier(.10,.70,.10,1);transition-property:width,left,top;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
[menu-child].active{width:270px;left:0;border-right:0;box-shadow:0 0 0 #999}
[menu-child]>[menu-back]{cursor:pointer;height:48px;font-size:16px;text-align:left;background-color:#bbb;color:#555;border-top: 1px solid #eee;border-bottom: 1px solid #ccc;padding:12px 20px;background-color:#c6c6c6;background-repeat:repeat-y;background:-webkit-gradient(linear,left top,right top,from(#c6c6c6),to(#f0f0f0));background:-webkit-linear-gradient(left,#c6c6c6,#f0f0f0);background:-moz-linear-gradient(left,#c6c6c6,#f0f0f0);background:-ms-linear-gradient(left,#c6c6c6,#f0f0f0);background:-o-linear-gradient(left,#c6c6c6,#f0f0f0);}
[menu-child]>[ng-transclude] ul>li,[menu-child]>[ng-transclude] ul>li.column .ellipsis,[menu-child] [folder],[search-results] [column],.nav-padding{padding:10px 20px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;cursor:pointer}
[menu-child]>[ng-transclude] ul>li[column]>div{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;cursor:pointer}
[menu-child] .sa-title{background-color:#15a5d4;color:white;padding:4px 20px 3px;font-size:16px}
[menu-child] .filter-title {color: #555;border-top: 1px solid #eee;padding: 20px 20px 3px;font-size: 16px;}
[menu-child] h5{color:#777;font-size: 16px;margin-bottom: 0}
[menu-child] .allow-wrap{white-space: normal;}
[menu-child] i.glyphicon,[search-results] i.glyphicon{padding-right:8px}
[menu-child]>[menu-back] i.glyphicon{padding-right:12px}
[menu-child] [custom-expressions-child] {position:relative;height: calc(100% - 77px)}
[menu-child] [custom-expressions-child] ul {border-bottom: 1px solid #bbb;}
[menu-child] [add-saved-expression] {position:absolute;bottom:0;left:0;border-top: 1px solid #bbb;width:270px;padding:20px;}
[menu-child] [add-saved-expression] i {font-size: 16px;height: 20px;width:20px;}
[menu-child="no-back"]>[menu-back],[menu-child="unused"]{display:none;}
[menu-child] > [ng-transclude] > ul.list-unstyled{overflow-y:auto;height:calc(100% - 79px);margin-bottom: 0}

[column],[folder],[measure-item]{color:#777;font-size:16px;background-color:#f0f0f0;}
[column] i{margin-bottom:-6px;display:inline-block}
[column]:hover,[folder]:hover,.measure-property:hover,[measure-item]:hover,[menu-parent]:not(.active-stage-parent):hover>.stage-button,[subject-areas]>div:not(.sa-title-soft):hover{color:#555;background-color: #ebf8ff;background-repeat: repeat-x;}

[staging]>[menu-parent]:not(.active-stage-parent):hover>.stage-button{padding: 3px 5px;background-color: #666;background-repeat: repeat-x;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#666));background: -webkit-linear-gradient(top, #666, #777);background: -moz-linear-gradient(top, #666, #777);background: -ms-linear-gradient(top, #666, #777);background: -o-linear-gradient(top, #666, #777);}
[staging]>[menu-parent="Summary"]:not(.active-stage-parent):hover>.stage-button{background:none;border:none;padding:0;}
[staging]>[menu-parent]:not(.active-stage-parent):hover{padding:0;}
[staging]>[menu-parent]:not(.active-stage-parent):hover>.stage-button>h5{padding-bottom: 2px;}
[staging]>[menu-parent]:not(.active-stage-parent):hover>.stage-button>h5.stage-title{top: 10px;left: 33px;/*left: 54px;*/}
[staging]>[menu-parent].drag-hover-state{border-radius: 0;border:3px dashed #3885ab;padding:0;color:#777;background-color:#bbb;}
[staging]>[menu-parent].drag-hover-state>.stage-button{margin:1px 0;}
[staging]>[menu-parent].drag-hover-state>.stage-button>h5{color:#777;}

[search-results]{height:100%;overflow-y:auto}
[search-results] [column]{color:#555;font-size:16px;background-color:#fff}
[search-results] [column] b{background-color:#99ccff}
[search-results] [column]:hover{color:#555;background-color: #ebf8ff;}
[search-results] [column]:hover b, [search-results] [column].search-selected b {background:none}
[search-results]{padding:0;cursor:pointer}
[search-results] [column].search-selected{font-weight: bold;}

[subject-areas] [menu-child]{left:-275px}
[subject-areas] [menu-child].active{left:0}
[subject-areas] [menu-child="nested"]{top:0;height:100%}

[staging] [menu-parent].active-stage-parent{background-color:#f0f0f0;border-bottom: 1px solid #ddd;}
[staging] [menu-parent].active-stage-parent.drag-hover-state{border-bottom: 3px dashed #3885ab;}
[staging] [menu-parent].active-stage-parent h5{color:#555;/*text-shadow: 0 1px 1px #fff;*/}
[staging] [menu-parent] .column-preview {position: relative;}
[staging] [menu-parent] .column-preview.with-icon {border-top: 1px solid #555;}
[staging] [menu-parent] .column-preview.with-icon.last {border-bottom: 1px solid #555;}
[staging] [menu-parent].active-stage-parent .column-preview.with-icon {border-color: #bbb;}
[staging] [menu-parent] .column-preview h5.column-name-preview{color:#66ccff;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 120px;height: 22px;margin: 0 auto;padding: 2px 0;text-align:center;/*left: 34px;position: relative;text-shadow: 0 1px 1px #000;*/}
[staging] [menu-parent].active-stage-parent .column-preview h5.column-name-preview{color:#006699;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 120px;margin: 0 auto;}
[staging] [menu-parent] .column-preview h5.column-name-preview:hover{background: #555;border-radius: 6px;}
[staging] [menu-parent].active-stage-parent .column-preview h5.column-name-preview:hover{background:#bbb;}
[staging] [menu-parent] .column-preview .column-icon-preview {width: 23px;height: 24px;position: absolute;right: -23px;top: -1px;border-radius: 0 50% 50% 0;border-top: 1px solid #555;border-bottom: 1px solid #757575;background-color: #737373;border-left: 0;}
[staging] [menu-parent].active-stage-parent .column-preview .column-icon-preview {background-color: #ddd;}
[staging] [menu-parent] .column-preview .column-icon-preview:hover{background-color: #555;border-radius:0 16px 16px 0;}
[staging] [menu-parent].active-stage-parent .column-preview .column-icon-preview:hover{background-color:#bbb;}
[staging] [menu-parent].active-stage-parent .with-icon .column-icon-preview {border-color: #bbb;border-bottom: 1px solid #ddd;}
[staging] [menu-parent] .with-icon .column-icon-preview.glyphicon {color: #66ccff;padding: 2px 3px;}
[staging] [menu-parent].active-stage-parent .with-icon .column-icon-preview.glyphicon {color: #006699;}

[staging] [menu-child]{left:0px}
[staging] [menu-child] .all-axes{height:100%;overflow-y:auto;}
[staging] [menu-child].active{left:-270px}
[staging] [menu-child] h5{color:#555}
[staging] [menu-child].active [menu-child="nested"]{top:0;left:275px}
[staging] [menu-child="nested"]{height:100%}
[staging] [menu-child].active [menu-child="nested"].active{top:0;left:0;width:269px}
[staging] { background-color:#777;float:left;width:160px;position:relative; z-index: 10;}
[staging] h5.stage-title{color:#ddd;font-size:14px;position: absolute;top: 7px;left: 28px;text-align:center;width: 100px;/*text-shadow: 0 1px 1px #000;*/}
[staging]>div{border-top: 1px solid #999;border-bottom: 1px solid #555;background-color: #777;width: 160px;height: auto;margin: 0;padding: 3px 5px;}
[staging]>div i[class*="staging-"]{display: inline-block;width:48px;height: 36px;position:relative;margin: 0;}
[staging]>div i.glyphicon-home {font-size: 24px;color: #999;}
[viz-menu] [staging]>div.home-staging{display:none;}
[staging]>div>h5{margin:0;padding-top:3px}
[staging]>div>h5.column-name-preview{color:#66ccff;}
[staging]>div.Filters>h5{margin:0;padding-top:26px}
[staging] .column-number{background-color:#555;color:#eee;display:block;border-radius:26px 0 0 26px;border:1px solid #333;padding:2px 9px;height:26px;width:26px;position:absolute;top: 19px;right: -5px;margin-top: -13px;}
[staging] .drag-hover-state .column-number{right: -3px;}
[staging] .column-number.needed {background-color:#3ba5d7; border: 1px solid #328fbb;  background-image: url('../img/Staging_Icons/plus.png'); background-repeat: no-repeat; background-position: 9px 6px; background-size: 12px 12px;}
[staging] .column-number.correct {background-color:#339900; border: 1px solid #297b00; background-image: url('../img/Staging_Icons/checkmark.png'); background-repeat: no-repeat; background-position: 7px 4px; background-size: 14px 14px;}
[staging] .column-number.incorrect {background-color: red; border: 1px solid #990000;  background-image: url('../img/Staging_Icons/minus.png'); background-repeat: no-repeat; background-position: 9px 6px; background-size: 12px 12px;}
[staging] .column-number.needed {border-radius:26px 26px 26px 26px; right: -179px; width: 200px;}
[staging] .column-number.correct {border-radius:26px 26px 26px 26px; right: -179px; width: 200px;}
[staging] .column-number.incorrect {border-radius:26px 26px 26px 26px; right: -179px; width: 200px;}
.column-number .instructions {margin-left: 20px;}
[staging]>[menu-parent]:not(.active-stage-parent):hover .column-number{right: 0px;margin-top: -10px;}
[staging]>[menu-parent]:not(.active-stage-parent):hover .column-number.needed {right: -174px;margin-top: -10px;} /* no idea why these offsets are necessary on hover only */
[staging]>[menu-parent]:not(.active-stage-parent):hover .column-number.correct {right: -174px;margin-top: -10px;} /* no idea why these offsets are necessary on hover only */
[staging]>[menu-parent]:not(.active-stage-parent):hover .column-number.incorrect {right: -174px;margin-top: -10px;} /* no idea why these offsets are necessary on hover only */
[staging] .Filters .column-number{top:-32px}
[staging] .column-number>div{background-color:#555;color:#eee;display:block;border-radius: 50% 0 0 50%;border: 1px solid #333;border-right: none;padding: 3px 9px;height: 26px;width: 24px;position:relative;top:-23px;left:10px}
[staging] [menu-parent="Stage-Measures"] .axis-title{padding: 16px 20px 22px;text-align:left;display:inline-block;width: 230px;}
[staging] .row-title{color:#267ba7;height:48px;padding:10px 20px;font-size:20px;background-color:#c6c6c6;background-repeat:repeat-y;background:-webkit-gradient(linear,left top,right top,from(#c6c6c6),to(#f0f0f0));background:-webkit-linear-gradient(left,#c6c6c6,#f0f0f0);background:-moz-linear-gradient(left,#c6c6c6,#f0f0f0);background:-ms-linear-gradient(left,#c6c6c6,#f0f0f0);background:-o-linear-gradient(left,#c6c6c6,#f0f0f0)}
[staging] [sort-widget] .row-title{padding:10px 15px;}
[staging] .row-title div.pull-left{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:210px;height: 28px;cursor: pointer;position:relative;z-index: 0}
[staging] .row-title i.glyphicon{color:#069;font-size:20px;cursor:pointer}
[staging] .row-title .column-tools {position: relative;}
[staging] .row-title .column-tools i.remove{padding:0px;width:48px;height:48px;position: absolute;top: -10px;right: -20px;font-size: 16px;cursor:pointer}
[staging] [filter-row]>.no-filter>.row-title,[staging] [filter-row]>.no-filter .filter-summary{display:none;}
[staging] [staging-row] .charts ul{padding:8px 0 0}
[staging] [staging-row] .charts li{width:90px;height:90px;margin: 2px 18px;padding:0;float:left;border-radius: 50px;}
[staging] [staging-row] .charts li i{margin-left:20px;margin-top: 8px;}
[staging] [staging-row] .charts li span{width:90px;color:#555;display:inline-block;text-align: center;}
[staging] [staging-row] .charts .measure-property .title{top:0}
[staging] [staging-row] .charts .measure-property .value{left:78px}
[staging] [staging-type="measure"]>div>.measure-properties,[staging] [staging-type="attribute"]>div>.measure-properties{padding-bottom:30px;border-bottom: 1px solid #bbb;}
[staging] [sort-widget] {border-bottom: 1px solid #bbb;background-color: #ddd;}
[staging] [sort-widget] div.measure-properties,[staging] [trellis-widget] div.measure-properties{margin-left:20px;padding-bottom:30px;}
[staging] [sort-widget] .sort-icon-container {background: #fff;border: 1px solid #069;border-radius: 50%;width: 24px;height: 24px;font-size: 14px;position: relative;float: left;margin-right: 8px;}
[staging] [sort-widget] i.sort-number{padding: 2px 7px;display: inline-block;font-style: normal;border-radius: 50%;background: #069;color: #fff;}
[staging] [menu-parent="Sorting"] .sort-order-message, [staging] [menu-parent="Trellis"] .sort-order-message{font-size: 20px;padding:20px;white-space: normal;margin: 0 auto;width: 237px;color:#777;}
[staging] .measure-property{position:relative;height:40px;padding-left:17px;cursor:pointer;}
[staging] [menu-parent="Trellis"] [horizontal-trellis], [staging] [menu-parent="Trellis"] [vertical-trellis] {padding-bottom: 30px;border-bottom: 1px solid #bbb;}
[staging] [menu-parent="Trellis"] .handwriting.no-trellis {padding: 20px 32px 0;}
[staging] [menu-parent="Trellis"] .measure-property{font-size: 18px;padding: 10px 17px;}
[staging] [menu-parent="Trellis"] .drag-hover-state{border: 3px dashed #3885ab;}
[staging] .measure-property.color-distribution{height:70px;}
[staging] .measure-property i[class*="chart-"]{position:relative;left: 32px;top: -9px;}
[staging] .measure-property i.glyphicon{margin-top:10px}
[staging] .measure-property i.glyphicon-chevron-right{margin-top: 2px}
[staging] .measure-property .title{font-size:11px;color:#999;position:absolute;top:2px;left:48px}
[staging] .measure-property .value{font-size:18px;color:#555;position:absolute;top:12px;left:48px}
[staging] .measure-property .title-no-value{font-size:18px;color:#555;position:absolute;top:6px;left:48px}
[staging] .measure-property .title-no-value .switch-right{width:166px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block;}
[staging] .new-axis, [filter-column] .confirm-filters {position:absolute;bottom:0px;width:270px;height:70px;border-top: 1px solid #999;padding:10px;}
[staging] .new-axis span {position:relative;bottom:20px;left:30px;font-size: 16px}
