﻿
.homeLogoTable
{
background: transparent;
height: 45px;
min-width:350px; 
}

.cr-title-left
{
width: 400px;
height: 45px;
text-align: left;
background: transparent url(images/birst.png) no-repeat;
}

.cr-title-center
{
width: auto;
height: 45px;
font: 25px, Tacoma;
text-align: left;
}

.cr-title-right
{ 
width: 430px;
height: 45px;
text-align:right;
vertical-align:top;
padding-top: 0px;
}
