﻿body 
{
margin: 0px;
padding: 0px;
font-family: 'Segoe UI',verdana,arial,helvetica,sans-sarif;
color:#000000;
font:11px 'Segoe UI',verdana,arial,helvetica,sans-sarif;
}


.button-nav
{

width: 140px;
height: 30px;
margin-left:60;
margin-top:20;
}

.dashboard-icn-cls {
 background-image: url(images/dashboard.png) !important;
 }
 
 .designer-icn-cls {
 background-image: url(images/designer.png) !important;
 }
 
 .copy-icn-cls {
 background-image: url(images/copy-space.png) !important;
 }
 
 .delete-icn-cls {
 background-image: url(images/delete-space.gif) !important;
 }
 
 
 .userinfo-txt-cls {
 font:14px;
 margin-left: 20;
 margin-top: 40;
 width:120; 
 }