
.down-arrow-icon{background-image: url('../img/TopBar/Arrow10px_darkGrey_small.png');width:10px !important;height:10px !important;margin-top: 4px;}

.new-axis-icon{background:url(../img/Library_Icons/NewYaxis_48px.png) no-repeat top left; display: inline-block;width:48px;height:48px}
.Summary-icon.unselected{background:url(../img/Staging_Icons/0Staging.white.png) no-repeat center center;width: 48px;height: 50px;display: block;margin:0 auto;}
.Summary-icon.selected{background:url('../img/Staging_Icons/0Staging.white grey.png') no-repeat center center;width: 48px;height: 50px;display: block;margin:0 auto;}
.recently-used{background:url('../img/Subject_Area_Icons/Recently_Icon_24px.png') no-repeat center center;width: 24px;height: 24px;display: block;margin:0 auto;}
.remove{background:url('../img/Staging_Icons/Remove_Icon_13px.png') no-repeat center center;width: 20px;height: 20px;display: block;margin:0 auto;}
.magic-wand{background:url('../img/Charts_Icons/32x32_noAxis/magic_wand.png') no-repeat center center;width: 32px;height: 32px;display: block;margin:0 auto;}

.sorting-stage.selected{ background:url(../img/Staging_Icons/9Sort48x48_grey.png) no-repeat center center; width: 48px; height: 36px;display: inline-block;margin:0 auto; }
.sorting-stage.unselected{ background:url(../img/Staging_Icons/9Sort48x48.png) no-repeat center center; width: 48px; height: 36px;display: inline-block;margin:0 auto; }

[class*="trellis-"]{background:url(../img/staging.png) no-repeat top left;display: inline-block;position: relative;top: -8px;left: -12px;}
.title-trellis .trellis-horizontal{ background-position: -98px -814px; width: 48px; height: 48px; }
.title-trellis .trellis-vertical{ background-position: -98px -1182px; width: 48px; height: 48px; }
.title-trellis span {position: absolute;left: 52px;}

[class*="subject-area-"]{background:url(../img/subject-area.png) no-repeat top left}
.subject-area-Toolbar_BTN-75x80{background-position:0 0;width:75px;height:80px}
.subject-area-TopBar_BarChart{background-position:0 -130px;width:24px;height:24px}
.subject-area-TopBar_Search_light{background-position:0 -204px;width:24px;height:24px}
.subject-area-TopBar_Collapse{background-position:0 -352px;width:24px;height:24px}
.subject-area-TopBar_Expand{background-position:0 -426px;width:24px;height:24px}
.subject-area-TopBar_LeftArrow{background-position:0 -500px;width:24px;height:24px}
.subject-area-TopBar_RightArrow{background-position:0 -574px;width:24px;height:24px}
.subject-area-TopBar_RollOverArrow{background-position:0 -648px;width:24px;height:24px}
[column]:hover .subject-area-TopBar_RadioBTN{background-position:0 -722px;width:24px;height:24px}
.subject-area-TopBar_RadioBTN{background-position:0 -796px;width:24px;height:24px}
.subject-area-TopBar_Browse-Search{background-position:0 -870px;width:24px;height:24px}
.subject-area-Measures{background-position:0 -944px;width:24px;height:24px}
.subject-area-Externals{background-position:0 -944px;width:24px;height:24px}
.subject-area-Attributes{background-position:0 -1018px;width:24px;height:24px}
.subject-area-Custom{background-image: url(../img/File-Svg-Icons/ICON-Other_Expr.svg);background-size: 23px;height: 24px;width: 24px;margin: 0;}
.subject-area-SavedExpressions{background-position:0 -1092px;width:24px;height:24px}

[class*="staging-"]{background:url(../img/staging.png) no-repeat top left}
.staging-Staging.special{ background-position: 0 -4px; width: 48px; height: 48px; }
.staging-Staging.selected{ background-position: 0 -102px; width: 48px; height: 48px; }
.staging-Staging.unselected{ background-position: 0 -200px; width: 48px; height: 48px; }
.staging-Measures.small.selected{ background-position: 0 -298px; width: 24px; height: 24px; }
.staging-Measures.small.unselected{ background-position: 0 -372px; width: 24px; height: 24px; }
.staging-Measures.special{ background-position: 0 -446px; width: 48px; height: 48px; }
.staging-Measures.selected{ background-position: 0 -544px; width: 48px; height: 48px; }
.staging-Measures.unselected{ background-position: 0 -642px; width: 48px; height: 48px; }
.staging-Category.small.selected{ background-position: 0 -740px; width: 24px; height: 24px; }
.staging-Category.small.unselected{ background-position: 0 -814px; width: 24px; height: 24px; }
.staging-Category.special{ background-position: 0 -888px; width: 48px; height: 48px; }
.staging-Category.selectedcopy{ background-position: 0 -986px; width: 48px; height: 48px; }
.staging-Category.selected{ background-position: 0 -1084px; width: 48px; height: 48px; }
.staging-Category.unselected{ background-position: 0 -1182px; width: 48px; height: 48px; }
.staging-Color.small.unselected{ background-position: 0 -1280px; width: 24px; height: 24px; }
.staging-Color.special{ background-position: 0 -1354px; width: 48px; height: 48px; }
.staging-Color.selected{ background-position: 0 -1452px; width: 48px; height: 48px; }
.staging-Color.unselected{ background-position: 0 -1550px; width: 48px; height: 48px; }
.staging-Size.small.unselected{ background-position: 0 -1648px; width: 24px; height: 24px; }
.staging-Size.special{ background-position: 0 -1722px; width: 48px; height: 48px; }
.staging-Size.selected{ background-position: 0 -1820px; width: 48px; height: 48px; }
.staging-Size.unselected{ background-position: 0 -1918px; width: 48px; height: 48px; }
.staging-Shape.small.unselected{ background-position: -98px -4px; width: 24px; height: 24px; }
.staging-Shape.special{ background-position: -98px -78px; width: 48px; height: 48px; }
.staging-Shape.selected{ background-position: -98px -176px; width: 48px; height: 48px; }
.staging-Shape.unselected{ background-position: -98px -274px; width: 48px; height: 48px; }
.staging-Pattern.small.unselected{ background-position: -102px -368px; width: 24px; height: 24px; }
.staging-Pattern.special{ background-position: -98px -446px; width: 48px; height: 48px; }
.staging-Pattern.selected{ background-position: -98px -544px; width: 48px; height: 48px; }
.staging-Pattern.unselected{ background-position: -98px -642px; width: 48px; height: 48px; }
.staging-Trellis.small.unselected{ background-position: -98px -740px; width: 24px; height: 24px; }
.staging-Trellis.selected{ background-position: -98px -912px; width: 48px; height: 48px; }
.staging-Trellis.unselected{ background-position: -98px -1010px; width: 48px; height: 48px; }
.staging-TrellisVert.small.unselected{ background-position: -98px -1108px; width: 24px; height: 24px; }
.staging-TrellisVert.selected{ background-position: -98px -1280px; width: 48px; height: 48px; }
.staging-TrellisVert.unselected{ background-position: -98px -1378px; width: 48px; height: 48px; }
.staging-Filter.small.unselected{ background-position: -98px -1476px; width: 24px; height: 24px; }
.staging-Filter.special{ background-position: -98px -1550px; width: 48px; height: 48px; }
.staging-Filter.selected{ background-position: -98px -1648px; width: 48px; height: 48px; }
.staging-Filter.unselected{ background-position: -98px -1746px; width: 48px; height: 48px; }
.staging-checkmark{ background-position: -98px -1844px; width: 16px; height: 16px; }
.staging-minus{ background-position: -98px -1910px; width: 14px; height: 14px; }
.staging-plus{ background-position: -196px -4px; width: 14px; height: 14px; }

i[class*="stage-"]{background-size: 36px;background-position: 4px 2px;width:36px;height:36px;display:inline-block;}
.stage-Columns.selected{background-image: url('../img/new_stage_icons/stage-columns-active.svg');}
.stage-Columns.unselected{background-image: url('../img/new_stage_icons/stage-columns.svg');}
.stage-Recent.selected{background-image: url('../img/new_stage_icons/stage-recently-active.svg');}
.stage-Recent.unselected{background-image: url('../img/new_stage_icons/stage-recently.svg');}

i[class*="table-"]{background-size: 20px;width: 16px;height: 19px;display:inline-block;}
.table-sort-remove{background-image: url('../img/new_table_icons/sort-remove.svg');height: 16px !important;width: 19px !important;}
.table-sort-add{background-image: url('../img/new_table_icons/table-add-sort.svg');}
.table-filter{background-image: url('../img/new_table_icons/table-filter.svg');width: 19px !important;}
.table-more{background-image: url('../img/new_table_icons/table-more.svg');}
.table-more.active{background-image: url('../img/new_table_icons/table-more-active.svg');}
.table-move{background-image: url('../img/new_table_icons/table-move.svg');background-position: -4px 0;position: relative;left: -9px;cursor:move;}
.table-remove{background-image: url('../img/new_table_icons/table-remove.svg');}
.table-rename{background-image: url('../img/new_table_icons/table-rename.svg');}
.table-sorting{background-image: url('../img/new_table_icons/table-sorting.svg');background-position: -2px 2px;position: relative;left: -8px;}
.table-sorting.ASC{background-image: url('../img/new_table_icons/sort-ascending.svg');background-position: -2px 2px;background-size: 16px;background-position-x: 0px;}
.table-sorting.DESC{background-image: url('../img/new_table_icons/sort-descending.svg');background-position: -2px 2px;background-size: 16px;background-position-x: 0px;}

i[class*="charts-"]{background-size: 48px;background-position: 1px;width:48px;height:48px;display:inline-block;}
.charts-area{background-image: url('../img/new_guided_icons/chart-axis-area.svg');}
.charts-area.selected{background-image: url('../img/new_guided_icons/chart-axis-area_BLUE.svg');}
.charts-areaspline{background-image: url('../img/new_guided_icons/chart-axis-area-spline.svg');}
.charts-areaspline.selected{background-image: url('../img/new_guided_icons/chart-axis-area-spline_BLUE.svg');}
.charts-bar{background-image: url('../img/new_guided_icons/chart-axis-bar.svg');}
.charts-bar.selected{background-image: url('../img/new_guided_icons/chart-axis-bar_BLUE.svg');}
.charts-bubble{background-image: url('../img/new_guided_icons/chart-axis-bubble.svg');}
.charts-bubble.selected{background-image: url('../img/new_guided_icons/chart-axis-bubble_BLUE.svg');}
.charts-column{background-image: url('../img/new_guided_icons/chart-axis-column.svg');}
.charts-column.selected{background-image: url('../img/new_guided_icons/chart-axis-column_BLUE.svg');}
.charts-line{background-image: url('../img/new_guided_icons/chart-axis-line.svg');}
.charts-line.selected{background-image: url('../img/new_guided_icons/chart-axis-line_BLUE.svg');}
.charts-pie{background-image: url('../img/new_guided_icons/chart-axis-pie.svg');}
.charts-pie.selected{background-image: url('../img/new_guided_icons/chart-axis-pie_BLUE.svg');}
.charts-points{background-image: url('../img/new_guided_icons/chart-axis-points.svg');}
.charts-points.selected{background-image: url('../img/new_guided_icons/chart-axis-points_BLUE.svg');}
.charts-scatter{background-image: url('../img/new_guided_icons/chart-axis-scatter.svg');}
.charts-scatter.selected{background-image: url('../img/new_guided_icons/chart-axis-scatter_BLUE.svg');}
.charts-spline{background-image: url('../img/new_guided_icons/chart-axis-spline.svg');}
.charts-spline.selected{background-image: url('../img/new_guided_icons/chart-axis-spline_BLUE.svg');}
.charts-table{background-image: url('../img/new_guided_icons/chart-axis-table.svg');}
.charts-table.selected{background-image: url('../img/new_guided_icons/chart-axis-table_BLUE.svg');}

[class*="chart-large-"]{background:url(../img/chart-large.png) no-repeat top left;display:block}
.chart-large-area.black{ background-position: 0 0; width: 48px; height: 48px; }
.chart-large-area.grey{ background-position: 0 -98px; width: 48px; height: 48px; }
.chart-large-area.white{ background-position: 0 -196px; width: 48px; height: 48px; }
.chart-large-area.white.selected{ background-position: 0 -294px; width: 48px; height: 48px; }
.chart-large-areaspline.black{ background-position: 0 -392px; width: 48px; height: 48px; }
.chart-large-areaspline.grey{ background-position: 0 -490px; width: 48px; height: 48px; }
.chart-large-areaspline.white{ background-position: 0 -588px; width: 48px; height: 48px; }
.chart-large-areaspline.white.selected{ background-position: 0 -686px; width: 48px; height: 48px; }
.chart-large-bar.black{ background-position: 0 -784px; width: 48px; height: 48px; }
.chart-large-bar.grey{ background-position: 0 -882px; width: 48px; height: 48px; }
.chart-large-bar.white{ background-position: 0 -980px; width: 48px; height: 48px; }
.chart-large-bar.white.selected{ background-position: 0 -1078px; width: 48px; height: 48px; }
.chart-large-bar_stacked.black{ background-position: 0 -1176px; width: 48px; height: 48px; }
.chart-large-bar_stacked.grey{ background-position: 0 -1274px; width: 48px; height: 48px; }
.chart-large-bar_stacked.white{ background-position: 0 -1372px; width: 48px; height: 48px; }
.chart-large-bar_stacked.white.selected{ background-position: 0 -1470px; width: 48px; height: 48px; }
.chart-large-bubble.black{ background-position: 0 -1568px; width: 48px; height: 48px; }
.chart-large-bubble.grey{ background-position: 0 -1666px; width: 48px; height: 48px; }
.chart-large-bubble.white{ background-position: 0 -1764px; width: 48px; height: 48px; }
.chart-large-bubble.white.selected{ background-position: 0 -1862px; width: 48px; height: 48px; }
.chart-large-column.black{ background-position: -98px 0; width: 48px; height: 48px; }
.chart-large-column.grey{ background-position: -98px -98px; width: 48px; height: 48px; }
.chart-large-column.white{ background-position: -98px -196px; width: 48px; height: 48px; }
.chart-large-column.white.selected{ background-position: -98px -294px; width: 48px; height: 48px; }
.chart-large-column_stacked.black{ background-position: -98px -392px; width: 48px; height: 48px; }
.chart-large-column_stacked.grey{ background-position: -98px -490px; width: 48px; height: 48px; }
.chart-large-column_stacked.white{ background-position: -98px -588px; width: 48px; height: 48px; }
.chart-large-column_stacked.white.selected{ background-position: -98px -686px; width: 48px; height: 48px; }
.chart-large-geo-map.black{ background-position: -98px -784px; width: 48px; height: 48px; }
.chart-large-geo-map.grey{ background-position: -98px -882px; width: 48px; height: 48px; }
.chart-large-geo-map.white{ background-position: -98px -980px; width: 48px; height: 48px; }
.chart-large-geo-map.white.selected{ background-position: -98px -1078px; width: 48px; height: 48px; }
.chart-large-heat-map.black{ background-position: -98px -1176px; width: 48px; height: 48px; }
.chart-large-heat-map.grey{ background-position: -98px -1274px; width: 48px; height: 48px; }
.chart-large-heat-map.white{ background-position: -98px -1372px; width: 48px; height: 48px; }
.chart-large-heat-map.white.selected{ background-position: -98px -1470px; width: 48px; height: 48px; }
.chart-large-line.black{ background-position: -98px -1568px; width: 48px; height: 48px; }
.chart-large-line.grey{ background-position: -98px -1666px; width: 48px; height: 48px; }
.chart-large-line.white{ background-position: -98px -1764px; width: 48px; height: 48px; }
.chart-large-line.white.selected{ background-position: -98px -1862px; width: 48px; height: 48px; }
.chart-large-line_segmented.black{ background-position: -196px 0; width: 48px; height: 48px; }
.chart-large-line_segmented.grey{ background-position: -196px -98px; width: 48px; height: 48px; }
.chart-large-line_segmented.white{ background-position: -196px -196px; width: 48px; height: 48px; }
.chart-large-line_segmented.white.selected{ background-position: -196px -294px; width: 48px; height: 48px; }
.chart-large-pie.black{ background-position: -196px -392px; width: 48px; height: 48px; }
.chart-large-pie.grey{ background-position: -196px -490px; width: 48px; height: 48px; }
.chart-large-pie.white{ background-position: -196px -588px; width: 48px; height: 48px; }
.chart-large-pie.white.selected{ background-position: -196px -686px; width: 48px; height: 48px; }
.chart-large-points.black{ background-position: -196px -784px; width: 48px; height: 48px; }
.chart-large-points.grey{ background-position: -196px -882px; width: 48px; height: 48px; }
.chart-large-points.white{ background-position: -196px -980px; width: 48px; height: 48px; }
.chart-large-points.white.selected{ background-position: -196px -1078px; width: 48px; height: 48px; }
.chart-large-scatter.black{ background-position: -196px -1176px; width: 48px; height: 48px; }
.chart-large-scatter.grey{ background-position: -196px -1274px; width: 48px; height: 48px; }
.chart-large-scatter.white{ background-position: -196px -1372px; width: 48px; height: 48px; }
.chart-large-scatter.white.selected{ background-position: -196px -1470px; width: 48px; height: 48px; }
.chart-large-spline.black{ background-position: -196px -1568px; width: 48px; height: 48px; }
.chart-large-spline.grey{ background-position: -196px -1666px; width: 48px; height: 48px; }
.chart-large-spline.white{ background-position: -196px -1764px; width: 48px; height: 48px; }
.chart-large-spline.white.selected{ background-position: -196px -1862px; width: 48px; height: 48px; }
.chart-large-spline_segmented.black{ background-position: -294px 0; width: 48px; height: 48px; }
.chart-large-spline_segmented.grey{ background-position: -294px -98px; width: 48px; height: 48px; }
.chart-large-spline_segmented.white{ background-position: -294px -196px; width: 48px; height: 48px; }
.chart-large-spline_segmented.white.selected{ background-position: -294px -294px; width: 48px; height: 48px; }

[class*="chart-medium-"]{background:url(../img/chart-medium.png) no-repeat top left;display:block}
.chart-medium-area{background-position:0 0;width:32px;height:32px}
.chart-medium-area.grey{background-position:0 -82px;width:32px;height:32px}
.chart-medium-bar{background-position:0 -164px;width:32px;height:32px}
.chart-medium-bar.grey{background-position:0 -246px;width:32px;height:32px}
.chart-medium-bar_stacked{background-position:0 -328px;width:32px;height:32px}
.chart-medium-bar_stacked.grey{background-position:0 -410px;width:32px;height:32px}
.chart-medium-bubble{background-position:0 -492px;width:32px;height:32px}
.chart-medium-bubble.grey{background-position:0 -574px;width:32px;height:32px}
.chart-medium-column{background-position:0 -656px;width:32px;height:32px}
.chart-medium-column.grey{background-position:0 -738px;width:32px;height:32px}
.chart-medium-column_stacked{background-position:0 -820px;width:32px;height:32px}
.chart-medium-column_stacked.grey{background-position:0 -902px;width:32px;height:32px}
.chart-medium-geo-map{background-position:0 -984px;width:32px;height:32px}
.chart-medium-geo-map.grey{background-position:0 -1066px;width:32px;height:32px}
.chart-medium-heat-map{background-position:0 -1148px;width:32px;height:32px}
.chart-medium-heat-map.grey{background-position:0 -1230px;width:32px;height:32px}
.chart-medium-line{background-position:0 -1312px;width:32px;height:32px}
.chart-medium-line.grey{background-position:0 -1394px;width:32px;height:32px}
.chart-medium-line_rounded{background-position:0 -1476px;width:32px;height:32px}
.chart-medium-line_rounded.grey{background-position:0 -1558px;width:32px;height:32px}
.chart-medium-line_segmented{background-position:0 -1640px;width:32px;height:32px}
.chart-medium-line_segmented.grey{background-position:0 -1722px;width:32px;height:32px}
.chart-medium-pie{background-position:0 -1804px;width:32px;height:32px}
.chart-medium-pie.grey{background-position:0 -1886px;width:32px;height:32px}
.chart-medium-points{background-position:-82px 0;width:32px;height:32px}
.chart-medium-points.grey{background-position:-82px -82px;width:32px;height:32px}
.chart-medium-round_line{background-position:-82px -164px;width:32px;height:32px}
.chart-medium-round_line.grey{background-position:-82px -246px;width:32px;height:32px}
.chart-medium-scatter{background-position:-82px -328px;width:32px;height:32px}
.chart-medium-scatter.grey{background-position:-82px -410px;width:32px;height:32px}
.trellis-container .highcharts-container{position:relative !important}

[class*="chart-small-"]{background:url(../img/chart-small.png) no-repeat center center;display:block}
.chart-small-area-add-column.black{ background-position: 0 0; width: 24px; height: 24px; }
.chart-small-area-add-column.grey{ background-position: 0 -74px; width: 24px; height: 24px; }
.chart-small-area-add-column.white{ background-position: 0 -148px; width: 24px; height: 24px; }
.chart-small-area-add-column.darkgrey{ background-position: 0 -222px; width: 24px; height: 24px; }
.chart-small-area-add-spline.black{ background-position: 0 -296px; width: 24px; height: 24px; }
.chart-small-area-add-spline.grey{ background-position: 0 -370px; width: 24px; height: 24px; }
.chart-small-area-add-spline.white{ background-position: 0 -444px; width: 24px; height: 24px; }
.chart-small-area-add-spline.darkgrey{ background-position: 0 -518px; width: 24px; height: 24px; }
.chart-small-area.black{ background-position: 0 -592px; width: 24px; height: 24px; }
.chart-small-area.grey{ background-position: 0 -666px; width: 24px; height: 24px; }
.chart-small-area.white{ background-position: 0 -740px; width: 24px; height: 24px; }
.chart-small-area.darkgrey{ background-position: 0 -814px; width: 24px; height: 24px; }
.chart-small-areaspline.black{ background-position: 0 -888px; width: 24px; height: 24px; }
.chart-small-areaspline.grey{ background-position: 0 -962px; width: 24px; height: 24px; }
.chart-small-areaspline.white{ background-position: 0 -1036px; width: 24px; height: 24px; }
.chart-small-areaspline.darkgrey{ background-position: 0 -1110px; width: 24px; height: 24px; }
.chart-small-bar.black{ background-position: 0 -1184px; width: 24px; height: 24px; }
.chart-small-bar.grey{ background-position: 0 -1258px; width: 24px; height: 24px; }
.chart-small-bar.white{ background-position: 0 -1332px; width: 24px; height: 24px; }
.chart-small-bar.darkgrey{ background-position: 0 -1406px; width: 24px; height: 24px; }
.chart-small-bar_stacked.black{ background-position: 0 -1480px; width: 24px; height: 24px; }
.chart-small-bar_stacked.grey{ background-position: 0 -1554px; width: 24px; height: 24px; }
.chart-small-bar_stacked.white{ background-position: 0 -1628px; width: 24px; height: 24px; }
.chart-small-bar_stacked.darkgrey{ background-position: 0 -1702px; width: 24px; height: 24px; }
.chart-small-bubble.black{ background-position: 0 -1776px; width: 24px; height: 24px; }
.chart-small-bubble.grey{ background-position: 0 -1850px; width: 24px; height: 24px; }
.chart-small-bubble.white{ background-position: 0 -1924px; width: 24px; height: 24px; }
.chart-small-bubble.darkgrey{ background-position: -74px 0; width: 24px; height: 24px; }
.chart-small-column-add-area.black{ background-position: -74px -74px; width: 24px; height: 24px; }
.chart-small-column-add-area.grey{ background-position: -74px -148px; width: 24px; height: 24px; }
.chart-small-column-add-area.white{ background-position: -74px -222px; width: 24px; height: 24px; }
.chart-small-column-add-area.darkgrey{ background-position: -74px -296px; width: 24px; height: 24px; }
.chart-small-column-add-line.black{ background-position: -74px -370px; width: 24px; height: 24px; }
.chart-small-column-add-line.grey{ background-position: -74px -444px; width: 24px; height: 24px; }
.chart-small-column-add-line.white{ background-position: -74px -518px; width: 24px; height: 24px; }
.chart-small-column-add-line.darkgrey{ background-position: -74px -592px; width: 24px; height: 24px; }
.chart-small-column-add-spline.black{ background-position: -74px -666px; width: 24px; height: 24px; }
.chart-small-column-add-spline.grey{ background-position: -74px -740px; width: 24px; height: 24px; }
.chart-small-column-add-spline.white{ background-position: -74px -814px; width: 24px; height: 24px; }
.chart-small-column-add-spline.darkgrey{ background-position: -74px -888px; width: 24px; height: 24px; }
.chart-small-column.black{ background-position: -74px -962px; width: 24px; height: 24px; }
.chart-small-column.grey{ background-position: -74px -1036px; width: 24px; height: 24px; }
.chart-small-column.white{ background-position: -74px -1110px; width: 24px; height: 24px; }
.chart-small-column.darkgrey{ background-position: -74px -1184px; width: 24px; height: 24px; }
.chart-small-column_stacked.black{ background-position: -74px -1258px; width: 24px; height: 24px; }
.chart-small-column_stacked.grey{ background-position: -74px -1332px; width: 24px; height: 24px; }
.chart-small-column_stacked.white{ background-position: -74px -1406px; width: 24px; height: 24px; }
.chart-small-column_stacked.darkgrey{ background-position: -74px -1480px; width: 24px; height: 24px; }
.chart-small-geo-map.black{ background-position: -74px -1554px; width: 24px; height: 24px; }
.chart-small-geo-map.grey{ background-position: -74px -1628px; width: 24px; height: 24px; }
.chart-small-geo-map.white{ background-position: -74px -1702px; width: 24px; height: 24px; }
.chart-small-geo-map.darkgrey{ background-position: -74px -1776px; width: 24px; height: 24px; }
.chart-small-heat-map.black{ background-position: -74px -1850px; width: 24px; height: 24px; }
.chart-small-heat-map.grey{ background-position: -74px -1924px; width: 24px; height: 24px; }
.chart-small-heat-map.white{ background-position: -148px 0; width: 24px; height: 24px; }
.chart-small-heat-map.darkgrey{ background-position: -148px -74px; width: 24px; height: 24px; }
.chart-small-line-add-column.black{ background-position: -148px -148px; width: 24px; height: 24px; }
.chart-small-line-add-column.grey{ background-position: -148px -222px; width: 24px; height: 24px; }
.chart-small-line-add-column.white{ background-position: -148px -296px; width: 24px; height: 24px; }
.chart-small-line-add-column.darkgrey{ background-position: -148px -370px; width: 24px; height: 24px; }
.chart-small-line.black{ background-position: -148px -444px; width: 24px; height: 24px; }
.chart-small-line.grey{ background-position: -148px -518px; width: 24px; height: 24px; }
.chart-small-line.white{ background-position: -148px -592px; width: 24px; height: 24px; }
.chart-small-line.darkgrey{ background-position: -148px -666px; width: 24px; height: 24px; }
.chart-small-line_segmented.black{ background-position: -148px -740px; width: 24px; height: 24px; }
.chart-small-line_segmented.grey{ background-position: -148px -814px; width: 24px; height: 24px; }
.chart-small-line_segmented.white{ background-position: -148px -888px; width: 24px; height: 24px; }
.chart-small-line_segmented.darkgrey{ background-position: -148px -962px; width: 24px; height: 24px; }
.chart-small-multi-measure.black{ background-position: -148px -1036px; width: 24px; height: 24px; }
.chart-small-multi-measure.grey{ background-position: -148px -1110px; width: 24px; height: 24px; }
.chart-small-multi-measure.white{ background-position: -148px -1184px; width: 24px; height: 24px; }
.chart-small-multi-measure.darkgrey{ background-position: -148px -1258px; width: 24px; height: 24px; }
.chart-small-pie.black{ background-position: -148px -1332px; width: 24px; height: 24px; }
.chart-small-pie.grey{ background-position: -148px -1406px; width: 24px; height: 24px; }
.chart-small-pie.white{ background-position: -148px -1480px; width: 24px; height: 24px; }
.chart-small-pie.darkgrey{ background-position: -148px -1554px; width: 24px; height: 24px; }
.chart-small-points.black{ background-position: -148px -1628px; width: 24px; height: 24px; }
.chart-small-points.grey{ background-position: -148px -1702px; width: 24px; height: 24px; }
.chart-small-points.white{ background-position: -148px -1776px; width: 24px; height: 24px; }
.chart-small-points.darkgrey{ background-position: -148px -1850px; width: 24px; height: 24px; }
.chart-small-scatter.black{ background-position: -148px -1924px; width: 24px; height: 24px; }
.chart-small-scatter.grey{ background-position: -222px 0; width: 24px; height: 24px; }
.chart-small-scatter.white{ background-position: -222px -74px; width: 24px; height: 24px; }
.chart-small-scatter.darkgrey{ background-position: -222px -148px; width: 24px; height: 24px; }
.chart-small-spline-add-column.black{ background-position: -222px -222px; width: 24px; height: 24px; }
.chart-small-spline-add-column.grey{ background-position: -222px -296px; width: 24px; height: 24px; }
.chart-small-spline-add-column.white{ background-position: -222px -370px; width: 24px; height: 24px; }
.chart-small-spline-add-column.darkgrey{ background-position: -222px -444px; width: 24px; height: 24px; }
.chart-small-spline.black{ background-position: -222px -518px; width: 24px; height: 24px; }
.chart-small-spline.grey{ background-position: -222px -592px; width: 24px; height: 24px; }
.chart-small-spline.white{ background-position: -222px -666px; width: 24px; height: 24px; }
.chart-small-spline.darkgrey{ background-position: -222px -740px; width: 24px; height: 24px; }
.chart-small-spline_segmented.black{ background-position: -222px -814px; width: 24px; height: 24px; }
.chart-small-spline_segmented.grey{ background-position: -222px -888px; width: 24px; height: 24px; }
.chart-small-spline_segmented.white{ background-position: -222px -962px; width: 24px; height: 24px; }
.chart-small-spline_segmented.darkgrey{ background-position: -222px -1036px; width: 24px; height: 24px; }

[menu-parent].active-stage-parent .HorizontalTrellis{ background:url(../img/Charts_Icons/16x16_noAxis/trellisHoriz_5darkblue.png) no-repeat 0 center;display:block; width: 16px; height: 16px; }
.HorizontalTrellis{ background:url(../img/Charts_Icons/16x16_noAxis/trellisHoriz_6lightblue.png) no-repeat 0 center;display:block; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .VerticalTrellis{ background:url(../img/Charts_Icons/16x16_noAxis/trellisVert_5darkblue.png) no-repeat 0 center;display:block; width: 16px; height: 16px; }
.VerticalTrellis{ background:url(../img/Charts_Icons/16x16_noAxis/trellisVert_6lightblue.png) no-repeat 0 center;display:block; width: 16px; height: 16px; }

[class*="chart-xsmall-"]{background:url(../img/chart-xsmall.png) no-repeat center center;display:block}
[menu-parent].active-stage-parent .chart-xsmall-area{ background-position: 1px -1px; width: 16px; height: 16px; }
.chart-xsmall-area{ background-position: 1px -63px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-areaspline{ background-position: 1px -129px; width: 16px; height: 16px; }
.chart-xsmall-areaspline{ background-position: 1px -195px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-bar{ background-position: 1px -261px; width: 16px; height: 16px; }
.chart-xsmall-bar{ background-position: 1px -327px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-bubble{ background-position: 1px -393px; width: 16px; height: 16px; }
.chart-xsmall-bubble{ background-position: 1px -459px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-column{ background-position: 1px -525px; width: 16px; height: 16px; }
.chart-xsmall-column{ background-position: 1px -591px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-line{ background-position: 1px -657px; width: 16px; height: 16px; }
.chart-xsmall-line{ background-position: 1px -723px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-line_segmented{ background-position: 1px -789px; width: 16px; height: 16px; }
.chart-xsmall-line_segmented{ background-position: 1px -855px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-pie{ background-position: 1px -921px; width: 16px; height: 16px; }
.chart-xsmall-pie{ background-position: 1px -987px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-points{ background-position: 1px -1053px; width: 16px; height: 16px; }
.chart-xsmall-points{ background-position: 1px -1119px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-scatter{ background-position: 1px -1185px; width: 16px; height: 16px; }
.chart-xsmall-scatter{ background-position: 1px -1251px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-spline{ background-position: 1px -1317px; width: 16px; height: 16px; }
.chart-xsmall-spline{ background-position: 1px -1383px; width: 16px; height: 16px; }
[menu-parent].active-stage-parent .chart-xsmall-spline_segmented{ background-position: 1px -1449px; width: 16px; height: 16px; }
.chart-xsmall-spline_segmented{ background-position: 1px -1515px; width: 16px; height: 16px; }

.chart-small-combo-area-column-line.grey{background-image:url('../img/Charts_Icons/24x24/multi-measure_black.png');background-size:24px 24px;background-repeat:no-repeat;background-position:0 0;}
.chart-small-combo-area-column-spline{background-image:url('../img/Charts_Icons/512x512/multi-measure_black.png');background-size:24px 24px;background-repeat:no-repeat;background-position:0 0;}
.chart-small-combo-area-column{background-image:url('../img/Charts_Icons/24x24_noAxis/area-add-column_2grey.png');background-size:24px 24px;background-repeat:no-repeat;background-position:0 0;}
.chart-small-combo-column-line{background-image:url('../img/Charts_Icons/24x24_noAxis/column-add-line_2grey.png');background-size:24px 24px;background-repeat:no-repeat;background-position:0 0;}
.chart-small-combo-column-spline{background-image:url('../img/Charts_Icons/24x24_noAxis/column-add-spline_2grey.png');background-size:24px 24px;background-repeat:no-repeat;background-position:0 0;}

[class*="preview-"]{background-repeat:no-repeat;background-position: center 80px;background-size:72px 72px}
.preview-bar-add-color{background-image:url('../img/Charts_Icons/.white/bar_black.png')}
.preview-bar-add-color-stack{background-image:url('../img/Charts_Icons/512x512/bar_stacked_black.png')}
.preview-line-add-color-split{background-image:url('../img/Charts_Icons/512x512/line-color_black.png')}
.preview-line-add-shape{background-image:url('../img/Charts_Icons/512x512/line-shape_black.png')}
.preview-spline-add-color-split{background-image:url('../img/Charts_Icons/512x512/spline-color_black.png')}
.preview-spline-add-shape{background-image:url('../img/Charts_Icons/512x512/spline-shape_black.png')}
.preview-column-add-color{background-image:url('../img/Charts_Icons/512x512/column-color_black.png')}
.preview-area-add-color-stack{background-image:url('../img/Charts_Icons/512x512/area-color_black.png')}
.preview-areaspline-add-color-stack{background-image:url('../img/Charts_Icons/512x512/area-spline-stacked_black.png')}
.preview-column-add-color-stack{background-image:url('../img/Charts_Icons/512x512/column-stacked_black.png')}
.preview-area-add-color-stack{background-image:url('../img/Charts_Icons/512x512/area-stacked_black.png')}
.preview-areaspline-add-color-stack{background-image:url('../img/Charts_Icons/512x512/area-spline-stacked_black.png')}
.preview-column-add-color-split{background-image:url('../img/Charts_Icons/512x512/column-color_black.png')}
.preview-area-add-color-split{background-image:url('../img/Charts_Icons/512x512/area-color_black.png')}
.preview-areaspline-add-color-split{background-image:url('../img/Charts_Icons/512x512/area-spline-color_black.png')}
.preview-scatter-add-size{background-image:url('../img/Charts_Icons/512x512/bubble_black.png')}
.preview-scatter-add-shape{background-image:url('../img/Charts_Icons/512x512/scatter-shapes2_black.png')}
.preview-scatter-add-color{background-image:url('../img/Charts_Icons/512x512/scatter-color_black.png')}
.preview-scatter-add-color-split{background-image:url('../img/Charts_Icons/512x512/scatter-color_black.png')}
.preview-bubble-add-color{background-image:url('../img/Charts_Icons/512x512/scatter-color_black.png')}
.preview-bubble-add-color-split{background-image:url('../img/Charts_Icons/512x512/scatter-color_black.png')}
.preview-bubble-add-size{background-image:url('../img/Charts_Icons/512x512/bubble_black.png')}
.preview-points-add-color{background-image:url('../img/Charts_Icons/512x512/scatter-color_black.png')}
.preview-points-add-color-split{background-image:url('../img/Charts_Icons/512x512/scatter-color_black.png')}
.preview-points-add-shape{background-image:url('../img/Charts_Icons/512x512/scatter-shapes2_black.png')}
.preview-pie-add-trellis{background-image:url('../img/Charts_Icons/48x48/pie_1black.png')}
.preview-bar-add-trellis{background-image:url('../img/Charts_Icons/512x512/Trellis-Horiz.png')}
.preview-line-add-trellis{background-image:url('../img/Charts_Icons/512x512/Trellis-Horiz.png')}
.preview-spline-add-trellis{background-image:url('../img/Charts_Icons/512x512/Trellis-Horiz.png')}
.preview-area-add-trellis{background-image:url('../img/Charts_Icons/512x512/Trellis-Horiz.png')}
.preview-areaspline-add-trellis{background-image:url('../img/Charts_Icons/512x512/Trellis-Horiz.png')}
.preview-column-add-trellis{background-image:url('../img/Charts_Icons/512x512/Trellis-Horiz.png')}
.preview-scatter-add-trellis{background-image:url('../img/Charts_Icons/512x512/Trellis-Horiz.png')}
.preview-points-add-trellis{background-image:url('../img/Charts_Icons/512x512/Trellis-Horiz.png')}
.preview-bubble-add-trellis{background-image:url('../img/Charts_Icons/512x512/Trellis-Horiz.png')}
.preview-column-add-series{background-image:url('../img/Charts_Icons/48x48/column_1black.png')}
.preview-area-add-series{background-image:url('../img/Charts_Icons/48x48/area_1black.png')}
.preview-areaspline-add-series{background-image:url('../img/Charts_Icons/48x48/area_spline_1black.png')}
.preview-bar-add-series{background-image:url('../img/Charts_Icons/48x48/bar_1black.png')}
.preview-line-add-series{background-image:url('../img/Charts_Icons/48x48/line_1black.png')}
.preview-spline-add-series{background-image:url('../img/Charts_Icons/48x48/spline_1black.png')}
.preview-scatter-add-series{background-image:url('../img/Charts_Icons/48x48/scatter_1black.png')}
.preview-points-add-series{background-image:url('../img/Charts_Icons/48x48/points_1black.png')}
.preview-bubble-add-series{background-image:url('../img/Charts_Icons/512x512/bubble_black.png')}


.drawer i {display:inline-block;height:24px;width:24px;margin:6px;background-size: 25px;position: relative;}
.drawer i.close-btn {background: url(../img/File-Svg-Icons/Close_btn.png);width: 159px;height: 31px;margin: 0;}
.saveButtonContainer i {display:inline-block;height:24px;width:24px;margin:6px;background-size: 25px;position: relative;}

[file-system-ui] i.arrow-down-icon {background-image: url(../img/File-Svg-Icons/icon_30.svg);background-size: 14px;width: 12px;height: 14px;margin: 18px 6px 18px 8px;}
[file-system-ui] i.move-icon {background-image: url(../img/File-Svg-Icons/icon_29.svg)}
[file-system-ui] i.arrow-right-icon {background-image: url(../img/File-Svg-Icons/icon_28.svg);background-size: 14px;width: 12px;height: 14px;margin: 18px 6px 18px 8px;}
[file-system-ui] i.save-icon {background-image: url(../img/File-Svg-Icons/icon_27.svg)}
[file-system-ui] i.open-icon {background-image: url(../img/File-Svg-Icons/icon_26.svg)}
[file-system-ui] i.close-icon {background-image: url(../img/File-Svg-Icons/icon_14.svg);background-size: 16px;height:16px;width:16px;}
[file-system-ui] i.visualizer-icon {background-image: url(../img/File-Svg-Icons/icon_9.svg)}
[file-system-ui] i.file-large-icon {background-image: url(../img/File-Svg-Icons/icon_9.svg);background-size: 30px;width: 30px;height: 32px;top: -2px;padding: 0px;margin: 6px 6px 0 !important;float: right;}
[file-system-ui] i.new-folder-icon {background-image: url(../img/File-Svg-Icons/icon_8.svg)}
[file-system-ui] i.star-icon {background-image: url(../img/File-Svg-Icons/icon_7.svg)}
[file-system-ui] i.pencil-icon, [toolbar] i.pencil-icon {background-image: url(../img/File-Svg-Icons/icon_6.svg)}
[file-system-ui] i.trash-icon {background-image: url(../img/File-Svg-Icons/icon_5.svg)}
[file-system-ui] i.download-icon {background-image: url(../img/File-Svg-Icons/icon_4.svg)}
[file-system-ui] i.folder-icon {background-image: url(../img/File-Svg-Icons/icon_3.svg)}
[file-system-ui] i.folder-large-icon {background-image: url(../img/File-Svg-Icons/icon_3.svg);background-size: 30px;width: 30px;height: 32px;top: -2px;padding: 0px;margin: 6px 6px 0 !important;float: right;}
[file-system-ui] i.new-file-icon {background-image: url(../img/File-Svg-Icons/icon_2.svg)}
[file-system-ui] i.share-icon {background-image: url(../img/File-Svg-Icons/icon_1.svg)}

i.arrow-down-icon-active {background-image: url(../img/File-Svg-Icons/icon_30_active.svg);background-size: 14px;width: 12px;height: 14px;margin: 18px 6px 18px 8px;}
i.arrow-right-icon-active {background-image: url(../img/File-Svg-Icons/icon_28_active.svg);background-size: 14px;width: 12px;height: 14px;margin: 18px 6px 18px 8px;}
.button:hover i.move-icon {background-image: url(../img/File-Svg-Icons/icon_29_active.svg)}
.button:hover i.arrow-right-icon {background-image: url(../img/File-Svg-Icons/icon_28_active.svg)}
.button:hover i.new-folder-icon {background-image: url(../img/File-Svg-Icons/icon_8_active.svg)}
.button:hover i.pencil-icon {background-image: url(../img/File-Svg-Icons/icon_6_active.svg)}
.button:hover i.trash-icon {background-image: url(../img/File-Svg-Icons/icon_5_active.svg)}
.button:hover i.folder-icon {background-image: url(../img/File-Svg-Icons/icon_3_active.svg)}

.editor i.attribute-icon {background-image: url('../img/report_expression/VIZ - Attribute.svg')}
.editor i.function-icon {background-image: url('../img/report_expression/VIZ - Function.svg')}
.editor i.measure-icon {background-image: url('../img/report_expression/VIZ - Measure.svg')}
.editor i.report-expression-icon {background-image: url('../img/report_expression/VIZ - Report expression.svg')}
.editor i.syntax-icon {background-image: url('../img/report_expression/VIZ - Syntax.svg');height: 17px;}
.editor i.suffix-icon {background-image: url('../img/report_expression/VIZ - Suffix.svg');height: 17px;}
.editor i.datepart-icon, .editor i.datetimepart-icon, .editor i.datetime-icon {background-image: url('../img/report_expression/VIZ - Date.svg')}

.editor-container .editor .completionsContainer .completion.operator-completion i.operator-icon {background-size: 22px;width:22px;height:22px;margin:0 7px -6px 0;padding:0;}
/*above super complicated selector is to override another too complicated selector... sorry */
.editor .completion.operator-completion i.operator-icon.or {background-image: url('../img/report_expression/VIZ - Operator_Or.svg');height: 19px !important;}
.editor .completion.operator-completion i.operator-icon.and {background-image: url('../img/report_expression/VIZ - Operator_And.svg');height: 29px !important;margin-bottom: -12px !important;}
.editor .completion.operator-completion i.operator-icon.not-equal {background-image: url('../img/report_expression/VIZ - Operator_Not Equal.svg');height: 21px !important;}
.editor .completion.operator-completion i.operator-icon.equal {background-image: url('../img/report_expression/VIZ - Operator_Equal.svg');height: 9px !important;}
.editor .completion.operator-completion i.operator-icon.less-than {background-image: url('../img/report_expression/VIZ - Operator_Less than.svg');background-size: 13px !important;width: 13px !important;height: 23px !important;margin-right: 16px !important;}
.editor .completion.operator-completion i.operator-icon.greater-than {background-image: url('../img/report_expression/VIZ - Operator_Greater than.svg');background-size: 13px !important;width: 13px !important;height: 23px !important;margin-right: 16px !important;}
.editor .completion.operator-completion i.operator-icon.less-or-equal {background-image: url('../img/report_expression/VIZ - Operator_Less than or equal to.svg');background-size: 13px !important;width: 13px !important;height: 23px !important;margin-right: 16px !important;}
.editor .completion.operator-completion i.operator-icon.greater-or-equal {background-image: url('../img/report_expression/VIZ - Operator_Greater than or equal to.svg');background-size: 13px !important;width: 13px !important;height: 23px !important;margin-right: 16px !important;}
.editor .completion.operator-completion i.operator-icon.divide {background-image: url('../img/report_expression/VIZ - Operator_Divide.svg')}
.editor .completion.operator-completion i.operator-icon.multiply {background-image: url('../img/report_expression/VIZ - Operator_Multiply.svg')}
.editor .completion.operator-completion i.operator-icon.add {background-image: url('../img/report_expression/VIZ - Operator_Plus.svg')}
.editor .completion.operator-completion i.operator-icon.subtract {background-image: url('../img/report_expression/VIZ - Operator_Minus.svg');height: 2px !important;margin-bottom: 0 !important;}

.glyphicon {background-size: 24px;width:24px;height:24px;display: inline-block;position: relative;background-repeat: no-repeat;background-position: 50% 50%;}
.glyphicon-arrow-down {background-image: url('../img/formerly_glyphicons/VIZ - Arrow-down_light_blue.svg');background-size: 16px;width: 16px;height: 18px;top: 2px;left: 2px;}
.glyphicon-arrow-up {background-image: url('../img/formerly_glyphicons/VIZ - Arrow-up_light_blue.svg');background-size: 16px;width: 16px;height: 18px;top: 2px;left: 2px;}
[staging] [menu-parent].active-stage-parent .glyphicon-arrow-down {background-image: url('../img/formerly_glyphicons/VIZ - Arrow-down_dark_blue.svg');background-size: 16px;width: 16px;height: 18px;top: 2px;left: 2px;}
[staging] [menu-parent].active-stage-parent .glyphicon-arrow-up {background-image: url('../img/formerly_glyphicons/VIZ - Arrow-up_dark_blue.svg');background-size: 16px;width: 16px;height: 18px;top: 2px;left: 2px;}
.glyphicon-chevron-left {background-image: url('../img/formerly_glyphicons/VIZ - Chevron-left.svg');background-size: 12px;width: 12px;height: 17px;top: 3px;left: 5px;margin-right: 16px;float: left;}
.glyphicon-chevron-right {background-image: url('../img/formerly_glyphicons/VIZ - Chevron-right.svg');background-size: 12px;width: 12px;height: 17px;top: 10px;left: 8px;}
.glyphicon-edit {background-image: url('../img/formerly_glyphicons/VIZ - Edit.svg')}
.glyphicon-folder-open {background-image: url('../img/formerly_glyphicons/VIZ - Folder_open.svg');float: left;margin-right: 6px;height: 17px;top: 2px;}
.glyphicon-lock {background-image: url('../img/formerly_glyphicons/VIZ - Lock_1.svg');background-size: 14px;width: 14px;height: 17px;top: 2px;left: 4px;}
.glyphicon-minus {background-image: url('../img/formerly_glyphicons/VIZ - Minus.svg');height: 5px;float: left;width: 16px;top: 11px;left: 2px;margin-right: 10px;}
.glyphicon-ok {background-image: url('../img/formerly_glyphicons/VIZ - Ok_1.svg')}
.glyphicon-ok-alt {background-image: url('../img/formerly_glyphicons/VIZ - Ok_2.svg')}
.glyphicon-plus {background-image: url('../img/formerly_glyphicons/VIZ - Plus.svg'); width: 16px; height: 16px; left: 2px; margin-right: 4px; top: 0px;}
.glyphicon-remove {background-image: url('../img/formerly_glyphicons/VIZ - Remove_2.svg');background-size: 16px;width: 16px;height: 16px;}
.glyphicon-search {background-image: url('../img/formerly_glyphicons/VIZ - Search.svg')}
.glyphicon-trash {background-image: url('../img/formerly_glyphicons/VIZ - Trash.svg');background-size: 100px;width: 100px;height: 119px;}
.glyphicon-warning-sign {background-image: url('../img/formerly_glyphicons/VIZ - Warningsign_1.svg')}
.glyphicon-warning-sign-alt {background-image: url('../img/formerly_glyphicons/VIZ - Warningsign_2.svg')}
.glyphicon-font {background-image: url('../img/formerly_glyphicons/VIZ - font.svg')}
.glyphicon-shuffle {background-image: url('../img/formerly_glyphicons/icon-shuffle.svg')}

.birst-icon {background-size: 24px;width:24px;height:24px;display: inline-block;position: relative;background-repeat: no-repeat;background-position: 50% 50%;margin-bottom: -6px;}
.icon-open {background-image: url('../img/File-Svg-Icons/VIZ - Folder_open.svg')}
.icon-subject-area {background-image: url('../img/File-Svg-Icons/VIZ - Switch-subject-area.svg')}
.icon-folder {background-image: url('../img/File-Svg-Icons/VIZ - Folder.svg')}


