.side-drawer {
	bottom: 0;
	position: fixed;
	top: 0;
	@include transition( all .25s ease-in-out );
	.shape-triangle-up {
		border-bottom-color: $gray-light-alt;
		font-size: 5px;
		margin-bottom: 3px;
	}
}

.side-drawer-left {
	left: 0;
	@include translateX( calc( -100% + 1px ) );
	.side-drawer-tab {
		right: -33px;
		@include rotate( 90deg );
		&:before {
			border-bottom: 16px solid $panel-bg;
			border-left: 16px solid transparent;
			left: -16px;
		}
		&:after {
			border-bottom: 16px solid $panel-bg;
			border-right: 16px solid transparent;
			right: -16px;
		}
	}
}

.side-drawer-right {
	right: 0;
	@include translateX( calc( 100% - 1px ) );
	.shape-triangle-up {
		border-bottom: 0;
		border-top: 1em solid $gray-light-alt;
	}
	.side-drawer-tab {
		left: -33px;
		@include rotate( 90deg );
		&:before {
			border-top: 16px solid $panel-bg;
			border-left: 16px solid transparent;
			left: -16px;
		}
		&:after {
			border-top: 16px solid $panel-bg;
			border-right: 16px solid transparent;
			right: -16px;
		}
	}
}

.side-drawer-tab {
	background: $panel-bg;
	border: 0;
	@include border-radius( 0 );
	height: 16px;
	line-height: 16px;
	padding: 0;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	@include translateY( calc( -50% - 20px ) );
	width: 50px;
	&:after,
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		height: 0;
		width: 0;
	}
	&:focus {
		outline: none;
	}
}

.side-drawer-open {
	@include translateX( 0 );
	.shape-triangle-up {
		border-bottom: 0;
		border-top: 1em solid $gray-light-alt;
	}
	&.side-drawer-right .shape-triangle-up {
		border-bottom: 1em solid $gray-light-alt;
		border-top: 0;
	}
}
