<div id="staging" guided-mode ng-click="menuHandler($event)">

    <div ng-if="chartType !== 'table'" menu-parent="Stage-Measures">
        <div class="stage-button" drop-target="dropAxis()" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="right" popover="click to configure selected measures">
            <i class="staging-Measures unselected"></i>
            <span class="column-number" ng-if="!guidedMode && stage.allSeries().length">{{stage.allSeries().length}}</span>
            <span class="column-number needed" ng-if="guidedMode && stage.allSeries().length === 0">
                <span class="instructions">add Measure</span>
            </span>
            <span class="column-number correct" ng-if="guidedMode && stage.allSeries().length > 0">
                <span class="instructions">ok</span>
            </span>
            <h5 class="stage-title">Measures</h5>
            <div class="column-preview with-icn" ng-repeat="series in stage.allSeries() track by $index" draggable="dragFromStage(series.column)" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{series.column.name | subjectAreaDisplayName | popoverThreshold:12}}">
                <h5 class="column-name-preview">{{series.column.name | subjectAreaDisplayName}}</h5>
                <i class="column-icn-preview chart-xsmall-{{series.type}}"></i>
            </div>
        </div>
        <div menu-child="no-back">
            <div class="all-axes">
                <div ng-hide="stage.measures.length" class="empty-bucket handwriting measure">
                    <span class="no-column-message">no measures selected</span>
                    <span class="add-column-message">drag & drop a measure here</span>
                </div>
                <div class="axis" ng-repeat="axis in stage.measures" drop-target="dropAxis(axis)">
                    <div ng-if="axis.series.length">
                        <div ng-repeat="serie in axis.series">
                            <div staging-row="serie.column" serie="serie" staging-type="measure" column-name="{{column.name}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="chartType === 'table'" menu-parent="Columns">
        <div class="stage-button" drop-target="dropDim('Columns')">
            <i class="unselected stage-Columns"></i>
            <span class="column-number" ng-if="!guidedMode && stage.Columns">{{stage.Columns.length}}</span>
            <h5 class="stage-title">Columns</h5>
            <div class="column-preview" ng-repeat="column in stage.Columns track by column.uniqueId" draggable="dragFromStage(column)" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{attribute.name | subjectAreaDisplayName | popoverThreshold:12}}">
                <h5 class="column-name-preview">{{column.name | stagingAreaDisplayName}}</h5>
            </div>
        </div>
        <div menu-child="no-back">
            <div ng-hide="stage.Columns.length" class="empty-bucket handwriting Columns">
                <span class="no-column-message">no columns selected</span>
                <span class="add-column-message">drag & drop an columns here</span>
            </div>
            <div id="Columns" ng-if="stage.Columns.length > 0">
                <div ng-repeat="column in stage.Columns track by column.uniqueId">
                    <div staging-row="column" staging-type="dimension" column-name="{{column.name}}"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="chartType !== 'table' && stage.shouldShowDimension(chartType, dim)" ng-repeat="dim in dims" menu-parent="{{dim}}">
        <div class="stage-button" drop-target="dropDim(dim)">
            <i ng-class="'staging-'+dim" class="unselected"></i>
            <span class="column-number" ng-if="!guidedMode && stage[dim]">1</span>
            <span class="column-number needed" ng-if="guidedMode && !stage.guidedModeRecommendation(dim, currentChartType).ok">
                <span class="instructions">{{ stage.guidedModeRecommendation(dim, currentChartType).message }}</span>
            </span>
            <span class="column-number correct" ng-if="guidedMode && stage[dim] && stage.guidedModeRecommendation(dim, currentChartType).ok">
                <span class="instructions">ok</span>
            </span>
            <h5 class="stage-title">{{titleForDim(dim)}}</h5>
            <div class="column-preview" ng-if="stage[dim]" draggable="dragFromStage(stage[dim])" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{stage[dim].name | subjectAreaDisplayName | popoverThreshold:12}}">
                <h5 class="column-name-preview">{{stage[dim].name | stagingAreaDisplayName}}</h5>
            </div>
        </div>
        <div menu-child="no-back">
            <div ng-hide="stage[dim]" class="empty-bucket handwriting {{dim}}">
                <span class="no-column-message">no {{dim | lowerCaseFirstLetter}} selected</span>
                <span class="add-column-message">drag & drop a column here</span>
            </div>
            <div id="{{dim}}" ng-if="stage[dim]">
                <div>
                    <div staging-row="stage[dim]" staging-type="dimension" column-name="{{column.name}}"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="chartType !== 'table'" menu-parent="Trellis">
        <div class="stage-button" drop-target="dropDim('Trellis')">
            <i class="staging-Trellis unselected"></i>
            <span class="column-number" ng-if="!guidedMode && (stage.HorizontalTrellis || stage.VerticalTrellis)">
                {{stage.HorizontalTrellis && stage.VerticalTrellis ? "2" : "1"}}
            </span>
            <h5 class="stage-title">Trellis</h5>
            <div class="column-preview with-icn" ng-if="stage.HorizontalTrellis" draggable="dragFromStage(stage.HorizontalTrellis)" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{stage.HorizontalTrellis.name | subjectAreaDisplayName | popoverThreshold:12}}">
                <h5 class="column-name-preview">{{stage.HorizontalTrellis.name | stagingAreaDisplayName}}</h5>
                <i class="column-icn-preview HorizontalTrellis"></i>
            </div>
            <div class="column-preview with-icn" ng-if="stage.VerticalTrellis" draggable="dragFromStage(stage.VerticalTrellis)" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{stage.VerticalTrellis.name | subjectAreaDisplayName | popoverThreshold:12}}">
                <h5 class="column-name-preview">{{stage.VerticalTrellis.name | stagingAreaDisplayName}}</h5>
                <i class="column-icn-preview VerticalTrellis"></i>
            </div>
        </div>
        <div menu-child="no-back">
            <div ng-hide="stage.HorizontalTrellis || stage.VerticalTrellis" class="empty-bucket handwriting Trellis">
                <span class="no-column-message">no trellis selected</span>
                <span class="add-column-message">drag & drop a column here</span>
            </div>
            <div ng-if="stage.VerticalTrellis || stage.HorizontalTrellis">
                <div>
                    <div horizontal-trellis drop-target="dropTrellis('Horizontal')">
                        <div class="row-title">
                            <div class="title-trellis">
                                <i class="trellis-horizontal"></i>
                                <span>Horizontal Trellis</span>
                            </div>
                        </div>
                        <div ng-if="stage.HorizontalTrellis" class="measure-property clearfix" draggable="stage.HorizontalTrellis">
                            <div class="pull-left">
                                {{stage.HorizontalTrellis.name | stagingAreaDisplayName}}
                            </div>
                            <div class="column-tools pull-right">
                                <i ng-click="removeColumn(stage.HorizontalTrellis); updateChart()" class="remove" title="Remove"></i>
                            </div>
                        </div>
                        <div ng-if="!stage.HorizontalTrellis">
                            <div class="handwriting no-trellis">
                                Horizontal Trellis not plotted
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div vertical-trellis drop-target="dropTrellis('Vertical')">
                        <div class="row-title">
                            <div class="title-trellis">
                                <i class="trellis-vertical"></i>
                                <span>Vertical Trellis</span>
                            </div>
                        </div>
                        <div ng-if="stage.VerticalTrellis" class="measure-property clearfix" draggable="stage.VerticalTrellis">
                            <div class="pull-left">
                                {{stage.VerticalTrellis.name | stagingAreaDisplayName}}
                            </div>
                            <div class="column-tools pull-right">
                                <i ng-click="removeColumn(stage.VerticalTrellis); updateChart()" class="remove" title="Remove"></i>
                            </div>
                        </div>
                        <div ng-if="!stage.VerticalTrellis">
                            <div class="handwriting no-trellis">
                                Vertical Trellis not plotted
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="stage.VerticalTrellis || stage.HorizontalTrellis" class="handwriting sort-order-message">
                Drag and drop column names to switch trellis directions
            </div>
        </div>
    </div>

    <div menu-parent="Filters">
        <div class="stage-button" drop-target="dropFilter()" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="right" popover="click to configure filters">
            <i class="staging-Filter unselected"></i>
            <span class="column-number" ng-if="stage.allFilters().length > 0">{{stage.allFilters().length}}</span>
            <h5 class="stage-title">Filters</h5>
            <div class="column-preview" ng-repeat="filter in stage.allFilters(chartType) track by $index" draggable="dragfromFilters(filter)" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{filter.name | subjectAreaDisplayName | popoverThreshold:12}}">
                <h5 class="column-name-preview">{{filter.name | stagingAreaDisplayName}}</h5>
            </div>
        </div>
        <div menu-child="no-back">
            <div ng-repeat="column in stage.allColumnsAndUnvisualized(chartType) track by column.uniqueId">
                <div>
                    <div filter-row="column" staging-type="filter" column-name="{{column.name}}"></div>
                </div>
            </div>
        </div>
    </div>

    <div menu-parent="Sorting">
        <div class="stage-button" drop-target="dropSorting()" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="right" popover="click to configure sorting">
            <i class="sorting-stage unselected"></i>
            <h5 class="stage-title">Sort</h5>
            <div class="column-preview with-icn" ng-repeat="column in stage.externalSortOrder track by $index" draggable="dragSort(column)" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{column.name | subjectAreaDisplayName | popoverThreshold:12}}">
                <h5 class="column-name-preview">{{column.name | stagingAreaDisplayName}}</h5>
                <div class="column-icn-preview">
                    <i class="glyphicn" ng-class="{'glyphicn-arrow-up': column.properties.sortDirection === 'ASC', 'glyphicn-arrow-down': column.properties.sortDirection === 'DESC'}"></i>
                </div>
            </div>
        </div>
        <div menu-child="no-back">
            <div ng-if="stage.HorizontalTrellis">
                <div>
                    <div sort-widget="stage.HorizontalTrellis"></div>
                </div>
            </div>
            <div ng-if="stage.VerticalTrellis">
                <div>
                    <div sort-widget="stage.VerticalTrellis"></div>
                </div>
            </div>
            <div ui-sortable="sortableOptions" ng-model="stage.internalSortOrder">
                <div ng-repeat="column in stage.internalSortOrder">
                    <div>
                        <div sort-widget="column" index="$index + 1"></div>
                    </div>
                </div>
            </div>
            <div ng-if="stage.internalSortOrder.length >= 2" class="handwriting sort-order-message">
                Drag and drop unlocked elements to sort the list
            </div>
        </div>
    </div>

    <div menu-parent="Trash">
        <div class="stage-button" drop-target="dropIntoRecent()" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="right" popover="click to see recently used columns">
            <i class="stage-Recent unselected"></i>
            <h5 class="stage-title">Recent</h5>
        </div>
        <div menu-child>
            <div class="sa-title">Recently Used Columns</div>
            <ul class="list-unstyled">
                <li column ng-repeat="column in trashBucket.columns" ng-dblclick="addColumnFromTrash(column)" draggable="dragFromTrash(column)" popover-trigger="mouseenter" popover-popup-delay="500" popover-placement="bottom" popover="{{column.name | popoverThreshold}}">
                    <i class="subject-area-{{column.expression.getType() | capitalizeFirstLetter}}s"></i>
                    {{column.name}}
                    <div class="column-type-path">{{column.expression.getType() | capitalizeFirstLetter }}
                        <span ng-if="column.expression.head.value.path.length > 1">/
                            <span ng-repeat="pathPartial in column.expression.head.value.path" ng-show="!$last">{{pathPartial | subjectAreaSearchName}}</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
