$on-off-switch-border-radius: 15px;
$on-off-switch-diameter: 20px;
$on-off-switch-width: 37px;
.on-off-switch {
	@include user-select( none );
	input {
		display: none;
		max-height: 0;
		max-width: 0;
		opacity: 0;

		+ label {
			background: #777;
			border-radius: $on-off-switch-border-radius;
			box-shadow: inset 0 0 0 1px #d5d5d5;
			cursor: pointer;
			display: block;
			height: $on-off-switch-diameter;
			left: 0;
			margin: 0;
			position: relative;
			top: 6px;
			width: $on-off-switch-width;

			&:before,
			&:after {
				border-radius: $on-off-switch-border-radius;
				content: "";
				display: block;
				height: $on-off-switch-diameter;
				left: 0;
				position: absolute;
				top: 0;
				@include transition( 0.25s ease-in-out );
				width: $on-off-switch-diameter;
			}

			&:before {
				background: rgba(19, 191, 17, 0);
			}

			&:after {
				background: white;
				box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
			}

		}

		&:checked + label {
			&:before {
				width: 100%;
				background: #267ba7;
			}
			&:after {
				left: $on-off-switch-width - $on-off-switch-diameter;
				box-shadow: inset 0 0 0 1px #267ba7, 0 2px 4px rgba(0, 0, 0, 0.2);
			}
		}

	}
}
